= bootstrap_form_for(@category) do |f|
	= f.text_field :name, label: 'Nombre de la categoría:', required: "required"
	= f.text_area :description, label: 'Descripción de la categoría:', required: "required"
	.pull-right.m-t-15.m-b-30
		= link_to 'Cancelar', frequent_categories_path, class: 'btn btn-danger'
		= f.submit 'Guardar categoría', class: 'btn btn-primary'
	