- content_for :title  do
	Preguntas frecuentes - EDCdigital

%h2 
	= @category.name

- @category.frequents.each do |frequent|
	%ul 
		%li 
			= link_to frequent.name, frequent 
			= link_to 'Editar', edit_frequent_path(frequent), class: 'btn btn-sm'
			= link_to 'Eliminar', frequent_path(frequent), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-sm'

= link_to "Regresar a preguntas frecuentes", frequent_categories_path, class: 'btn btn-default'