- content_for :title  do
	Glosario - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-40.p-t-40.m-b-30.panel-title-ayuda
		.container
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row
					.col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15.text-white
						%h3.text-center.text-white
							= @category.name
	
	.col-md-12
		.panel.panel-transparent.m-b-0
			.panel-heading
				.panel-title
					Consulta las preguntas frecuentes de esta categoría:
			.panel-body
				.table-responsive
					%table.col-md-12.table.table-hover.table-condensed.dataTable.no-footer{:role => "grid"}
						%tbody
						- if @category.frequents.exists?
							- @category.frequents.each do |frequent|
								%tr{:role => "row"}
									%td.v-align-middle.bold{:width => "75%", :style => "line-height: 3;"} 
										= link_to frequent.name, frequent
									- if current_user.admin?
										%td
											.center
												= link_to edit_frequent_path(frequent) do
													%span.btn-tag-light.btn-tag-rounded.p-r-10.p-l-10.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Editar"}
														%i.fa.fa-edit{:style => "font-size:18px;"}
										%td
											.center
												= link_to frequent_path(frequent), method: :delete, data: { confirm: '¿Estás seguro?' } do
													%span.btn-tag-light.btn-tag-rounded.p-r-10.p-l-10.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Eliminar"}
														%i.fa.fa-times{:style => "font-size:18px;"}
						- elsif
							%tr{:role => "row"}
								%td.v-align-middle.bold{:width => "75%", :style => "line-height: 3;"} 
									.text-center
										Aún no hay preguntas para esta categoría
			.pull-right
				= link_to frequent_categories_path do
					%button.btn.btn-tag.btn-tag-light.btn-tag-rounded.m-r-20
						%i.fa.fa-mail-reply
						Regresar a preguntas frecuentes
