.row
  .col-sm-12
    %span.handle-sort
      [mover]
    %span.bold
      Pregunta
    .pull-right
      %span.option.p-r-10.p-l-10
        %a.cursor{"data-toggle"=>"modal", "data-target"=>"#addQuestion", "onclick"=>"edit_question(\'#{chapter.id}\',#{question.to_json});"} 
          %i.fa.fa-edit
          Editar
      %span.option.p-r-10.p-l-10
        = link_to clone_chapter_question_path(chapter, question), method: :post, data: {confirm: '¿Estás seguro?'} do
          %i.fa.fa-copy
          Clonar
      %span.option.p-r-10.p-l-10
        = link_to chapter_question_path(chapter, question), method: :delete, data: {confirm: '¿Estás seguro?'} do
          %i.fa.fa-times
          Eliminar

%div
  = question.question_text

.question-wrapper
  = render partial: "questions/inputs/#{question.question_type}", locals: { question: question }

%span.option
  Valor:
  = question.points
  puntos

