%span.handle-sort
  [mover]
= question.question_text

%span.option
  = link_to 'Editar', edit_stage_question_path(stage, question)
|
%span.option
  = link_to 'Eliminar', stage_question_path(stage, question), method: :delete, data: {confirm: '¿Estás seguro?'}

.question-wrapper
  = render partial: "questions/inputs/#{question.question_type}", locals: { question: question }
