%span.handle-sort
  [mover]
= question.question_text

%span.option
  = link_to 'Editar', edit_chapter_question_path(chapter, question)
|
%span.option
  = link_to 'Clonar', clone_chapter_question_path(chapter, question), method: :post, data: {confirm: '¿Estás seguro?'}
|
%span.option
  = link_to 'Eliminar', chapter_question_path(chapter, question), method: :delete, data: {confirm: '¿Estás seguro?'}

.question-wrapper
  = render partial: "questions/inputs/#{question.question_type}", locals: { question: question }

%span.option
  Valor:
  = question.points
  puntos
