- respuestas = question.answer_options.split("\n").map {|option| option.strip}
- respuestas.each_with_index do |answer, index|
  .row
    .col-md-4
      .checkbox.check-success
        = check_box_tag "[answers[#{indice}]][answer_text][]", answer, answer_is_selected?(resp, answer), id: "check_#{index}", disabled: disabled
        %label{:for => "check_#{index}" }
          = answer
