- content_for :title  do
  Evaluaciones - EDC Digital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .pull-right
        .col-xs-6
          %input#search-table.form-control.pull-right{:placeholder => "Search", :type => "text"}/
        .col-xs-6
          = link_to new_quiz_path, class: 'btn btn-primary' do
            %i.fa.fa-plus
            Crear evaluación
      .clearfix
    .panel-body
      %table.table.table-over
        %thead
          %tr
            %th Evaluación
            %th
        %tbody
          - @quizzes.each do |quiz|
            %tr
              %td.p-t-15.p-b-10
                %h4.m-t-0.m-b-5
                  = quiz.name
                %span.text-primary
                  Descripción:
                %span.hint-text
                  = quiz.description
              %td.p-t-15.p-b-10
                = link_to quiz do
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %i.fa.fa-list-alt
                    %li.inline 
                      Ver preguntas
                = link_to edit_quiz_path(quiz) do
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %i.fa.fa-edit
                    %li.inline 
                      Editar evaluación
                = link_to quiz, :method => :delete, :data => { :confirm => '¿Estás seguro?' } do
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %i.fa.fa-times
                    %li.inline 
                      Eliminar evaluación

