- content_for :title  do
  Mis plantillas - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Tus plantillas
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Título:
            %h3.m-b-20.text-white
              = @template.name

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-4.b-r.b-dashed.b-grey.sm-b-b
              .p-r-30.p-l-30.p-b-30.p-t-15.sm-padding-5.sm-m-t-15
                %i.fa.fa-edit.fa-2x.hint-text
                .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
                  = @template.name
                %p
                  = @template.description
            .col-md-8
              .p-r-30.p-l-30.p-b-30.p-t-20.sm-padding-5.sm-m-t-15
                .tipografia-textos-rellenables.p-b-15
                  Edita tus respuestas en el siguiente recuadro:
                .well
                  #refilable-content-template
                    = raw replace_fillable(@refilable.content)
                .refilable-form
                  = form_for([:dashboard, @template, @refilable]) do |f|
                    = f.hidden_field :content
                .pull-right
                  = link_to dashboard_template_refilables_path, class: "btn btn-danger" do
                    Cancelar
                  %button.btn.btn-primary#send-refilable
                    Actualizar respuestas
#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      .alert-text
        Debes contestar todos los espacios.                    

/.container-fluid.container-fixed-lg
/  .panel.panel-default
/    .panel-body
/      %h2
/        = @template.name
/      %p
/        = @template.description
/
/      .col-md-10.col-md-offset-1.well
/        #refilable-content-template
/          = raw replace_fillable(@refilable.content)
/
/        .refilable-form
/          = form_for([:dashboard, @template, @refilable]) do |f|
/            = f.hidden_field :content
/
/  %button.btn.btn-primary#send-refilable
/    Actualizar

:javascript
  $(document).on('turbolinks:load', function(){
    $('.refilable-edit').editable('toggleDisabled');
    $('.refilable-edit').attr('contentEditable', true);
    $('.refilable-edit').removeAttr('style');
    $('.refilable-edit').addClass('form-control refilable-input');

    $('#send-refilable').click(function() {
      var enviar = true;
      $('.refilable-edit').each(function() {
        if ($(this).text() == "" || $(this).text() == " (sin respuesta) " || $(this).text() == "empty" || $(this).text() == "Empty") {
          $(this).removeClass('present-answer');
          $(this).addClass('no-answer');
          enviar = false;
        } else {
          $(this).removeClass('no-answer');
          $(this).addClass('present-answer');
        }
      });
      if (enviar){
        var $form = $('.edit_refilable');
        var $template_content = $('#refilable-content-template');
        $('#refilable_content').val($template_content.html());
        $form.submit();
      }else{
        $("#alert-ra").css('display','block');
        setTimeout(function(){$("#alert-ra").css('display','none');},4000);
      }
      
    })
  });
