- content_for :title  do
  Mis plantillas - EDC Digital

- answerable = current_user.mentor? || current_user.refilable_permitted?(@template)
.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Tus plantillas
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Título:
            %h3.m-b-20.text-white
              = @template.name

- if !answerable
  .container-fluid.container-fixed-lg
    .alert.alert-info
      %button.close{"data-dismiss": "alert"}
      .pull-left
        Debes completar el programa 
        "
        %u
          = link_to @template.program.name, dashboard_program_path(@template.program)
        " antes de contestar esta plantilla.
      .clearfix

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-4.b-r.b-dashed.b-grey.sm-b-b
              .p-r-30.p-l-30.p-b-30.p-t-15.sm-padding-5.sm-m-t-15
                %i.fa.fa-edit.fa-2x.hint-text
                .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
                  = @template.name
                %p
                  = @template.description
            .col-md-8.tablet-down-pr0.tablet-down-pl0
              .p-refilable-content-box.sm-padding-5.sm-m-t-15
                .tipografia-textos-rellenables.p-b-15
                  Edita tus respuestas en el siguiente recuadro:
                .well
                  #refilable-content-template.refilables-img
                    = raw replace_fillable(@refilable.content)
                #refilable-form
                  -#= form_for([:dashboard, @template, @refilable]) do |f|
                  -#  = f.hidden_field :content
                  = bootstrap_form_tag url: dashboard_template_refilable_refilables_path, class: "edit_refilable" do |f|
                    %input{type: :hidden, id: :refilable_content, name: "refilable[content]"}
                    - if @refilable.draft
                      %input{type: :hidden, name: "is-draft", value: "true"}
                .row.m-l-0.m-r-0
                  - if !current_user.admin? && answerable
                    .pull-right.cell-unfloat.cell-pb5
                      %button.btn.btn-primary#send-refilable
                        Actualizar respuestas
                    .pull-right.cell-unfloat.cell-pb5.cell-up-pr5
                      %button.btn.btn-info#send-draft
                        Guardar Borrador 
                  - else 
                    .pull-right.cell-unfloat.cell-pb5
                      %button.btn.btn-primary#send-refilable{disabled: "true"}
                        Enviar respuestas
                    .pull-right.cell-unfloat.cell-pb5.cell-up-pr5
                      %button.btn.btn-info#send-draft{disabled: "true"}
                        Guardar Borrador 
                  .pull-right.cell-unfloat.cell-pb5.cell-up-pr5
                    = link_to dashboard_template_refilables_path, class: "btn btn-danger" do
                      Cancelar
                  .clearfix

#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      .alert-text
        Debes contestar todos los espacios.                    

:javascript
  $(document).on('turbolinks:load', function(){
    $(".refilable-edit").on('paste', function(e){ 
      e.preventDefault();
    });

    $(".refilable-edit").keypress(function(event) {
      var char = String.fromCharCode(event.charCode);

      if (char == "<" || char == ">" || char == "&"){
        event.preventDefault();
      }
    });

    $('.refilable-edit').editable('toggleDisabled');
    $('.refilable-edit').attr('contentEditable', true);
    $('.refilable-edit').removeAttr('style');
    $('.refilable-edit').addClass('form-control refilable-input');
    // AGREGAR COSAS A LAS IMÁGENES DEL CONTENIDO
    $('div.refilables-img').find('img').css({'width': '', 'height': ''});
    var viewportWidth = $(window).width();
    if(viewportWidth < 768) {
      $('div.refilables-img').find('img').attr('data-action', 'zoom');
    }

    var  beforeInputs = [];
    $('.refilable-edit').each(function() {
      beforeInputs.push($(this).text());
    });
    var isDraft = #{Refilable.find(params[:id]).draft};

    $('#send-refilable').click(function() {
      swal({
        title: "¿Seguro que quieres enviar tu respuesta tal cómo está? Aprovecha tu mentoría sin costo y crece tu idea de negocio",
        showCancelButton: true,
        confirmButtonText: "Sí, ¡enviar!",
        cancelButtonText: 'No, cancelar',
      }, function(){
        var enviar = true;
        var afterInputs = [];
        $('.refilable-edit').each(function() {
          afterInputs.push($(this).text());
          if ($(this).text() == "" || $(this).text() == " (sin respuesta) " || $(this).text() == "empty" || $(this).text() == "Empty") {
            $(this).removeClass('present-answer');
            $(this).addClass('no-answer');
            enviar = false;
          } else {
            $(this).removeClass('no-answer');
            $(this).addClass('present-answer');
          }
        });
        if (enviar){
          var $form = $('#refilable-form').children('form');
          var $template_content = $('#refilable-content-template');
          $('#refilable_content').val($template_content.html());
          $form.append('<input name="draft" value="false" type="hidden"/>');
          //var input = $("<input>").attr("type", "hidden").attr("name", "refilable_content").val($template_content.html());
          //$form.append($(input));

          //este 'if' revisa si hubo cambios en los inputs, si no, no deja hacer submit
          if(beforeInputs.length === afterInputs.length && beforeInputs.every(function(v,i) { return v === afterInputs[i]}) && isDraft == false) { 
            $(".alert-text").first().text("No has hecho ningún cambio todavía.");
            $("#alert-ra").css('display','block');
            setTimeout(function(){$("#alert-ra").css('display','none');},4000);
          } else {
            $form.submit();
            $("#send-refilable").attr("disabled", true);
          }
        }else{
          $("#alert-ra").css('display','block');
          setTimeout(function(){$("#alert-ra").css('display','none');},4000);
        }
      });

      $( ".sweet-alert" ).find( "h2" ).addClass("swap-cell-h2");
      
    });

    $('#send-draft').click(function() {

      $('.refilable-edit').each(function() {
        if ($(this).text() == "") {
          $(this).addClass('no-answer');
        } else {
          $(this).addClass('present-answer');
        }
      });

      var $form = $('#refilable-form').children('form');
      var $template_content = $('#refilable-content-template');
      $('#refilable_content').val($template_content.html());
      //var input = $("<input>").attr("type", "hidden").attr("name", "refilable_content").val($template_content.html());
      //$form.append($(input));
      $form.append('<input name="draft" value="true" type="hidden"/>');
      $form.submit();

    });

  });

= javascript_include_tag '/javascripts/lib/enhance.js', 'data-turbolinks-track' => false
