- content_for :title  do
  Mis plantillas - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30{class: (current_user.student? ? "panel-title-emprendimiento" : "panel-title-recursos")}
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white
              Tus plantillas
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Título:
            %h3.m-b-20.text-white
              = @template.name

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-4.b-r.b-dashed.b-grey.sm-b-b
              .p-r-30.p-l-30.p-b-30.p-t-15.sm-padding-5.sm-m-t-15
                %i.fa.fa-edit.fa-2x.hint-text
                .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
                  = @template.name
                %p
                  = @template.description
                - if current_user.mentor?
                  = link_to dashboard_template_refilables_path(user_id: @student) do
                    %i.fa.fa-arrow-left
                    Regresar a plantillas
            .col-md-8.tablet-down-pr0.tablet-down-pl0
              .p-refilable-content-box.sm-padding-5.sm-m-t-15
                .p-b-15.tipografia-textos-rellenables
                  Introduce tus respuestas en el siguiente recuadro:
                .well
                  #refilable-content-template.refilables-img
                    = raw replace_fillable(@template.content)
                .refilable-form
                  = form_for([:dashboard, @template, Refilable.new]) do |f|
                    = f.hidden_field :content
                .row.m-l-0.m-r-0
                  - if current_user.student? || current_user.mentor?
                    .pull-right.cell-unfloat.cell-pb5
                      %button.btn.btn-primary#send-refilable
                        Enviar respuestas
                    .pull-right.cell-unfloat.cell-pb5.cell-up-pr5
                      %button.btn.btn-info#send-draft
                        Guardar Borrador 
                    .pull-right.cell-unfloat.cell-pb5.cell-up-pr5
                      = link_to dashboard_template_refilables_path, class: "btn btn-danger" do
                        Cancelar
                    .clearfix
                       
#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-danger
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      .alert-text
        Debes contestar todos los espacios.

:javascript
  $(document).on('turbolinks:load', function(){
    $(".refilable-edit").on('paste', function(e){ 
      e.preventDefault();
    });

    $(".refilable-edit").keypress(function(event) {
      var char = String.fromCharCode(event.charCode);

      if (char == "<" || char == ">" || char == "&"){
        event.preventDefault();
      }
    });
    
    $('.refilable-edit').editable('toggleDisabled');
    $('.refilable-edit').attr('contentEditable', true);
    $('.refilable-edit').addClass('form-control refilable-input');
    // AGREGAR COSAS A LAS IMÁGENES DEL CONTENIDO
    $('div.refilables-img').find('img').css({'width': '', 'height': ''});
    var viewportWidth = $(window).width();
    if(viewportWidth < 768) {
      $('div.refilables-img').find('img').attr('data-action', 'zoom');
    }

    $('#send-refilable').click(function() {
      swal({
        title: "¿Seguro que quieres enviar tu respuesta tal cómo está? Aprovecha tu mentoría sin costo y crece tu idea de negocio",
        showCancelButton: true,
        confirmButtonText: "Si, enviar!",
        cancelButtonText: 'No, Cancelar.',
      }, function(){
        var enviar = true;
        $('.refilable-edit').each(function() {
          if ($(this).text() == "" || $(this).text() == " (sin respuesta) " || $(this).text() == "empty" || $(this).text() == "Empty") {
            $(this).addClass('no-answer');
              enviar = false
          } else {
            $(this).addClass('present-answer');
          }
        });
        if (enviar){
          var $form = $('#new_refilable');
          var $template_content = $('#refilable-content-template');
          $('#refilable_content').val($template_content.html());
          $form.append('<input name="draft" value="false" type="hidden"/>');
          $form.submit();
        }else{
          $("#alert-ra").css('display','block');
          setTimeout(function(){$("#alert-ra").css('display','none');},4000);
        }
      });  

    });

    $('#send-draft').click(function() {

      $('.refilable-edit').each(function() {
        if ($(this).text() == "") {
          $(this).addClass('no-answer');
        } else {
          $(this).addClass('present-answer');
        }
      });

      var $form = $('#new_refilable');
      var $template_content = $('#refilable-content-template');
      $('#refilable_content').val($template_content.html());
      $form.append('<input name="draft" value="true" type="hidden"/>');
      $form.submit();

    });

  });

= javascript_include_tag '/javascripts/lib/enhance.js', 'data-turbolinks-track' => false
