- content_for :title  do
  = title_text_helper("Profesor")

.container-fluid.container-fixed-lg
  %h3
    Detalles del Profesor: #{@user.name}
    = link_to edit_profesor_path(@user) do
      %span.glyphicon.glyphicon-edit
    - if current_user.admin?
      - color = @user.banned? ? "btn-success" : "btn-danger"
      = link_to change_state_profesor_path(@user), class: "btn #{color}  pull-right", data: { confirm: '¿Estás seguro?' } do
        - @user.banned? ? "Desbloquear usuario" :  "Bloquear usuario"    
  .panel.panel-default
    .panel-body
      .row
        .col-md-2
          .share.share-other.m-t-5
            .card-content
              - if current_user.profile_picture.url.nil?
                = image_tag('person-1-square.jpg', class: 'img-responsive')
              - else
                = image_tag(current_user.profile_picture.url, class: 'img-responsive')
              .card-header.clearfix
                %h6
                  = @user.name
                %p.small.hint-text.m-t-5 
                  #{@user.state.nil? ? "Sin Estado" : @user.state}, #{@user.city.nil? ? "Sin Ciudad" : @user.city}
                %p.small.hint-text.m-t-5
                  %span
                    Porcentaje contestado #{@user.answered_questions_percentage} %
                    %i.fa.fa-line-chart
                  %br
                  %span
                    Porcentaje de avance #{@user.content_visited_percentage} %
                    %i.fa.fa-line-chart
        .col-md-10
          %table.table.resumen-table.table-striped.table-top-border.perfil-table
            %tbody
              %tr.odd.gradeX
                %td{:width => "25%"} Nombre
                %td
                  = @user.name
              %tr.odd.gradeX
                %td Correo electrónico
                %td
                  = @user.email
              %tr.odd.gradeX
                %td Teléfono
                %td
                  = @user.phone_number
              %tr.odd.gradeX
                %td Ubicación
                %td #{@user.state.nil? ? "Sin Estado" : @user.state}, #{@user.city.nil? ? "Sin Ciudad" : @user.city}
              %tr.odd.gradeX
                %td Fecha de creación de cuenta
                %td #{l @user.created_at, format: :special}
              %tr.odd.gradeX
                %td Fecha de activación de cuenta
                %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
              %tr.odd.gradeX
                %td Grupos asignados
                %td 
                  - @groups.each_with_index do |group, index|
                    %span
                      = link_to group.name, group
                    - unless (index + 1) == @groups.count
                      %span.p-l-5.p-r-5|

    - if @students.count > 0
      .panel-heading
        .pull-left
          %h3
            Alumnos de #{@user.name}
        .pull-right
          .col-xs-12
            .form-group
              %div.input-group
                %input#search-table.form-control.pull-right{:placeholder => "Buscar", :type => "text", class: "text-black"}/
                %span.input-group-addon.panel-title-recursos
                  %i.fa.fa-search.text-white
        .clearfix
      .panel-body
        %table.table.table-hover.datatable
          %thead
            %tr
              %th
                Id
              %th
                Nombre
              %th
                Grupo
          %tbody
            - @students.each do |student|
              %tr
                %td.p-b-15
                  = student.id
                %td.p-b-15
                  = link_to student.name,  student
                %td.p-b-15
                  .m-t-0
                    = link_to student.group.name,  student.group


