= bootstrap_form_for(@routecover) do |f|
	= f.text_field :name, label: 'Nombre de la imagen:'
	= f.file_field :route_image, label: 'Elige la imagen de Mi ruta'
	.pull-right.m-t-25.m-b-20
		= link_to 'Cancelar', dashboard_pathway_path, class: "btn btn-danger"
		= f.submit 'Subir imagen', class: 'btn btn-primary'