- content_for :title  do
  Programas - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white
              =current_user.mentor? ? 'Programas' : 'Tus Programas'
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              =current_user.mentor? ? 'Revisa el contenido que tus estudiantes ven ' : 'Aprende y Construye'
            %p.m-b-25.text-white
              =current_user.mentor? ? 'En esta sección podrás ver el catálogo de cursos que están vinculados a tus grupos de estudiantes. También podrás acceder a los programas como si fueras un alumno. Esto te ayudará a comprender la estructura del contenido de EDC-Digital desde la perspectiva del estudiante.' : 'Bienvenido a nuestro catálogo de cursos. Aquí encontrarás todos los programas asignados para ti por parte del equipo de EDC.'


  .panel.container-fluid
    .row
      .col-md-4
      .col-md-5
        %ul.nav.nav-tabs.nav-tabs-simple.nav-tabs-primary
          - if current_user.student?
            %li{'class'=>@activo[0]}
              %a{"aria-expanded" => "true", :href => dashboard_programs_path, class: "bold"} Todos
            %li{'class'=>@activo[1]}
              %a{"aria-expanded" => "false", :href => dashboard_programs_path(tipo: "construccion"), class: "bold"} Construcción
            %li{'class'=>@activo[2]}
              %a{"aria-expanded" => "false", :href => dashboard_programs_path(tipo: "elearning"), class: "bold"} e-Learning
      .col-md-3
.container-fluid
  .row
    .col-md-4
    .col-md-5
      #accordion.panel.panel-group.panel-transparent
        .panel.panel-default.b-rad-sm
          .panel-heading
            %h4.panel-title
              %a.collapsed.b-b{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"} 
                .text_ultimos_avances 
                  Tus últimos avances
                  %i.fa.fa-circle.opacity1
                  %i.fa.fa-circle.opacity2
                  %i.fa.fa-circle.opacity3
                  %i.fa.fa-circle.opacity4
          #collapseOne.panel-collapse.collapse
            .panel-body.p-t-0
              /= current_user.id
              - current_user.get_update_move.each do |stat|
                .row
                  .panel-body
                    .col-md-12.p-b-10.b-b
                      %small.m-t-0.m-b-0
                        - last_parameters = last_moved_program(stat.program)
                        - if !last_parameters[4].nil?
                          = distance_of_time_in_words(last_parameters[1].to_i, Time.now.to_i)
                      %h4.bold.m-t-0.m-b-0
                        = truncate(last_parameters[3], length: 60, separator: ' ')
                      %small.text_ultimos_avances.m-t-0.m-b-0
                        .bold
                          Curso : 
                          = stat.program.name
                      %small.block.p-t-25
                        - stats = @current_user.program_stats.find_by(program_id: stat.program)
                        - seen_progress = ( (!stats.nil? && !stats.program_seen.nil?) ? stats.program_seen.ceil : 0)
                        - answered_progress = ( (!stats.nil? && !stats.program_progress.nil?) ? stats.program_progress.ceil : 0)
                        - if !last_parameters[4].nil?
                          -if seen_progress == 0 
                            = link_to dashboard_chapter_content_path(last_parameters[0]), class: "opacity__1" do
                              %button.btn.btn-complete.m-t--10.opacity__1
                                Comenzar
                          -elsif seen_progress > 0 && seen_progress < 100
                            = link_to dashboard_chapter_content_path(last_parameters[0]), class: "opacity__1" do
                              %button.btn.btn-complete.m-t--10.opacity__1
                                Continuar
                                %span
                                  (#{answered_progress}%)
                          -elsif seen_progress == 100 && answered_progress == 0
                            = link_to dashboard_program_path(stat.program), class: "opacity__1" do
                              %button.btn.btn-success.m-t--10.opacity__1
                                Completado
                          -elsif seen_progress == 100 && answered_progress < 100
                            = link_to dashboard_chapter_content_path(last_parameters[0]), class: "opacity__1" do
                              %button.btn.btn-complete.m-t--10.opacity__1
                                Continuar
                                %span
                                  (#{answered_progress}%)
                          -elsif seen_progress == 100 && answered_progress == 100
                            = link_to dashboard_program_path(stat.program), class: "opacity__1" do
                              %button.btn.btn-success.m-t--10.opacity__1
                                Completado
    .col-md-3
.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-transparent.b-rad-sm
        .panel-body
          .tab-content.m-b-30
            #tabTodos.tab-pane.active
              - @programs.each_slice(2) do |slice|
                .row
                  - slice.each do |p|
                    - program = p
                    - if program.ruta?
                      - anterior = p.anterior(current_user.group)
                    - unless program.nil?
                      .col-md-6.col-sm-6.col-xs-12.p-l-0.p_phone
                        .super-card-container
                          .card.share.share-other{"data-social" => "item"}
                            %a{program.ruta? && (current_user.percentage_questions_answered_for(anterior)>=80 && current_user.percentage_questions_answered_for(anterior)<100)? "" : :href => dashboard_program_path(program)}
                              .card-header.card_height-programas.text-white{ :style => "background: url(#{program.cover.url});" , class: "style_img_card" }
                                %h5.text-complete.pull-left.fs-12.demo-fs-23
                                  .text-white.bold{id: "program_id#{program.id}"}
                                    = p.position
                                .pull-right.small.hint-text
                                  .text-white.bold
                                    = program.rating
                                    %i.fa.fa-star
                                .clearfix
                                %h6.m-t-name_card
                                  %h6.text-top-name_card.b-b.text-white
                                    - if program.tipo == "construccion"
                                      Construcción
                                    -elsif program.tipo == "elearning"
                                      e-learning
                                    -elsif program.tipo.nil?
                                      Emprendimiento
                                  = truncate(program.name, length: 50, separator: ' ')
                            /%a{:href => dashboard_program_path(program)}
                            /- @current_user.programs.each do |personal|
                            /- if program.name == personal.name
                            - stats = @current_user.program_stats.find_by(program_id: program)
                            - seen_progress = ( (!stats.nil? && !stats.program_seen.nil?) ? stats.program_seen.ceil : 0)
                            - answered_progress = ( (!stats.nil? && !stats.program_progress.nil?) ? stats.program_progress.ceil : 0)
                            - last_content = last_visited_content(program, stats)
                            /- last_parameters = last_moved_program(program)
                            .min-height
                              #accordion.panel.panel-group.panel-transparent.m-b-0
                                .panel
                                  .panel-heading.p-m_style.p-b-0.m-b-14.m-b-3.new-margin
                                    %h4.panel-title.none-width
                                      %a.collapsed.collap{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsee#{program.id}", id: "collap#{program.id}"}
                                      %a.newlink.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsee#{program.id}", id: "collap#{program.id}"}
                                    - if !last_content.nil?
                                      -if seen_progress == 0 
                                        = link_to dashboard_chapter_content_path(last_content), class: "opacity__1" do
                                          %button.btn.btn-complete.m-t--10.opacity__1
                                            Comenzar
                                      -elsif seen_progress > 0 && seen_progress < 100
                                        = link_to dashboard_chapter_content_path(last_content), class: "opacity__1" do
                                          %button.btn.btn-complete.m-t--10.opacity__1
                                            Continuar
                                            %span
                                              (#{answered_progress}%)
                                      -elsif seen_progress == 100 && answered_progress == 0
                                        = link_to dashboard_program_path(program), class: "opacity__1" do
                                          %button.btn.btn-success.m-t--10.opacity__1
                                            Completado
                                      -elsif seen_progress == 100 && answered_progress < 100
                                        = link_to dashboard_chapter_content_path(last_content), class: "opacity__1" do
                                          %button.btn.btn-complete.m-t--10.opacity__1
                                            Continuar
                                            %span
                                              (#{answered_progress}%)
                                      -elsif seen_progress == 100 && answered_progress == 100
                                        = link_to dashboard_program_path(program), class: "opacity__1" do
                                          %button.btn.btn-success.m-t--10.opacity__1
                                            Completado
                                    - else
                                      -if answered_progress > 0
                                        = link_to dashboard_program_path(program), class: "opacity__1" do
                                          %button.btn.btn-complete.m-t--10
                                            = "Continuar " + answered_progress.to_s + "%"
                                            %i.fa.fa-angle-double-right.font-size-play
                                      -elsif program.ruta? && current_user.percentage_questions_answered_for(anterior)>=80 && current_user.percentage_questions_answered_for(anterior)<100
                                        .text-info.m-t--10 
                                          Completa el curso previo para poder acceder a este contenido
                                      -else
                                        = link_to dashboard_program_path(program), class: "opacity__1" do
                                          %button.btn.btn-complete.m-t--10
                                            = "Comenzar"    
                                            %i.fa.fa-angle-double-right.font-size-play
                                  .panel-collapse.collapse.row{:id => "collapsee#{program.id}"}
                                    .panel-body.m-t-3
                                      .text-color-dificultad.bold
                                        - if program.level == "basico"
                                          Basico
                                        -elsif program.level == "intermedio"
                                          Intermedio
                                        -elsif program.level == "avanzado"
                                          Avanzado
                                        -elsif program.level.nil?
                                          No especificado
                                      .b-t.p-t-5.m-h-50
                                        = truncate(program.description, length: 80, separator: ' ')
                                      .row
                                        .pull-left.m-l-15
                                          .m-t-10.bold
                                            #{answered_progress}% contestado
                                        .pull-right.m-r-15
                                          .m-t-10.bold.opacity_05
                                            (#{seen_progress}%) visto
                                      .progress.m-b-5.m-t-5
                                        .progress-bar.progress-bar-primary{:style => "width:#{answered_progress}%"}
                              :javascript
                                var y = true;
                                $(".collap").click(function() {
                                  y = !y;
                                  if(y){
                                    $("#ver" + #{program.id}).text("Más información");
                                  } else {
                                    $("#ver" + #{program.id}).text("Ocultar información");
                                  }
                                });
                           
