- content_for :title  do
  Programas - EDCdigital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-transparent
        .panel-heading
          .panel-title
            Programas de Aprendizaje
        .panel-body   
          %h5
            Es tiempo de construir y validar tu idea de negocio...
          %p.m-b-25
            Utiliza estos cursos de e-learning para capacitarte en términos y conceptos que te permitirán construir una idea de negocio viable en lo comercial, digital, técnico y financiero. ¡Empecemos tu emprendimiento!

          = bootstrap_form_tag(url: dashboard_programs_path, method: :get) do |f|
            .row
              .col-md-4
                = f.select :tipo, options_for_select([['e-learning', 'elearning'], ['Construccion de idea de negocios', 'construccion'], ['Fúsion', 'fusion']], params[:tipo]), {prompt: "Todos", label: 'Tipo' }
              .col-md-4
                = f.select :level, options_for_select([['Básico', 'basico'], ['Intermedio', 'intermedio'],['Avanzado', 'avanzado']], params[:level]), {prompt: "Todos", label: 'Nivel de dificultad' }  
              .col-md-4
                = f.select :orden, options_for_select([['Tipo de Programa', 'tipo'], ['Ruta de Aprendizaje', 'ruta'],['Orden Alfabético', 'abc']], params[:orden]), {prompt: "Ordena tus programas", label: 'Orden' }
            .row
              .pull-right    
                = f.submit 'Filtrar'  
          %br
          - unless @programs.nil?    
            - @programs.each do |program|
              .col-md-4.col-sm-6.col-xs-12.tarjeta-programa
                .card.share.share-other{"data-social" => "item"}
                  .card-content
                    %a{:href => dashboard_program_path(program)}
                      = image_tag(program.cover.url)
                    %a{:href => dashboard_program_path(program)}
                      .card-header.clearfix
                        %h5
                          = program.name
                        %h6
                          = program.description
                  - @current_user.programs.each do |personal|
                    - if program.name == personal.name
                      .p-b-10
                        - if @current_user.percentage_questions_answered_for(program) == 0 && @current_user.percentage_content_visited_for(program) == 0
                          .p-b-10.p-r-15.p-l-15.m-b-10.m-t-5
                            .no-margin.pull-left{:style => "color: #5B4D91;"}
                              No tienes nada visto, ni nada contestado
                        - elsif @current_user.percentage_questions_answered_for(program) == 0 && @current_user.percentage_content_visited_for(program) > 0
                          .no-margin.pull-left{:style => "color: #5B4D91;"}
                            Curso no contestado
                        - else @current_user.percentage_questions_answered_for(program) > 0 && @current_user.percentage_content_visited_for(program) > 0
                          .p-b-10.p-r-15.p-l-15.m-b-10.m-t-5
                            .no-margin.pull-right{:style => "color: #ada4d1;"}
                              #{@current_user.percentage_content_visited_for(program)}% visto
                            .no-margin.pull-left{:style => "color: #5B4D91;"}
                              #{@current_user.percentage_questions_answered_for(program)}% contestado                     

