- content_for :title  do
  Compilación de resultados - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row
          .col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Compilación de resultados

.container-fluid.container-fixed-lg
  %h2
    Resultados generales de evaluación
  .panel.panel-default
    .panel-body
      %table.table.resumen-table.table-striped.rubrica-table
        %thead
          %tr
            %th
            - @program.chapters.each do |chapter|
              %th
                = chapter.name
                %br
                %span.font-subtitle-table
                  (#{chapter.points} puntos)
            %th
              Total
        %tbody
          %tr.odd.gradeX
            %td
              Puntos
            - @program.chapters.each do |chapter|
              %td
                #{current_user.answers_for(chapter).map(&:result).inject(0, :+)} / 100
            %td
          %tr.odd.gradeX
            %td
              Ponderado
            - @program.chapters.each do |chapter|
              %td.result
                #{(current_user.answers_for(chapter).map(&:result).inject(0, :+) * chapter.points) / 100}
            %td.total

  %h2
    Resumen del proyecto
  - @program.chapters.each do |chapter|
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = chapter.name
      .panel-body

        %table.table.table-striped
          %thead
            %tr
              %th{style: "width:20%"}
                Pregunta
              %th{style: "width:30%"}
                Respuesta
              %th{style: "width:15%"}
                Evaluación
              %th{style: "width:30%"}
                Detalle de evaluación
              %th{style: "width:5%"}
                ACCIONES
          %tbody
            - chapter.questions.each do |question|
              %tr
                %td
                  = question.question_text
                %td
                  - unless current_user.answer_for(question).nil?
                    = current_user.answer_for(question).humanize_answer
                %td.text-center
                  - if current_user.answer_for(question).nil? == false && current_user.answer_for(question).rubric.nil? == false
                    = image_tag(image_for_rubric(current_user.answer_for(question).rubric.criteria), width: 50, class: 'rating-image', 'data-original-title'=> "Esta pregunta ha sido evaluada como #{current_user.answer_for(question).rubric.criteria.downcase}", 'data-toggle'=>"tooltip")
                    %br
                    = current_user.answer_for(question).rubric.criteria
                %td
                  - if current_user.answer_for(question).nil? == false && current_user.answer_for(question).rubric.nil? == false
                    = current_user.answer_for(question).rubric.base
                %td.table-actions.text-center
                  .btn-toolbar{role: 'toolbar'}
                    .btn-group.sm-m-t-10
                      - if current_user.answer_for(question).nil?
                        = link_to router_dashboard_chapter_content_answers_path(question.chapter_content), class: 'btn btn-default' do
                          Responder
                      - else
                        = link_to edit_dashboard_chapter_content_answer_path(question.chapter_content, current_user.answer_for(question)), class: 'btn btn-default' do
                          %span.glyphicon.glyphicon-edit

                        = link_to dashboard_chapter_content_answer_path(question.chapter_content, current_user.answer_for(question)), class: 'btn btn-default btn-sm' do
                          %i.fa.fa-eye
:javascript
  $(document).on('turbolinks:load', function(){
    var EDC_DIGITAL =  EDC_DIGITAL || {};
    EDC_DIGITAL.total = 0;

    $('td.result').each(function(){
     EDC_DIGITAL.total += +$(this).text();
    });

    $('td.total').text(EDC_DIGITAL.total);
  });

