- content_for :title  do
  = title_text_helper("Compilación de resultados")
- chapters = @program.chapters
- total_rubrics = chapters.map { |chapter| chapter.evaluations.count }.inject(0, :+)
- obtained_points = chapters.map { |chapter| chapter.points_earned(@user) }.inject(0, :+) 
- total_points = chapters.map{ |chapter| chapter.evaluations.sum(:points)}.inject(0, :+) 
.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20
        .row
          .col-sm-12.col-md-12.cell-down-pr30.cell-down-pl30
            %h2.text-white 
              Compilación de resultados

.container-fluid.container-fixed-lg
  .h-basetext.h-title-content.cell-down-pr15.cell-down-pl15
    Resultados generales de evaluación
  .panel.panel-default
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Módulo
            %th.text-center Revisión del mentor
            %th.text-center Resultado obtenido
        %tbody
          - rubrics_checked = 0
          - chapters.each do |chapter|
            - evaluations = chapter.evaluations
            %tr
              %td=chapter.name
              %td
                - if evaluations.exists?
                  - total, counter = chapter.evaluations.count, 0
                  - evaluations.each do |evaluation|
                    - evaluation_checked?(@user, evaluation) ? (counter += 1; rubrics_checked += 1) : counter += 0
                  .p-r-10
                    .progress.m-b-10.m-l-20.m-r-10
                      .progress-bar{:style => "width: #{((counter.to_f/total.to_f)*100).ceil}%", :class => "#{((counter/total) == 1) ? 'progress-bar-success' : 'progress-bar-warning'}"}
                  .text-center
                    = counter 
                    %span de
                    = total
                    %span rúbricas
                - else
                  .text-center.text-danger No hay rúbrica
              %td
                - if !evaluations.exists?
                  .text-center.text-danger No hay rúbrica
                - elsif evaluations.sum(:points) == 0
                  .text-center No hay puntaje
                - else
                  .text-center{style: "font-size: 1.1em;"}
                    #{chapter.points_earned(@user)} de #{evaluations.sum(:points)} pts
          %tr
            %th.text-center.p-t-20.p-b-20 
              Calificación: #{number_to_percentage(user_promedio_program(obtained_points, total_points), precision: 1)}
            %th.text-center.p-t-20.p-b-20
              #{rubrics_checked} de #{total_rubrics} rúbricas
            %th.text-center.p-t-20.p-b-20
              #{obtained_points} de #{total_points} pts          

  .h-basetext.h-title-content.cell-down-pr15.cell-down-pl15
    Resumen del programa
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}  
    - chapters.each do |chapter|
      .panel.panel-default
        #heading.panel-heading{:role => "tab"}
          %a.collapsed{"aria-controls" => "collapse", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#chapter-#{chapter.id}", :role => "button"}
            %h3.panel-title
              = chapter.name
        .panel-collapse.collapse{"id "=>"chapter-#{chapter.id}", "aria-labelledby" => "heading", :role => "tabpanel"}    
          .panel-body
            .row
              .col-md-12
                %h4 Rúbricas de evaluación
                %table.table.table-striped
                  %thead
                    %tr
                      %th{style: "width:50%"}
                      %th{style: "width:30%"}
                        REVISIÓN DEL MENTOR 
                      %th{style: "width:20%"}
                        RESULTADO OBTENIDO
                  %tbody
                    - evaluations = chapter.evaluations
                    - if evaluations.present?
                      - evaluations.each do |evaluation|
                        - user_eva = evaluation.user_evaluations.find_by(user_id: @user.id)
                        %tr
                          %td.bold #{evaluation.name}
                          - if user_eva.nil?
                            %td
                              %span.label.label-warning No evaluado
                            %td 0 de #{evaluation.points} pts
                          - else
                            %td
                              %span.label.label-success Evaluado
                            %td #{(user_eva.points * evaluation.points) / 100} de #{evaluation.points} pts
                    - else
                      %tr
                        %td.text-center.bold{colspan: 3} El módulo no tiene rúbricas de evaluación         

            .row
              .col-md-12
                %h4Preguntas
                %table.table.table-striped
                  %thead
                    %tr
                      %th{style: "width:50%"}
                      %th.text-center{style: "width:30%"}
                        Respuesta
                      %th.text-center.sm-cell-none{style: "width:20%"}
                        ACCIONES
                  %tbody
                    - all_questions = chapter.all_questions
                    - if all_questions.present?
                      - all_questions.each do |question|
                        %tr
                          %td
                            = question.question_text
                          %td.text-center
                            - unless current_user.answer_for(question).nil?
                              = current_user.answer_for(question).humanize_answer
                          %td.table-actions.text-center.sm-cell-none
                            .btn-toolbar{role: 'toolbar'}
                              .btn-group.sm-m-t-10
                                - if current_user.answer_for(question).nil?
                                  = link_to router_dashboard_chapter_content_answers_path(question.chapter_content), class: 'btn btn-default' do
                                    Responder
                                - else
                                  = link_to edit_dashboard_chapter_content_answer_path(question.chapter_content, current_user.answer_for(question)), class: 'btn btn-default' do
                                    %span.glyphicon.glyphicon-edit

                                  = link_to dashboard_chapter_content_answer_path(question.chapter_content, current_user.answer_for(question)), class: 'btn btn-default btn-sm' do
                                    %i.fa.fa-eye
                    - else
                      %tr
                        %td.text-center.bold{colspan: 3} El módulo no tiene preguntas      


                                
:javascript
  $(document).on('turbolinks:load', function(){
    var EDC_DIGITAL =  EDC_DIGITAL || {};
    EDC_DIGITAL.total = 0;

    $('td.result').each(function(){
     EDC_DIGITAL.total += +$(this).text();
    });

    $('td.total').text(EDC_DIGITAL.total);
  });

