- content_for :title  do
  Programas - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.m-b-25.minus-30
  %section.demo-bg-section.p-b-0.p-t-45.panel-title-emprendimiento#tour-5
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        %h5.block-title.hint-text.no-margin.text-white Programa de Aprendizaje
        .pull-right
          -if current_user.admin?
            Rating: 
            = @program.rating
        .row.col-md-12
          .col-sm-5.col-md-4
            %h2.m-t-5.text-white
              = @program.name
          .col-sm-7.col-md-8.no-padding.xs-p-l-15.xs-p-r-15.text-white
            .p-t-20.p-l-35.md-p-l-5.md-p-t-15
              %p
                = @program.description
              %p
                = link_to dashboard_evaluations_path(program_id: @program), class: 'btn btn-sm btn-primary btn-cons m-b-10' do
                  %i.fa.fa-play
                  %span.bold Ir a mi evaluación de programa
                = link_to dashboard_program_path(user_id: current_user, format: :xlsx), class: "btn btn-success btn-sm btn-cons m-b-10" do
                  %i.fa.fa-file-excel-o
                  Descargar mi compilación de resultados en Excel
        - if @current_user.overall_percentage_answered_for(@program) == 0 && @current_user.percentage_content_visited_for(@program) == 0
          %section.col-md-12.demo-bg-section.m-b-10.m-t-65
          .row.col-sm-6
            .pull-left.p-b-10
              %span.m-r-20{:style => "color: #48B0F7; font-size:"}
                %i.fa.fa-edit
                Curso no iniciado
            .clearfix
        - elsif @current_user.overall_percentage_answered_for(@program) == 0 && @current_user.percentage_content_visited_for(@program) > 0
          .row.col-sm-12
            %section.demo-bg-section.m-b-10.m-t-65
              .progress.m-b-5{:style => "background-color: #eef5fb;"}
                .progress-bar.progress-bar-complete-dark{:style => "width:#{@current_user.overall_percentage_answered_for(@program)}%"}
          .row.col-sm-6
            .pull-left
              %span.m-r-20{:style => "color: #48B0F7;"}
                %i.fa.fa-edit
                Curso no contestado
              %span{:style => "color: #b1d3eb;"}
                %i.fa.fa-eye
                #{@current_user.percentage_content_visited_for(@program)}% visto
            .clearfix
        - else
          .row.col-sm-12
            %section.demo-bg-section.m-b-10.m-t-65
              .progress.m-b-5{:style => "background-color: #eef5fb;"}
                .progress-bar.progress-bar-complete-dark{:style => "width:#{@current_user.overall_percentage_answered_for(@program)}%"}
          .row.col-md-6
            .pull-left
              %span.m-r-20{:style => "color: #48B0F7;"}
                %i.fa.fa-edit
                #{@current_user.overall_percentage_answered_for(@program)}% contestado
              %span.m-r-20{:style => "color: #b1d3eb;"}
                %i.fa.fa-eye
                #{@current_user.percentage_content_visited_for(@program)}% visto
              %span{:style => "color:#dddddd"}
                %i.fa.fa-flask
                Nivel 
                = @program.level == 'basico' ? "básico" : @program.level
            .clearfix
        .row.col-sm-6.p-b-10
          .pull-right
            %span.pull-left.m-r-10{:style => "color:#dddddd"}
              Califica este curso:
            %span.pull-right.rating
              = render partial: "layouts/stars", locals: {value: @program, route: ratings_vote_program_path}  
.container-fluid.container-fixed-lg
  - last_parameters = last_moved_program(@program)
  - if !last_parameters[4].nil?
    .row{:id => "last_move_box"}
      .col-md-7
        .panel.panel-transparent.m-b-0
          .panel-heading
            .panel-title
              Reanudar tus últimos avances
          .panel-body
            .card.status.contenido-reciente.m-b-0{"data-social" => "item"}
              %h5 
                = distance_of_time_in_words(last_parameters[1].to_i, Time.now.to_i)
              %h4 
                = truncate(last_parameters[3], length: 65, separator: ' ')
              %p
                = link_to dashboard_chapter_content_path(last_parameters[0], program_id: @program.id) do
                  %button.btn.btn-sm.btn-complete.btn-cons.m-b-10{:type => "button"}
                    %i.fa.fa-play
                    %span.bold Reanudar mis avances
      .col-md-5
        .panel.panel-transparent.m-b-0
          .panel-heading
            .panel-title
              Plantillas y evaluaciones
          .panel-body
            .card.social-card.share{style: "min-height: 163px;"}
              .card-description
                .row.p-b-25.p-t-5
                  .col-md-12
                    = link_to dashboard_template_refilables_path(program_id: @program.id) do
                      .row
                        .col-md-12
                          .pull-left
                            %p.no-margin{style: "font-size: 17px;"} Plantillas 
                          .pull-right
                            Ir
                            %i.fa.fa-chevron-right
                    %p.small.hint-text 
                      - if @answered_templates[1] > 0
                        #{@answered_templates[0]} de #{@answered_templates[1]} plantillas contestadas
                      - else
                        No hay plantillas para este programa
                    .progress
                      .progress-bar.progress-bar-success{style: "width: #{@answered_templates[2]}%"}
                .row
                  .col-md-12
                    = link_to dashboard_quizzes_path(program_id: @program.id) do
                      .row
                        .col-md-12
                          .pull-left
                            %p.no-margin{style: "font-size: 17px;"} Evaluaciones 
                          .pull-right
                            Ir
                            %i.fa.fa-chevron-right
                    %p.small.hint-text 
                      - if @answered_quizzes[1] > 0
                        #{@answered_quizzes[0]} de #{@answered_quizzes[1]} evaluaciones contestados
                      - else
                        No hay evaluaciones para este programa
                    .progress
                      .progress-bar.progress-bar-success{style: "width: #{@answered_quizzes[2]}%"}
  
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-heading
          .panel-title
            .red-spot#tour-6
            Detalles del contenido
        .panel-body
          - @program.chapters.each_with_index do |chapter, index|
            - chapter_progress = chapter.get_chapter_progress(chapter, current_user)
            .sm-m-l-5.sm-m-r-5
              #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                .panel.panel-default{id: "#{ index == 0 ? "tour-7" : "" }"}
                  .panel-heading.p-b-0{:role => "tab", :id=>"heading_#{chapter.id}"}
                    %h4.panel-title
                      %a{"aria-controls" => "collapse_#{chapter.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_#{chapter.id}"}
                        .col-xs-6
                          = "#{chapter.name} "
                        .col-xs-5
                        - if chapter_progress[0] == "complete"
                          %span.label{class: "label-success"}
                            Módulo completo
                        - elsif chapter_progress[0] == "progress"
                          %span.label{class: "label-warning"}
                            Módulo en progreso
                        - else
                          %span.label{class: "label-master"}
                            Módulo no iniciado
                    %p.subtitle-module-text.p-l-15
                      Porcentaje contestado:
                      %span
                        - if chapter.all_questions.count == 0
                          No aplica /
                        - else
                          #{(answered_questions(chapter, current_user) * 100) / (chapter.all_questions.count == 0 ? 1 : chapter.all_questions.count) }% /
                      Porcentaje visto:
                      %span 
                        #{chapter_progress[2]}%

                  .panel-collapse.collapse{:id=>"collapse_#{chapter.id}", "aria-labelledby" => "heading_#{chapter.id}", :role => "tabpanel"}
                    .panel-body
                      %table.table.table-striped.table-top-border
                        %tbody
                          - chapter.chapter_contents.each do |content|
                            %tr.odd.gradeX
                              %td{style: "width: 5%;"}
                                = link_to dashboard_chapter_content_path(content), class: "btn btn-rounded redirector" do
                                  - if content.coursable_type == 'Lesson'
                                    %i.fa.fa-youtube-play
                                  - elsif content.coursable_type == 'Question'
                                    %i.fa.fa-edit
                                  - elsif content.coursable_type == 'Chapter'
                                    %i.fa.fa-book     

                              %td{style: "width: 60%;"}
                                - if content.coursable_type == 'Lesson'
                                  = link_to content.model.identifier, dashboard_chapter_content_path(content), class: "pump-link"
                                - elsif content.coursable_type == 'Question'
                                  = link_to truncate(content.model.question_text, length: 120, separator: ' '), dashboard_chapter_content_path(content), class: "pump-link"
                                - elsif content.coursable_type == 'Chapter'
                                  = link_to truncate(content.model.name, length: 120, separator: ' '), dashboard_chapter_content_path(content), class: "pump-link"
                                  
                              %td
                                - if content.coursable_type == 'Lesson'
                                  %span.label{class: "#{current_user.trackers.find_by(chapter_content: content).nil? ? 'label-master m-t-10' : 'label-success p-r-17 p-l-17 m-t-10'}"}
                                    = current_user.trackers.find_by(chapter_content: content).nil? ? 'No visto' : 'Visto'
                                - elsif content.coursable_type == 'Question'
                                  %span.label{class: "#{current_user.trackers.find_by(chapter_content: content).nil? ? 'label-master m-r-10' : 'label-success p-r-17 p-l-17 m-r-10'}"}
                                    = current_user.trackers.find_by(chapter_content: content).nil? ? 'No visto' : 'Visto'
                                  %span.label{class: "#{current_user.has_answer_question?(content.model) ? 'label-info p-r-17 p-l-17 m-t-20' : 'label-master m-t-20'}"}
                                    = current_user.has_answer_question?(content.model) ? 'Contestado' : 'No contestado'
                                - elsif content.coursable_type == 'Chapter'
                                  %span.label{class: "#{current_user.trackers.find_by(chapter_content: content).nil? ? 'label-master m-r-10' : 'label-success p-r-17 p-l-17 m-r-10'}"}
                                    = current_user.trackers.find_by(chapter_content: content).nil? ? 'No visto' : 'Visto'
                                  - if content.model.questions_count > 0  
                                    %span.label{class: "#{current_user.answers_for(content.model).count == content.model.questions_count ? 'label-info p-r-17 p-l-17 m-t-20' : 'label-master m-t-20'}"}
                                      = current_user.answers_for(content.model).count == content.model.questions_count ? 'Contestado' : 'No contestado'            

:javascript
  var frm = $('#form_rank');
  $('.rank').click(function() {
    frm.submit();
  });
  frm.submit(function (ev) {
    console.log(9);
    $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),
        success: function (data) {
          console.log(data);
        },
        error: function (data){
        }
    });
    ev.preventDefault();
  });

  var hide_last_button = document.getElementById('hide_last');
  hide_last_button.onclick = function() {
      var div = document.getElementById('last_move_box');
      if (div.style.display !== 'none') {
          div.style.display = 'none';
      }
  };

- if @tour_trigger[:second]
  = javascript_include_tag '/javascripts/lib/bootstraptour/tour_second_step', 'data-turbolinks-track' => false
