.container
  .row
    .col-md-12
      %h2.text-center
        = @program.name
      - @program.chapters.each do |chapter|
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              = chapter.name
          .panel-body

            %table.table.table-striped
              %tbody
              - chapter.chapter_contents.each do |content|
                %tr
                  %td
                    - if content.coursable_type == 'Lesson'
                      %span.glyphicon.glyphicon-info-sign
                      = content.model.identifier
                    - elsif content.coursable_type == 'Question'
                      %span.glyphicon.glyphicon-question-sign
                      = content.model.question_text
                  %td
                    %span.label.label-success
                      estatus
                  %td
                    - if content.coursable_type == 'Question'
                      Comentarios
                      %span.badge
                        = content.model.comments_for(current_user)
                  %td
                    = link_to dashboard_chapter_content_path(content), class: 'btn btn-default' do
                      %span.glyphicon.glyphicon-play-circle

      = link_to 'Resumen de proyecto', resume_dashboard_program_path, class: 'btn btn-default'
