.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-perfil
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h3.text-white 
              Información de perfil
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Sección:
            %h3.m-b-20.text-white
              Edita tu información de perfil

.container-fluid.container-fixed-lg
  .panel.panel-transparent
    .panel-body
      .row
        .col-sm-10
          .row-xs-height
            .social-user-profile.col-xs-height.text-center.col-top
              .thumbnail-wrapper.d48.circular.bordered.b-white
                = current_user.profile_picture.url.nil? ? image_tag('rubensito-05.png', height: 55, id: 'profile_img') : image_tag(current_user.profile_picture.url, height: 55, id: 'profile_img')
              %button.btn.btn-default.btn-cons#upload_profile_picture Subir foto
            .col-xs-height.p-l-20
              %h3.no-margin
                = current_user.name
              %p
              %p.hint-text.m-t-5.small
                - if(resource.city.nil? == false && resource.city.empty? == false) && (resource.bio.nil? == false && resource.bio.empty? == false)
                  #{resource.city} | #{resource.bio}
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'form-work', class: 'form-horizontal'}) do |f|
            = f.file_field :profile_picture, class: 'hide'
            .form-group
              %label.col-sm-3.control-label{:for => "nombre"} Nombre(s)
              .col-sm-9
                = f.text_field :first_name, class: 'form-control', placeholder: 'Juan'
                = error_for(resource, :first_name)
            .form-group
              %label.col-sm-3.control-label{:for => "apellido"} Apellido(s)
              .col-sm-9
                = f.text_field :last_name, class: 'form-control', placeholder: 'Pérez Jacobo'
                = error_for(resource, :last_name)
            .form-group
              %label.col-sm-3.control-label{:for => "name"} Estado
              .col-sm-9
                %select.full-width.form-control.minimal{name: 'user[state]'}
                  %option{:disabh => "", "form-grouped" => "", :selected => "selected", :value => "none"} Elige tu Estado
                  %option{:value => "Aguascalientes", selected: resource.state == 'Aguascalientes'} Aguascalientes
                  %option{:value => "Baja California", selected: resource.state == 'Baja California'} Baja California
                  %option{:value => "Baja California Sur", selected: resource.state == 'Baja California Sur'} Baja California Sur
                  %option{:value => "Campeche", selected: resource.state == 'Campeche'} Campeche
                  %option{:value => "Chiapas", selected: resource.state == 'Chiapas'} Chiapas
                  %option{:value => "Chihuahua", selected: resource.state == 'Chihuahua'} Chihuahua
                  %option{:value => "Coahuila", selected: resource.state == 'Coahuila'} Coahuila
                  %option{:value => "Colima", selected: resource.state == 'Colima'} Colima
                  %option{:value => "Distrito Federal", selected: resource.state == 'Distrito Federal'} Distrito Federal
                  %option{:value => "Durango", selected: resource.state == 'Durango'} Durango
                  %option{:value => "Estado de México", selected: resource.state == 'Estado de México'} Estado de México
                  %option{:value => "Guanajuato", selected: resource.state == 'Guanajuato'} Guanajuato
                  %option{:value => "Guerrero", selected: resource.state == 'Guerrero'} Guerrero
                  %option{:value => "Hidalgo", selected: resource.state == 'Hidalgo'} Hidalgo
                  %option{:value => "Jalisco", selected: resource.state == 'Jalisco'} Jalisco
                  %option{:value => "Michoacán", selected: resource.state == 'Michoacán'} Michoacán
                  %option{:value => "Morelos", selected: resource.state == 'Morelos'} Morelos
                  %option{:value => "Nayarit", selected: resource.state == 'Nayarit'} Nayarit
                  %option{:value => "Nuevo León", selected: resource.state == 'Nuevo León'} Nuevo León
                  %option{:value => "Oaxaca", selected: resource.state == 'Oaxaca'} Oaxaca
                  %option{:value => "Puebla", selected: resource.state == 'Puebla'} Puebla
                  %option{:value => "Querétaro", selected: resource.state == 'Querétaro'} Querétaro
                  %option{:value => "Quintana Roo", selected: resource.state == 'Quintana Roo'} Quintana Roo
                  %option{:value => "San Luis Potosí", selected: resource.state == 'San Luis Potosí'} San Luis Potosí
                  %option{:value => "Sinaloa", selected: resource.state == 'Sinaloa'} Sinaloa
                  %option{:value => "Sonora", selected: resource.state == 'Sonora'} Sonora
                  %option{:value => "Tabasco", selected: resource.state == 'Tabasco'} Tabasco
                  %option{:value => "Tamaulipas", selected: resource.state == 'Tamaulipas'} Tamaulipas
                  %option{:value => "Tlaxcala", selected: resource.state == 'Tlaxcala'} Tlaxcala
                  %option{:value => "Veracruz", selected: resource.state == 'Veracruz'} Veracruz
                  %option{:value => "Yucatán", selected: resource.state == 'Yucatán'} Yucatán
                  %option{:value => "Zacatecas", selected: resource.state == 'Zacatecas'} Zacatecas
            .form-group
              %label.col-sm-3.control-label{:for => "name"} Ciudad
              .col-sm-9
                = f.text_field :city, class: 'form-control', placeholder: 'Guadalajara'
            .form-group
              %label.col-sm-3.control-label Género
              .col-sm-9
                .radio.radio-success
                  %input#male{:name => "user[gender]", :type => "radio", :value => "male", checked: resource.gender == 'male'}/
                  %label{:for => "male"} Hombre
                  %input#female{:name => "user[gender]", :type => "radio", :value => "female", checked: resource.gender == 'female'}/
                  %label{:for => "female"} Mujer
            .form-group
              %label.col-sm-3.control-label{:for => "telefono"} Número de teléfono
              .col-sm-9
                = f.text_field :phone_number, class: 'form-control', placeholder: '(xx)xxxx-xxxx'
                = error_for(resource, :phone_number)
            .form-group
              %label.col-sm-3.control-label.correo{:for => "correo"} Correo electrónico
              .col-sm-9
                = f.text_field :email, class: 'form-control', placeholder: 'correo@dominio.com', disabled: true
                = error_for(resource, :email)
            .form-group
              %label.col-sm-3.control-label{:for => "name"} Biografía
              .col-sm-9
                = f.text_area :bio, class: 'form-control', placeholder: 'Comparte una pequeña descripción de ti y tus habilidades.'
            .form-group
              %label.col-sm-3.control-label{:for => "name"} ¿En qué sector económico se ubica tu producto/servicio?
              .col-sm-9
                = f.select :industry_id, Industry.all.collect {|p| [ p.name, p.id ] },  {include_blank: "Selecciona el sector económico"}, { :class => 'minimal form-control full-width' }   
            .form-group
              %label.col-sm-3.control-label{:for => "correo"} Nueva contraseña (dejar en blanco si no requieres cambiarlo)
              .col-sm-9
                = f.password_field :password, class: 'form-control', placeholder: 'Introduce tu contraseña'
                = error_for(resource, :password)
              %br/
              %br/
              %label.col-sm-3.control-label{:for => "correo"} Confirmación de nueva contraseña
              .col-sm-9
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirma tu contraseña'
                = error_for(resource, :password_confirmation)
            .field.m-t-15
              %label
                %strong Contraseña actual
              %i (Necesitamos tu password actual para realizar los cambios)
              %br/
              .m-b-15{:style => "max-width:50%"}
                = f.password_field :current_password, class: 'form-control', placeholder: 'Introduce tu contraseña'
                = error_for(resource, :current_password)
            .clearfix
            %br/
            .row
              .col-sm-9
                %button.btn.btn-success{:type => "submit"} Actualizar información
