.register-container.full-height.sm-p-t-30
  .container-sm-height.full-height
    .row.row-sm-height
      .col-sm-12.col-sm-height.col-middle
        = image_tag('https://fakeimg.pl/152x48/D3D3D3/?text=Logo(152x48)', width: "200")
        %h3 Lorem ipsum dolor sit amet consectetur adipiscing suspendisse
        %p
          Crea tu cuenta de #{the_platform_name_helper} en segundos.
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .row
            .col-sm-6
              .form-group.form-group-default{class: "#{class_for(resource, :first_name)}"}
                = f.label :first_name, 'Nombre(s)'
                = f.text_field :first_name, class: 'form-control', placeholder: 'Ej. Juan'
              = error_for(resource, :first_name)
            .col-sm-6
              .form-group.form-group-default{class: "#{class_for(resource, :last_name)}"}
                = f.label :last_name, 'Apellido(s)'
                = f.text_field :last_name, class: 'form-control', placeholder: 'Ej. Pérez Jacobo'
              = error_for(resource, :last_name)
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :phone_number)}"}
                = f.label :phone_number, 'Número de teléfono'
                = f.text_field :phone_number, class: 'form-control', placeholder: '(xx)xxxx-xxxx'
              = error_for(resource, :phone_number)
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :email)}"}
                = f.label :email, 'Correo electrónico'
                = f.email_field :email, class: 'form-control', placeholder: 'correo@dominio.com'
              = error_for(resource, :email)
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :industry_id)}"}
                = f.label :industry_id, '¿En qué sector económico se ubica tu producto/servicio?'
                = f.select :industry_id, Industry.all.collect {|p| [ p.name, p.id ] },  {include_blank: "Selecciona el sector económico"}, { :class => 'minimal form-control full-width' }
              = error_for(resource, :industry_id)    
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :password)}"}
                = f.label :password, 'Contraseña'
                = f.password_field :password, class: 'form-control', placeholder: 'Introduce tu contraseña'
              = error_for(resource, :password)
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :password_confirmation)}"}
                = f.label :password_confirmation, 'Confirmar contraseña'
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirma tu contraseña'
              = error_for(resource, :password_confirmation)
          .row.m-t-10
            .col-md-12
              .checkbox
                %input{:type => "hidden", :value => "0", name: 'user[agreement]'}/
                %input#agreement{:type => "checkbox", :value => "1", name: 'user[agreement]'}/
                %label{:for => "agreement"} Estoy de acuerdo con los Términos de la página y las Políticas de privacidad.
              = error_for(resource, :agreement)

          %button.btn.btn-primary.btn-cons.m-t-10{:type => "submit"} Crear cuenta

          .row.m-t-10
            .col-md-12.text-right
              %a.text-info.small{:href => "mailto:" + (ENV['MAILER_SUPPORT'].nil? ? "soporte@ejemplo.com" : ENV['MAILER_SUPPORT'])} ¿Necesitas ayuda? Contáctanos
