.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-35.p-t-30
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row
          .col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15.text-white
            %h2.pull-left.text-white
              %i.fa.fa-check-square-o.m-r-15
              = @quiz.name

.container-fluid.container-fixed-lg
  = form_tag dashboard_quiz_answers_path do  
    -@answers.each_with_index do |answer, index|
      = fields_for "answers[#{index}]", answer do |f| 
        .panel.panel-default
          .panel-heading
            .panel-title.question-title
              = @quiz.name
          .panel-body
            .row
              .col-md-10.col-md-offset-1
                .padding-30.m-t-15.p-b-50
                  %i.fa.fa-tasks.fa-2x.hint-text
                  %h2
                    = answer.quiz_question.question_text
                  = f.hidden_field :user_id
                  = f.hidden_field :quiz_question_id
                  = render partial: "/dashboard/quiz_answers/inputs/#{answer.quiz_question.question_type}", locals: { disabled: false, f: f, question: answer.quiz_question, answers: answer, i: index, detail: false}
                  
    .form-group
      .row.m-b-30.m-t-20
        .col-sm-1.col-sm-offset-5
          = hidden_field_tag :quiz_id, @quiz.id
          = submit_tag "Guardar respuestas", class: "btn btn-success btn-lg"
