.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15.panel-title-emprendimiento
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row
          .col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              %i.fa.fa-check-square-o
              Examen: #{@quiz.name}
              
.container-fluid.container-fixed-lg
  = form_tag dashboard_quiz_answers_path do  
    -@answers.each_with_index do |answer, index|
      = fields_for "answers[#{index}]", answer do |f| 
        .panel.panel-default
          .panel-heading
            .panel-title.question-title
              = @quiz.name
          .panel-body
            .row
              .col-md-10.col-md-offset-1
                .padding-30.m-t-50.p-b-100
                  %i.fa.fa-tasks.fa-2x.hint-text
                  %h2
                    = answer.quiz_question.question_text
                  = render partial: "/dashboard/quiz_answers/inputs/#{answer.quiz_question.question_type}", locals: { disabled: true, f: f, question: answer.quiz_question, answers: answer, i: index, detail: true}
