- content_for :title  do
  Ex치menes - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15.panel-title-emprendimiento
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row
          .col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Ex치menes de evaluaci칩n

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-transparent
        .panel-heading.p-t-10
          %h5
            Contesta las evaluaciones y mide tu progreso. 
        .panel-body
          %table.table.table-hover
            %thead
              %tr
                %th Examen
                %th Status
                %th Calificaci칩n
                %th 
            %tbody
              - @quizzes.each do |quiz|
                %tr
                  %td= quiz.name
                  %td= quiz.answered(current_user) > 0 ? 'Contestado' : 'No contestado'
                  %td= quiz.answered(current_user) > 0 ? quiz.average(current_user) : 'No disponible'
                  %td 
                    -if quiz.answered(current_user) > 0  
                      = link_to 'Ver resultados', dashboard_quiz_path(quiz)
                    -else
                      = link_to 'contestar', apply_dashboard_quiz_path(quiz)
