- content_for :title  do
  Ex치menes - EDCdigital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-transparent
        .panel-heading
          .panel-title
            Ex치menes de evaluaci칩n
        .panel-body
          %h5
            Contesta las evaluaciones y mide tu progreso  
          %table.table.table-hover
            %thead
              %tr
                %th Examen
                %th Status
                %th Calificaci칩n
                %th 
            %tbody
              - @quizzes.each do |quiz|
                %tr
                  %td.p-t-15.p-b-15
                    = quiz.name
                  %td.p-t-15.p-b-15{:class => "#{(quiz.answered(current_user) > 0) ? 'text-primary' : 'text-danger'}"}
                    = quiz.answered(current_user) > 0 ? 'Contestado' : 'No contestado'
                  %td.p-t-15.p-b-15{:class => "#{(quiz.answered(current_user) > 0) ? 'text-primary' : 'text-danger'}"}
                    = quiz.answered(current_user) > 0 ? quiz.average(current_user) : 'No disponible'
                  %td.p-t-15.p-b-15 
                    -if quiz.answered(current_user) > 0  
                      = link_to dashboard_quiz_path(quiz) do
                        %button.btn.btn-sm.btn-complete
                          %i.fa.fa-eye
                          Ver mis resultados
                    -else
                      = link_to apply_dashboard_quiz_path(quiz) do
                        %button.btn.btn-sm.btn-primary
                          %i.fa.fa-edit
                          Contestar examen
