- content_for :title  do
  Ex치menes - EDCdigital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-transparent
        .panel-heading
          .panel-title
            Ex치menes de evaluaci칩n
        .panel-body
          %h5
            Contesta las evaluaciones y mide tu progreso  
          %table.table.table-hover
            %thead
              %tr
                %th Examen
                %th Status
                %th Calificaci칩n
                %th 
            %tbody
              - @quizzes.each do |quiz|
                %tr
                  %td= quiz.name
                  %td= quiz.answered(current_user) > 0 ? 'Contestado' : 'No contestado'
                  %td= quiz.answered(current_user) > 0 ? quiz.average(current_user) : 'No disponible'
                  %td 
                    -if quiz.answered(current_user) > 0  
                      = link_to 'Ver resultados', dashboard_quiz_path(quiz)
                    -else
                      = link_to 'contestar', apply_dashboard_quiz_path(quiz)
