.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-5.col-md-5.no-padding.xs-p-l-15.xs-p-r-15
            %h5.block-title.hint-text.no-margin.text-white Examen Rápido
            %h2.text-white 
              = @quiz.name
          .col-sm-7.col-md-7.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Los objetivos de este examen:
            %p.m-b-25.text-white
              = @quiz.description
            - if @quiz.quiz_questions.first.quiz_answers.where(user: current_user).empty?
              = link_to apply_dashboard_quiz_path(@quiz), class: 'btn btn-sm btn-primary btn-cons m-b-10' do
                %i.fa.fa-edit
                %span.bold Contestar examen
            - else
              = link_to  detail_dashboard_quiz_path(@quiz), class: 'btn btn-sm btn-success btn-cons m-b-10' do
                %i.fa.fa-eye
                %span.bold Ver los detalles de tu evaluación
                                   
.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-heading
          .panel-title
            Vista previa del examen
        .panel-body
          .sm-m-l-5.sm-m-r-5
          .panel.panel-default
            .panel-heading{:role => "tab", :id=>"heading_#{@quiz.id}"}
              %h4.panel-title
                = "#{@quiz.name} (#{@quiz.description})"
            .panel-body
              %table.table.table-hover
                %thead
                  %tr
                    %th Pregunta
                    %th Respuesta
                    %th.text-center Evaluación
                    %th.text-center Valor
                    %th.text-center Obtenido
                - @quiz.quiz_questions.each do |question|
                  %tr
                    %td
                      = link_to "#", class: "btn btn-success btn-rounded" do
                        %i.fa.fa-tasks
                      %span.m-l-10{style: "position: relative; top: -8px;"} 
                        = question.question_text
                      - answer = QuizAnswer.find_by(quiz_question_id: question.id, user_id: current_user.id)
                    %td= QuizAnswer.respuesta(question.id, current_user.id)
                    %td.text-center
                      = answer.nil? ? "Sin contestar" : QuizAnswer.revisada(question.id, current_user.id).html_safe
                    %td.text-center
                      = answer.nil? ? "No hay puntos" : answer.quiz_question.points
                    %td.text-center
                      %strong
                        = points_quiz_question(question, current_user)
                %tr
                  %td{colspan: '4'}
                    %h5.pull-right Total:
                  %td
                    %h5= @quiz.average(current_user)
