- content_for :title  do
  Evaluaciones - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-5.col-md-5.xs-p-l-15.xs-p-r-15
            %h5.block-title.hint-text.no-margin.text-white Evaluación rápida
            %h2.text-white 
              = @quiz.name
          .col-sm-7.col-md-7.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Los objetivos de esta evaluación:
            %p.m-b-25.text-white
              = @quiz.description
            - if @quiz.quiz_questions.first.quiz_answers.where(user: current_user).empty?
              = link_to apply_dashboard_quiz_path(@quiz), class: 'btn btn-sm btn-primary btn-cons m-b-10' do
                %i.fa.fa-edit
                %span.bold Contestar evaluación
            - else
              = link_to  detail_dashboard_quiz_path(@quiz), class: 'btn btn-sm btn-success btn-cons m-b-10' do
                %i.fa.fa-eye
                %span.bold Ver los detalles de tu evaluación
            = link_to  dashboard_quizzes_path, class: 'btn btn-sm btn-primary btn-cons m-b-10' do
              %i.fa.fa-reply
              %span.bold Regresar a Evaluaciones
                                   
.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          .panel.panel-default
            .panel-body
              .table-responsive.cell-down-mt30
                %table.table.table-hover
                  %thead
                    %tr
                      %th{width: "35%"} Pregunta
                      %th{width: "30%"} Respuesta correcta
                      %th.text-center{width: "20%"} Evaluación
                      %th.text-center Valor
                      %th.text-center Obtenido
                  - @quiz.quiz_questions.each do |question|
                    %tr
                      %td.p-b-20
                        %span
                          = question.question_text
                        - answer = QuizAnswer.find_by(quiz_question_id: question.id, user_id: current_user.id)
                      %td.p-b-20
                        = QuizAnswer.respuesta(question.id, current_user.id)
                      %td.text-center.p-b-20
                        = answer.nil? ? "Sin contestar" : QuizAnswer.proporcion(question.id, current_user.id).html_safe
                      %td.text-center
                        = answer.nil? ? "No hay puntos" : answer.quiz_question.points
                      %td.text-center
                        %strong
                          = points_quiz_question(question, current_user)
                  %tr
                    %td{colspan: '4'}
                      %h5.pull-right Total:
                    %td
                      %h5= @quiz.average(current_user)
