- content_for :title  do
	Glosario - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-10.p-t-15.panel-title-recursos
		.container-fluid
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row
					.col-sm-12.col-md-12.xs-p-l-15.xs-p-r-15
						.panel-body
							= form_tag(glossaries_path, method: :get) do
								.form-group.form-group-default.col-sm-9.col-xs-12
									= label_tag nil, 'Realiza una búsqueda', class: 'highlight'
									= text_field_tag :key, params[:key], class: "form-control notification-message", value: @search_term
								.form-group.col-sm-2.col-xs-12.cell-down-pl0
									= submit_tag 'Buscar', class: "btn btn-lg btn-success show-notification", :style => 'height:54px;'

.container-fluid.container-fixed-lg							
	- if @glossarysearch.exists?
		- @glossarysearch.each do |glossarysearch|
			.widget-11-2.panel.no-border
				.p-r-25.p-l-25.p-t-10.p-b-10
					.pull-right.p-r-20
						%h6
							- if current_user.admin?
								%span.m-r-15
								= link_to edit_glossary_path(glossarysearch) do
									%i.fa.fa-edit
									Editar
								%span.m-r-15
								= link_to glossary_path(glossarysearch), method: :delete, data: { confirm: '¿Estás seguro?' } do
									%i.fa.fa-times
									Eliminar
							%span.m-r-15
							= link_to glossary_categories_path do
								%i.fa.fa-chevron-circle-left
								Regresar
					.pull-left
						%h4.text-success 
							= link_to glossarysearch.term, glossary_path(glossarysearch)
						%h5
							Grupo:
							- category = GlossaryCategory.find(glossarysearch.glossary_category_id)
							= link_to category.title, glossary_category_path(category)					
					.clearfix
				.p-r-25.p-l-25.p-t-10.p-b-10
					.row
						%div{class: glossarysearch.image.file.nil? ? 'col-sm-12' : 'col-sm-7'}
							%h5.no-margin 
								Definición:
							%p.m-t-15
								.scrolling
									= raw glossarysearch.definition
						%div{class: glossarysearch.image.file.nil? ? 'col-sm-12' : 'col-sm-5'}
							= image_tag(glossarysearch.image, width: '100%')
	- else
		.widget-11-2.panel.no-border
			.panel-body
				.p-r-25.p-l-25.p-t-10.p-b-10
					.pull-right.p-r-20
						%h5
							%span.m-r-15
							= link_to glossary_categories_path do
								%i.fa.fa-chevron-circle-left
								Regresar
					.pull-left
						%h4.text-success
							No hay resultados para "#{@search_term}"
					