- content_for :title  do
	Glosario - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-30.panel-title-recursos
		.container
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row.col-md-12
					.col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
						%h2.text-white 
							Glosario de EDC Digital
					.col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
						.panel-body
							= form_tag(glossaries_path, method: :get) do
								.form-group.form-group-default.col-xs-9
									= label_tag nil, 'Realiza una búsqueda', class: 'highlight'
									= text_field_tag :term, params[:term], class: "form-control notification-message", value: @glossary.term
								.form-group.col-xs-2
									= submit_tag 'Buscar', class: "btn btn-lg btn-success show-notification", :style => 'height:54px;'

.container-fluid.container-fixed-lg
	.widget-11-2.panel.no-border
		.padding-25
			.pull-left
				%h3.text-success 
					= @glossary.term
				%h5.no-margin
					Grupo: 
					- category = GlossaryCategory.find(@glossary.glossary_category_id)
					= link_to category.title, glossary_category_path(category)
			.pull-right.p-r-20
				%h6
					- if current_user.admin?
						%span.m-r-15
						= link_to edit_glossary_path(@glossary) do
							%i.fa.fa-edit
							Editar
						%span.m-r-15
						= link_to glossary_path(@glossary), method: :delete, data: { confirm: '¿Estás seguro?' } do
							%i.fa.fa-times
							Eliminar
					%span.m-r-15
					= link_to glossary_categories_path do
						%i.fa.fa-chevron-circle-left
						Regresar
			.clearfix
		.padding-25
			.row
				.col-sm-6
					%h5.no-margin 
						Definición:
					%p.m-t-15
						= raw @glossary.definition
				.col-sm-6
					= image_tag(@glossary.image, height: '350')
