- content_for :title  do
  Evaluaciones - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h5.text-white.m-b-0 
              Evaluación de programa
            %h2.text-white.m-t-0
              #{@program.name}
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Progreso del estudiante y estado de evaluación módulo por módulo.
            = link_to  dashboard_program_path(@program.id), class: 'btn btn-sm btn-default btn-cons m-b-10' do
              %i.fa.fa-reply
              %span.bold Regresar a programa

- total_questions = total_qustions(@chapters)
- total_rubrics = @chapters.map { |chapter| chapter.evaluations.count }.inject(0, :+)
- obtained_points = @chapters.map { |chapter| evaluation_result(chapter) }.inject(0, :+) 
- total_points = @chapters.sum(:points)

.container-fluid.container-fixed-lg.m-b-20
  .col-md-3.m-b-10
    .panel.panel-default.no-margin
      .widget-9.panel.no-border.bg-white.no-margin.widget-loader-bar
        .container-xs-height.full-height
          .row-xs-height
            .col-xs-height.col-top
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Módulos con preguntas
                    %i.fa.fa-chevron-right
          .row-xs-height
            .col-xs-height.col-top
              .p-l-20.p-t-15
                %h3.no-margin.p-b-5.text-primary #{@chapter_w_questions.count} módulos
                %span.small.hint-text
                  %i.fa.fa-cubes.p-r-5
                %span.small.hint-text #{@chapter_w_questions.count} de #{@program.chapters.count} módulos tienen preguntas
          .row-xs-height
            .col-xs-height.col-bottom
              .m-b-20
              
  .col-md-3.m-b-10
    .panel.panel-default.no-margin
      .widget-9.panel.no-border.bg-white.no-margin.widget-loader-bar
        .container-xs-height.full-height
          .row-xs-height
            .col-xs-height.col-top
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Preguntas contestadas
                    %i.fa.fa-chevron-right
          .row-xs-height
            .col-xs-height.col-top
              .p-l-20.p-t-15
                %h3.no-margin.p-b-5.text-primary #{@answers_total} preguntas
                %span.small.hint-text
                  %i.fa.fa-edit.p-r-5
                %span.small.hint-text #{@answers_total} de #{total_questions} han sido contestadas 
          .row-xs-height
            .col-xs-height.col-bottom
              .progress.progress-small.m-b-20
                - if total_questions > 0
                  .progress-bar.progress-bar-primary{:style => "width:#{((@answers_total.to_f/total_questions.to_f)*100).ceil}%"}
  .col-md-3.m-b-10
    .panel.panel-default.no-margin
      .widget-9.panel.no-border.bg-white.no-margin.widget-loader-bar
        .container-xs-height.full-height
          .row-xs-height
            .col-xs-height.col-top
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Rúbricas evaluadas
                    %i.fa.fa-chevron-right
          .row-xs-height
            .col-xs-height.col-top
              .p-l-20.p-t-15
                %h3.no-margin.p-b-5.text-primary #{@rubrics_checked} rúbricas
                %span.small.hint-text
                  %i.fa.fa-check-square-o.p-r-5
                %span.small.hint-text #{@rubrics_checked} de #{total_rubrics} han sido evaluadas
          .row-xs-height
            .col-xs-height.col-bottom
              .progress.progress-small.m-b-20
                -if total_rubrics > 0
                  .progress-bar.progress-bar-primary{:style => "width:#{((@rubrics_checked.to_f/total_rubrics.to_f)*100).ceil}%"}
  .col-md-3.m-b-10
    .panel.panel-default.no-margin
      .widget-9.panel.no-border.bg-white.no-margin.widget-loader-bar
        .container-xs-height.full-height
          .row-xs-height
            .col-xs-height.col-top
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Puntos totales
                    %i.fa.fa-chevron-right
          .row-xs-height
            .col-xs-height.col-top
              .p-l-20.p-t-15
                %h3.no-margin.p-b-5.text-primary #{obtained_points} puntos
                %span.small.hint-text
                  %i.fa.fa-dashboard.p-r-5
                %span.small.hint-text #{obtained_points} de #{total_points} obtenidos
          .row-xs-height
            .col-xs-height.col-bottom
              .progress.progress-small.m-b-20
                - if total_points > 0
                  .progress-bar.progress-bar-primary{:style => "width:#{((obtained_points.to_f/total_points.to_f)*100).ceil}%"}white

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th
              Módulo
            %th.text-center{:width => "20%"}
              Preguntas contestadas
            %th.text-center{:width => "20%"}
              Rúbricas evaluadas
            %th.text-center{:width => "15%"}
              Puntajes obtenidos
            %th{:width => "20%"}
        %tbody
          - @chapters.each do |chapter|
            %tr
              - result = evaluation_result(chapter)
              %td
                = chapter.name
              %td
                - if chapter.questions.count > 0
                  - answered_percentage = answered_questions(chapter, @user) * (100 / chapter.questions.count.to_f).ceil
                  .p-r-10
                    .progress.m-b-10.m-l-20.m-r-10
                      .progress-bar{:style => "width: #{answered_percentage}%", :class => "#{(answered_percentage > 95) ? 'progress-bar-success' : 'progress-bar-warning'}"}
                  .text-center
                    #{answered_questions(chapter, @user)} de #{chapter.questions.count} preguntas
                - else
                  .text-center Módulo sin preguntas
              %td
                - if chapter.questions.count == 0
                  .text-center Módulo sin preguntas
                - elsif chapter.evaluations.exists?
                  - total, counter = chapter.evaluations.count, 0
                  - chapter.evaluations.each do |evaluation|
                    - evaluation_checked?(@user, evaluation) ? counter += 1 : counter += 0
                  .p-r-10
                    .progress.m-b-10.m-l-20.m-r-10
                      .progress-bar{:style => "width: #{((counter.to_f/total.to_f)*100).ceil}%", :class => "#{((counter/total) == 1) ? 'progress-bar-success' : 'progress-bar-warning'}"}
                  .text-center
                    #{counter} de #{total} rúbricas
                - else
                  .text-center.text-danger No hay rúbrica
              %td.p-b-15
                - if chapter.questions.count == 0
                  .text-center Módulo sin preguntas
                - elsif !chapter.evaluations.exists?
                  .text-center.text-danger No hay rúbrica
                - elsif chapter.points == 0
                  .text-center No hay puntaje
                - else
                  .text-center.p-r-10
                    #{result} / #{chapter.points} pts
              %td.text-center
                = link_to dashboard_evaluation_path(chapter, user_id: @user, program_id: @program) do
                  - if current_user.mentor?
                    .fa.fa-edit
                    Evaluar módulo
                  - else
                    .fa.fa-eye
                    Ver detalle de evaluación
          %tr
            %th.p-t-20
            %th.text-center.p-t-20
              #{@answers_total} de #{total_questions}
              %span preguntas
            %th.text-center.p-t-20
              #{@rubrics_checked} de #{total_rubrics} rúbricas
            %th.text-center.p-t-20
              #{obtained_points } / #{total_points} pts
            %th
