.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h2
        Evaluación de programas
      .row
        .col-md-12
          %p
            %strong
              Programa a evaluar:
            = @program.name

    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th
              Módulo
            %th
              Meta
            %th
              Resultado
            %th
        %tbody
          - @chapters.each do |chapter|
            %tr
              %td
                = chapter.name
              %td
                #{chapter.points} %
              %td
                #{(((chapter.evaluation_points * 100) / chapter.total_evaluations_points rescue 0) * chapter.points / 100)} %
              %td
                /= link_to 'Ver evaluación', dashboard_evaluation_path(chapter, program_id: @program)
          %tr
            %th
              Total
            %th
              #{@chapters.sum(:points)} %
            %th
              #{@chapters.map { |chapter| (((chapter.evaluation_points * 100) / chapter.total_evaluations_points rescue 0) * chapter.points / 100) }.inject(0, :+) } %
            %th
