.well
  = bootstrap_form_for @quiz, url:chapter_quiz_programs_path, method: :post do |f|
    = f.text_field :name, label: "Nombre de la evaluación"
    = f.text_area :description, label: "Descripción"

    = link_to 'Cancelar', program_path(@chapter.program), class: 'btn btn-danger'
    = f.submit 'Aceptar'
