- content_for :title  do
  Editar evaluaci贸n - EDCdigital

.container
  %h2.text-center
    Editar evaluaci贸n
  .well
    = bootstrap_form_for @quiz, url:chapter_quiz_program_path, method: :put do |f|
      = f.text_field :name, label: "Nombre de la evalauci贸n"
      = f.text_area :description, label: "Descripci贸n"

      = link_to 'Cancelar', program_path(@chapter.program), class: 'btn btn-danger'
      = f.submit 'Aceptar'  