.container-fluid.container-fixed-lg
  = bootstrap_form_for([:dashboard, @chapter_content, @answer]) do |f|
    .panel.panel-default
      .panel-heading
        .panel-title.question-title.p-r-15#tour-15
          = @chapter_content.chapter.name
        .panel-title.pull-right
          - unless @answer.rubric.nil?
            = image_tag(image_for_rubric(@answer.rubric.criteria), :class=> 'rating-image',"data-original-title" => "Esta pregunta ha sido evaluada como #{@answer.rubric.criteria.downcase}", "data-toggle" => "tooltip")
        .clearfix
      .panel-body
        .row
          .col-md-10.col-md-offset-1
            .padding-30.m-t-50.p-b-100
              %i.fa.fa-tasks.fa-2x.hint-text
              .pull-right
                - unless @question.support_image.nil?
                  = image_tag(@question.support_image.url, class: 'img-responsive')
              .clearfix
              %h2#tour-16
                = @question.question_text
              = f.hidden_field :user_id
              = f.hidden_field :question_id

              = render partial: "/dashboard/answers/inputs/#{@question.question_type}", locals: { disabled: disabled, f: f}

              %p.small.hint-text.m-t-15
                = @question.support_text

        = render partial: '/dashboard/shared/navigation_buttons', locals: { chapter_content: @chapter_content, answer: @answer, edit_mode: true }

#warning-modal.modal.fade.slide-up.disable-scroll{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content-wrapper
      .modal-content
        .modal-header.clearfix.text-left
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %i.pg-close.fs-14
          %h5.text-center
            ¿Estás seguro de continuar sin guardar cambios?
        .modal-body
          .row.m-b-20
            .col-sm-12
          .row
            .col-sm-12.text-right
              %button.btn.btn-success#continue_content
                Continuar
              %button.btn.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
                %i.pg-close
                Cancelar
