= render partial: '/dashboard/answers/form', locals: { disabled: false}

.timeline-container.top-circle
  - @comments.each do |comment|
    .panel.panel-transparent
      .timeline-point.warning.pl10
        %i.pg-social
      .timeline-content
        .card.share.full-width
          .card-header.clearfix
            .user-pic
              = image_tag('rubensito-01.png', height: 33)
            %h5
              = comment.user.name
            %h6
              = l comment.created_at, format: :special
          .card-description
            %p
              = comment.content
  .row.text-center.m-b-40
    .col-sm-12
      %button#btnToggleSlideUpSize.btn.btn-primary.btn-lg{:type => "button"}
        Agregar nuevo comentario

#modalSlideUp.modal.fade.slide-up.disable-scroll{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content-wrapper
      .modal-content
        .modal-header.clearfix.text-left
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %i.pg-close.fs-14
          %h5 Agregar nuevo comentario
          %p.p-b-0.m-b-0
            Introduce aquí tu comentario
        .modal-body
          = bootstrap_form_for([:dashboard, @question, Comment.new], html: {id: "form-work", class: 'form-horizontal'}) do |f|
            .row.m-b-20
              .col-sm-12
                = f.text_area :content, hide_label: true, rows: 3, placeholder: 'Agrega tus comentarios aquí'
            .row
              .col-sm-12.text-right
                %button.btn.btn-success{:type => "submit"} Guardar
                %button.btn.btn-default
                  %i.pg-close
                  Cancelar
