- content_for :title  do
  Preguntas - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .panel-title.question-title
        = @chapter_content.chapter.name
      .panel-title.pull-right
        - unless @answer.rubric.nil?
          = image_tag(image_for_rubric(@answer.rubric.criteria), :class=> 'rating-image',"data-original-title" => "Esta pregunta ha sido evaluada como #{@answer.rubric.criteria.downcase}", "data-toggle" => "tooltip")
      .clearfix
    .panel-body
      .row
        .col-md-10.col-md-offset-1
          .padding-30.m-t-50.p-b-100
            %i.fa.fa-tasks.fa-2x.hint-text
            .pull-right
              - unless @question.support_image.nil?
                = image_tag(@question.support_image.url, class: 'img-responsive')
            .clearfix
            %h2
              = @question.question_text
            = bootstrap_form_for([:dashboard, @chapter_content, @answer]) do |f|
              = f.hidden_field :user_id
              = f.hidden_field :question_id

              = render partial: "/dashboard/answers/inputs/#{@question.question_type}", locals: { disabled: true, f: f}

            %p.small.hint-text.m-t-15
              = @question.support_text

      = render partial: '/dashboard/shared/navigation_buttons', locals: { chapter_content: @chapter_content, answer: @answer, edit_mode: false }

  .timeline-container.top-circle
    - @comments.each do |comment|
      .panel.panel-transparent
        .timeline-point.warning.pl10
          %i.pg-social
        .timeline-content
          .card.share.full-width
            .card-header.clearfix
              .user-pic
                = image_tag('rubensito-01.png', height: 33)
              %h5
                = comment.user.name
              %h6
                = l comment.created_at, format: :special
            .card-description
              %p
                = comment.content
  .row.text-center.m-b-40
    .col-sm-12
      %button#btnToggleSlideUpSize.btn.btn-primary.btn-lg{:type => "button"}
        Enviar duda o comentario

#modalSlideUp.modal.fade.slide-up.disable-scroll{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content-wrapper
      .modal-content
        .modal-header.clearfix.text-left
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %i.pg-close.fs-14
          %h5 Solicita ayuda de nuestro equipo de mentores
          %p.p-b-0.m-b-20
            Utiliza esta forma de contacto para solicitar apoyo en áreas de mentoría para tu idea de negocio. 
            %span
              %strong Recuerda completar con toda la información relevante para que los mentores puedan apoyarte.
        .modal-body
          = form_tag(dashboard_chapter_content_mailer_interno_path, class: 'form-horizontal') do
            %input{:type=>"hidden", :value=>@chapter_content.chapter.name, :name=>:chapter}
            %input{:type=>"hidden", :value=>@chapter_content.chapter.program.name, :name=>:signature}
            .form-group
              %label.col-sm-3.control-label{:for => "raw_subject"} Asunto
              .col-sm-9
                %input#correo.form-control{:name => "raw_subject", :placeholder => "Aquí va tu asunto", :required => "", :type => "text"}/
            .form-group
              %label.col-sm-3.control-label{:for => "urgency"} Nivel de urgencia
              .col-sm-9
                %select.full-width.form-control.minimal{name: 'urgency', :required => ""}
                  %option{:disabh => "", "form-grouped" => "", :selected => "selected", :value => "none"} Por favor selecciona que la urgencia de tu mensaje
                  %option{:value => "Esto es solo un mensaje"} Esto es solo un mensaje
                  %option{:value => "Estaré bien, pero por favor arreglen esto"} Estaré bien, pero por favor arreglen esto
                  %option{:value => "Estoy atorado, nada de lo que hago funciona"} Estoy atorado, nada de lo que hago funciona
                  %option{:value => "Esto me está matando"} Esto me está matando
                  %option{:value => "Emergencia: Esto es crítico"} Emergencia: Esto es crítico
            .form-group
              %label.col-sm-3.control-label{:for => "matter"} Clasificación
              .col-sm-9
                %select.full-width.form-control.minimal{name: 'matter', :required => ""}
                  %option{:disabh => "", "form-grouped" => "", :selected => "selected", :value => "none"} Por favor clasifica tu mensaje
                  %option{:value => "Comentario"} Comentario
                  %option{:value => "Sugerencia"} Sugerencia
                  %option{:value => "Duda sobre el contenido"} Tengo una duda sobre el contenido
                  %option{:value => "Duda sobre la plataforma"} Tengo una duda sobre la plataforma
                  %option{:value => "Duda sobre mi idea de negocio"} Tengo una duda sobre mi idea de negocio
                  %option{:value => "Retroalimentación sobre mi idea de negocio"} Me gustaría recibir retroalimentación sobre mi idea de negocio
            .form-group
              %label.col-sm-3.control-label{:for => "message", :required => ""} Descripción detallada de tu mensaje o problema
              .col-sm-9
                %textarea.form-control{:rows => "8", :placeholder => "Describe aquí el problema o lo que estás enfrentando", name: 'message'}
            .clearfix
            .row.m-t-15
              .col-sm-12.text-right
                %button.btn.btn-default{"data-dismiss" => "modal"}
                  %i.pg-close
                  Cancelar
                %button.btn.btn-success{:type => "submit"}
                  %i.fa.fa-send-o
                  Enviar
