- content_for :title  do
	= title_text_helper("Glosario")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-30.panel-title-ayuda
		.container-fluid
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row.col-md-12
					.col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
						%h2.text-white 
							Glosario de la plataforma
						- if current_user.admin?
							= link_to new_glossary_path do
								%button.btn.btn-tag.btn-tag-light.btn-tag-rounded.m-r-20
									%i.fa.fa-plus-circle
									Agregar término al vocabulario
					.col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
						%h5.text-white
							Expande tu vocabulario
						%p.m-b-25.text-white
							Aquí te presentamos el diccionario de la plataforma. En esta sección hemos recopilado una gran variedad de tecnicismos relacionados a nuestros cursos, los cuales seguro te ayudarán en tu travesía. No olvides revisar nuestras últimas definiciones periódicamente.  

.container-fluid.container-fixed-lg.p-t-15.minus-30
	.col-sm-7
		.panel.panel-default
			.panel-heading
				.panel-title Consulta nuestro glosario
			.panel-body
				%h5 Busca el término que te gustaría consultar
				= form_tag(glossaries_path, method: :get) do
					.form-group.form-group-default
						= label_tag nil, 'Tu búsqueda', class: 'highlight'
						= text_field_tag :key, params[:key], class: "form-control notification-message", placeholder: "Ej: Bitcoin..."
					.pull-right
						= submit_tag 'Buscar', class: "btn btn-success show-notification"
	.col-sm-5
		.panel.panel-default
			.panel-heading.p-b-20
				.panel-title El conocimiento es poder
			.panel-body
				%h4
					Asegúrate de mantener tus conocimientos actualizados.

.container-fluid.container-fixed-lg
	.col-sm-9
		.panel.panel-default
			.panel-heading
				.panel-title Descubre nuestras últimas definiciones
			.panel-body
				.table-responsive
					%table.table.table-hover
						%thead
							%tr
								%th{:width => "27%"}
									Entrada
								%th{:width => "20%"}
									Grupo
								%th
									Definición
						%tbody
							- if @glossaries.exists?
								- @glossaries.last(5).each do |glossary|
									%tr
										%td.p-t-15.p-b-15
											.pull-left
												= link_to glossary.term, glossary_path(glossary)
											- if current_user.admin?
												.pull-right.p-r-10
													= link_to edit_glossary_path(glossary) do
														%span.p-l-5.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Editar entrada"}
															%i.fa.fa-edit
													= link_to glossary_path(glossary), method: :delete, data: { confirm: '¿Estás seguro?' } do
														%span.p-l-10.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Eliminar entrada"}
															%i.fa.fa-times
										%td.p-t-15.p-b-15
											- category = owner_category(glossary)
											.pull-left
												= link_to category.title, glossary_category_path(category)
											- if current_user.admin?
												.pull-right.p-r-10
													= link_to edit_glossary_category_path(category) do
														%span.p-l-5.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Editar grupo"}
															%i.fa.fa-edit
													= link_to glossary_category_path(category), method: :delete, data: { confirm: '¿Estás seguro?' } do
														%span.p-l-10.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Eliminar grupo"}
															%i.fa.fa-times
										%td.p-t-15.p-b-15
											.text-overflow
												= raw glossary.definition
											- truncate(glossary.definition, :length => 70, :separator => ' ')
							- else
								%tr
									%td.p-t-15.p-b-15
										Aún no hay entradas
	.col-sm-3
		.panel.panel-default
			.panel-heading.m-b-20
				.panel-title Explora por categorías:
			.panel-body
				- if @categories.exists?
					%ul.no-style.unstyled.explore-fsize
						- @categories.each do |category|
							%li.m-b-20
								.pull-left
									= link_to glossary_category_path(category) do
										%i.p-l-10.fa.fa-angle-right
										= category.title
								- if current_user.admin?
									.pull-right
										= link_to edit_glossary_category_path(category) do
											%span.p-l-20.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Editar grupo"}
												%i.fa.fa-edit
										= link_to glossary_category_path(category), method: :delete, data: { confirm: '¿Estás seguro?' } do
											%span.p-l-10.tip{"data-toggle" => "tooltip", :type => "button", "data-original-title" => "Eliminar grupo"}
												%i.fa.fa-times
								.clearfix
				- else
					%p
						Aún no hay grupos





