- content_for :title  do
  Registro de visitas - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .pull-right
        .col-xs-12
          %input#search-table.form-control.pull-right{:placeholder => "Search", :type => "text"}/
      .clearfix
    .panel-body
      %table.table.table-hover.datatable
        %thead
          %tr
            %th
              Usuario
            %th
              Navegador
            %th
              Dispositivo
            %th
              Sistema operativo
            %th
              Inició de sesión
        %tbody
          - @visits.each do |visit|
            %tr
              %td
                - unless visit.user.nil?
                  = visit.user.email
              %td
                = visit.browser
              %td
                = visit.device_type
              %td
                = visit.os
              %td
                = l visit.started_at, format: :special

      .row
        %h2.text-center
          Actividad de usuarios

        = line_chart Visit.group_by_day(:started_at).count

      .row
        .col-md-6
          %h2.text-center
            Navegadores
          = pie_chart Visit.group(:browser).count

        .col-md-6
          %h2.text-center
            Dispositivos
          = pie_chart Visit.group(:device_type).count

        .col-md-6
          %h2.text-center
            Sistema operativo
          = pie_chart Visit.group(:os).count

        .col-md-6
          %h2.text-center
            Región

          = geo_chart Visit.group(:region).count, library: {region: 'MX', resolution: 'provinces'}


