- content_for :title  do
  Editar entregable - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-recursos
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Editar entregable
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            .m-t-20
              %span.text-white.flag-text-size.p-r-10
                Entregable:
              %span.text-white.name-text-size
                = Delireverable.find(params[:id]).name

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-4.b-r.b-dashed.b-grey.sm-b-b
              .p-r-30.p-l-30.p-b-30.p-t-15.sm-padding-5.sm-m-t-15
                %i.fa.fa-edit.fa-2x.hint-text
                .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
                  = Delireverable.find(params[:id]).name
                %p
                  Utiliza este formulario para editar el estado del entregable de este alumno y para agregar comentarios sobre el mismo.
            .col-md-7
              .p-r-30.p-l-30.p-b-30.p-t-20.sm-padding-5.sm-m-t-15
                .p-b-15
                  = bootstrap_form_for([:mentor, @user, @delireverable_user], url: mentor_student_delireverable_user_path(@user, @delireverable_user), method: :put) do |f|
                    = f.select(:status, [['Enviado', 'sent'], ['Revisado', 'reviewed']])
                    = f.text_area :comments, label: 'Comentarios', rows: "3"
                    = link_to "Cancelar", mentor_student_path(@user), class: "btn btn-danger"
                    = f.submit 'Guardar cambios', class: "btn btn-primary"
