= form_for :conversation , url: :conversations, html: { class: "",:onsubmit => "return validar()"  } do |f|
	- if current_user.mentor? || current_user.profesor? 
		.form-group
			Puedes enviar un mensaje a estudiantes individuales o a todo un grupo:
		.form-group
			= f.label 'Mis estudiantes'
			/= f.select(:recipients, @contacts.collect {|p|[p.name, p.id]}, {include_blank: "contactos..."},{class: "form-control js-example-basic-single", required: true })  
			= f.select :loner_recipients, @contacts.collect {|p|[p.name, p.id]}, {include_blank: "contactos..."}, multiple: 'multiple', class: "form-control js-example-basic-single"
		.form-group
			= f.label 'Mis grupos'
			= f.select :group_recipients, @groups.collect {|g|[g.name, g.id]}, {include_blank: "grupos..."}, multiple: 'multiple', class: "form-control js-example-basic-single"
	- else 
		- if current_user.coach.nil?
			.form-group
				= f.label 'Mis Profesores'
				= f.select(:recipients, @contacts.collect {|p|[p.name, p.id]},{include_blank: "contactos..."},{class: "form-control js-example-basic-single", required: true })
		- else
			.form-group
				= f.label 'Este mensaje será enviado a tus mentores'
				= f.hidden_field :recipients, :value => current_user.coach.id
	.form-group
		= f.label :asunto
		= f.text_field :subject, class: "form-control", required: true 
	.form-group
		= f.label :mensaje 
		= f.text_area :body, class: "form-control editable", placeholder: "Escribe tu mensaje aquí", rows:4, style: "height:90px; background-color:white;" 
	.form-group
		= f.label :adjuntar
		= f.file_field :attachment  
	.cell-center-div
		=f.submit "Enviar", class: "btn btn-success" 

	