<%= form_for :conversation , url: :conversations, html: { class: "" } do |f| %>
	
	<% if current_user.mentor?%>
	<div class="form-group">
		<%= f.label :contactos %>
		<%= f.select(:recipients, @contacts.collect {|p|[p.name, p.id]},{include_blank:"Contactos..."},{class: "form-control"})  %>
	</div>
	<%end%>
	<% if current_user.student?%>
	<div class="form-group">
		<%= f.label :contactos %>
		<%= f.select(:recipients, @contacts.collect {|p|[p.name, p.id]},{include_blank:"Contactos..."},{class: "form-control"})  %>
	</div>
	<%end%>
	<div class="form-group">
		<%= f.label :asunto%>
		<%= f.text_field :subject, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :mensaje %>
		<%= f.text_area :body, class: "form-control", placeholder: "Escribe tu mensaje aqui", rows:4 %>
	</div>
	<%=f.submit "Enviar", class: "btn btn-success" %>
<%end%>			