= form_for :conversation , url: :conversations, html: { class: "",:onsubmit => "return validar()"  } do |f|
	.form-group
		= f.label :contactos
		= f.select(:recipients, @contacts.collect {|p|[p.name, p.id]},{include_blank:"Contactos..."},{class: "form-control js-example-basic-single", required: true })  
	.form-group
		= f.label :asunto
		= f.text_field :subject, class: "form-control", required: true 
	.form-group
		= f.label :mensaje 
		= f.text_area :body, class: "form-control ckeditor", placeholder: "Escribe tu mensaje aqui", rows:4, required: true
	.form-group
		= f.label :adjuntar
		= f.file_field :attachment  
	=f.submit "Enviar", class: "btn btn-success" 

	