
<% @receipts.each do |receipt| %>
	<% message= receipt.message %>
	<% if message.sender.id != current_user.id%>
	<div class="media">
		<div class="media-left">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="conversacion" src="<%=image_path('verde.png') %>" alt="...">	
			</a>
		</div>

		<div class="media-body trans" id="<%= if message.id == @receipts.last.message.id then 'last' else '' end%>">
			<strong class="l"><%= message.sender.name %>:</strong><br>
			<div class="l"><%= message.body.html_safe %> 
				<% if message.attachment.length > 0 %>
					<%= link_to "#{message.attachment}", html_options ={download: message.attachment} do %>
						<i class="glyphicon glyphicon-paperclip"></i>
					<%end%>
				<%end%>
			</div>
			<!--<br>-->
			<small class="l">
				<%= distance_of_time_in_words(message.created_at.to_i, Time.now.to_i) %>
			</small>
		</div>
		<div class="t-l"></div>	
	</div>
	<%else%>
	<div class="media">
		<div class="media-body trans"  id="<%= if message.id == @receipts.last.message.id then 'last' else '' end%>">
			<div class="pull-right r">
				<strong  class="pull-right"><%= message.sender.name %>:</strong><br>
				<div class="pull-right"><%= message.body.html_safe %>
					<% if message.attachment.length > 0 %>
						<%= link_to "#{message.attachment}", html_options ={download: message.attachment} do %>
							<i class="glyphicon glyphicon-paperclip"></i>
						<%end%>
					<%end%>
				</div>
				<br>
				<div class="pull-right">
					<small>
						<%= distance_of_time_in_words(message.created_at.to_i, Time.now.to_i) %>		
					</small>
				</div>
			</div>
		</div>
		<div class="media-right">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="conversacion" src="<%=image_path('morado.png') %>" alt="...">
			</a>		
		</div>
		<div class="t-r"></div>
	</div>
	<%end%>	
<%end%>
<script type="text/javascript">
	
</script>