
<% @receipts.each do |receipt| %>
	<% message= receipt.message %>
	<% if message.sender.id != current_user.id%>
	<div class="media">
		<div class="media-left">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="media-object" src="http://placehold.it/64x64" alt="...">	
			</a>
		</div>

		<div class="media-body alert alert-warning" id="<%= if message.id == @receipts.last.message.id then 'last' else '' end%>">
			<strong><%= message.sender.name %>:</strong><br>
			<div><%= message.body.html_safe %> 
				<% if message.attachment.length > 0 %>
					<%= link_to "#{message.attachment}", html_options ={download: message.attachment} do %>
						<i class="glyphicon glyphicon-paperclip"></i>
					<%end%>
				<%end%>
			</div>
			<br>
			<%= distance_of_time_in_words(message.created_at.to_i, Time.now.to_i) %>
		</div>	
	</div>
	<%else%>
	<div class="media">
		<div class="media-body alert alert-info"  id="<%= if message.id == @receipts.last.message.id then 'last' else '' end%>">
			<div class="pull-right">
				<strong  class="pull-right"><%= message.sender.name %>:</strong><br>
				<div class="pull-right"><%= message.body.html_safe %>
					<% if message.attachment.length > 0 %>
						<%= link_to "#{message.attachment}", html_options ={download: message.attachment} do %>
							<i class="glyphicon glyphicon-paperclip"></i>
						<%end%>
					<%end%>
				</div>
				<br>
				<div class="pull-right"><%= distance_of_time_in_words(message.created_at.to_i, Time.now.to_i) %></div>
			</div>	
		</div>
		<div class="media-right">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="media-object" src="http://placehold.it/64x64" alt="...">
			</a>		
		</div>	
	</div>
	<%end%>	
<%end%>
<script type="text/javascript">
	
</script>