
<% @receipts.reverse_each do |receipt| %>
	<% message= receipt.message %>
	<% if message.sender.id != current_user.id%>
	<div class="media">
		<div class="media-left">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="media-object" src="http://placehold.it/64x64" alt="...">	
			</a>
		</div>

		<div class="media-body alert alert-warning">
			<b><%= message.sender.name %>:</b><br>
			<%= message.body.html_safe %> <br>
			<%= message.created_at.strftime("%b %d, %Y at %I:%M%p") %>
			<% if message.attachment.length > 0 %>
				<%= link_to "Descargar", "#{message.attachment}", html_options ={download: message.attachment} %>
			<%end%>
		</div>	
	</div>
	<%else%>
	<div class="media">
		<div class="media-body alert alert-info">
			<div class="pull-right">
				<b  class="pull-right"><%= message.sender.name %>:</b><br>
				<%= message.body.html_safe %><br>
				<%= message.created_at.strftime("%b %d, %Y at %I:%M%p") %>
				<% if message.attachment.length > 0 %>
					<%= link_to "Descargar", "#{message.attachment}", html_options ={download: message.attachment} %>
				<%end%>
			</div>	
		</div>
		<div class="media-right">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="media-object" src="http://placehold.it/64x64" alt="...">
			</a>		
		</div>	
	</div>
	<%end%>	
<%end%>