
<% @receipts.reverse_each do |receipt| %>
	<% message= receipt.message %>
	<% if message.sender.id != current_user.id%>
	<div class="media">
		<div class="media-left">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="media-object" src="http://placehold.it/64x64" alt="...">	
			</a>
		</div>

		<div class="media-body alert alert-warning">
			<b><%= message.sender.name %>:</b><br>
			<%= message.body %>
		</div>	
	</div>
	<%else%>
	<div class="media">
		<div class="media-body alert alert-info">
			<div class="pull-right">
				<b><%= message.sender.name %>:</b><br>
				<%= message.body %>
			</div>	
		</div>
		<div class="media-right">
			<a data-toggle="tooltip" title="<%= message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %>">
				<img class="media-object" src="http://placehold.it/64x64" alt="...">
			</a>		
		</div>	
	</div>
	<%end%>	
<%end%>