- @receipts.each do |receipt|
  - message= receipt.message
  - if message.sender.id != current_user.id
    .media
      .media-left
        %a{"data-toggle" => "tooltip", :title => "#{message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p")}"}
          %img.conversacion{:alt => "...", :src => "#{image_path('verde.png')}"}/
      .media-body.trans{:id => "#{if message.id == @receipts.last.message.id then 'last' else '' end}"}
        - if message.sender.student?
          = link_to mentor_student_path(message.sender.id) do
            %strong.l
              = message.sender.name
              \:
            %br/
        -else
          %strong.l
            = message.sender.name
            \:
          %br/  
        .l
          = message.body.html_safe
          %br/
          - att = MailboxAttachment.where(message_id: message.id).first
          - unless att.nil?
            = link_to "#{att.file.url}", html_options ={download: att.file.url} do
              = att.file_identifier
              %i.glyphicon.glyphicon-paperclip
        / <br>
        %small.l
          = distance_of_time_in_words(message.created_at.to_i, Time.now.to_i)
      .t-l
  - else
    .media
      .media-body.trans{:id => "#{if message.id == @receipts.last.message.id then 'last' else '' end}"}
        .pull-right.r
          - if message.sender.student?
            = link_to mentor_student_path(message.sender.id) do
              %strong.pull-right
                = message.sender.name
                \:
              %br/
          -else
            %strong.pull-right
              = message.sender.name
              \:
            %br/    
          .pull-right
            = message.body.html_safe
          %br/
          .pull-rigth  
            - att = MailboxAttachment.where(message_id: message.id).first
            - unless att.nil?
              = link_to "#{att.file.url}", html_options ={download: att.file.url, class: "pull-right"} do
                = att.file_identifier
                %i.glyphicon.glyphicon-paperclip
          .pull-right
            %small
              = distance_of_time_in_words(message.created_at.to_i, Time.now.to_i)
      .media-right
        %a{"data-toggle" => "tooltip", :title => "#{message.created_at.strftime("%A, %b, %d, %Y at %I:%M%p")}"}
          %img.conversacion{:alt => "...", :src => "#{image_path('morado.png')}"}/
      .t-r
