%span= question.question_text
%span.option
  = link_to 'Editar', edit_quiz_quiz_question_path(quiz, question)
%span.option
  = link_to 'Eliminar', quiz_quiz_question_path(quiz, question), method: :delete, data: {confirm: '¿Estás seguro?'}
.question-wrapper
  = render partial: "quiz_questions/inputs/#{question.question_type}", locals: { question: question }
%span.option
  Valor:
  = question.points
  puntos
