.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h2
        Grupos a los que tienes acceso
    .panel-body
      .col-md-3.pull-right
        %input#group-search.form-control.pull-right{:placeholder => "Search", :type => "text"}/
      %table.table.table-striped
        %thead
          %tr
            %th{:width => '20%'}
              Nombre del grupo
            %th{:width => '30%'}
              Programas vinculados
            %th{:width => '25%'}
              Profesores vinculados
            %th
              Estadísticas 
        %tbody
          - @groups.each do |group|
            %tr
              %td
                .m-b-10
                  = link_to group.name, mentor_group_path(group)
                %ul.p-l-0.m-b-0
                  %li.inline 
                    Clave: 
                  %li.inline 
                    %strong
                      = group.key
              %td.p-b-20
                %ol.p-l-20
                  - group.programs.each do |program|
                    %li
                      = program.name
              %td.p-b-20
                - group.users.each do |user|
                  %ul.p-l-10.m-b-0
                    %li.inline 
                      %i.fa.fa-angle-right 
                    %li.inline 
                      = user.name
              %td.p-b-20
                %ul.unstyled.no-style
                  - current_stats = group.get_group_stat(group)
                  - if !current_stats.nil?
                    %li
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-user 
                        %li.inline 
                          Alumnos del grupo: 
                          %strong #{current_stats.group_students}
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-check-square-o
                        %li.inline 
                          Alumnos evaluados: 
                          %strong #{current_stats.evaluated_students}
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-eye 
                        %li.inline 
                          Promedio visto:  
                          %strong
                            #{current_stats.average_seen.ceil if !current_stats.average_seen.nil? }%
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-rocket
                        %li.inline 
                          Promedio contestado: 
                          %strong
                            #{current_stats.average_progress.ceil if !curren_stats.average_progress.nil? }%
                    %li.m-t-15
                      = link_to generate_group_stats_path(group) do
                        %ul.p-l-5.m-b-0
                          %li.inline.p-l-0
                            %i.fa.fa-rotate-right
                          %li.inline 
                            Actualizar estadísticos
                        %ul.p-l-20.m-b-0{:style => "font-size: 0.8em;"}
                          %li.inline 
                            * Última vez: 
                            = l current_stats.updated_at, format: :short_no_year
                  - else
                    %li.m-t-15
                      = link_to generate_group_stats_path(group) do
                        %ul.p-l-5.m-b-0
                          %li.inline.p-l-0
                            %i.fa.fa-line-chart
                          %li.inline 
                            Generar estadísticos
      .pull-right
        = paginate @groups
        %br
        %span.text-center= page_entries_info @groups
/              %td.p-b-20
/                - complete = [] #vector-contador global a
/                - check = [] #vector-contador global b
/                - ave = [] #vector-contador global c
/                - group.active_students.each do |student|
/                  - control_a = [] #vector-contador a por alumno
/                  - control_b = [] #vector-contador b por alumno
/                  - ave << student.answered_questions_percentage
/                  - group.programs.each do |program|
/                    - (student.percentage_questions_answered_for(program) >= 95) ? control_a << 1 : control_a << 0
/                    - program.program_checked?(program, student) ? control_b << 1 : control_b << 0
/                  - complete << (control_a.detect{|i| i == 0 } ? 0 : 1)
/                  - check << (control_b.detect{|i| i == 0 } ? 0 : 1)
/                %ul.p-l-10.m-b-0
/                  %li.inline 
/                    %i.fa.fa-edit 
/                  %li.inline 
/                    Alumnos completos:  
/                    %strong #{complete.count(1)} / #{complete.size}
/                %ul.p-l-10.m-b-0
/                  %li.inline 
/                    %i.fa.fa-check
/                  %li.inline 
/                    Alumnos revisados:
/                    %strong #{check.count(1)} / #{check.size}
/                %ul.p-l-10.m-b-0
/                  %li.inline 
/                    %i.fa.fa-rocket
/                  %li.inline 
/                    Avance global de grupo:
/                    -unless ave.nil?
/                      %strong #{0}%
/                    -else   
/                      %strong #{(ave.inject{ |sum, el| sum + el }.to_f / ave.size).ceil}%
