- content_for :title  do
  Grupos - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-perfil
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Tus grupos
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Monitorea tus grupos asignados
            %p.m-b-25.text-white
              En esta sección encontrarás los grupos que están inscritos bajo tu mentoría, así como sus programas y estadísticas vinculadas a ellos. ¡No olvides revisarlos constantemente!

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .col-md-3.pull-right
        %input#group-search.form-control.pull-right{:placeholder => "Buscar", :type => "text"}/
      %table.table.table-striped
        %thead
          %tr
            %th{:width => '20%'}
              Nombre del grupo
            %th{:width => '30%'}
              Programas vinculados
            %th{:width => '25%'}
              Profesores vinculados
            %th
              Estadísticas 
        %tbody
          - @groups.each do |group|
            %tr
              %td
                .m-b-10
                  %h5
                    = link_to group.name, mentor_group_path(group)
                  - group.key
                %ul.p-l-0.m-b-10
                  %li.inline 
                    = link_to mentor_group_path(group) do
                      %i.fa.fa-eye
                      Ir a detalle de grupo
                  %li.inline 
                    = link_to template_refilables_mentor_group_path(group) do
                      %i.fa.fa-pencil
                      Ir a plantillas del grupo
                  %li.inline 
                    = link_to quizzes_mentor_group_path(group) do
                      %i.fa.fa-file-text-o
                      Ir a evaluaciones del grupo        
                %ul.p-l-0.m-b-10
                  %li.inline 
                    = link_to progress_panel_path(group) do
                      %i.fa.fa-line-chart
                      Ver progreso de grupo
                %ul.p-l-0.m-b-10
                  %li.inline 
                    = link_to inactive_students_mentor_group_path(group) do
                      %i.fa.fa-male
                      Ver usuarios inactivos (#{group.inactive_students.count})
              %td.p-b-20
                - sort_programs(group, group.all_programs).each_with_index do |program, index|
                  .label.m-b-5.program-labels{"data-toggle": "tooltip", "data-original-title": "#{program.name}"}
                    = !program.short_name.nil? ? program.short_name : "P-#{index}"
              %td.p-b-20
                - group.users.each do |user|
                  %ul.p-l-10.m-b-0
                    %li.inline 
                      %i.fa.fa-angle-right 
                    %li.inline 
                      = user.name
              %td.p-b-20
                %ul.unstyled.no-style
                  - current_stats = group.get_group_stat(group)
                  - if !current_stats.nil?
                    %li
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-user 
                        %li.inline 
                          Alumnos del grupo: 
                          %strong #{current_stats.group_students}
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-check-square-o
                        %li.inline 
                          Alumnos evaluados: 
                          %strong #{current_stats.evaluated_students}
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-eye 
                        %li.inline 
                          Promedio visto:  
                          %strong
                            #{ current_stats.average_seen.nil? ? 0 : current_stats.average_seen.ceil }%
                      %ul.p-l-5.m-b-0
                        %li.inline.p-l-0
                          %i.fa.fa-rocket
                        %li.inline 
                          Promedio contestado: 
                          %strong
                            #{ current_stats.average_progress.nil? ? 0 : current_stats.average_progress.ceil }%
                    %li.m-t-15
                      = link_to generate_group_stats_path(group) do
                        %ul.p-l-5.m-b-0
                          %li.inline.p-l-0
                            %i.fa.fa-rotate-right
                          %li.inline 
                            Actualizar estadísticos
                        %ul.p-l-20.m-b-0{:style => "font-size: 0.8em;"}
                          %li.inline 
                            * Última vez: 
                            = l current_stats.updated_at, format: :short_no_year
                  - else
                    %li.m-t-15
                      = link_to generate_group_stats_path(group) do
                        %ul.p-l-5.m-b-0
                          %li.inline.p-l-0
                            %i.fa.fa-line-chart
                          %li.inline 
                            Generar estadísticos
      .pull-right
        = paginate @groups
        %br
        %span.text-center= page_entries_info @groups
