- content_for :title  do
  = title_text_helper("Grupos")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-perfil
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h5.text-white.m-b-0 
              Detalle de grupo
            .h-group-title.text-white.m-t-0
              #{@group.name}
              - if @group.trial
                .label.label-success Trial
              - if !@group.group_trial.nil? && @group.group_trial.trial == true
                .label.label-success Premium    
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Monitorea el avance de los grupos a los que estás vinculado, así como el avance de cada alumno. 
            = link_to  mentor_groups_path, class: 'btn btn-sm btn-complete btn-cons m-b-10' do
              %i.fa.fa-reply
              %span.bold Regresar a mis grupos

- current_stats = @group.group_stat
.container-fluid.container-fixed-lg
  - if !current_stats.nil?
    .panel.panel-transparent
      .row.p-l-5.p-r-5
        .col-sm-4
          .panel.panel-default
            .widget-10.panel.no-border.bg-white.no-margin.widget-loader-bar{style: "height: 120px; !important;"}
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Alumnos de grupo
                    %i.fa.fa-chevron-right
              .panel-body.p-t-40
                .row
                  .col-sm-12
                    %h4.no-margin.p-b-5.text-success.semi-bold #{current_stats.group_students} alumnos
                    .pull-left.small
                      %span 
                        = link_to generate_group_stats_path(@group) do
                          %i.fa.fa-rotate-right
                          Actualizar estadísticos
                      %span.text-success.font-montserrat
                        %i.fa.fa-caret-up.m-l-10
                        Última vez:
                        = l current_stats.updated_at, format: :short_no_year
                    .clearfix
        .col-sm-4
          .panel.panel-default
            .widget-10.panel.no-border.bg-white.no-margin.widget-loader-bar{style: "height: 120px; !important;"}
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Alumnos evaluados
                    %i.fa.fa-chevron-right
              .panel-body.p-t-40
                .row
                  .col-sm-12
                    %h4.no-margin.p-b-5.text-success.semi-bold #{current_stats.evaluated_students} alumno(s)
                    .pull-left.small
                      %span ESTADO:
                      %span.text-danger.font-montserrat.small-text
                        - if current_stats.group_students >= 1
                          #{((current_stats.evaluated_students.to_f / current_stats.group_students)*100).ceil}% 
                        - else
                          0%
                      %span de los alumnos han sido evaluados
                    .clearfix
        .col-sm-4
          .panel.panel-default
            .widget-10.panel.no-border.bg-white.no-margin.widget-loader-bar{style: "height: 120px; !important;"}
              .panel-heading.top-left.top-right
                .panel-title.text-black.hint-text
                  %span.font-montserrat.fs-11.all-caps
                    Avances de grupo
                    %i.fa.fa-chevron-right
              .panel-body.p-t-40
                .row.p-t-5
                  .col-sm-11
                    .small.p-b-5
                      %span.small-text Promedio visto: 
                      %span.text-success.font-montserrat.small-text #{current_stats.average_seen.ceil unless current_stats.average_seen.nil?}%
                    .progress.progress-small.m-b-5
                      .progress-bar.progress-bar-primary{:style => "width: #{current_stats.average_seen.ceil unless current_stats.average_seen.nil?}%"}
                  .col-sm-11
                    .small.p-b-5
                      %span.small-text Promedio contestado: 
                      %span.text-success.font-montserrat.small-text #{current_stats.average_progress.ceil unless current_stats.average_progress.nil?}%
                    .progress.progress-small.m-b-5
                      .progress-bar.progress-bar-primary{:style => "width: #{current_stats.average_progress.ceil unless current_stats.average_progress.nil? }%"}
  - else
    .panel.panel-transparent
      .row.p-r-5.p-l-5
        .col-sm-12 
          .panel.panel-default
            .panel-body
              .col-md-5
                %h4 Este grupo no tiene estadísticas aún...
              .col-md-7
                = link_to generate_group_stats_path(@group), class: 'btn btn-sm btn-complete btn-cons m-t-10' do
                  %i.fa.fa-line-chart
                  Generar estadísticos

.container-fluid.container-fixed-lg
  .panel.panel-transparent
    .row.p-r-5.p-l-5
      .col-sm-12 
        .panel.panel-default
          .panel-body
            .row
              .col-md-12
                .pull-right
                  .btn-group.hidden-xs.m-t-10{"role" => "group", "aria-label" => "..."}
                    = link_to "Programas", mentor_group_path(@group), class: 'btn btn-default active'
                    = link_to "Plantillas", template_refilables_mentor_group_path(@group), class: 'btn btn-default'
                    = link_to "Evaluaciones", quizzes_mentor_group_path(@group), class: 'btn btn-default'
                .btn-group-vertical.visible-xs.m-t-10{"role" => "group", "aria-label" => "..."}
                  = link_to "Programas", mentor_group_path(@group), class: 'btn btn-default active'
                  = link_to "Plantillas", template_refilables_mentor_group_path(@group), class: 'btn btn-default'
                  = link_to "Evaluaciones", quizzes_mentor_group_path(@group), class: 'btn btn-default'
            .row.m-b-10
              .col-md-12
                %h5
                  Programas habilitados
                  %span.text-success.font-montserrat{style: "font-size: 12px !important;"}
                    (#{@programs.count} programas)
                .m-t-10.p-l-20
                  - @programs.each_with_index do |program, index|
                    = link_to mentor_program_details_path(group_id: @group, program_id: program) do
                      .label.program-labels{"data-toggle": "tooltip", "data-original-title": "#{program.name}"}
                        = !program.short_name.nil? ? program.short_name : "P-#{index}"          
            .row.m-b-10
              .col-md-12
                %h5
                  Mentores vinculados
                  %span.text-success.font-montserrat{style: "font-size: 12px !important;"}
                    (#{@group.users.where(role: [1, 4]).count} mentores)
                .m-t-10.p-l-20
                  - @group.users.where(role: [1, 4]).each_with_index do |user, index|
                    %span.m-l-5.text-success
                      #{ (index != 0) ? "/ " : ""} 
                    %span.m-l-5
                      #{user.name}      
                     

.container-fluid.container-fixed-lg
  .panel.panel-transparent
    .row.p-r-5.p-l-5
      .col-sm-12
        .panel.panel-default
          .panel-body
            .row.m-b-20
              .col-xs-12
                %h4
                  Lista de alumnos
              .col-xs-12.col-sm-4
                .m-t-10
                  %input#group_student.form-control{:placeholder => "Buscar", :type => "text" }/
              .col-xs-12.col-sm-8
                .pull-right.m-t-10.cell-up-ml5.cell-ml5   
                  = link_to mentor_group_path(@group, format: :xlsx), class: "btn btn-success" do
                    Exportar xls
                    %i.fa.fa-file-excel-o
                .pull-right.m-t-10
                  = link_to codes_mentor_group_path(@group, format: :xlsx), class: "btn btn-success" do
                    = "Códigos de activación (#{@group.inactive_students.count})"
                    %i.fa.fa-file-excel-o
                .clearfix       

            .table-responsive   
              %table.table.table-striped
                %thead
                  %th{width: "27%"}
                    Datos del alumno
                  %th{width: "23%"}
                    Avances del alumno
                  %th
                    Programas inscritos
                  %th
                    Estado de evaluación
                %tbody
                  -if @students.count > 0
                    - @students.each_with_index do |student, index|
                      %tr
                        %td.p-b-20
                          .m-b-5
                            = link_to student.name, mentor_student_path(student)
                          %ul.p-l-0.m-b-0
                            %li.inline 
                              %i.fa.fa-envelope
                            %li.inline 
                              = student.email
                          %ul.p-l-0.m-b-0
                            %li.inline 
                              = link_to summary_mentor_student_path(student) do
                                %i.fa.fa-bolt
                                Ver resumen
                        %td
                          .m-b-10
                            %i.fa.fa-edit
                            %span Preguntas contestadas:
                            %strong #{student.user_progress.ceil}%
                          .m-b-10
                            %i.fa.fa-eye
                            %span Contenido visto:
                            %strong #{student.user_seen.ceil}%
                        %td.td-program-labels-wide
                          %ul.list-inline.no-style.unstyled
                            - @programs.each_with_index do |program, index|
                              %li
                                - program_stat = ProgramStat.where(user_id: student.id, program_id: program.id).last
                                - review = (program_stat.nil? || program_stat.checked == 0) ? false : true
                                - progress_percentage = student.integral_percentage_progress_for(program)
                                - if progress_percentage > 0
                                  = link_to mentor_evaluations_path(user_id: student, program_id: program) do
                                    - if progress_percentage > 95
                                      .label.label-success.program-labels{:class => "#{review ? '' : 'p-sides-14-2'}", "data-toggle": "tooltip", "data-original-title": "#{program.name}"}
                                        = !program.short_name.nil? ? program.short_name : "P-#{index}"
                                        %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                                    - else
                                      .label.program-labels{:class => "#{(progress_percentage > 0) ? 'label-warning' : ''} #{review ? '' : 'p-sides-14-2'}", "data-toggle": "tooltip", "data-original-title": "#{program.name}"}
                                        = !program.short_name.nil? ? program.short_name : "P-#{index}"
                                        %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                                - else
                                  = link_to mentor_evaluations_path(user_id: student, program_id: program) do
                                    .label.program-labels{"data-toggle": "tooltip", "data-original-title": "Programa sin estadísticos"}
                                      ???
                        %td.text-center
                          - prepared = student.check_ready.nil? ? student.ready_to_check? : student.check_ready
                          %input{type: "hidden", id: "student_ready_#{student.id}", value: prepared.to_s}
                          %input{type: "hidden", id: "student_key_#{student.id}", value: student.id}
                          - student_eval = (student.evaluation_status == 'evaluado') ? 1 : 0
                          %label.switch{{id: "switch_#{student.id}"}, {"data-toggle": "tooltip"}, (student_eval==0) ? {"data-original-title": "Marcar alumno como evaluado"} : {"data-original-title": "Remover marca de evaluado"}}
                            - if student_eval == 1
                              %input{{type: "checkbox"}, {id: "checking_eval_#{student.id}"}, {value: student_eval}, {name: "student_eval[checked]"}, {checked: :true}, prepared ? {} : { disabled: true }}
                            - else
                              %input{{type: "checkbox"}, {id: "checking_eval_#{student.id}"}, {value: student_eval}, {name: "student_eval[checked]"}, prepared ? {} : { disabled: true }}
                            .slider.round
                          :javascript
                            $(document).ready(function(){
                              if ($("#student_ready_" + #{student.id}).val() == "false") {
                                $("#checking_eval_" + #{student.id}).each(function() {
                                  $('#switch_' + #{student.id}).append('<div id="disabledClick_#{student.id}" style="position:absolute;top:0px;left:0px;width:62px;height:36px;background:transparent;cursor:pointer;"></div>');
                                });
                                $("#disabledClick_" + #{student.id}).click(function() {
                                  $("#alert_text_error").text("El alumno debe tener todos los programas evaluados");
                                  $("#alert-ra-error").css('display','block');
                                  setTimeout(function(){$("#alert-ra-error").css('display','none');},4000);
                                });

                              } else {
                              
                                $("#checking_eval_" + #{student.id}).change(function(){
                                  var user_id = $("#student_key_" + #{student.id}).val();
                                  $.ajax({
                                    type: "post",
                                    url: "/change_evaluation", 
                                    data: {user_id},
                                    success: function(data){
                                      if (data.eval){
                                        $("#alert_text").text("El alumno ha sido marcado como evaluado");
                                      }else{
                                        $("#alert_text").text("El alumno dejó de estar marcado como evaluado");
                                      }
                                      $("#alert-ra").css('display','block');
                                      setTimeout(function(){$("#alert-ra").css('display','none');},4000);
                                    },
                                    error: function (data) {
                                      console.log(data);
                                    } 
                                  });
                                });

                              }
                            });
                  - else
                    %tr
                      %td.text-center{colspan: 4}
                        %strong No alumnos en este grupo          
            %center
              =paginate @students, :param_name => "page_students"  
  .panel.panel-default
    .panel-body
      .row.m-b-20
        .col-xs-12
          %h4
            Lista de mentores
        .col-xs-6
          .pull-left.m-t-10
            %input#group_student.form-control{:placeholder => "Buscar", :type => "text"}/ 
        .col-xs-6
          .pull-right.m-t-10
            = link_to mentor_group_path(@group, format: :xlsx), class: "btn btn-success" do
              Exportar xls 
              %i.fa.fa-file-excel-o 

      .table-responsive   
        %table.table.table-striped
          %thead
            %th{width: "27%"}
              Datos del mentor
            %th{width: "23%"}
              Avances del mentor
            %th
              Programas inscritos
            %th
              Estado de evaluación
          %tbody
            - if @mentors.count > 0
              - @mentors.each_with_index do |mentor, index|
                %tr
                  %td.p-b-20
                    .m-b-5
                      = link_to mentor.name, mentor_student_path(mentor)
                    %ul.p-l-0.m-b-0
                      %li.inline 
                        %i.fa.fa-envelope
                      %li.inline 
                        = mentor.email
                    %ul.p-l-0.m-b-0
                      %li.inline 
                        = link_to summary_mentor_student_path(mentor) do
                          %i.fa.fa-bolt
                          Ver resumen
                  %td
                    .m-b-10
                      %i.fa.fa-edit
                      %span Preguntas contestadas:
                      %strong #{mentor.user_progress.ceil}%
                    .m-b-10
                      %i.fa.fa-eye
                      %span Contenido visto:
                      %strong #{mentor.user_seen.ceil}%
                  %td.td-program-labels-wide
                    %ul.list-inline.no-style.unstyled
                      - @programs.each_with_index do |program, index|
                        %li
                          - program_stat = ProgramStat.where(user_id: mentor.id, program_id: program.id).last
                          - review = (program_stat.nil? || program_stat.checked == 0) ? false : true
                          - progress_percentage = mentor.integral_percentage_progress_for(program)
                          - if progress_percentage > 0
                            = link_to mentor_evaluations_path(user_id: mentor, program_id: program) do
                              - if progress_percentage > 95
                                .label.label-success.program-labels{:class => "#{review ? '' : 'p-sides-14-2'}", "data-toggle": "tooltip", "data-original-title": "#{program.name}"}
                                  = !program.short_name.nil? ? program.short_name : "P-#{index}"
                                  %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                              - else
                                .label.program-labels{:class => "#{(progress_percentage > 0) ? 'label-warning' : ''} #{review ? '' : 'p-sides-14-2'}", "data-toggle": "tooltip", "data-original-title": "#{program.name}"}
                                  = !program.short_name.nil? ? program.short_name : "P-#{index}"
                                  %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                          - else
                            = link_to mentor_evaluations_path(user_id: mentor, program_id: program) do
                              .label.program-labels{"data-toggle": "tooltip", "data-original-title": "Programa sin estadísticos"}
                                ???
                  %td.text-center
                    - prepared = mentor.check_ready.nil? ? mentor.ready_to_check? : mentor.check_ready
                    %input{type: "hidden", id: "student_ready_#{mentor.id}", value: prepared.to_s}
                    %input{type: "hidden", id: "student_key_#{mentor.id}", value: mentor.id}
                    - student_eval = (mentor.evaluation_status == 'evaluado') ? 1 : 0
                    %label.switch{{id: "switch_#{mentor.id}"}, {"data-toggle": "tooltip"}, (student_eval==0) ? {"data-original-title": "Marcar alumno como evaluado"} : {"data-original-title": "Remover marca de evaluado"}}
                      - if student_eval == 1
                        %input{{type: "checkbox"}, {id: "checking_eval_#{mentor.id}"}, {value: student_eval}, {name: "student_eval[checked]"}, {checked: :true}, prepared ? {} : { disabled: true }}
                      - else
                        %input{{type: "checkbox"}, {id: "checking_eval_#{mentor.id}"}, {value: student_eval}, {name: "student_eval[checked]"}, prepared ? {} : { disabled: true }}
                      .slider.round
                    :javascript
                      $(document).ready(function(){
                        if ($("#student_ready_" + #{mentor.id}).val() == "false") {
                          $("#checking_eval_" + #{mentor.id}).each(function() {
                            $('#switch_' + #{mentor.id}).append('<div id="disabledClick_#{mentor.id}" style="position:absolute;top:0px;left:0px;width:62px;height:36px;background:transparent;cursor:pointer;"></div>');
                          });
                          $("#disabledClick_" + #{mentor.id}).click(function() {
                            $("#alert_text_error").text("El alumno debe tener todos los programas evaluados");
                            $("#alert-ra-error").css('display','block');
                            setTimeout(function(){$("#alert-ra-error").css('display','none');},4000);
                          });

                        } else {
                        
                          $("#checking_eval_" + #{mentor.id}).change(function(){
                            var user_id = $("#student_key_" + #{mentor.id}).val();
                            $.ajax({
                              type: "post",
                              url: "/change_evaluation", 
                              data: {user_id},
                              success: function(data){
                                if (data.eval){
                                  $("#alert_text").text("El alumno ha sido marcado como evaluado");
                                }else{
                                  $("#alert_text").text("El alumno dejó de estar marcado como evaluado");
                                }
                                $("#alert-ra").css('display','block');
                                setTimeout(function(){$("#alert-ra").css('display','none');},4000);
                              },
                              error: function (data) {
                                console.log(data);
                              } 
                            });
                          });

                        }
                      });
            - else
              %tr
                %td.text-center{colspan: 4}
                  %strong No hay mentores en este grupo.
        %center
          =paginate @mentors, :param_name => "page_mentors"      
#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text
#alert-ra-error.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text_error
                  
