.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h2
        Detalle del grupo: #{@group.name}

    .panel-body
      .row
        .col-md-5
          %h5
            Programas habilitados para este grupo
          %ol
            - @group.programs.each do |program|
              %li
                = program.name
        .col-md-4
          %h5
            Profesores vinculados a este grupo
          %ul.unstyled.no-style
            - @group.users.each do |user|
              %li 
                %i.fa.fa-angle-right
                = user.name
        .col-md-3
          /%h5
          /  Estadísticas de grupo
          /%ul.unstyled.no-style
          /  - seen, ave = [], [] 
          /  - @students.each do |student|
          /    - seen << student.content_visited_percentage
          /    - ave << student.answered_questions_percentage
          /  %li
          /    %ul.p-l-5.m-b-0
          /      %li.inline.p-l-0
          /        %i.fa.fa-user 
          /      %li.inline 
          /        Alumnos del grupo: 
          /        %strong #{@students.count}
          /    %ul.p-l-5.m-b-0
          /      %li.inline.p-l-0
          /        %i.fa.fa-eye 
          /      %li.inline 
          /        Promedio visto:  
          /        %strong
          /          - if !seen.empty?
          /            #{(seen.inject{ |sum, el| sum + el }.to_f / seen.size).ceil}%
          /          - else
          /            N/A
          /    %ul.p-l-5.m-b-0
          /      %li.inline.p-l-0
          /        %i.fa.fa-rocket
          /      %li.inline 
          /        Promedio contestado: 
          /        %strong
          /          - if !ave.empty?
          /            #{(ave.inject{ |sum, el| sum + el }.to_f / ave.size).ceil}%
          /          - else
          /            N/A
          %h5
            Estadísticas de grupo
          %ul.unstyled.no-style
            - current_stats = @group.get_group_stat(@group)
            - if !current_stats.nil?
              %li
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-user 
                  %li.inline 
                    Alumnos del grupo: 
                    %strong #{current_stats.group_students}
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-check-square-o
                  %li.inline 
                    Alumnos evaluados: 
                    %strong #{current_stats.evaluated_students}
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-eye 
                  %li.inline 
                    Promedio visto:  
                    %strong
                      #{current_stats.average_seen.ceil}%
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-rocket
                  %li.inline 
                    Promedio contestado: 
                    %strong
                      #{current_stats.average_progress.ceil}%
              %li.m-t-15
                = link_to generate_group_stats_path(@group) do
                  %ul.p-l-5.m-b-0
                    %li.inline.p-l-0
                      %i.fa.fa-rotate-right
                    %li.inline 
                      Actualizar estadísticos
                  %ul.p-l-20.m-b-0{:style => "font-size: 0.8em;"}
                    %li.inline 
                      * Última vez: 
                      = l current_stats.updated_at, format: :short_no_year
            - else
              %li.m-t-15
                = link_to generate_group_stats_path(@group) do
                  %ul.p-l-5.m-b-0
                    %li.inline.p-l-0
                      %i.fa.fa-line-chart
                    %li.inline 
                      Generar estadísticos

      %h4
        Lista de alumnos
      .row
        .col-md-10
          = link_to mentor_group_path(@group, format: :xlsx), class: "btn btn-success pull-left" do
            Exportar a Excel 
            %i.fa.fa-file-excel-o
        .col-md-2
          %input#group_student.form-control.pull-right{:placeholder => "Search", :type => "text"}/
      
      .table-responsive   
        %table.table.table-striped
          %thead
            %th{width: "30%"}
              Datos del alumno
            %th{width: "30%"}
              Avances del alumno
            %th
              Programas inscritos
          %tbody
            - @students.each_with_index do |student, index|
              %tr
                %td.p-b-20
                  .m-b-10
                    = link_to student.name, mentor_student_path(student)
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %i.fa.fa-envelope
                    %li.inline 
                      = student.email
                %td
                  .m-b-10
                    %i.fa.fa-edit
                    %span Preguntas contestadas:
                    %strong #{student.content_visited_percentage}%
                  .m-b-10
                    %i.fa.fa-eye
                    %span Contenido visto:
                    %strong #{student.answered_questions_percentage}%
                %td
                  %ul.list-inline.no-style.unstyled
                    - @group.programs.each_with_index do |program, index|
                      %li
                        - review = program.program_checked?(program, student)
                        - progress_percentage =  student.percentage_questions_answered_for(program)
                        = link_to mentor_evaluations_path(user_id: student, program_id: program) do
                          - if progress_percentage > 95
                            .label.label-success{:class => "#{review ? '' : 'p-sides-14-2'}"}
                              = program.alias
                              %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                          - else
                            .label{:class => "#{(progress_percentage > 0) ? 'label-warning' : ''} #{review ? '' : 'p-sides-14-2'}"}
                              = program.alias
                              %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                  
