.container
  .col-md-8.col-md-offset-2
    %h1 Preregistro
    %center
      .panel.panel-default
        .panel-body
          - if @user.nil?
            %p
              ¡Ups! No hemos encontrado un registro de usuario con este correo electrónico, puedes solicitar tu cuenta en al correo
              %strong
                soporte2@edc-digital.com.
              /= link_to "https://emprendiendodesdecero.com/seguimiento/formulario", "https://emprendiendodesdecero.com/seguimiento/formulario"
              %br
              /%i * Si tienes algun problema comunicate con soporte técnico al correo soporte@edc-digital.com o al teléfono +52 (55) 5351 6633
              %i * También puedes comunicarte al teléfono +52 (55) 5351 6633

          - else
            - if @user.invitation_accepted_at.nil?
              %p  
                ¡Excelente! Tu cuenta de EDC Digital ha sido creada previamente, pero se encuentra inactiva, ¿deseas enviar nuevamente el correo electrónico de activación?
                = link_to "Enviar correo de activación.", reenviar_preregistro_path(@user.id)
                %br
                O puedes escribir tu código de activación proporcionado por tu Universidad
                = form_tag(activation_code_preregistro_index_path, method: :post, class: "form-inline") do
                  .form-group
                    = label_tag 'code', 'Código:' 
                    = text_field_tag 'code', nil, class: 'form-control', placeholder: "Escribe tu código de activación"
                  = hidden_field_tag 'mail', @user.email
                  = submit_tag "Enviar codigo", class: "btn btn-primary"
            - else
              %p  
                = "¡Excelente! Tu ya tienes una cuenta creada con este correo electrónico y se encuentra activa, ¿Deseas iniciar sesión?"
                = link_to "inicia sesión aquí.", new_user_session_path
                %br
                = "o ¿Olvidaste tu contraseña? " 
                = link_to "recuperarla aquí.", new_user_password_path

