= bootstrap_form_for(@routetext) do |f|
	= f.text_field :name, label: 'Título:'
	= f.text_area :redaction, ckeditor: { language: 'es'}, id: 'ckeditor', label: 'Redata el texto aquí'
	.pull-right.m-t-25.m-b-20
		= link_to 'Cancelar', dashboard_pathway_path, class: 'btn btn-danger'
		= f.submit 'Guardar texto', class: 'btn btn-primary'

:javascript
	CKEDITOR.replace('ckeditor');