= bootstrap_form_for([:dashboard, @attachment]) do |f|
  = f.text_field :name, label: 'Renombrar archivo'
  = f.select :document_type, Attachment.document_type_options, label: 'Tipo de documento'
  = f.text_field :label, label: 'Detalles / Comentarios'
  .dropzone
    = f.file_field :file, label: 'Archivo'

  = f.submit 'Actualizar'
