.m-b-100
  = bootstrap_form_for([:dashboard, @attachment]) do |f|
    /.m-b-20
    /  = f.text_field :name, label: 'Nombre del archivo'
    .m-b-20
      = f.select(:document_type, Attachment.document_type_options, {:label => 'Tipo de documento'}, {:class => 'minimal'})
    .m-b-20
      = f.text_field :label, label: 'Detalles / Comentarios'
    .dropzone
      = f.file_field :file, label: 'Selecciona tu archivo'
    .pull-right.m-t-30
      = f.submit 'Subir archivo', class: 'btn btn-lg btn-success'
