- content_for :title  do
	Mis archivos - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-15.panel-title-emprendimiento
		.container
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row
					.col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15
						%h2.text-white 
							Mis archivos

.container-fluid.container-fixed-lg
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					.pull-right.m-r-20.m-t-20
						= link_to 'SUBIR ARCHIVO', new_dashboard_attachment_path, class: 'btn btn-lg btn-success'
				.panel-body

					%h3{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;", class: "m-t-50"} Mis archivos subidos

					.table-responsive
						%table.table.resumen-table.table-striped.rubrica-table
							%thead
								%tr
									%th
										Nombre de archivo
									%th
										Tipo de archivo
									%th
										Comentarios
									%th
										Subido en
									%th
										Fecha de modificación
									%th{:width => "10%"}
							%tbody
								- if current_user.attachments.empty?
									%tr
										%td{colspan: 6}
											%span{style: "color: red;"} No tienes archivos almacenados por el momento
								- else
									- current_user.attachments.each do |attachment|
										%tr
											%th.normal-weight
												= link_to attachment.display_name, attachment.file.url, target: :_blank
											%th.normal-weight
												= attachment.humanize_document_type
											%th.normal-weight
												= attachment.label
											%th.normal-weight
												= l attachment.created_at, format: :special
											%th.normal-weight
												= l attachment.updated_at, format: :special
											%th.normal-weight
												.p-b-10
													= link_to edit_dashboard_attachment_path(attachment) do
														%i.fa.fa-edit
														Editar
												.p-b-10
													= link_to dashboard_attachment_path(attachment), method: :delete, data: { confirm: '¿Estás seguro?' } do
														%i.fa.fa-times
														Eliminar

					/= link_to 'Subir archivo', new_dashboard_attachment_path, class: 'btn btn-default'

			.panel.panel-default
				.panel-body
					%h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"} Archivos compartidos personalmente conmigo
					.table-responsive
						%table.table.resumen-table.table-striped.rubrica-table
							%thead
								%tr
									%th
										Nombre de archivo
									%th
										Tipo de archivo
									%th
										Comentarios
									%th
										Subido en
									%th
										Fecha de modificación
									%th
										Compartido por
							%tbody
								- if current_user.shared_attachments.empty?
									%tr
										%td{colspan: 6}
											%span{style: "color: red;"} No tienes archivos compartidos por el momento
								- else
									- current_user.shared_attachments.each do |attachment|
										%tr
											%th.normal-weight
												= link_to attachment.display_name, attachment.file.url, target: :_blank
											%th.normal-weight
												= attachment.humanize_document_type
											%th.normal-weight
												= attachment.label
											%th.normal-weight
												= l attachment.created_at, format: :special
											%th.normal-weight
												= l attachment.updated_at, format: :special
											%th.normal-weight
												= attachment.owner.name
			.panel.panel-default
				.panel-body
					%h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"} Archivos compartidos con mi grupo
					.table-responsive
						%table.table.resumen-table.table-striped.rubrica-table
							%thead
								%tr
									%th
										Nombre de archivo
									%th
										Tipo de archivo
									%th
										Comentarios
									%th
										Subido en
									%th
										Fecha de modificación
									%th
										Compartido por
							%tbody
								- if current_user.group.shared_group_attachments.empty?
									%tr
										%td{colspan: 6}
											%span{style: "color: red;"} No tienes archivos de grupo compartidos por el momento
								- else
									- current_user.group.shared_group_attachments.each do |attachment|
										%tr
											%th.normal-weight
												= link_to attachment.display_name, attachment.file.url, target: :_blank
											%th.normal-weight
												= attachment.humanize_document_type
											%th.normal-weight
												= attachment.label
											%th.normal-weight
												= l attachment.created_at, format: :special
											%th.normal-weight
												= l attachment.updated_at, format: :special
											%th.normal-weight
												= attachment.owner.name
