- content_for :title  do
  = title_text_helper("Programas")

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title.pull-left
            Lista de programas
        .p-r-20.p-l-20.p-t-10
          .pull-left
            %input#search-table.form-control.w-searchbar{:placeholder => "Buscar", :type => "text"}/   
          .pull-right
            = link_to new_program_path, class: 'btn btn-primary' do
              %i.fa.fa-plus
              Crear programa
          .clearfix
        .panel-body
          %table.table.table-hover.datatable
            %thead
              %tr
                %th
                %th 
            %tbody.sortable{'data-update-url'=> url_prod_helper(sort_programs_path())}
              - @programs.each do |program|
                %tr{id: "program_#{program.id}"}
                  %td.handle-sort
                    [mover]
                  %td
                    .large-text.bold
                      = program.name
                    .normal-text.hint-text.inline-block
                      Módulos de programa:
                      %span.bold.text-primary #{program.chapters.count}
                    .normal-text.hint-text.inline-block.m-l-20
                      Rating: 
                      %span.bold.text-primary #{program.rating.round(2)}
                    .normal-text.hint-text.block.m-t-10.m-b-15.cell-down-pl0.cell-down              
                      = link_to program_path(program), class: 'cell-down-pl5 tablet-up-ml20' do
                        %i.fa.fa-list-alt
                        Contenido
                      = link_to rating_program_path(program), class: 'cell-down-pl5 tablet-up-ml20' do
                        %i.fa.fa-star
                        Ratings
                      = link_to program_program_attachments_path(program), class: 'cell-down-pl5 tablet-up-ml20' do
                        %i.fa.fa-file-archive-o
                        Archivos adjuntos  
                      = link_to edit_program_path(program), class: 'cell-down-pl5 tablet-up-ml20' do
                        %i.fa.fa-edit
                        Editar
                      = link_to clone_program_path(program), class: 'cell-down-pl5 tablet-up-ml20', method: :post, data: { confirm: '¿Estás seguro?' } do
                        %i.fa.fa-copy
                        Clonar 
                      = link_to program_path(program), class: 'cell-down-pl5 tablet-up-ml20', method: :delete, data: { confirm: '¿Estás seguro?' } do
                        %i.fa.fa-times
                        Eliminar 

