- content_for :title  do
  Programas - EDC Digital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          .row
            .col-sm-8
              %h3
                Programas de EDC Digital
            .col-sm-4
              .pull-right
                = link_to "<i class='fa fa-plus'></i> Crear programa ".html_safe, new_program_path, class: 'btn btn-primary'
          %table.table.table-hover
            %thead
              %tr
                %th
                %th
                  Programa 
            %tbody.sortable{'data-update-url'=> url_prod_helper(sort_programs_path())}
              - @programs.each do |program|
                %tr{id: "program_#{program.id}"}
                  %td.handle-sort
                    [mover]
                  %td
                    .large-text.bold
                      = program.name
                    .normal-text.hint-text.inline-block
                      Módulos de programa:
                      %span.bold.text-primary #{program.chapters.count}
                    .normal-text.hint-text.inline-block.m-l-20
                      Rating: 
                      %span.bold.text-primary #{program.rating.round(2)}
                    .normal-text.hint-text.block.m-t-10.m-b-15              
                      = link_to program_path(program) do
                        %i.fa.fa-list-alt
                        Contenido
                      = link_to rating_program_path(program), class: 'm-l-20' do
                        %i.fa.fa-star
                        Ratings
                      = link_to program_program_attachments_path(program), class: 'm-l-20' do
                        %i.fa.fa-file-archive-o
                        Archivos adjuntos  
                      = link_to edit_program_path(program), class: 'm-l-20' do
                        %i.fa.fa-edit
                        Editar
                      = link_to clone_program_path(program), class: 'm-l-20', method: :post, data: { confirm: '¿Estás seguro?' } do
                        %i.fa.fa-copy
                        Clonar 
                      = link_to program_path(program), class: 'm-l-20', method: :delete, data: { confirm: '¿Estás seguro?' } do
                        %i.fa.fa-times
                        Eliminar 

