.container
  %h2.text-center
    Lista de programas
  %table.table.table-border.datatable.responsive
    %thead
      %tr
        %th
          Programa
        %th
    %tbody
      - @programs.each do |program|
        %tr
          %td
            = program.name
          %td
            = link_to 'Ver', program_path(program), class: 'btn btn-default'
            = link_to 'Editar', edit_program_path(program), class: 'btn btn-default'
            = link_to 'Eliminar', program_path(program), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-default'

  = link_to 'Crear programa', new_program_path, class: 'btn btn-default'
