.container-fluid.container-fixed-lg.bg-white
  .panel.panel-transparent
    .panel-heading
      .pull-right
        .col-xs-12
          %input#search-table.form-control.pull-right{:placeholder => "Search", :type => "text"}/
      .clearfix
    .panel-body
      %table.table.table-hover
        %thead
          %tr
            %th
            %th
              Programa
            %th
            %th
              Rating
        %tbody.sortable{'data-update-url'=> url_prod_helper(sort_programs_path())}
          - @programs.each do |program|
            %tr{id: "program_#{program.id}"}
              %td.handle-sort
                [mover]
              %td
                = program.name
              %td
                = link_to 'Ver', program_path(program), class: 'btn btn-default'
                = link_to 'Editar', edit_program_path(program), class: 'btn btn-default'
                = link_to 'Clonar', clone_program_path(program), method: :post, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-default'
                = link_to 'Eliminar', program_path(program), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-default'
                = link_to 'Ver Ratings', rating_program_path(program), class: 'btn btn-default'
              %td 
                =program.rating 

      = link_to 'Crear programa', new_program_path, class: 'btn btn-default'
