.container
  .row
    .col-md-12
      %h2.text-center
        Diseño del programa
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = @program.name
        .panel-body
          .sortable{'data-update-url'=> url_prod_helper(sort_program_chapters_url(@program))}
            - @program.chapters.each do |chapter|
              #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                .panel.panel-default{id: "chapter_#{chapter.id}"}
                  .panel-heading
                    %span.handle-sort
                      [mover]
                    = link_to program_chapter_path(@program, chapter), method: :delete, data: {confirm: '¿Estás seguro?'}, 'data-toggle'=>'tooltip', 'data-placement'=>'top', title: 'Elimiar módulo' do
                      %span.glyphicon.glyphicon-remove

                    = link_to edit_program_chapter_path(@program, chapter), 'data-toggle'=>'tooltip', 'data-placement'=>'top', title: 'Editar módulo' do
                      %span.glyphicon.glyphicon-edit

                    = link_to clone_program_chapter_path(@program, chapter), method: :post, data: {confirm: '¿Estás seguro?'}, 'data-toggle'=>'tooltip', 'data-placement'=>'top', title: 'Clonar módulo' do
                      %span.glyphicon.glyphicon-list


                    %h3.panel-title
                      %a{"aria-controls" => "collapse_#{chapter.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_#{chapter.id}"}
                        = chapter.name


                  .panel-collapse.collapse{:id=>"collapse_#{chapter.id}", "aria-labelledby" => "heading_#{chapter.id}", :role => "tabpanel"}
                    .panel-body
                      .panel-body
                        .sortable{'data-update-url'=> url_prod_helper(sort_chapter_contents_url) }
                          - chapter.chapter_contents.each do |content|
                            - if content.coursable_type == 'Lesson'
                              .well{id: "chapter_content_#{content.id}"}
                                %span.handle-sort
                                  [mover]
                                = link_to clone_chapter_lesson_path(chapter, content.model), method: :post, data: {confirm: '¿Estás seguro?'}, 'data-toggle'=>'tooltip', 'data-placement'=>'top', title: 'Clonar lección' do
                                  %span.glyphicon.glyphicon-list
                                %br
                                %a{href: chapter_lesson_path(chapter, content.model)}

                                  = content.model.identifier
                            - elsif content.coursable_type == 'Question'
                              .well{id: "chapter_content_#{content.id}"}
                                = render partial: 'questions/question', locals: { question: content.model, chapter: chapter}

                      .text-center
                        = link_to 'Agregar contenido', new_chapter_lesson_path(chapter), class: 'btn btn-success'
                        = link_to 'Agregar pregunta', new_chapter_question_path(chapter), class: 'btn btn-primary'

            .text-center
              = link_to 'Agregar módulo', new_program_chapter_path(@program), class: 'btn btn-primary'
