- content_for :title  do
  Paquete de Entregables - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .row
        .col-sm-8
          %h3
            Paquetes de entregables
        .col-sm-4
          .pull-right
            = link_to new_delireverable_package_path, class: 'btn btn-primary m-t-15 m-r-15' do
              %i.fa.fa-plus
              Agregar paquete
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th{width: "5%"}
              %th{width: "25%"}
                Paquete
              %th
                Grupos
              %th{width: "20%"}
                Acciones
          %tbody
            - @delireverable_packages.each do |package|
              %tr
                %td
                %td
                  %h5.m-t-0.m-b-5
                    = link_to package.name, edit_delireverable_package_path(package)
                  %ul.p-l-0.m-b-10
                    %li.inline.bold
                      Descripción:  
                    %li.inline 
                      = package.description
                %td
                  - package.groups.each do |group|
                    .label.m-r-5.m-b-5
                      = group.name.titleize
                %td
                  %ul.p-l-0.m-b-10
                    = link_to delireverable_package_delireverables_path(package) do
                      %li.inline
                        %i.fa.fa-plus
                      %li.inline 
                        Agregar entregables
                  %ul.p-l-0.m-b-10
                    = link_to edit_delireverable_package_path(package) do
                      %li.inline
                        %i.fa.fa-edit
                      %li.inline
                        Editar paquete
                  %ul.p-l-0.m-b-10
                    = link_to delireverable_package_path(package), method: :delete, data: { confirm: '¿Estás seguro?' } do
                      %li.inline
                        %i.fa.fa-times
                      %li.inline
                        Eliminar paquete
