- content_for :title  do
  = title_text_helper("Editar archivo")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-8.col-md-8.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Editar archivo
          .col-sm-4.col-md-4.resp-p-l-50.xs-p-l-15.xs-p-r-15.m-t-15
            .pull-right
              = link_to  mentor_shared_group_attachments_path, class: 'btn btn-sm btn-complete btn-cons m-b-10' do
                %i.fa.fa-reply
                %span.bold Regresar a archivos

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title
            Editar Archivo
        .panel-body
          = bootstrap_form_for([:mentor, @attachment]) do |f|
            = f.text_field :name, label: 'Renombrar archivo'
            = f.select :document_type, Attachment.document_type_options, label: 'Tipo de documento'
            = f.text_field :label, label: 'Detalles / Comentarios'
            .dropzone
              = f.file_field :file, label: 'Archivo'
            .form-group
              %label
                Grupos
              - current_user.groups.each_with_index do |group, index|
                .checkbox.check-success
                  = check_box_tag 'shared_group_attachment[group_ids][]', group.id, @attachment.groups.include?(group), id: "check_groups_#{index}"
                  %label{:for => "check_groups_#{index}" }
                    = group.name
              %input(type="hidden" name='shared_group_attachment[group_ids][]' value="")
            = f.submit 'Actualizar'
