- content_for :title  do
  Archivos compartidos - EDCdigital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title.pull-left
            Archivos
          .pull-right.m-r-20.m-t-40
            = link_to 'Subir archivo', new_mentor_shared_group_attachment_path, class: 'btn btn-lg btn-success'
        .panel-body.table-responsive
          %h3{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;", class: "m-t-10"} Archivos compartidos con mis grupos
          %table.table.resumen-table.table-striped.rubrica-table
            %thead
              %tr
                %th
                  Nombre de archivo
                %th
                  Tipo de archivo
                %th
                  Comentarios
                %th
                  Subido en
                %th
                  Fecha de modificación
                %th
            %tbody
              - if @shared_group_attachments.empty?
                %tr
                  %td{colspan: 6}
                    %span{style: "color: red;"} No tienes archivos compartidos por el momento
              - else
                - @shared_group_attachments.each do |attachment|
                  %tr
                    %th
                      = link_to attachment.display_name, attachment.file.url
                    %th.normal-weight
                      = attachment.humanize_document_type
                    %th.normal-weight
                      = attachment.label
                    %th.normal-weight
                      = l attachment.created_at, format: :special
                    %th.normal-weight
                      = l attachment.updated_at, format: :special
                    %th.normal-weight
                      = link_to 'Editar', edit_mentor_shared_group_attachment_path(attachment), class: 'btn btn-default'
                      = link_to 'Eliminar', mentor_shared_group_attachment_path(attachment), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-default'
