- content_for :title  do
  Subir Archivo - EDCdigital

.container-fluid.container-fixed-lg.bg-white
  .row
    .panel.panel-transparent.p-t-50
      .col-md-4
        .panel-heading
          .panel-title
            Compartir archivos
        .panel-body
          %i.fa.fa-share-square-o.fa-2x.hint-text.m-t-40
          .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
            Usa este formulario para compartir archivos con tus grupos
          %p.m-b-30{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
            Puedes compartir archivos con uno o más grupos 
      .col-md-8
        .m-r-40.m-l-40.p-b-70
          = bootstrap_form_for([:mentor, @attachment]) do |f|
            = f.select(:document_type, Attachment.document_type_options, {:label => 'Tipo de documento'}, {:class => 'minimal'})
            = f.text_field :label, label: 'Detalles / Comentarios'
            = f.hidden_field :owner_id, value: current_user.id
            .dropzone
              = f.file_field :file, label: 'Archivo'
            .form-group
              %button.btn.btn-info{type: 'button', id: 'checkall'}
                Seleccionar todos
            .form-group
              %label
                Grupos
              - current_user.groups.each_with_index do |group, index|
                .checkbox.check-success
                  = check_box_tag 'shared_group_attachment[group_ids][]', group.id, @attachment.groups.include?(group), id: "check_groups_#{index}", class: "group_select"
                  %label{:for => "check_groups_#{index}" }
                    = group.name
              %input(type="hidden" name='shared_group_attachment[group_ids][]' value="")
              .pull-right
                = f.submit 'Subir archivo', class: 'btn btn-lg btn-success'

:javascript
  $(document).on('turbolinks:load', function(){
    $('#checkall').click(function(){
      $('.group_select').prop('checked', true);
    }); 
  });
