.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .panel-title.question-title
        = @chapter_content.chapter.name  
      .pull-right
        %span.pull-left#tour-8  
          Califica este contenido:
        %span.pull-right.rating 
          = render partial: "layouts/stars", locals: {value: @chapter_content, route: ratings_vote_chapter_content_path}
    
    .panel-body
      .row
        .col-md-12#tour-9
          .padding-20.p-l-30.p-r-30
            %h2
              = model.identifier
            %div
              = raw parse_lesson_content(model)
              /- if model.video_url.nil? || model.video_url.empty?
              /  = raw model.content
              /- else
              /  .embed-responsive.embed-responsive-16by9
              /    = raw model.video_url

      = render partial: '/dashboard/shared/navigation_buttons', locals: { chapter_content: @chapter_content, edit_mode: false}
        
#reportarModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        %center
          %h2
            Reportar contenido
            %i.fa.fa-flag{"aria-hidden" => "true", :style => "color:red;"}
          %p
            ¿Por qué reportas este contenido?
            = form_tag(reports_path, method: "post", id: "form_report") do
              = hidden_field_tag :chapter_content_id, @chapter_content.id  
              .form-group
                = radio_button_tag(:cause, "No se entiende")
                = label_tag(:cause2, "El contenido no se entiende")
              .form-group   
                = radio_button_tag(:cause, "Poco explicativo")
                = label_tag(:cause2, "El contenido no es suficientemente explicativo.")
              .form-group
                = radio_button_tag(:cause, "Fallando")
                = label_tag(:cause3, "El contenido esta fallando.")
              .form-group  
                = radio_button_tag(:cause, "No se visualiza")
                = label_tag(:cause4, "El contenido no se visualiza.")
              .form-group  
                = radio_button_tag(:cause, "No disponible")
                = label_tag(:cause5, "El contenido aparece como no disponible.")     
      .modal-footer
        %button#reportar.btn.btn-primary.sweet-blue
          Reportar
        %button.btn.btn-default.sweet-gray{"data-dismiss" => "modal", :type => "button"}
          Cerrar
#alert-rep.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      Contenido reportado

:javascript
  $('#reportar').click(function() {
    frm2.submit();
  });
  var frm2 = $('#form_report');         
  frm2.submit(function (ev) {
    $.ajax({
      type: frm2.attr('method'),
      url: frm2.attr('action'),
      data: frm2.serialize(),
      success: function (data) {
        $('#reportarModal').modal('hide');
        setTimeout(cerrar,3000);
      },
      error: function (data){
        alert("Error");
      }
    });
    setTimeout(5000);
    $("#alert-rep").css('display','block')
    $('#al').removeClass('dimiss');         
    ev.preventDefault();         
  });
  function cerrar(){
    $('#alert-rep').css('display','none');
    $('#al').addClass('dimiss');
  }
  var frm = $('#form_rank');
  $('.rank').click(function() {
    frm.submit();
  });
  frm.submit(function (ev) {
    console.log(9);
    $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),
        success: function (data) {
          console.log(data);
        },
        error: function (data){
        }
    });
    ev.preventDefault();
  });
  //$( ".embed-responsive" ).wrap( "<div class='row'></div>" );

- if @tour_trigger[:third]
  = javascript_include_tag '/javascripts/lib/bootstraptour/tour_third_step', 'data-turbolinks-track' => false
