.row
  .col-sm-12
    %span.handle-sort
      [mover]
    %span.bold   
      Entregable:   
    = delireverable.model.name

    .pull-right
      %span.option.p-r-10.p-l-10
        = link_to chapter_delireverable_program_path(chapter, delireverable) do
          %i.fa.fa-briefcase
          Contenido
      %span.option.p-r-10.p-l-10
        = link_to edit_chapter_delireverable_program_path(chapter, delireverable) do
          %i.fa.fa-edit
          Editar
      %span.option.p-r-10.p-l-10
        = link_to clone_chapter_delireverable_program_path(chapter, delireverable), method: :post, data: {confirm: '¿Estás seguro?'} do
          %i.fa.fa-copy
          Clonar           
      %span.option.p-r-10.p-l-10
        = link_to  chapter_delireverable_program_path(chapter, delireverable), method: :delete, data: {confirm: '¿Estás seguro?'} do
          %i.fa.fa-times
          Eliminar
