= bootstrap_form_for @group do |f|
  = f.text_field :name, label: 'Nombre del grupo'
  = f.text_field :key, label: 'Clave'
  = f.collection_select(:state_id, State.all, :id, :name, label: 'Estado', include_blank: "Selecciona un estado")
  
  = f.select :university_id, University.where(state_id: @group.state_id).collect{|p| [ p.name, p.id ] }, {label: 'Universidad', include_blank: "Selecciona un estado primero"}
  = f.select :category, ['Escolarizado', 'Autodidacta digital', 'Presencial', 'Experiemental'], label: 'Tipo de grupo', include_blank: true
  = f.select :program_ids,  Program.all.collect{|p| [p.name, p.id]}, {indlude_blank: false, label: 'Programas'}, multiple: 'multiple'
  = f.select :user_ids, User.mentors.invitation_accepted.collect{|u| [u.name, u.id]}, {include_blank: false, label: 'Mentores'}, multiple: 'multiple'
  = f.select :student_ids, User.active_users.collect{|u| [u.email, u.id]}, {include_blank: false, label: 'Estudiantes'}, multiple: 'multiple'
  = f.select :quiz_ids, Quiz.all.collect{|q| [q.name, q.id]}, {include_blank: false, label: 'Examenes' }, multiple: 'multiple'
  
  = link_to "Cancelar", groups_path, class: "btn btn-danger"
  = f.submit 'Guardar sin salir'
/students.collect{|u| [u.email, u.id]},