= bootstrap_form_for @group do |f|
  = f.text_field :name, label: 'Nombre del grupo'
  = f.text_field :key, label: 'Clave'

  = f.collection_check_boxes(:program_ids, Program.all, :id, :name, label: 'Lista de programas')
  = f.collection_check_boxes(:user_ids, User.mentors.invitation_accepted, :id, :name, label: 'Lista de mentores')

  = f.submit 'Aceptar'
