- content_for :title  do
	Alumnos vinculados a grupo - EDC Digital

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			%h4
				Reasigna a los alumnos de 
				%span.text-primary #{@group.name} 
				a otro grupo diferente:
		.panel-body
			= bootstrap_form_tag url: '/change_group'  do |f|
				= f.hidden_field :id, :value => @group.id
				= f.hidden_field :source, :value => @source
				= f.select :host_group, @groups.collect{|g| [g.name, g.id]}, {include_blank: "Selecciona un grupo", label: 'Nuevo grupo al que serán reasignados'}, required: true
				= f.select :student_ids, @group.students.collect{|u| [u.email, u.id, "selected":"selected"]}, {include_blank: false, label: 'Alumnos de este grupo'}, multiple: 'multiple'
				.pull-right.m-t-15
					= link_to @return_url, class: "btn btn-danger" do
						Cancelar
					= f.submit 'Reasignar alumnos', :class => "btn btn-success"
