- content_for :title  do
  Detalle de grupo - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h2
        Detalle del grupo: #{@group.name}

    .panel-body
      .row
        .col-md-3
          %h5
            Programas habilitados
          %ol
            - @group.programs.each do |program|
              %li
                = program.name
        .col-md-3
          %h5
            Profesores vinculados
          %ul.unstyled.no-style
            - @group.users.invitation_accepted.each do |user|
              %li 
                %i.fa.fa-angle-right
                = user.name
        .col-md-3
          %h5
            Estadísticas de grupo
          %ul.unstyled.no-style
            - current_stats = @group.get_group_stat(@group)
            - if !current_stats.nil?
              %li
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-user 
                  %li.inline 
                    Alumnos del grupo: 
                    %strong #{current_stats.group_students}
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-check-square-o
                  %li.inline 
                    Alumnos evaluados: 
                    %strong #{current_stats.evaluated_students}
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-eye 
                  %li.inline 
                    Promedio visto:  
                    %strong
                      #{current_stats.average_seen.ceil unless current_stats.average_seen.nil?}%
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-rocket
                  %li.inline 
                    Promedio contestado: 
                    %strong
                      #{current_stats.average_progress.ceil unless current_stats.average_progress.nil? }%
              %li.m-t-15
                = link_to generate_group_stats_path(@group) do
                  %ul.p-l-5.m-b-0
                    %li.inline.p-l-0
                      %i.fa.fa-rotate-right
                    %li.inline 
                      Actualizar estadísticos
                  %ul.p-l-20.m-b-0{:style => "font-size: 0.8em;"}
                    %li.inline 
                      * Última vez: 
                      = l current_stats.updated_at, format: :short_no_year
            - else
              %li.m-t-15
                = link_to generate_group_stats_path(@group) do
                  %ul.p-l-5.m-b-0
                    %li.inline.p-l-0
                      %i.fa.fa-line-chart
                    %li.inline 
                      Generar estadísticos
        .col-md-3
          %h5
            Quizzes habilitados
          %ul.unstyled.no-style
            - if @group.quizzes.empty?
              * Aún no hay quizzes
            - else
              - @group.quizzes.each do |quiz|
                %li 
                  %i.fa.fa-angle-right
                  = quiz.name

      %h4
        Lista de alumnos
      .row
        .col-md-2.col-md-offset-10
          .form-group
            %div.input-group
              %input#group_student.form-control.pull-right{:placeholder => "Buscar", :type => "text", class: "text-black"}/
              %span.input-group-addon.font-search
                %i.fa.fa-search.text-white
      
      .table-responsive   
        %table.table.table-striped
          %thead
            %th{width: "27%"}
              Datos del alumno
            %th{width: "23%"}
              Avances del alumno
            %th
              Programas inscritos
            %th{width: ""}
              Estado de evaluación
          %tbody
            - @students.each_with_index do |student, index|
              %tr
                %td.p-b-20
                  .m-b-5
                    = link_to student.name, user_path(student)
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %i.fa.fa-envelope
                    %li.inline 
                      = student.email
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      = link_to summary_user_path(student) do
                        %i.fa.fa-bolt
                        Ver resumen
                %td
                  .m-b-10
                    %i.fa.fa-edit
                    %span Preguntas contestadas:
                    %strong #{student.user_progress.ceil}%
                  .m-b-10
                    %i.fa.fa-eye
                    %span Contenido visto:
                    %strong #{student.user_seen.ceil}%
                %td
                  %ul.list-inline.no-style.unstyled
                    - @group.programs.each_with_index do |program, index|
                      %li
                        - review = program.program_checked?(program, student)
                        - progress_percentage =  student.percentage_questions_answered_for(program)
                        = link_to mentor_evaluations_path(user_id: student, program_id: program) do
                          - if progress_percentage > 95
                            .label.label-success{:class => "#{review ? '' : 'p-sides-14-2'}"}
                              P-#{index + 1}
                              %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                          - else
                            .label{:class => "#{(progress_percentage > 0) ? 'label-warning' : ''} #{review ? '' : 'p-sides-14-2'}"}
                              P-#{index + 1}
                              %i.fa{:class => "#{review ? 'fa-check' : ''}"}
                %td.text-center
                  %input{type: "hidden", id: "student_key_#{student.id}", value: student.id}
                  - student_eval = (student.evaluation_status == 'evaluado') ? 1 : 0
                  %label.switch{id: "switch_#{student.id}"}
                    - if student_eval == 1
                      %input{type: "checkbox", id: "checking_eval_#{student.id}", value: student_eval, name: "student_eval[checked]", checked: :true, disabled: true}
                    - else
                      %input{type: "checkbox", id: "checking_eval_#{student.id}", value: student_eval, name: "student_eval[checked]", disabled: true}
                    .slider.round
                  :javascript
                    $(document).ready(function(){
                      $("#checking_eval_" + #{student.id}).each(function() {
                        $('#switch_' + #{student.id}).append('<div class="disabledClick" style="position:absolute;top:0px;left:0px;width:62px;height:36px;background:transparent;cursor:pointer;"></div>');
                      });
                      $(".disabledClick").click(function() {
                        $("#alert_text_warning").text("Ups, es tarea de los mentores evaluar a sus alumnos");
                        $("#alert-ra-warning").css('display','block');
                        setTimeout(function(){$("#alert-ra-warning").css('display','none');},4000);
                      });
                    });
#alert-ra-warning.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-warning
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text_warning
