- content_for :title  do
	Alumnos vinculados a grupo - EDCdigital

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			.row
				.col-sm-9
					%h4
						Alumnos vinculados a #{@group.name} (#{@group.active_students.count} alumnos)
				.col-sm-3
					.pull-right
						= link_to groups_path, style: "opacity: 1;" do
							%i.fa.fa-reply
							Regresar a grupos
			.row.m-b-10.m-t-20
				.col-sm-4.pull-left
					%input#search-table.form-control.pull-right{:placeholder => "Buscar", :type => "text"}/
				.col-sm-8.pull-right
					.pull-right
						%a.slow_scroll{href: "#scroll_students", style: "opacity: 1;"}
							%button.btn.btn-primary.no-opacity
								%i.fa.fa-plus
								Agregar alumnos
						%button.btn.btn-danger{:type => "submit", :form => "delete_users", data: { confirm: '¿Estás seguro?' }}
							%i.fa.fa-times
							Eliminar alumnos
			.clearfix
		.panel-body
			= form_tag unlink_student_group_path, :id => "delete_users" do
				%table.table.table-hover.datatable.show_group_students
					%thead
						%tr
							%th ID
							%th Nombre
							%th Correo
							%th Teléfono
							%th Eliminar vinculación
					%tbody
						- @group.active_students.each do |user|
							%tr
								%td.p-t-15.p-b-15
									= user.id
								%td.p-t-15.p-b-15
									= user.name
								%td.p-t-15.p-b-15
									= user.email
								%td.p-t-15.p-b-15
									= user.phone_number
								%td.p-t-15.p-b-15	
									= check_box_tag "users_ids[]", user.id
									%span.p-l-5.text-complete
										= "Desvincular alumno"	

			.row.m-b-10.m-t-20#scroll_students
				.col-sm-8.pull-right
					.pull-right
						%button.btn.btn-danger{:type => "submit", :form => "delete_users", data: { confirm: '¿Estás seguro?' }}
							%i.fa.fa-times
							Eliminar alumnos

	.panel.panel-default
		.panel-heading
			%h4
				Edita aquí los estudiantes vinculados a este grupo:
		.panel-body
			= bootstrap_form_for @group do |f|
				= f.select :student_ids, User.active_users.collect{|u| [u.email, u.id]}, {include_blank: false, label: 'Estudiantes de este grupo'}, multiple: 'multiple'
				.pull-right.pull-right.p-t-20.p-b-20{:style => "display: table; margin: 0 auto;"}
					= f.submit 'Actualizar alumnos', :class => "btn btn-success"

	.panel.panel-default
		.panel-body
			.col-md-3
				%h4
					Estudiantes sin grupo
				%p.hint-text
					Cuando desvinculas estudiantes de un grupo, probablemente sea buena idea reasignarlos a un grupo diferente. Puedes hacerlo usando este formulario.
			.col-md-9
				= bootstrap_form_tag url: '/no_group_students' do |f|
					= f.hidden_field :id, :value => @group.id
					= f.select :student_ids, @students_no_group.collect{|u| [u.email, u.id]}, {include_blank: false, label: 'Selecciona uno o más estudiantes sin grupo'}, multiple: 'multiple', required: true
					= f.select :group_id, @groups.collect{|g| [g.name, g.id]}, {include_blank: "Selecciona un grupo", label: 'Grupo al que serán asignados'}, required: true
					.pull-right.p-t-20.p-b-20{:style => "display: table; margin: 0 auto;"}
						= f.submit 'Agregar alumnos', :class => "btn btn-success"

%script{:type=>"text/javascript"}
	$('.slow_scroll').click(function(){
	$('html, body').animate({
	scrollTop: $( $(this).attr('href') ).offset().top
	}, 500);
	return false;
	});
