.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			%h4
				Alumnos vinculados a #{@group.name} (#{@group.students.count} alumnos)
			.row.m-b-10.m-t-20
				.col-sm-4.pull-left
					%input#mentor_students.form-control.pull-right{:placeholder => "Buscar", :type => "text"}/
				.col-sm-8.pull-right
					.pull-right
						%a.slow_scroll{href: "#add_students", style: "opacity: 1;"}
							%button.btn.btn-primary.no-opacity
								%i.fa.fa-plus
								Editar alumnos
						%button.btn.btn-danger
							%i.fa.fa-times
							Eliminar alumnos
			.clearfix
		.panel-body
			%table.table.table-hover.datatable
				%thead
					%tr
						%th ID
						%th Nombre
						%th Correo
						%th Teléfono
						%th Eliminar vinculación
				%tbody
					- @group.students.each do |user|
						%tr
							%td.p-t-15.p-b-15
								= user.id
							%td.p-t-15.p-b-15
								= user.name
							%td.p-t-15.p-b-15
								= user.email
							%td.p-t-15.p-b-15
								= user.phone_number
							%td.p-t-15.p-b-15
								Eliminar vinculación

	.panel.panel-default#add_students
		.panel-heading
			%h4
				Edita aquí los estudiantes vinculados al grupo:
		.panel-body
			= bootstrap_form_for @group do |f|
				= f.select :student_ids, User.active_users.collect{|u| [u.email, u.id]}, {include_blank: false, label: 'Estudiantes'}, multiple: 'multiple'
				.center{:style => "display: table; margin: 0 auto;"}
					= f.submit 'Actualizar alumnos', :class => "btn btn-success btn-lg"
