.container-fluid.container-fixed-lg.bg-white
	.panel.panel-transparent
		.panel-heading
			%h4
				Alumnos vinculados a #{@group.name} (#{@group.students.count} alumnos)
			.row.m-b-10.m-t-20
				.col-sm-4.pull-left
					%input#mentor_students.form-control.pull-right{:placeholder => "Buscar", :type => "text"}/
				.col-sm-8.pull-right
					.pull-right
						%a.slow_scroll{href: "#add_students", style: "opacity: 1;"}
							%button.btn.btn-primary.no-opacity
								%i.fa.fa-plus
								Agregar alumnos
						%button.btn.btn-danger
							%i.fa.fa-times
							Eliminar alumnos
			.clearfix
		.panel-body
			%table.table.table-hover.datatable
				%thead
					%tr
						%th ID
						%th Nombre
						%th Correo
						%th Teléfono
						%th Eliminar vinculación
				%tbody
					- @group.students.each do |user|
						%tr
							%td.p-t-15.p-b-15
								= user.id
							%td.p-t-15.p-b-15
								= user.name
							%td.p-t-15.p-b-15
								= user.email
							%td.p-t-15.p-b-15
								= user.phone_number
							%td.p-t-15.p-b-15
								Eliminar vinculación

			.row#add_students
				%h4
					Edita aquí los estudiantes vinculados al grupo:
				= bootstrap_form_for @group do |f|
					= f.select :student_ids, User.active_users.collect{|u| [u.email, u.id]}, {include_blank: false, label: 'Estudiantes'}, multiple: 'multiple'

%script(type="text/javascript")  
	$('.slow_scroll').click(function(){
	$('html, body').animate({
	scrollTop: $( $(this).attr('href') ).offset().top
	}, 500);
	return false;
	});