.container-fluid.container-fixed-lg
  %h3
    Estadísticas globales de programas inscritos
    |
    = link_to @user.name, user_path(@user)


  .panel.panel-default
    .panel-body
      %table.table.table-hover
        %thead
          %tr
            %th
              Curso inscrito
            %th
              Contenidos vistos
            %th
              Respuestas contestadas
            %th
              Comentarios totales
            %th
              Porcentaje de contenido visto
            %th
              Porcentaje de preguntas contestadas
        %tbody
          - @user.programs.each do |program|
            %tr
              %td
                = program.name
              %td
                = @user.content_visted_for(program)
              %td
                = @user.questions_answered_for(program)
              %td
                = @user.total_comments_for(program)
              %td
                #{@user.percentage_content_visited_for(program)}%
              %td
                #{@user.percentage_questions_answered_for(program)}%
