.container-fluid.container-fixed-lg
  %h3
    Detalles del programa: #{@quiz.name}
  .panel.panel-default
    .panel-body
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Pregunta
            %th Valor
            %th Estatus
            %th Obtenidos
        %tbody
          - @quiz.quiz_questions.each do |question|
            %tr
              %td
                = question.question_text
                - answer = QuizAnswer.find_by(quiz_question_id: question.id, user_id: current_user.id)
              %td
                = question.points
              %td
                = answer.nil? ? "Sin contestar" : answer.answer_text
                - unless answer.nil?
                  = answer.correct == true ? "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-times'></i>".html_safe 
              %td
                - if !answer.nil?
                  = answer.correct == true ? answer.quiz_question.points : '0'
                - else
                  0
          %tr
            %td{colspan: '3'}
              %h5.pull-right Calificación total
            %td
              %h5= @quiz.average(current_user)
