- content_for :title  do
  Usuarios - EDC Digital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .pull-right
        .col-xs-12
      .clearfix
    .panel-body
      - if current_user.admin?
        = form_tag(users_path, method: :get) do
          .col-md-12.col-sm-12.col-xs-12
            %aside.sidebar-menu
              %h4.search-title Filtrar búsqueda:
              .search-group
                .col-md-2.col-sm-4.col-xs-12
                  .s-s-title
                    %i.fa.fa-check-square-o
                    Status:
                  = select_tag :status, options_for_select([['Activo', 'active'], ['Inactivo', 'inactive']], params[:status]), {include_blank: "Filtra por status", class: "form-control"} 
              .search-group
                .col-md-2.col-sm-4.col-xs-12
                  .s-s-title
                    %i.fa.fa-users
                    Grupo:
                  = select_tag :group, options_from_collection_for_select(Group.all, :id, :name, params[:group]), {include_blank: "Filtra por grupo", class: "form-control" }
              .search-group
                .col-md-2.col-sm-4.col-xs-12
                  .s-s-title
                    %i.fa.fa-university
                    Universidad:
                  = select_tag :university, options_from_collection_for_select(@universities, :id, :name, params[:university]), {include_blank: "Filtra por universidad", class: "col-md-12" } 

              .search-group
                .col-md-2.col-sm-4.col-xs-12
                  .s-s-title
                    %i.fa.fa-map-marker
                    Estado:
                  = select_tag :state, options_from_collection_for_select(State.all, :id, :name, params[:state]), {include_blank: "Filtra por estado", class: "col-md-12" }
              .search-group
                .col-md-2.col-sm-4.col-xs-12
                  .s-s-title
                    %i.fa.fa-graduation-cap
                    Tipo de grupo:
                  = select_tag :tipo,  options_for_select(['Escolarizado', ' Autodidacta digital', 'Presencial', 'Experiemental'], params[:tipo]), {include_blank: "Filtra por tipo de grupo", class: "form-control" }
              .search-group
                .col-md-2.col-sm-4.col-xs-12
                  .s-s-title
                    %i.fa.fa-industry
                    Industria:
                  = select_tag :industria,  options_from_collection_for_select(Industry.all,:id,:name, params[:industria]), {include_blank: "Filtra por industria en la que emprendes", class: "form-control" }
          .col-md-12        
            .search-group
              .col-md-3.col-sm-6.col-xs-12
                .s-s-title
                  %i.fa.fa-check-circle
                  Porcentaje contestado  
                = select_tag :answered, options_for_select(OptionsRange.percentages, params[:answered]), {include_blank: "Filtra por porcentaje contestado" }
            .search-group
              .col-md-3.col-sm-6.col-xs-12
                .s-s-title
                  %i.fa.fa-eye
                  Porcentaje visto
                = select_tag :visited, options_for_select(OptionsRange.percentages, params[:visited]), {include_blank: "Filtra por porcentaje visto" }
            .search-group
              .col-md-3.col-sm-6.col-xs-12
                .s-s-title
                  %i.fa.fa-book
                  Programa (*)  
                = select_tag :program, options_from_collection_for_select(Program.all,:id, :name, params[:program]), {include_blank: "Seleccionar programa", class: "form-control" }    
          .col-md-12      
            %i.row
              (*) Selecciona un programa para filtrar por el porcentaje de contenido contestado/visto      
          %br
          %br      
          .col-md-12      
            = submit_tag 'Filtrar', class: "btn btn-default"
            = link_to 'Exportar excel', exports_users_path(format: :xlsx), class: 'btn btn-success'

      %table.table.table-hover
        %thead
          %tr
            %th
              Id
            %th
              Nombre
            %th
              Correo electrónico
            %th
              Teléfono
            %th
              Estado
            %th
              Rol
            %th
              Grupo
            %th
              Porcentaje contestado
            %th
              Porcentaje de avance
            %th
              Total de comentarios
            %th
              Cursos inscritos
            %th
              Opciones
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.id
              %td
                = link_to user.name, user_path(user)
              %td
                = user.email
              %td
                = user.phone_number
              %td
                = user.status
              %td
                = user.huminize_role
              %td
                = user.group.name  unless user.group.nil?
              %td
                #{user.answered_questions_percentage}%
              %td
                #{user.content_visited_percentage}%
              %td
                = user.comments_count
              %td
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    Programas
                    %span.caret
                  - unless user.group.nil?
                    %ul.dropdown-menu
                      - user.group.programs.each do |program|
                        %li{style: "padding:5px;"}
                          #{program.name}. Contestado: #{user.percentage_questions_answered_for(program)}% Visto: #{user.percentage_content_visited_for(program)}%
                        %li.divider{role: 'separator'}
              %td
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %span.glyphicon.glyphicon-pencil
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'Ver información', user_path(user)
                    - if user.student?
                      %li
                        = link_to 'Editar información', edit_user_path(user)
                    %li.divider
                    %li
                      = link_to 'Eliminar usuario', user_path(user), method: :delete, data: { confirm: '¿Estás seguro?' }

      = link_to 'Invitar usuario', new_user_invitation_path, class: 'btn btn-default'
      .pull-right
        = paginate @users
        %br
        %center.text-center= page_entries_info @users
