- content_for :title  do
  Usuario - EDCdigital

.container-fluid.container-fixed-lg
  .row
    .col-sm-5
      %h4
        #{@user.name}
    .col-sm-7
      - if current_user.admin?
        - color = @user.banned? ? "btn-success" : "btn-danger"
        .pull-right
          = link_to change_state_user_path(@user), class: "btn #{color}  pull-right m-l-10", data: { confirm: '¿Estás seguro?' } do
            - @user.banned? ? "<i class= 'fa fa-check'></i> Desbloquear usuario" :  "<i class= 'fa fa-times'></i> Bloquear usuario"
        .pull-right
          = link_to edit_user_path(@user), class: "btn btn-primary pull-right m-l-10" do
            %span.glyphicon.glyphicon-edit
            Editar perfil de usuario
        .btn-like-switch.pull-right
          %label.switch#switch-eval
            %input{type: "hidden", id: "user_id", value: @user.id}
            %input#student_evaluation{{:type => "checkbox"}, @user.evaluation_status == 'evaluado' ? {checked: 1, value: 1} : {value: 0}, {disabled: true}}
            .slider.round
          .label-for-switch.p-l-5
            Edo. de evaluación
  .panel.panel-default
    .panel-body
      .row
        .col-md-2
          .share.share-other.m-t-5
            .card-content
              - if @user.profile_picture.url.nil?
                = image_tag('person-1-square.jpg', class: 'img-responsive')
              - else
                = image_tag(@user.profile_picture.url, class: 'img-responsive')
              .card-header.clearfix
                %h6
                  = @user.name
                %p.small.hint-text.m-t-5 #{@user.state}, #{@user.city}
                %p.small.hint-text.m-t-5
                  %span
                    %i.fa.fa-line-chart
                    Porcentaje contestado #{@user.user_progress.ceil} %
                  %br
                  %span
                    %i.fa.fa-line-chart
                    Porcentaje de avance #{@user.user_seen.ceil} %
                %p.small.hint-text.m-t-5
                  %i.fa.fa-history
                  Ultima vez:
                  %span
                    #{ @user.last_time }
                %p.small.hint-text.m-t-5
                  Promedio de uso:
                  %span
                    #{ @user.time_average.round(2) } minutos.
                %p.small.hint-text.m-t-5
                  Total de uso
                  %span
                    #{ @user.total_time.round(2) } munutos.
        .col-md-10
          %table.table.resumen-table.table-striped.table-top-border.perfil-table
            %tbody
              %tr.odd.gradeX
                %td{:width => "25%"} Nombre
                %td
                  = @user.name
              /- if current_user.admin?
              /  %tr.odd.gradeX
              /    %td{:width => "25%"} Estatus de evaluación
              /    %td
              /      = editable @user, :evaluation_status, source: [:evaluado, :'sin evaluar'], type: :select
              /      %a{href: '#', title: 'Haz clic para editar la información'}
              /        %i.fa.fa-edit
              /- else
              /  %tr.odd.gradeX
              /    %td{:width => "25%"} Estatus de evaluación
              /    %td
              /      = @user.evaluation_status

              %tr.odd.gradeX
                %td Correo electrónico
                %td
                  = @user.email
              %tr.odd.gradeX
                %td Teléfono
                %td
                  = @user.phone_number
              %tr.odd.gradeX
                %td Industria
                %td
                  = unless @user.industry.nil? then @user.industry.name else 'N/A' end
              %tr.odd.gradeX
                %td Ubicación
                %td #{@user.state}, #{@user.city}
              %tr.odd.gradeX
                %td Grupo
                %td
                  = @user.group.name unless @user.group.nil?
              %tr.odd.gradeX
                %td Fecha de creación de cuenta
                %td #{l @user.created_at, format: :special}
              %tr.odd.gradeX
                %td Fecha de activación de cuenta
                %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
              %tr.odd.gradeX
                %td Cursos inscritos
                - if current_user.admin? && !@user.group.nil?
                  %td
                    - @user.group.programs.each do |program|
                      \-
                      = link_to program.name, user_program_answers_path(@user, program)
                      %br
                - else
                  - if !@user.group.nil?
                    %td
                      - @user.group.programs.each do |program|
                        \-
                        = program.name
                        %br
  %h3
    Estadísticas generales de programas inscritos

  .panel.panel-default
    .panel-body.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th{:width => '40%'}
              Curso inscrito
            %th{:width => '25%'}
              Avances del alumno
            %th{:width => '13%'}
              Disponible
            %th{:width => '22%'}
              Acciones
        %tbody
          - Program.all.each do |program|
            %tr
              %td.p-b-15
                = link_to program.name, analytics_program_user_path(@user, program_id: program), :style => "font-size: 17px;"
                %p.hint-text.m-t-5.m-b-5 Módulos del programa:
                %ul.list-inline.no-style.unstyled
                  - counter = 0
                  - program.chapters.each_with_index do |chapter, index|
                    - if chapter.questions.count == 0
                      - counter += 1
                    - else
                      %li.squized-li
                        = link_to mentor_evaluation_path(chapter, user_id: @user, program_id: program) do
                          - answered_percentage = answered_questions(chapter, @user) * (100 / chapter.questions.count.to_f).ceil
                          - checked = chapter.chapter_checked?(chapter.id, @user.id)
                          - if answered_percentage > 95
                            .label.label-success{:class => "#{checked ? '' : 'p-sides-14'}"}
                              M-#{index + 1 - counter}
                              %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                          - else
                            .label{:class => "#{(answered_percentage > 0) ? 'label-warning' : ''} #{checked ? '' : 'p-sides-14'}"}
                              M#{index + 1 - counter}
                              %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
              %td.p-b-15{}
                .m-b-10
                  %i.fa.fa-edit
                  #{@user.questions_answered_for(program)}
                  %span preguntas contestadas
                  %strong (#{@user.percentage_questions_answered_for(program)}%)
                .m-b-10
                  %i.fa.fa-eye
                  #{@user.content_visted_for(program)}
                  %span contenidos vistos
                  %strong (#{@user.percentage_content_visited_for(program)}%)
              - if current_user.admin? && !@user.group.nil?
                %td.p-b-15
                  = !@user.group.programs.exists?(program) ? "No disponible" : "Disponible"
                %td.p-b-15
                  %ul.unstyled.list-unstyled.p-l-0.m-b-0
                    %li
                      = link_to analytics_program_user_path(@user, program_id: program) do
                        %i.fa.fa-line-chart
                        Ver analíticos
                    %li
                      = link_to mentor_evaluations_path(user_id: @user, program_id: program) do
                        %i.fa.fa-check-square-o
                        Ver evaluación
                    %li
                      = link_to mentor_evaluations_path(user_id: @user, program_id: program, format: :xlsx) do
                        %i.fa.fa-file-excel-o
                        Descargar Excel
                    %li
                      - if program.content_type!="ruta"
                        %input{type: "hidden", id: "user_key_#{@user.id}", value: @user.id}
                        %input{type: "hidden", id: "program_key_#{program.id}", value: program.id}    
                        .btn-like-switch.btn-like-switch-small
                          %label.switch.switch-small
                            %form{:action => program_stats_path, 'data-remote': "true", method: :post, id: "edit_program_active_#{program.id}"}
                              - if get_program_active(@user, program).nil?
                                %input{type: "checkbox", id: "checking_program_active_#{program.id}", name: "program_stat[checked]"}
                              - else
                                - program_active = get_program_active(@user, program)
                                - if program_active.status == true
                                  %input{type: "checkbox", id: "checking_program_active_#{program.id}", value: program_active.status, name: "program_active[checked]", checked: :true}
                                - else
                                  %input{type: "checkbox", id: "checking_program_active_#{program.id}", value: program_active.status, name: "program_active[checked]"}
                              .slider.slider-small.round
                          .label-for-switch.label-for-switch-small.p-l-5{id: "label_bloquear_#{program.id}"}
                            - if get_program_active(@user, program).nil? 
                              Desbloquear programa
                            -else
                              -if get_program_active(@user, program).status == true
                                Bloquear programa                                           
                              -else
                                Desbloquear programa 
                        %script{ :type => 'text/javascript' }
                          $("#checking_program_active_" + #{program.id}).change(function(){
                          var status = $(this).val();
                          var user = $("#user_key_" + #{@user.id}).val();
                          var program = $("#program_key_" + #{program.id}).val();
                          $.ajax({
                          type: "post",
                          url: "/save_program_active",
                          data: {status, user, program},
                          success: function(data){
                          console.log(data.program_active.status);
                          if (data.program_active.status){
                          $("#alert_text").text("Programa desbloqueado");
                          $("#label_bloquear_" + data.program_active.program_id).text("Bloquear programa");
                          }else{
                          $("#alert_text").text("Programa bloqueado");
                          $("#label_bloquear_"+ data.program_active.program_id).text("Desbloquear Programa");
                          }
                          $("#alert-bloquear").css('display','block');
                          setTimeout(function(){$("#alert-bloquear").css('display','none');},3000);
                          }
                          });
                          });     
  %h3
    Estadísticas generales de exámenes

  .panel.panel-default
    .panel-body
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Examen
              %th
                Preguntas disponibles
              %th
                Preguntas contestadas
              %th
                Calificación
              %th
          %tbody
            - unless @user.group.nil? 
              - @user.group.quizzes.each do |quiz|
                %tr
                  %td= quiz.name
                  %td= quiz.quiz_questions.count
                  %td= quiz.answered(@user)
                  %td= quiz.average(@user)
                  %td= link_to "Ver detalle", analytics_quiz_user_path(@user, quiz_id: quiz)


  - if current_user.admin?
    %h3
      Archivos del usuario

    .panel.panel-default
      .panel-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th
                  Nombre de archivo
                %th
                  Tipo de archivo
                %th
                  Comentarios
                %th
                  Subido en
                %th
                  Fecha de modificación
            %tbody
              - @user.attachments.each do |attachment|
                %tr
                  %th
                    = link_to attachment.display_name, attachment.file.url, target: :_blank
                  %th
                    = attachment.humanize_document_type
                  %th
                    = attachment.label
                  %th
                    = l attachment.created_at, format: :special
                  %th
                    = l attachment.updated_at, format: :special

    %h3
      Historial de sesiones

    .panel.panel-default
      .panel-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th
                  Navegador
                %th
                  Dispositivo
                %th
                  Sistema operativo
                %th
                  Inicio de sesión
                %th
                  Cierre de sesión
                %th
                  Duración de la sesión
            %tbody
              - @user.sessions.each do |visit|
                %tr
                  %td
                    = visit.browser
                  %td
                    = visit.device_type
                  %td
                    = visit.platform
                  %td
                    = l visit.start, format: :special
                  %td
                    = l visit.finish, format: :special unless visit.finish.nil?
                  %td
                    = visit.time

  %h3
    Entregables
  .panel.panel-default
    .panel-body.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th
              Nombre
            %th
              Archivo de ejemplo
            %th
              Tu entregable
            %th
              Estatus
            %th
              Comentarios
        %tbody
          - @delireverables.each do |delireverable|
            - user_delireverable = delireverable.delireverable_users.find_by(user: @user)
            %tr
              %td
                = delireverable.name
              %td
                = link_to 'Descargar', delireverable.file.url, target: '_blank'
              %td
                - if user_delireverable
                  = link_to 'Descargar', user_delireverable.file.url, target: '_blank'
                - else
                  N/A
              %td
                - if user_delireverable
                  = user_delireverable.huminize_status
                - else
                  Sin entregar
              %td
                - if user_delireverable
                  = user_delireverable.comments ? user_delireverable.comments : "N/A"
                - else
                  N/A

#alert-ra-warning.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-warning
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text_warning
#alert-bloquear.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text

          
:javascript
  $(document).ready(function(){
    $("#student_evaluation").each(function() {
      $('#switch-eval').append('<div class="disabledClick" style="position:absolute;top:0px;left:0px;width:62px;height:36px;background:transparent;cursor:pointer;"></div>');
    });
    $(".disabledClick").click(function() {
      $("#alert_text_warning").text("Ups, es tarea de los mentores evaluar a sus alumnos");
      $("#alert-ra-warning").css('display','block');
      setTimeout(function(){$("#alert-ra-warning").css('display','none');},4000);
    });
  });
