- content_for :title  do
  Usuario - EDC Digital

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .card.card-borderless{style: "border: none;"}
        %ul.nav.nav-tabs.nav-tabs-simple.m-b-10
          %li.nav-item.tablinks.active{onclick: "openTab(event, 'tabStudent')"}
            %a{href: "#", onclick: "return false;"}= @user.mentor? ? 'Mentor' : 'Estudiante'
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabProgram')"}
            %a{href: "#", onclick: "return false;"} Programas
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabQuizzes')"}
            %a{href: "#", onclick: "return false;"} Evaluaciones
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabFiles')"}
            %a{href: "#", onclick: "return false;"} Archivos
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabDeliverables')"}
            %a{href: "#", onclick: "return false;"} Entregables
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabRefilables')"}
            %a{href: "#", onclick: "return false;"} Plantillas
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabSessions')"}
            %a{href: "#", onclick: "return false;"} Sesiones
        .tab-content.p-b-30
          #tabStudent.tab-pane.active.tabcontent
            .row
              .col-sm-5
                %h4
                  #{@user.name}
              .col-sm-7
                - if current_user.admin?
                  .row.p-r-20
                    - color = @user.banned? ? "btn-success" : "btn-danger"
                    .pull-right
                      = link_to change_state_user_path(@user), class: "btn #{color}  pull-right m-l-10", data: { confirm: '¿Estás seguro?' } do
                        - @user.banned? ? "<i class= 'fa fa-check'></i> Desbloquear usuario" :  "<i class= 'fa fa-times'></i> Bloquear usuario"
                    .pull-right.btn-like-switch
                      %label.switch#switch-eval
                        %input{type: "hidden", id: "user_id", value: @user.id}
                        %input#student_evaluation{{:type => "checkbox"}, @user.evaluation_status == 'evaluado' ? {checked: 1, value: 1} : {value: 0}, {disabled: true}}
                        .slider.round
                      .label-for-switch.p-l-5
                        Edo. de evaluación
                  .row.p-r-20
                    .pull-right.m-t-10.m-b-10
                      = link_to edit_user_path(@user) do
                        %span.glyphicon.glyphicon-edit
                        Editar perfil de usuario
                    .pull-right.m-t-10.m-b-10.m-r-20
                      = link_to learning_path_user_path(@user) do
                        %span.fa.fa-map
                        Verificar Ruta de aprendizaje     
            .row
              .col-md-2
                .share.share-other.m-t-5
                  .card-content
                    - if @user.profile_picture.url.nil?
                      = image_tag('person-1-square.jpg', class: 'img-responsive')
                    - else
                      = image_tag(@user.profile_picture.url, class: 'img-responsive')
                    .card-header.clearfix
                      %h6
                        = @user.name
                      %p.small.hint-text.m-t-5 #{@user.state}, #{@user.city}
                      %p.small.hint-text.m-t-5
                        %span
                          %i.fa.fa-line-chart
                          Porcentaje contestado #{@user.user_progress.ceil} %
                        %br
                        %span
                          %i.fa.fa-line-chart
                          Porcentaje de avance #{@user.user_seen.ceil} %
                      %p.small.hint-text.m-t-5
                        %i.fa.fa-history
                        Ultima vez:
                        %span
                          #{ @user.last_time }
                      %p.small.hint-text.m-t-5
                        Promedio de uso:
                        %span
                          #{ @user.time_average.round(2) } minutos.
                      %p.small.hint-text.m-t-5
                        Total de uso
                        %span
                          #{ @user.total_time.round(2) } munutos.
              .col-md-10
                %table.table.resumen-table.table-striped.table-top-border.perfil-table
                  %tbody
                    %tr.odd.gradeX
                      %td{:width => "25%"} Nombre
                      %td
                        = @user.name
                        %sup
                          = link_to summary_user_path(@user),class: "p-l-5" do
                            (
                            %i.fa.fa-bolt
                            VER RESUMEN )
                    /- if current_user.admin?
                    /  %tr.odd.gradeX
                    /    %td{:width => "25%"} Estatus de evaluación
                    /    %td
                    /      = editable @user, :evaluation_status, source: [:evaluado, :'sin evaluar'], type: :select
                    /      %a{href: '#', title: 'Haz clic para editar la información'}
                    /        %i.fa.fa-edit
                    /- else
                    /  %tr.odd.gradeX
                    /    %td{:width => "25%"} Estatus de evaluación
                    /    %td
                    /      = @user.evaluation_status

                    %tr.odd.gradeX
                      %td Correo electrónico
                      %td
                        = @user.email
                    %tr.odd.gradeX
                      %td Teléfono
                      %td
                        = @user.phone_number
                    %tr.odd.gradeX
                      %td Edad
                      %td
                        = @user.age.nil? ? "Sin registro" : @user.age.to_s + " años"
                    %tr.odd.gradeX
                      %td Género
                      %td
                        - if @user.gender.nil?
                          Sin registro
                        - else
                          = (@user.gender == "male") ? "Hombre" : "Mujer"
                    %tr.odd.gradeX
                      %td Mi situación actual
                      %td
                        = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.situation.nil? ? "Sin registro" : @user.user_detail.situation)
                    %tr.odd.gradeX
                      %td Tema de interés
                      %td
                        = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.interest.nil? ? "Sin registro" : @user.user_detail.interest)
                    %tr.odd.gradeX
                      %td Mi mayor reto
                      %td
                        = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.challenge.nil? ? "Sin registro" : @user.user_detail.challenge)
                    %tr.odd.gradeX
                      %td Lo que busco en EDC Digital
                      %td
                        = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.goal.nil? ? "Sin registro" : @user.user_detail.goal)
                    %tr.odd.gradeX
                      %td Industria
                      %td
                        = unless @user.industry.nil? then @user.industry.name else "Sin registro" end
                    %tr.odd.gradeX
                      %td Ubicación
                      %td #{@user.state}, #{@user.city}
                    %tr.odd.gradeX
                      %td Grupo
                      %td
                        = @user.group.name unless @user.group.nil?
                    %tr.odd.gradeX
                      %td Ruta de aprendizaje: "P. Fisica"
                      %td
                        = @user.group.learning_path.name unless @user.group.nil? || @user.group.learning_path.nil?
                    %tr.odd.gradeX
                      %td Ruta de aprendizaje: "P. Moral"
                      %td= @user.group.learning_path2.name unless @user.group.nil? || @user.group.learning_path2.nil?        
                    %tr.odd.gradeX
                      %td Fecha de creación de cuenta
                      %td #{l @user.created_at, format: :special}
                    %tr.odd.gradeX
                      %td Fecha de activación de cuenta
                      %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
                    %tr.odd.gradeX
                      %td Cursos inscritos
                      - if current_user.admin? && !@user.group.nil?
                        %td
                          - @programs.each do |program|
                            \-
                            = link_to program.name, user_program_answers_path(@user, program)
                            %br
                      - else
                        - if !@user.group.nil?
                          %td
                            - @user.group.programs.each do |program|
                              \-
                              = program.name
                              %br
          #tabProgram.tab-pane.tabcontent
            .row
              .pull-right.m-t-5
                = link_to learning_path_user_path(@user), class: "btn btn-success pull-right m-l-10" do
                  %span.fa.fa-map
                  Verificar Ruta de aprendizaje    
              .col-sm-12.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th{:width => '45%'}
                        Curso inscrito
                      %th{:width => '25%'}
                        Avances del alumno
                      %th{:width => '15%'}
                        Disponible
                      %th
                        Acciones
                  %tbody
                    /- Program.all.each do |program|
                    - @all_programs.each do |program|
                      %tr
                        %td.p-b-15
                          = link_to program.name, analytics_program_user_path(@user, program_id: program), :style => "font-size: 17px;"
                          %p.hint-text.m-t-5.m-b-5 Módulos del programa:
                          %ul.list-inline.no-style.unstyled
                            - counter = 0
                            - program.chapters.each_with_index do |chapter, index|
                              - if chapter.questions.count == 0
                                - counter += 1
                              - else
                                %li.squized-li
                                  = link_to mentor_evaluation_path(chapter, user_id: @user, program_id: program) do
                                    - answered_percentage = answered_questions(chapter, @user) * (100 / chapter.questions.count.to_f).ceil
                                    - checked = chapter.chapter_checked?(chapter.id, @user.id)
                                    - if answered_percentage > 95
                                      .label.label-success{:class => "#{checked ? '' : 'p-sides-14'}"}
                                        M#{index + 1 - counter}
                                        %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                                    - else
                                      .label{:class => "#{(answered_percentage > 0) ? 'label-warning' : ''} #{checked ? '' : 'p-sides-14'}"}
                                        M#{index + 1 - counter}
                                        %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                          - if @key_programs.include?(program.id)
                            %p.hint-text.m-t-5.m-b-5 Preguntas clave:
                            %ul.list-inline.no-style.unstyled
                              - @key_questions.select{|kq| kq[:program] == program.id}.each_with_index do |kq, index|
                                %li.squized-li
                                  = link_to content_chapter_path(kq[:key].chapter_content.chapter) do
                                    .label.tip{class: "#{kq[:question].answers.where(user_id: @user).empty? ? 'p-sides-17' : 'label-success p-sides-17'}", "data-placement": "right", "data-toggle": "tooltip", "data-original-title": "#{truncate(kq[:question].question_text, length: 85, :escape => false)}"}
                                      P#{index + 1}
                        %td.p-b-15
                          - if !@programs.include?(program) 
                            No disponible
                          - else
                            .m-b-10
                              %i.fa.fa-edit
                              #{@user.questions_answered_for(program)}
                              %span preguntas contestadas
                              %strong (#{@user.integral_percentage_progress_for(program).ceil}%)
                            .m-b-10
                              %i.fa.fa-eye
                              #{@user.content_visted_for(program)}
                              %span contenidos vistos
                              %strong (#{@user.integral_percentage_visited_for(program).ceil}%)
                        - if current_user.admin? && !@user.group.nil?
                          %td.p-b-15
                            - if !@programs.include?(program) 
                              No disponible
                            - else
                              - if permiso_programs(program, @user)    
                                Vinculado
                              - else 
                                Disponible  

                          %td.p-b-15
                            %ul.unstyled.list-unstyled.p-l-0.m-b-0
                              %li
                                = link_to analytics_program_user_path(@user, program_id: program) do
                                  %i.fa.fa-line-chart
                                  Ver analíticos
                              %li
                                = link_to mentor_evaluations_path(user_id: @user, program_id: program) do
                                  %i.fa.fa-check-square-o
                                  Ver evaluación
                              %li
                                = link_to mentor_evaluations_path(user_id: @user, program_id: program, format: :xlsx) do
                                  %i.fa.fa-file-excel-o
                                  Descargar Excel
          #tabQuizzes.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                .table-responsive
                  %table.table.table-hover
                    %thead
                      %tr
                        %th{width: "35%"}
                          Evaluación
                        %th{width: "25%"}
                          Preguntas disponibles
                        %th.text-center{width: "20%"}
                          Calificación
                        %th
                          Intentos
                        %th
                          Acciones
                    %tbody
                      - if @user.group.nil? || @quizzes.count == 0
                        %tr
                          %td.p-t-20.p-b-15{colspan: "4"}
                            .text-primary.bold
                              No hay evaluaciones asignados a este estudiante
                      - else
                        - @quizzes.each do |quiz|
                          - quiz_ques = quiz.quiz_questions.count
                          - answered_ques = quiz.answered(@user)
                          - result = quiz.average(@user)
                          %tr
                            %td.p-t-20.p-b-15
                              = quiz.name
                            %td.p-t-20.p-b-15{style: "color: #{ (quiz_ques <= answered_ques) ? '#10CFBD' : '' };"}
                              #{answered_ques} contestadas / #{quiz_ques} disponibles
                            %td.p-t-20.p-b-15.text-center
                              = result
                            %td.p-t-20.p-b-15.text-center
                              = Attempt.where(quiz_id: quiz.id, user_id: @user.id).count
                            %td.p-t-20.p-b-15
                              = link_to analytics_quiz_user_path(@user, quiz_id: quiz) do
                                %i.fa.fa-eye
                                Ver detalle
          #tabFiles.tab-pane.tabcontent
            - if current_user.admin?
              .row.p-b-20
                .col-sm-12.table-responsive
                  %h4.text-primary
                    Archivos cargados por el usuario
                  %table.table.table-hover
                    %thead
                      %tr
                        %th
                          Nombre de archivo
                        %th
                          Información de archivo
                        %th
                          Historial
                    %tbody
                      - if @user.attachments.count == 0
                        %tr
                          %td.p-t-20.p-b-15{colspan: "3"}
                            .text-primary.bold
                              No hay archivos cargados por este estudiante
                      - else
                        - @user.attachments.each do |attachment|
                          %tr
                            %td.p-t-20.p-b-15
                              = link_to attachment.display_name + ' (ver archivo)', attachment.file.url, target: :_blank
                            %td.p-t-20.p-b-15
                              %ul.p-l-0.m-b-10
                                %li.inline.text-primary.bold
                                  Tipo:  
                                %li.inline 
                                  = attachment.humanize_document_type
                              %ul.p-l-0.m-b-0
                                %li.inline.text-primary.bold
                                  Comentarios:  
                                %li.inline 
                                  = attachment.label
                            %td.p-t-20.p-b-15
                              %ul.p-l-0.m-b-10
                                %li.inline.text-primary.bold
                                  Creación: 
                                %li.inline 
                                  = l attachment.created_at, format: :special
                              %ul.p-l-0.m-b-0
                                %li.inline.text-primary.bold
                                  Modificación: 
                                %li.inline 
                                  = l attachment.updated_at, format: :special       
              .row
                .col-sm-12.table-responsive
                  %h4.text-primary
                    Archivos compartidos con el usuario
                  %table.table.table-hover
                    %thead
                      %tr
                        %th
                          Nombre de archivo
                        %th
                          Información
                        %th
                          Historial
                    %tbody
                      - if @user.shared_attachments.count == 0
                        %tr
                          %td.p-t-20.p-b-15{colspan: "6"}
                            .text-primary.bold
                              No hay archivos compartidos con el estudiante
                      - else
                        - @user.shared_attachments.each do |attachment|
                          %tr
                            %td.p-t-20.p-b-15
                              = link_to attachment.display_name + ' (ver archivo)', attachment.file.url, target: :_blank
                            %td.p-t-20.p-b-15
                              %ul.p-l-0.m-b-10
                                %li.inline.text-primary.bold
                                  Tipo:  
                                %li.inline 
                                  = attachment.humanize_document_type
                              %ul.p-l-0.m-b-10
                                %li.inline.text-primary.bold
                                  Comentarios:  
                                %li.inline
                                  = attachment.label
                            %td.p-t-20.p-b-15
                              %ul.p-l-0.m-b-10
                                %li.inline.text-primary.bold
                                  Creación:  
                                %li.inline
                                  = l attachment.created_at, format: :special
                              %ul.p-l-0.m-b-10
                                %li.inline.text-primary.bold
                                  Modificación:  
                                %li.inline
                                  = l attachment.updated_at, format: :special
          #tabDeliverables.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th{width: "25%"}
                        Nombre
                      %th
                        Comentarios
                      %th.text-center{width: "25%"}
                        Estatus
                      %th{width: "20%"}
                        Acciones
                  %tbody
                    - if @delireverables.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "4"}
                          .text-primary.bold
                            No hay entregables asignados a este estudiante
                    - else
                      - @delireverables.each do |delireverable|
                        - user_delireverable = delireverable.delireverable_users.find_by(user: @user)
                        %tr
                          %td.p-t-20.p-b-15
                            = delireverable.name
                          %td.p-t-20.p-b-15
                            - if user_delireverable
                              - if user_delireverable.comments
                                .text-primary
                                  = user_delireverable.comments
                              - else
                                No hay comentarios
                            - else
                              No hay comentarios
                          %td.p-t-20.p-b-15.text-center
                            - if user_delireverable
                              - status = user_delireverable.huminize_status
                              .label{class: "#{ status == 'Enviado' ? 'label-warning p-r-l-20' : 'label-success p-r-l-17' }"}
                                = status
                            - else
                              .label
                                Sin entregar
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              = link_to delireverable.file.url, target: '_blank' do
                                %li.inline
                                  %i.fa.fa-download
                                %li.inline 
                                  Descargar ejemplo
                            - if user_delireverable
                              %ul.p-l-0.m-b-10
                                = link_to user_delireverable.file.url, target: '_blank' do
                                  %li.inline
                                    %i.fa.fa-file-o
                                  %li.inline 
                                    Descargar archivo de alumno
          #tabRefilables.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th{width: "15%"} Nombre
                      %th Descripción
                      %th.text-center{width: "15%"} Estatus
                      %th{width: "15%"} Acciones
                  %tbody
                    - if @refilables.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "4"}
                          .text-primary.bold
                            No hay plantillas asignadas a este estudiante
                    - else 
                      - @refilables.each do |refilable|
                        - user_refilable = refilable.refilables.find_by(user: @user)
                        - total_points = refilable.total_points
                        - puntos_obtenidos = refilable.puntaje(@user)
                        %tr
                          %td.p-t-20.p-b-15
                            = refilable.name
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Decripción:  
                              %li.inline 
                                = refilable.description
                            %ul.unstyled.no-style.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Comentarios:  
                              %li
                                - if user_refilable
                                  = user_refilable.comments ? user_refilable.comments : "No hay comentarios"
                                - else
                                  No hay comentarios
                          %td.p-t-20.p-b-15.text-center
                            - if user_refilable
                              - status = user_refilable.status
                              .label{class: "#{ status == 'Contestado' ? 'label-success p-r-l-17' : 'label-warning p-r-l-20'}"}
                                = status
                            - else
                              .label
                                No contestado
                            %br    
                            %ul.unstyled.no-style.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Puntos:
                              %li.inline #{puntos_obtenidos} de #{total_points} pts
                            %ul.unstyled.no-style.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Promedio:
                              %li.inline= number_to_percentage(user_promedio_refilable(puntos_obtenidos, total_points), precision: 1)     
                          %td.p-t-20.p-b-15
                            - if user_refilable
                              %ul.p-l-0.m-b-10
                                = link_to mentor_student_refilable_path(@user, user_refilable) do
                                  %li.inline
                                    %i.fa.fa-eye
                                  %li.inline 
                                    Ver plantilla
                              %ul.p-l-0
                                = link_to edit_mentor_student_refilable_path(@user, user_refilable) do
                                  %li.inline
                                    %i.fa.fa-comment-o
                                  %li.inline 
                                    Comentar
          #tabSessions.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th
                        Navegador
                      %th
                        Dispositivo
                      %th
                        Sistema operativo
                      %th
                        Inicio de sesión
                      %th
                        Cierre de sesión
                      %th
                        Duración de la sesión
                  %tbody
                    - if @refilables.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "6"}
                          .text-primary.bold
                            Este estudiante no ha comenzado ninguna
                    - elsif
                      - @user.sessions.each do |visit|
                        %tr
                          %td
                            = visit.browser
                          %td
                            = visit.device_type
                          %td
                            = visit.platform
                          %td
                            = l visit.start, format: :special
                          %td
                            = l visit.finish, format: :special unless visit.finish.nil?
                          %td
                            = visit.time


#alert-ra-warning.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-warning
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text_warning
:javascript
  $(document).ready(function(){
    $("#student_evaluation").each(function() {
      $('#switch-eval').append('<div class="disabledClick" style="position:absolute;top:0px;left:0px;width:62px;height:36px;background:transparent;cursor:pointer;"></div>');
    });
    $(".disabledClick").click(function() {
      $("#alert_text_warning").text("Ups, es tarea de los mentores evaluar a sus alumnos");
      $("#alert-ra-warning").css('display','block');
      setTimeout(function(){$("#alert-ra-warning").css('display','none');},4000);
    });
  });

  function openTab(evt, tabNumber) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabNumber).style.display = "block";
    evt.currentTarget.className += " active";
  };
