.container-fluid.container-fixed-lg
  .row
    .col-sm-5
      %h4
        #{@user.name}
    .col-sm-7
      - if current_user.admin?
        - color = @user.banned? ? "btn-success" : "btn-danger"
        .pull-right  
          = link_to change_state_user_path(@user), class: "btn #{color}  pull-right m-l-10" do
            - @user.banned? ? "<i class= 'fa fa-check'></i> Desbloquear usuario" :  "<i class= 'fa fa-times'></i> Bloquear usuario"  
        .pull-right  
          = link_to edit_user_path(@user), class: "btn btn-primary pull-right m-l-10" do
            %span.glyphicon.glyphicon-edit
            Editar perfil de usuario
  .panel.panel-default
    .panel-body
      .row
        .col-md-2
          .share.share-other.m-t-5
            .card-content
              - if @user.profile_picture.url.nil?
                = image_tag('person-1-square.jpg', class: 'img-responsive')
              - else
                = image_tag(@user.profile_picture.url, class: 'img-responsive')
              .card-header.clearfix
                %h6
                  = @user.name
                %p.small.hint-text.m-t-5 #{@user.state}, #{@user.city}
                %p.small.hint-text.m-t-5
                  %span
                    %i.fa.fa-line-chart
                    Porcentaje contestado #{@user.answered_questions_percentage} %
                  %br
                  %span
                    %i.fa.fa-line-chart
                    Porcentaje de avance #{@user.content_visited_percentage} %
                %p.small.hint-text.m-t-5
                  %i.fa.fa-history 
                  Ultima vez:
                  %span
                    #{ @user.last_time }
                %p.small.hint-text.m-t-5 
                  Promedio de uso:
                  %span
                    #{ @user.time_average.round(2) } minutos.
                %p.small.hint-text.m-t-5 
                  Total de uso 
                  %span
                    #{ @user.total_time.round(2) } munutos.
        .col-md-10
          %table.table.resumen-table.table-striped.table-top-border.perfil-table
            %tbody
              %tr.odd.gradeX
                %td{:width => "25%"} Nombre
                %td
                  = @user.name
              /- if current_user.admin?
              /  %tr.odd.gradeX
              /    %td{:width => "25%"} Estatus de evaluación
              /    %td
              /      = editable @user, :evaluation_status, source: [:evaluado, :'sin evaluar'], type: :select
              /      %a{href: '#', title: 'Haz clic para editar la información'}
              /        %i.fa.fa-edit
              /- else
              /  %tr.odd.gradeX
              /    %td{:width => "25%"} Estatus de evaluación
              /    %td
              /      = @user.evaluation_status

              %tr.odd.gradeX
                %td Correo electrónico
                %td
                  = @user.email
              %tr.odd.gradeX
                %td Teléfono
                %td
                  = @user.phone_number
              %tr.odd.gradeX
                %td Industria
                %td
                  = unless @user.industry.nil? then @user.industry.name else 'N/A' end
              %tr.odd.gradeX
                %td Ubicación
                %td #{@user.state}, #{@user.city}
              %tr.odd.gradeX
                %td Grupo
                %td
                  = @user.group.name unless @user.group.nil?
              %tr.odd.gradeX
                %td Fecha de creación de cuenta
                %td #{l @user.created_at, format: :special}
              %tr.odd.gradeX
                %td Fecha de activación de cuenta
                %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
              %tr.odd.gradeX
                %td Cursos inscritos
                - if current_user.admin?
                  %td
                    - @user.group.programs.each do |program|
                      \-
                      = link_to program.name, user_program_answers_path(@user, program)
                      %br
                - else
                  %td
                    - @user.group.programs.each do |program|
                      \-
                      = program.name
                      %br
  %h3
    Estadísticas generales de programas inscritos

  .panel.panel-default
    .panel-body.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th{:width => '22%'}
              Curso inscrito
            %th{:width => '22%'}
              Avances del alumno
            %th.text-center{:width => '27%'}
              Status de módulos del curso
            %th{:width => '10%'}
            %th
              Acciones
        %tbody
          - Program.all.each do |program|
            %tr
              %td.p-b-15
                = link_to program.name, analytics_program_user_path(@user, program_id: program)
              %td.p-b-15
                .m-b-10
                  %i.fa.fa-edit
                  #{@user.questions_answered_for(program)} 
                  %span preguntas contestadas
                  %strong (#{@user.percentage_questions_answered_for(program)}%)
                .m-b-10
                  %i.fa.fa-eye
                  #{@user.content_visted_for(program)} 
                  %span contenidos vistos
                  %strong (#{@user.percentage_content_visited_for(program)}%)
              %td.p-b-15
                %ul.list-inline.no-style.unstyled
                  - program.chapters.each_with_index do |chapter, index|
                    %li
                      = link_to mentor_evaluation_path(chapter, user_id: @user, program_id: program) do
                        - if chapter.questions.count == 0
                          .label.label-success
                            M-#{index + 1}
                            %i.fa.fa-check
                        - else
                          - answered_percentage = answered_questions(chapter, @user) * (100 / chapter.questions.count.to_f).ceil
                          - checked = chapter.chapter_checked?(chapter.id, @user.id)
                          - if answered_percentage > 95
                            .label.label-success{:class => "#{checked ? '' : 'p-sides-14'}"}
                              M-#{index + 1}
                              %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                          - else
                            .label{:class => "#{(answered_percentage > 0) ? 'label-warning' : ''} #{checked ? '' : 'p-sides-14'}"}
                              M-#{index + 1}
                              %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
              - if current_user.admin?
                %td.p-b-15
                  = !@user.group.programs.exists?(program) ? "No disponible para el estudiante" : "Disponible para el estudiante"
                %td.p-b-15
                  %ul.unstyled.list-unstyled.p-l-0.m-b-0
                    %li
                      = link_to analytics_program_user_path(@user, program_id: program) do
                        %i.fa.fa-line-chart
                        Ver analíticos
                    %li
                      = link_to mentor_evaluations_path(user_id: @user, program_id: program) do
                        %i.fa.fa-check-square-o
                        Ver evaluación
                    %li
                      = link_to mentor_evaluations_path(user_id: @user, program_id: program, format: :xlsx) do
                        %i.fa.fa-file-excel-o
                        Descargar Excel 
  %h3
    Estadísticas generales de exámenes

  .panel.panel-default
    .panel-body
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Examen
              %th
                Preguntas disponibles
              %th
                Preguntas contestadas
              %th
                Calificación
              %th
          %tbody
            - @user.group.quizzes.each do |quiz|
              %tr
                %td= quiz.name
                %td= quiz.quiz_questions.count
                %td= quiz.answered(@user)
                %td= quiz.average(@user)
                %td= link_to "Ver detalle", analytics_quiz_user_path(@user, quiz_id: quiz)


  - if current_user.admin?
    %h3
      Archivos del usuario

    .panel.panel-default
      .panel-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th
                  Nombre de archivo
                %th
                  Tipo de archivo
                %th
                  Comentarios
                %th
                  Subido en
                %th
                  Fecha de modificación
            %tbody
              - @user.attachments.each do |attachment|
                %tr
                  %th
                    = link_to attachment.display_name, attachment.file.url, target: :_blank
                  %th
                    = attachment.humanize_document_type
                  %th
                    = attachment.label
                  %th
                    = l attachment.created_at, format: :special
                  %th
                    = l attachment.updated_at, format: :special

    %h3
      Historial de sesiones

    .panel.panel-default
      .panel-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th
                  Navegador
                %th
                  Dispositivo
                %th
                  Sistema operativo
                %th
                  Inicio de sesión
                %th
                  Cierre de sesión
                %th
                  Duración de la sesión
            %tbody
              - @user.sessions.each do |visit|
                %tr
                  %td
                    = visit.browser
                  %td
                    = visit.device_type
                  %td
                    = visit.platform
                  %td
                    = l visit.start, format: :special
                  %td
                    = l visit.finish, format: :special unless visit.finish.nil?
                  %td
                    = visit.time

#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text 

:javascript
  $(document).on('turbolinks:load', function(){
    $("#student_evaluation").click(function() {
      console.log($(this).val());
      var this_user = $("#user_id").val();
      $.ajax({
        type: "post", url: "/change_evaluation",
        data: { 
          'user_id': this_user
        },
        success: function (data, text) {
          if (data.eval){
            $("#alert_text").text("El alumno ha sido marcado como evaluado");
          }else{
            $("#alert_text").text("El alumno dejó de estar marcado como evaluado");
          }
          $("#alert-ra").css('display','block');
          setTimeout(function(){$("#alert-ra").css('display','none');},4000); 
        },
        error: function (data) {
          console.log(data);
        }
      });
    });
  });