.container-fluid.container-fixed-lg.bg-white
  .panel.panel-transparent
    .panel-heading
      .pull-right
        .col-xs-12
      .clearfix
    .panel-body
      - if current_user.admin?
        = bootstrap_form_tag(url: students_users_path, method: :get) do |f|
          .row
            .col-md-4
              = f.select :state, options_for_select([['Activo', 'active'], ['Inactivo', 'inactive']], params[:state]), {include_blank: true, label: 'Estado' }
            .col-md-4
              = f.select :group, options_from_collection_for_select(Group.all, :id, :name, params[:group]), {include_blank: true, label: 'Grupo' }

          = f.submit 'Filtrar'
          = link_to 'Exortar excel', exports_users_path(format: :xlsx), class: 'btn btn-success'

      %table.table.table-hover
        %thead
          %tr
            %th
              Id
            %th
              Nombre
            %th
              Correo electrónico
            %th
              Teléfono
            %th
              Estado
            %th
              Rol
            %th
              Grupo
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.id
              %td
                = link_to user.name, user_path(user)
              %td
                = user.email
              %td
                = user.phone_number
              %td
                = user.status
              %td
                = user.huminize_role
              %td
                = user.group.name unless user.group.nil?
              %td
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %span.glyphicon.glyphicon-pencil
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'Ver información', user_path(user)
                    - if user.student?
                      %li
                        = link_to 'Editar información', edit_user_path(user)
                    %li.divider
                    %li
                      = link_to 'Eliminar usuario', user_path(user), method: :delete, data: { confirm: '¿Estás seguro?' }
      .pull-right
        = paginate @users
        %br
        = page_entries_info @users
