.container-fluid.container-fixed-lg.bg-white
  .panel.panel-transparent
    .panel-heading
      .pull-right
        .col-xs-12
          / %input#search-table.form-control.pull-right{:placeholder => "Search", :type => "text"}/
          %input#admin_students.form-control.pull-right{:placeholder => "Search", :type => "text"}/
      .clearfix
    .panel-body    
      #filters.row{"style"=>"display: block;"}
        - if current_user.admin?
          = form_tag(students_users_path, method: :get) do
            .col-md-12.col-sm-12.col-xs-12
              %aside.sidebar-menu
                %h4.search-title Filtrar búsqueda:
                .search-group
                  .col-md-2.col-sm-4.col-xs-12
                    .s-s-title
                      %i.fa.fa-check-square-o
                      Status:
                    = select_tag :status, options_for_select([['Activo', 'active'], ['Inactivo', 'inactive']], params[:status]), {include_blank: "Filtra por status", class: "form-control"} 
                .search-group
                  .col-md-2.col-sm-4.col-xs-12
                    .s-s-title
                      %i.fa.fa-users
                      Grupo:
                    = select_tag :group, options_from_collection_for_select(Group.all, :id, :name, params[:group]), {include_blank: "Filtra por grupo", class: "form-control" }
                .search-group
                  .col-md-2.col-sm-4.col-xs-12
                    .s-s-title
                      %i.fa.fa-university
                      Universidad:
                    = select_tag :university, options_from_collection_for_select(@universities, :id, :name, params[:university]), {include_blank: "Filtra por universidad", class: "col-md-12" }  

                .search-group
                  .col-md-2.col-sm-4.col-xs-12
                    .s-s-title
                      %i.fa.fa-map-marker
                      Estado:
                    = select_tag :state, options_from_collection_for_select(State.all, :id, :name, params[:state]), {include_blank: "Filtra por estado", class: "col-md-12" }
                .search-group
                  .col-md-2.col-sm-4.col-xs-12
                    .s-s-title
                      %i.fa.fa-graduation-cap
                      Tipo de grupo:
                    = select_tag :tipo,  options_for_select(['Escolarizado', ' Autodidacta digital', 'Presencial', 'Experiemental'], params[:tipo]), {include_blank: "Filtra por tipo de grupo", class: "form-control" }
                .search-group
                  .col-md-2.col-sm-4.col-xs-12
                    .s-s-title
                      %i.fa.fa-industry
                      Industria:
                    = select_tag :industria, options_from_collection_for_select(Industry.all,:id,:name, params[:industria]), {include_blank: "Filtra por industria en la que emprendes", class: "form-control" }
            .col-md-12        
              .search-group
                .col-md-3.col-sm-6.col-xs-12
                  .s-s-title
                    %i.fa.fa-check-circle
                    Porcentaje contestado  
                  = select_tag :answered, options_for_select(OptionsRange.percentages, params[:answered]), {include_blank: "Filtra por porcentaje contestado", class: "form-control" }
              .search-group
                .col-md-3.col-sm-6.col-xs-12
                  .s-s-title
                    %i.fa.fa-eye
                    Porcentaje visto
                  = select_tag :visited, options_for_select(OptionsRange.percentages, params[:visited]), {include_blank: "Filtra por porcentaje visto", class: "form-control" }
              .search-group
                .col-md-3.col-sm-6.col-xs-12
                  .s-s-title
                    %i.fa.fa-book
                    Programa (*)  
                  = select_tag :program, options_from_collection_for_select(Program.all,:id, :name, params[:program]), {include_blank: "Seleccionar programa", class: "form-control" }
            .col-md-12      
              %i.row
                (*) Selecciona un programa para filtrar por el porcentaje de contenido contestado/visto   
            %br
            %br                    
            .col-md-12     
              - if !params['utf8'].nil?
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button" }
                    Exportar Elementos Filtrados
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to 'Formato rápido', students_users_path(format: :xls, status: params[:status], group: params[:group], university: params[:university], state: params[:state], tipo: params[:tipo], industria: params[:industria], answered: params[:answered], visited: params[:visited], program: params[:program], fast: true)
                    %li
                      = link_to 'Formato completo', students_users_path(format: :xls, status: params[:status], group: params[:group], university: params[:university], state: params[:state], tipo: params[:tipo], industria: params[:industria], answered: params[:answered], visited: params[:visited], program: params[:program], fast: false)
              .btn-group
                %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button" }
                  Exportar Lista
                  %span.caret
                = submit_tag 'Filtrar', class: "btn btn-default"   
                %ul.dropdown-menu
                  %li
                    = link_to 'Formato rápido', students_users_path(format: :xlsx, fast: true)
                  %li
                    = link_to 'Formato completo', students_users_path(format: :xlsx, fast: false)

      - if (params[:group].present?) && @allusers.count > 0
        - seen, ave = [], [] #vectores-contadores globales a y b
        - @allusers.each do |student|
          - seen << student.content_visited_percentage
          - ave << student.answered_questions_percentage
        .well.m-t-25
          .font-montserrat.p-l-25.p-b-10{:style => "text-transform: uppercase;"}
            Estadísticas del grupo "#{Group.find(params[:group]).name}" #{(params[:status] == 'active') ? "en estado activo" : "en estado inactivo"}
          .row
            .col-xs-4
              %ul.p-l-10.m-b-0
                %li.inline 
                  %i.fa.fa-user 
                %li.inline 
                  Alumnos del grupo: 
                = @allusers.count
            .col-xs-4
              %ul.p-l-10.m-b-0
                %li.inline 
                  %i.fa.fa-eye 
                %li.inline 
                  Promedio visto:  
                  %strong #{(seen.inject{ |sum, el| sum + el }.to_f / seen.size).ceil}%
            .col-xs-4
              %ul.p-l-10.m-b-0
                %li.inline 
                  %i.fa.fa-rocket
                %li.inline 
                  Promedio contestado: 
                  %strong #{(ave.inject{ |sum, el| sum + el }.to_f / ave.size).ceil}%

      %table.table.table-hover
        %thead
          %tr
            %th
              Id
            %th{:width => "25%"}
              Datos de contacto
            %th{:width => "25%"}
              Información de usuario
            - if current_user.admin?
              %th{:width => "25%"}
                Porcentaje de avances
            %th
              Acciones
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.id
              %td  
                .m-b-0
                  = link_to user.name, user_path(user)
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %i.fa.fa-envelope
                  %li.inline 
                    = user.email
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %i.fa.fa-phone
                  %li.inline 
                    = user.phone_number
              %td
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %span.bold Estado:
                  %li.inline{:class => "#{(user.status == 'Inactivo') ? 'text-danger' : 'text-primary'}"} 
                    = user.status
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %span.bold Rol:
                  %li.inline 
                    = user.huminize_role
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %span.bold Grupo:
                  %li.inline 
                    = user.group.name.capitalize unless user.group.nil?
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %span.bold Última sesión:
                  %li.inline 
                    - if !user.visits.last.nil?
                      = l user.visits.last.started_at, format: :short_special
                    - else
                      %span.text-danger Ninguna
                %ul.p-l-0.m-b-0
                  %li.inline 
                    %span.bold Industria:
                  %li.inline 
                    = if user.industry.nil? then "No seleccionado" else user.industry.name end     
              - if current_user.admin?
                %td
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %span.bold Contestado:
                    %li.inline 
                      #{user.answered_questions_percentage}%
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %span.bold Visto:
                    %li.inline 
                      #{user.content_visited_percentage}%
                  %ul.p-l-0.m-b-0
                    %li.inline 
                      %span.bold Estatus de evaluación:
                    %li.inline 
                      #{user.evaluation_status}
              %td
                %ul.unstyled.list-unstyled.p-l-0.m-b-0
                  %li 
                    = link_to user_path(user) do
                      %i.fa.fa-eye
                      Ver información
                  - if user.student?
                    - if current_user.admin?
                      %li
                        = link_to edit_user_path(user) do
                          %i.fa.fa-edit
                          Editar
                      %li
                        = link_to user_path(user), method: :delete, data: { confirm: '¿Estás seguro?' } do
                          %i.fa.fa-times
                          Eliminar
                      %li
                        = link_to new_user_invitation_path, :target => "_blank" do
                          %i.fa.fa-send-o
                          Enviar invitación
      .pull-right
        = paginate @users
        %br
        = page_entries_info @users
