.register-container.full-height.sm-p-t-30
  .container-sm-height.full-height
    .row.row-sm-height
      .col-sm-12.col-sm-height.col-middle
        = image_tag('https://fakeimg.pl/152x48/D3D3D3/?text=Logo(152x48)', width: 200)
        %h3 Lorem ipsum dolor sit amet consectetur adipiscing suspendisse

        = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.hidden_field :reset_password_token
          .row
            .col-sm-12
              = f.password_field :password, label: 'Nueva contraseña', wrapper: { class: 'form-group-default' }
            .col-sm-12
              = f.password_field :password_confirmation, label: 'Confirmar contraseña', wrapper: { class: 'form-group-default' }

          .row.text-right
            = f.submit "Cambiar contraseña", class: 'btn btn-primary btn-cons m-t-10'
          .row.m-t-10
            .col-md-12.text-right
              %a.text-info.small{:href => "mailto:" + (ENV['MAILER_SUPPORT'].nil? ? "soporte@ejemplo.com" : ENV['MAILER_SUPPORT'])} ¿Necesitas ayuda? Contáctanos
.full-width
  .register-container.m-b-10.clearfix
    .col-md-10.m-t-15
      %p.hinted-text.small.inline Todos los derechos reservados © 2018 #{digital_courses_text_helper}.
