- content_for :title do
  = title_text_helper("Inicio")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Bienvenido a #{the_platform_name_helper}
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Esto es #{the_platform_name_helper}
            %p.m-b-25.text-white
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at orci nec ligula venenatis ornare eu ut purus. Aliquam luctus, neque quis tincidunt pulvinar, mi leo dictum purus, et blandit sem nunc at ligula. Mauris aliquet rutrum libero ac efficitur. Nunc vel nibh vulputate, tristique dui vel, ullamcorper sem.

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          .embed-responsive.embed-responsive-16by9
            = image_tag('https://fakeimg.pl/1268x714/c2cde4/')

          .panel.panel-default.m-t-30
            .panel-heading
              .panel-title
                Instrucciones para comenzar
            .panel-body
              %p
                Para iniciar, puedes ir al menú de la izquierda y visitar la sección #{"<span class='montserrat-lead'>programas</span>".html_safe}, en donde encontrarás lecciones de aprendizaje y preguntas sobre tu negocio que te serán evaluadas.
