- content_for :title  do
	Ruta de aprendizaje - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
		.container
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row.col-md-12
					.col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
						%h2.text-white 
							Ruta de Aprendizaje
					.col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
						%h5.text-white
							Tu propio camino
						%p.m-b-25.text-white
							Aquí podrás ver tu ruta de aprendizaje, una selección de cursos diseñada especialmente para ti, justo en el orden óptimo de acuerdo a tu perfil, para que cumplas tus objetivos como emprendedor.

.container-fluid.sm-p-l-5
	.timeline-container.top-circle
		%section.timeline
			- @group_programs.each do |p|
				- unless p.program.nil?
					.timeline-block
						.timeline-point.success
							%i.pg-map{"aria-hidden"=>"true"}
						.timeline-content
							.card.share.share-other{"data-social" => "item"}
								.card-content
									.col-md-6.p-r-0-image
										%a{:href => dashboard_program_path(p.program)}
											= image_tag(p.program.cover.url, class: "img-rounded learning-img")
									.col-md-6
										%a{:href => dashboard_program_path(p.program)}
											.card-header.p-l-0-card
												%h5
													= p.program.name
												%h6
													= p.program.description
									.col-md-12			
										.p-b-10
											- seen_progress = @current_user.percentage_content_visited_for(p.program)
											- answered_progress = @current_user.percentage_questions_answered_for(p.program)
											- if answered_progress == 0 && seen_progress == 0
												.progress
													.progress-bar.progress-bar-primary{:style => "width:#{answered_progress}%"}
												.p-b-10.p-r-15.m-b-10.m-t-5
													.no-margin.pull-left{:style => "color: #5B4D91;"}
														Curso no iniciado
											- elsif answered_progress == 0 && seen_progress > 0
												.progress
													.progress-bar.progress-bar-primary{:style => "width:#{answered_progress}%"}
												.p-b-10.p-r-15.m-b-10.m-t-5
													.no-margin.pull-left{:style => "color: #5B4D91;"}
														Curso no contestado
													.no-margin.pull-right{:style => "color: #ada4d1;"}
														#{seen_progress}% visto
											- else
												.progress
													.progress-bar.progress-bar-primary{:style => "width:#{answered_progress}%"}
												.p-b-10.p-r-15.m-b-10.m-t-5
													.no-margin.pull-left{:style => "color: #5B4D91;"}
														#{answered_progress}% de progreso
													.no-margin.pull-right{:style => "color: #ada4d1;"}
														#{seen_progress}% visto
							.event-date
								%h6.font-montserrat.all-caps.hint-text.m-t-0 
								%small.fs-12.hint-text											
