.container-fluid.container-fixed-lg.bg-white
  .panel.panel-transparent
    .panel-heading
      %h2
        Evaluaci贸n de programas
      .row
        .col-md-12
          %p
            %strong
              Programa a evaluar:
            = @program.name
          %p
            %strong
              Alumno en evaluaci贸n
            = @user.name
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th
              M贸dulo
            %th
              Meta
            %th
              Resultado
            %th
              Preguntas totales
            %th
              Preguntas contestadas
            %th
        %tbody
          - answers_total = 0
          - @chapters.each do |chapter|
            %tr
              %td
                = chapter.name
              %td
                #{chapter.points} %
              %td
                #{(((chapter.evaluation_points * 100) / chapter.total_evaluations_points rescue 0) * chapter.points / 100)} %
              %td
                = chapter.questions.count
              %td
                = answered_questions(chapter, @user)
                - answers_total += answered_questions(chapter, @user)
              %td
                = link_to 'Evaluar m贸dulo', mentor_evaluation_path(chapter, user_id: @user, program_id: @program)
          %tr
            %th
              Total
            %th
              #{@chapters.sum(:points)} %
            %th
              #{@chapters.map { |chapter| (((chapter.evaluation_points * 100) / chapter.total_evaluations_points rescue 0) * chapter.points / 100) }.inject(0, :+) } %
            %th
              = total_qustions(@chapters)
            %th
              = answers_total
            %th
