- content_for :title  do
  Evaluación de programas - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-recursos
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Evaluación de módulo
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h3.text-white
              %span.p-r-10{style: "font-size:16px !important;"}
                Módulo:
              %span
                #{@chapter.name}
            = link_to mentor_evaluations_path(program_id: @program, user_id: @user), class: 'btn btn-sm btn-default btn-cons m-b-10' do
              %i.fa.fa-reply
              %span.bold Regresar a evaluación de programa
            %div.inline-block
              - if  @user.student?
                = link_to mentor_evaluation_path(@chapter, program_id: @program, user_id: @prev_student), class: 'btn btn-sm btn-complete btn-cons m-b-10' do
                  %i.fa.fa-arrow-left
                  %span.bold Alumno anterior
                = link_to mentor_evaluation_path(@chapter, program_id: @program, user_id: @next_student), class: 'btn btn-sm btn-complete btn-cons m-b-10' do
                  %span.bold Siguiente alumno
                  %i.fa.fa-arrow-right

- chaps_width =  (99.to_f / (@chapters_w_questions.count + 2)).to_f 
.bg-info.container-minus-40
  %ul.evaluation-ul-menu
    - if @user.student?
      = link_to mentor_evaluation_path(@prev_chapter, program_id: @program, user_id: (defined?(@same_user_prev) ? @same_user_prev : @selected_user) ), class: 'evaluation-nav-link' do
        %li.text-center{style: "width: #{chaps_width}%;", "data-placement": "bottom", "data-toggle": "tooltip", "data-original-title": "#{ (@selected_user.id < @user.id) ? @prev_text + @selected_user.name : @prev_chapter.name }", class: "#{ (@selected_user.id < @user.id) ? 'text-complete' : ''}"}
          Anterior
    - else
      %a{href: "#", class: 'evaluation-nav-link'}
        %li.text-center{style: "width: #{chaps_width}%;", "data-placement": "bottom", "data-toggle": "tooltip", "data-original-title": "#{@selected_user.name}", class: "text-complete"}
          Anterior      
    - @chapters_w_questions.each_with_index do |chapter, index|
      = link_to mentor_evaluation_path(chapter, program_id: @program, user_id: @user), class: 'evaluation-nav-link' do
        %li.text-center{style: "width: #{chaps_width}%; border-right: 1px dotted #3C93CE; #{(index==0) ? 'border-left: 1px dotted #3C93CE;' : ''}", class: "#{(chapter.id == @chapter.id) ? 'evaluation-nav-active' : ''}", "data-placement": "bottom", "data-toggle": "tooltip", "data-original-title": "#{chapter.name}"}
          #{index+1}
          
    - unless @next_chapter.nil?
      - if @user.student?
        = link_to mentor_evaluation_path(@next_chapter, program_id: @program, user_id: (defined?(@same_user_next) ? @same_user_next : @selected_user) ), class: 'evaluation-nav-link' do
          %li.text-center{style: "width: #{chaps_width}%;", "data-placement": "bottom", "data-toggle": "tooltip", "data-original-title": "#{ (@selected_user.id > @user.id) ? @next_text + @selected_user.name : @next_chapter.name }", class: "#{ (@selected_user.id > @user.id) ? 'text-complete' : ''}"}
            Siguiente
      - else
        %a{href: "#", class: 'evaluation-nav-link'}
          %li.text-center{style: "width: #{chaps_width}%;", "data-placement": "bottom", "data-toggle": "tooltip", "data-original-title": "#{@selected_user.name}", class: "text-complete"}
          Siguiente        

.container-fluid.container-fixed-lg.bg-transparent.container-minus-30
  .panel.panel-transparent
    .panel-body
      .row
        .col-sm-7
          %h5.m-b-0
            Programa en evaluación:
          %h4.m-t-0.text-primary
            = @program.name
        - if current_user.mentor?
          .col-sm-5
            .p.text-right
              %button.btn.btn-success.btn-cons{:type => "submit", :form => "evolve", :name => "path", :value => "store"} 
                Guardar
              %button.btn.btn-info.btn-cons{:type => "submit", :form => "evolve", :name => "path", :value => "out"}
                Guardar y salir      
        - else
          .col-sm-5
            .p.text-right
              = link_to user_path(@user) do 
                %button.btn.btn-info.btn-cons
                  %i.fa.fa-reply
                  Regresar
      .row
        .col-sm-7            
          %ul.nav.nav-tabs.nav-tabs-simple.m-b-10
            %li.nav-item.tablinks.active{onclick: "openTab(event, 'tabQuestions')"}
              %a{href: "#", onclick: "return false;"} 
                Preguntas 
                %span.badge
                  = @answers.length
            %li.nav-item.tablinks{onclick: "openTab(event, 'tabDelireverables')"}
              %a{href: "#", onclick: "return false;"} 
                Entregables
                %span.badge
                  = @delireverables.count
            %li.nav-item.tablinks{onclick: "openTab(event, 'tabRefillables')"}
              %a{href: "#", onclick: "return false;"} 
                Plantillas
                %span.badge
                  = @templates.count
            %li.nav-item.tablinks{onclick: "openTab(event, 'tabQuizzes')"}
              %a{href: "#", onclick: "return false;"} 
                Evaluaciones
                %span.badge
                  = @quizzes.count
          .tab-content.p-b-30
            #tabQuestions.tab-pane.active.tabcontent                    
              .row
                .col-sm-12
                  .panel.panel-default
                    .panel-heading
                      .panel-title
                        Preguntas del programa
                    .panel-body
                      /%h3.text-complete.m-b-30
                      /  Módulo #{@chapter.position}: #{@chapter.name}
                      %ol.p-l-10
                        - if @answers.exists?
                          - @answers.each do |answer|
                            %li.m-b-30
                              %h5.m-b-10
                                = answer.question_text
                              - if !answer.answer_text.nil?
                                %p.answer-lead
                                  = answer.answer_text
                              - else
                                %p.answer-lead-red
                                  Sin respuesta
                              /%p.m-b-25
                              /%a.comments-count{href: '#', 'data-question'=> answer.question_id, 'data-user'=> answer.user_id, 'data-content'=> answer.chapter_content_id, 'data-url'=> mentor_question_path(answer.question_id, user_id: answer.user_id)}
                              /Comentarios:
                              /= answer.comments_count
                        - else
                          %label.label-danger.padding-5.m-b-10
                            No hay preguntas en este módulo
                
                
               
            #tabDelireverables.tab-pane.tabcontent
              .row
                .panel.panel-default
                  .panel-heading
                    .panel-title
                      Entregables del programa
                  .panel-body
                    /%h3.text-complete.m-b-30
                    /  Módulo #{@chapter.position}: #{@chapter.name}
                    %ol.p-l-10
                      - if @delireverables.length > 0
                        - @delireverables.each do |delireverable|
                          - delireverable_user = delireverable.delireverable_users.find_by(user: @user)
                          - unless delireverable_user.nil?
                            .row
                              .row
                                .col-sm-12
                                  %h5.m-b-10
                                    = "Nombre:  #{delireverable.name}"
                              .row.p-b-10
                                .col-sm-10
                                  %strong Descripción:
                                  = delireverable.description
                                .col-sm-2
                                  - if delireverable_user.status==0
                                    %span.label.label-warning
                                      = delireverable_user.huminize_status
                                  - else
                                    %span.label.label-success
                                      = delireverable_user.huminize_status      
                              .row.p-b-10
                                .col-sm-6
                                  %strong Ejemplo:    
                                  = link_to 'Descargar', delireverable.file.url, target: '_blank'
                                .col-sm-6
                                  %strong Archivo del Alumno:
                                  = link_to 'Descargar', delireverable_user.file.url, target: '_blank'
                              .p-t-10    
                              .well  
                                = bootstrap_form_for([:mentor, @user, delireverable_user], url: mentor_student_delireverable_user_path(@user, delireverable_user), method: :put, remote: true) do |f|
                                  = f.select(:status, [['Enviado', 'sent'], ['Revisado', 'reviewed']])
                                  = f.text_field :comments, placeholder: 'Realiza un comentario', label: 'Comentarios'
                                  = f.submit 'Guardar'
                          - else
                            .row
                              .row
                                .col-sm-12
                                  %h5.m-b-10
                                    = "Nombre:  #{delireverable.name}"
                              .row.p-b-10
                                .col-sm-10
                                  %strong Descripción:
                                  = delireverable.description
                                .col-sm-2
                                  %span.label.label-danger
                                    No enviado     
                              .row.p-b-10
                                .col-sm-6
                                  %strong Ejemplo:    
                                  = link_to 'Descargar', delireverable.file.url, target: '_blank'
                                .col-sm-6
                                  %strong 
                                    Archivo del Alumno:
                                  No enviado
                      - else
                        %label.label-danger.padding-5.m-b-10
                          No hay entregables en este módulo
            
            #tabRefillables.tab-pane.tabcontent
              .row
                .panel.panel-default
                  .panel-heading
                    .panel-title
                      Plantillas del programa
                  .panel-body
                    /%h3.text-complete.m-b-30
                    /  Módulo #{@chapter.position}: #{@chapter.name}
                    %ol.p-l-10
                      - if @templates.length > 0
                        - @templates.each do |template|
                          - refilable = template.refilables.find_by(user: @user)
                          - unless refilable.nil?
                            .col-md-12
                              %strong
                                = template.name
                              = raw remove_class(replace_fillable(template.refilables.find_by(user: @user).content))

                            .col-md-12.p-l-10
                              %strong
                                Comentarios:
                              .well  
                                = bootstrap_form_for([:mentor, @user, refilable], url: mentor_student_refilable_path(@user, refilable), method: :put, remote: true) do |f|
                                  = f.text_area :comments, placeholder: 'Realiza un comentario', label: 'Comentarios', rows: 5
                                  = f.submit 'Guardar'
                          - else
                            .col-sm-12
                              %strong
                                = template.name
                              .pull-right
                                %span.label.label-danger  
                                  No contestado
                              = raw remove_class(replace_fillable(template.content))
                      - else
                        %label.label-danger.padding-5.m-b-10
                          No hay plantillas en este módulo
            #tabQuizzes.tab-pane.tabcontent
              .row
                .panel.panel-default
                  .panel-heading
                    .panel-title
                      Evaluaciones del programa
                  .panel-body
                    /%h3.text-complete.m-b-30
                    /  Módulo #{@chapter.position}: #{@chapter.name}
                    %ol.p-l-10
                      - if @quizzes.length > 0
                        - @quizzes.each do |quiz|
                          - quiz = quiz
                          - unless quiz.nil?
                            .col-md-12
                              %h5.m-b-10
                                = quiz.name
                              %table.table.table-hover
                                %thead
                                  %tr
                                    %th{width: "35%"} Pregunta
                                    %th{width: "30%"} Respuesta
                                    %th.text-center{width: "20%"} Evaluación
                                    %th.text-center Valor
                                    %th.text-center Obtenido
                                - quiz.quiz_questions.each do |question|
                                  %tr
                                    %td.p-b-15
                                      = link_to "#", class: "btn btn-success btn-rounded" do
                                        %i.fa.fa-tasks
                                      %span.m-l-10{style: "position: relative; top: -8px;"} 
                                        = question.question_text
                                      - answer = QuizAnswer.find_by(quiz_question_id: question.id, user_id: @user.id)
                                    %td.p-b-15
                                      = QuizAnswer.respuesta(question.id, current_user.id)
                                    %td.text-center.p-b-15
                                      = answer.nil? ? "Sin contestar" : QuizAnswer.revisada(question.id, current_user.id).html_safe
                                    %td.text-center
                                      = answer.nil? ? "No hay puntos" : answer.quiz_question.points
                                    %td.text-center
                                      %strong
                                        = points_quiz_question(question, @user)
                                %tr
                                  %td{colspan: '4'}
                                    %h5.pull-right Total:
                                  %td
                                    %h5= quiz.average(@user)

                          
                      - else
                        %label.label-danger.padding-5.m-b-10
                          No hay evaluaciones en este módulo                                
        .col-sm-5
          .panel.panel-default
            .panel-heading
              .panel-title
                Rúbrica de evaluación
            .panel-body
              .container-fluid.p-l-0.p-r-0
                #rootwizard
                  - if @chapter.evaluations.exists?
                    / Nav tabs
                    %ul.nav.nav-tabs.nav-tabs-fillup.nav-tabs-separator.nav-stack-sm
                      - @chapter.evaluations.each_with_index do |chapter, index|
                        %li{:style => "width:30px;", :class => "#{index==0 ? 'active' : ''}"}
                          %a.p-l-11.l-h-5{"data-toggle" => "tab", :href => "#tab#{index}"}
                            = index + 1
                    / Tab panes
                    = bootstrap_form_for(@chapter, url: mentor_evaluation_path, :html => {:id => "evolve"}) do |f|
                      %input{type: 'hidden', name: "user_id", value: @user.id, id: "user_id"}
                      %input{type: 'hidden', name: "program_id", value: @program.id, id: "program_id"}
                        .tab-content
                          - @chapter.evaluations.each_with_index do |evaluation, index|
                            .tab-pane.padding-20.slide-left{:id => "tab#{index}", :class => "#{index==0 ? 'active' : ''}"}
                              .row.row-same-height
                                %h5
                                  = evaluation.name
                                  %em{:style => "font-size:0.9em;"}
                                    (#{evaluation.points} pts o #{evaluation.points * 100 / @totaleval}%)
                                %input{type: 'hidden', name: "evaluation[#{index}][evaluation]", value: evaluation.id}
                                .radio.radio-success
                                  %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_excelent_#{index}", value: '100', checked: evaluation_pointed?(evaluation, 100)}
                                  %label{for: "radio_excelent_#{index}"}
                                    %strong Exelente:
                                    #{evaluation.excelent}
                                .radio.radio-success
                                  %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_good_#{index}", value: '75', checked: evaluation_pointed?(evaluation, 75)}
                                  %label{for: "radio_good_#{index}"}
                                    %strong Bueno:
                                    #{evaluation.good}
                                .radio.radio-success
                                  %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_regular_#{index}", value: '50', checked: evaluation_pointed?(evaluation, 50)}
                                  %label{for: "radio_regular_#{index}"}
                                    %strong Regular:
                                    #{evaluation.regular}
                                .radio.radio-success
                                  %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_bad_#{index}", value: '25', checked: evaluation_pointed?(evaluation, 25)}
                                  %label{for: "radio_bad_#{index}"}
                                    %strong Malo:
                                    #{evaluation.bad}
                        
                      .padding-20.bg-white
                        %ul.pager.wizard
                          %li.next
                            %button.btn.btn-primary.btn-cons.btn-animated.from-left.fa.fa-arrow-right.pull-right{:type => "button"}
                              %span Siguiente
                          - if current_user.mentor?
                            %li.next.finish.hidden
                              %button.btn.btn-info.btn-cons.btn-animated.from-left.fa.fa-check.pull-right{:type => "submit", :name => "path", :value => "out"}
                                %span Guardar y salir
                          %li.previous.first.hidden
                            %button.btn.btn-default.btn-cons.btn-animated.from-left.fa.fa-check.pull-right{:type => "button"}
                              %span Primero
                          %li.previous
                            %button.btn.btn-default.btn-cons.pull-right{:type => "button"}
                              %span Anterior
                  - else 
                    .nav-tabs.nav-tabs-separator.m-b-15
                    %label.label-danger.padding-5.m-b-10
                      No hay rúbrica para este módulo
#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text                                                                    

%script{:type => "text/javascript"}
  (function(e){var n=function(d,k){d=e(d);var a=this,g=[],c=e.extend({},e.fn.bootstrapWizard.defaults,k),f=null,b=null;this.rebindClick=function(h,a){h.unbind("click",a).bind("click",a)};this.fixNavigationButtons=function(){f.length||(b.find("a:first").tab("show"),f=b.find('li:has([data-toggle="tab"]):first'));e(c.previousSelector,d).toggleClass("disabled",a.firstIndex()>=a.currentIndex());e(c.nextSelector,d).toggleClass("disabled",a.currentIndex()>=a.navigationLength());e(c.backSelector,d).toggleClass("disabled",
  0==g.length);a.rebindClick(e(c.nextSelector,d),a.next);a.rebindClick(e(c.previousSelector,d),a.previous);a.rebindClick(e(c.lastSelector,d),a.last);a.rebindClick(e(c.firstSelector,d),a.first);a.rebindClick(e(c.backSelector,d),a.back);if(c.onTabShow&&"function"===typeof c.onTabShow&&!1===c.onTabShow(f,b,a.currentIndex()))return!1};this.next=function(h){if(d.hasClass("last")||c.onNext&&"function"===typeof c.onNext&&!1===c.onNext(f,b,a.nextIndex()))return!1;h=a.currentIndex();$index=a.nextIndex();$index>
  a.navigationLength()||(g.push(h),b.find('li:has([data-toggle="tab"]):eq('+$index+") a").tab("show"))};this.previous=function(h){if(d.hasClass("first")||c.onPrevious&&"function"===typeof c.onPrevious&&!1===c.onPrevious(f,b,a.previousIndex()))return!1;h=a.currentIndex();$index=a.previousIndex();0>$index||(g.push(h),b.find('li:has([data-toggle="tab"]):eq('+$index+") a").tab("show"))};this.first=function(h){if(c.onFirst&&"function"===typeof c.onFirst&&!1===c.onFirst(f,b,a.firstIndex())||d.hasClass("disabled"))return!1;
  g.push(a.currentIndex());b.find('li:has([data-toggle="tab"]):eq(0) a').tab("show")};this.last=function(h){if(c.onLast&&"function"===typeof c.onLast&&!1===c.onLast(f,b,a.lastIndex())||d.hasClass("disabled"))return!1;g.push(a.currentIndex());b.find('li:has([data-toggle="tab"]):eq('+a.navigationLength()+") a").tab("show")};this.back=function(){if(0==g.length)return null;var a=g.pop();if(c.onBack&&"function"===typeof c.onBack&&!1===c.onBack(f,b,a))return g.push(a),!1;d.find('li:has([data-toggle="tab"]):eq('+
  a+") a").tab("show")};this.currentIndex=function(){return b.find('li:has([data-toggle="tab"])').index(f)};this.firstIndex=function(){return 0};this.lastIndex=function(){return a.navigationLength()};this.getIndex=function(a){return b.find('li:has([data-toggle="tab"])').index(a)};this.nextIndex=function(){return b.find('li:has([data-toggle="tab"])').index(f)+1};this.previousIndex=function(){return b.find('li:has([data-toggle="tab"])').index(f)-1};this.navigationLength=function(){return b.find('li:has([data-toggle="tab"])').length-
  1};this.activeTab=function(){return f};this.nextTab=function(){return b.find('li:has([data-toggle="tab"]):eq('+(a.currentIndex()+1)+")").length?b.find('li:has([data-toggle="tab"]):eq('+(a.currentIndex()+1)+")"):null};this.previousTab=function(){return 0>=a.currentIndex()?null:b.find('li:has([data-toggle="tab"]):eq('+parseInt(a.currentIndex()-1)+")")};this.show=function(b){b=isNaN(b)?d.find('li:has([data-toggle="tab"]) a[href=#'+b+"]"):d.find('li:has([data-toggle="tab"]):eq('+b+") a");0<b.length&&
  (g.push(a.currentIndex()),b.tab("show"))};this.disable=function(a){b.find('li:has([data-toggle="tab"]):eq('+a+")").addClass("disabled")};this.enable=function(a){b.find('li:has([data-toggle="tab"]):eq('+a+")").removeClass("disabled")};this.hide=function(a){b.find('li:has([data-toggle="tab"]):eq('+a+")").hide()};this.display=function(a){b.find('li:has([data-toggle="tab"]):eq('+a+")").show()};this.remove=function(a){var c="undefined"!=typeof a[1]?a[1]:!1;a=b.find('li:has([data-toggle="tab"]):eq('+a[0]+
  ")");c&&(c=a.find("a").attr("href"),e(c).remove());a.remove()};var l=function(d){var g=b.find('li:has([data-toggle="tab"])');d=g.index(e(d.currentTarget).parent('li:has([data-toggle="tab"])'));g=e(g[d]);if(c.onTabClick&&"function"===typeof c.onTabClick&&!1===c.onTabClick(f,b,a.currentIndex(),d,g))return!1},m=function(d){$element=e(d.target).parent();d=b.find('li:has([data-toggle="tab"])').index($element);if($element.hasClass("disabled")||c.onTabChange&&"function"===typeof c.onTabChange&&!1===c.onTabChange(f,
  b,a.currentIndex(),d))return!1;f=$element;a.fixNavigationButtons()};this.resetWizard=function(){e('a[data-toggle="tab"]',b).off("click",l);e('a[data-toggle="tab"]',b).off("shown shown.bs.tab",m);b=d.find("ul:first",d);f=b.find('li:has([data-toggle="tab"]).active',d);e('a[data-toggle="tab"]',b).on("click",l);e('a[data-toggle="tab"]',b).on("shown shown.bs.tab",m);a.fixNavigationButtons()};b=d.find("ul:first",d);f=b.find('li:has([data-toggle="tab"]).active',d);b.hasClass(c.tabClass)||b.addClass(c.tabClass);
  if(c.onInit&&"function"===typeof c.onInit)c.onInit(f,b,0);if(c.onShow&&"function"===typeof c.onShow)c.onShow(f,b,a.nextIndex());e('a[data-toggle="tab"]',b).on("click",l);e('a[data-toggle="tab"]',b).on("shown shown.bs.tab",m)};e.fn.bootstrapWizard=function(d){if("string"==typeof d){var k=Array.prototype.slice.call(arguments,1);1===k.length&&k.toString();return this.data("bootstrapWizard")[d](k)}return this.each(function(a){a=e(this);if(!a.data("bootstrapWizard")){var g=new n(a,d);a.data("bootstrapWizard",
  g);g.fixNavigationButtons()}})};e.fn.bootstrapWizard.defaults={tabClass:"nav nav-pills",nextSelector:".wizard li.next",previousSelector:".wizard li.previous",firstSelector:".wizard li.first",lastSelector:".wizard li.last",backSelector:".wizard li.back",onShow:null,onInit:null,onNext:null,onPrevious:null,onLast:null,onFirst:null,onBack:null,onTabChange:null,onTabClick:null,onTabShow:null}})(jQuery);

  (function($) {

  'use strict';

  $(document).ready(function() {

  $('#rootwizard').bootstrapWizard({
  onTabShow: function(tab, navigation, index) {
  var $total = navigation.find('li').length;
  var $current = index + 1;

  // If it's the last tab then hide the last button and show the finish instead
  if ($current >= $total) {
  $('#rootwizard').find('.pager .next').hide();
  $('#rootwizard').find('.pager .finish').show().removeClass('disabled hidden');
  } else {
  $('#rootwizard').find('.pager .next').show();
  $('#rootwizard').find('.pager .finish').hide();
  }

  var li = navigation.find('li.active');

  var btnNext = $('#rootwizard').find('.pager .next').find('button');
  var btnPrev = $('#rootwizard').find('.pager .previous').find('button');

  // remove fontAwesome icon classes
  function removeIcons(btn) {
  btn.removeClass(function(index, css) {
  return (css.match(/(^|\s)fa-\S+/g) || []).join(' ');
  });
  }

  if ($current > 1 && $current < $total) {

  var nextIcon = li.next().find('.fa');
  var nextIconClass = nextIcon.attr('class').match(/fa-[\w-]*/).join();

  removeIcons(btnNext);
  btnNext.addClass(nextIconClass + ' btn-animated from-left fa');

  var prevIcon = li.prev().find('.fa');
  var prevIconClass = prevIcon.attr('class').match(/fa-[\w-]*/).join();

  removeIcons(btnPrev);
  btnPrev.addClass(prevIconClass + ' btn-animated from-left fa');
  } else if ($current == 1) {
  // remove classes needed for button animations from previous button
  btnPrev.removeClass('btn-animated from-left fa');
  removeIcons(btnPrev);
  } else {
  // remove classes needed for button animations from next button
  btnNext.removeClass('btn-animated from-left fa');
  removeIcons(btnNext);
  }
  },
  onNext: function(tab, navigation, index) {
  console.log("Showing next tab");
  },
  onPrevious: function(tab, navigation, index) {
  console.log("Showing previous tab");
  },
  onInit: function() {
  $('#rootwizard ul').removeClass('nav-pills');
  }

  });

  $('.remove-item').click(function() {
  $(this).parents('tr').fadeOut(function() {
  $(this).remove();
  });
  });

  });

  })(window.jQuery);

  function openTab(evt, tabNumber) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
  tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
  tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabNumber).style.display = "block";
  evt.currentTarget.className += " active";
  };
:javascript

  $(".comment_refilables").click(function() {

    var comments = $("#comments_r").val();
    var user = $("#user_id").val();
    var program = $("#program_id").val();
    if ($(this).attr("id")=="comment_refilables_"
    var template = $("#template").val();
    console.log(program+" "+user+" "+comments);
    $.ajax({
      url: '/mentor/evaluations/update_refilable',
      type: 'put',
      data: {comments: comments, user_id: user, program_id: program, template: template},
      success: function(data){ 
        console.log(data)
      },
      error: function(){
        console.log('error!');
      }
    });
  });
