.container-fluid.container-fixed-lg.bg-transparent
  .panel.panel-transparent
    .panel-heading.p-t-0.m-b-10
      .panel-title.m-b-30
        Rúbrica de evaluación
      %div.m-t-15
        %strong
          Alumno en evaluación:
        = @user.name
    .panel-body
      .row
        .col-md-8
          %h5.m-b-0
            Programa a evaluar:
          %h3.m-t-0
            = @program.name
        .col-md-4
          .p.text-right
            %button.btn.btn-success.btn-cons{:type => "submit", :name => "path", :value => "store"} Guardar evaluación
            %button.btn.btn-info.btn-cons{:type => "submit", :name => "path", :value => "out"} Guardar y salir
      .row
        .col-md-7
          .panel.panel-default
            .panel-heading
              .panel-title
                Preguntas del programa
            .panel-body
              %h3.text-complete
                Módulo #{@chapter.position}: #{@chapter.name}
              %ol.p-l-10
                - @answers.each do |answer|
                  %li
                    %h5.m-b-10
                      = answer.question_text
                    %p.answer-lead
                      = answer.answer_text
                    %p.m-b-25
                      %a.comments-count{href: '#', 'data-question'=> answer.question_id, 'data-user'=> answer.user_id, 'data-content'=> answer.chapter_content_id, 'data-url'=> mentor_question_path(answer.question_id, user_id: answer.user_id)}
                        Comentarios:
                        = answer.comments_count
        .col-md-5
          .panel.panel-default
            .panel-heading
              .panel-title
                Rúbrica de evaluación

      %h4
        Rubrica de evaluación
      = bootstrap_form_for(@chapter, url: mentor_evaluation_path) do |f|
        %input{type: 'hidden', name: "user_id", value: @user.id}
        %input{type: 'hidden', name: "program_id", value: @program.id}
        .row
          - @chapter.evaluations.each_with_index do |evaluation, index|
            .col-md-6
              %h4
                = evaluation.name
                (#{evaluation.points}%)

              %input{type: 'hidden', name: "evaluation[#{index}][evaluation]", value: evaluation.id}

              .radio
                %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_excelent_#{index}", value: '100', checked: evaluation_pointed?(evaluation, 100)}
                %label{for: "radio_excelent_#{index}"}
                  %strong Exelente:
                  #{evaluation.excelent}

              .radio
                %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_good_#{index}", value: '75', checked: evaluation_pointed?(evaluation, 75)}
                %label{for: "radio_good_#{index}"}
                  %strong Bueno:
                  #{evaluation.good}
              .radio
                %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_regular_#{index}", value: '50', checked: evaluation_pointed?(evaluation, 50)}
                %label{for: "radio_regular_#{index}"}
                  %strong Regular:
                  #{evaluation.regular}

              .radio
                %input{type: 'radio', name: "evaluation[#{index}][points]", id: "radio_bad_#{index}", value: '25', checked: evaluation_pointed?(evaluation, 25)}
                %label{for: "radio_bad_#{index}"}
                  %strong Malo:
                  #{evaluation.bad}

        .row
          %button.btn.btn-success{:type => "submit", :name => "path", :value => "store"} Evaluar módulo
          %button.btn.btn-primary{:type => "submit", :name => "path", :value => "out"} Evaluar y salir

#answer-comments.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4.modal-title Comentarios
      .modal-body
        .timeline-container.top-circle.answer-comments-body
        .text-center
          %a.btn.btn-default.answer-comment-link
            Ir a la pregunta

%script{:type => "text/template", id: 'answer-comment-template'}
  .panel.panel-transparent
    .timeline-point.warning.pl10
      %i.pg-social
    .timeline-content
      %h5.answer-comment-user
        {{user}}
      %h6.answer-comment-date
        {{date}}
      %p.answer-comment-content
        {{content}}
