.container
  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th
              Pregunta
            %th
              Respuesta
            %th
              Evaluación
            %th
              Detalles de evaluación
            %th
        %tbody
          - @answers.each do |answer|
            %tr
              %td
                = answer.question.question_text
              %td
                = answer.answer_text
              %td
                - unless answer.rubric.nil?
                  = answer.rubric.criteria
              %td
                - unless answer.rubric.nil?
                  = answer.rubric.base
              %td
                = link_to 'Evaluar', edit_user_answer_path(@user, answer)
                = link_to 'Comentar', new_dashboard_chapter_content_answer_path(answer.question.chapter_content)
