- content_for :title  do
  Rutas de Aprendizaje - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Rutas de aprendizaje
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Rutas de aprendizaje construidas hasta el momento, selecciona "Crear ruta de aprendizaje" para agregar una nueva.


.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .pull-right
        .col-xs-12.no-opacity
          = link_to new_learning_path_path do
            .btn.btn-success
              %i.fa.fa-plus
              Crear ruta de aprendizaje
      .clearfix
    .panel-body
      %table.table.table-hover
        %thead
          %tr
            %th Nombre
            %th Tipo
            %th.text-center N°. Contenidos
            %th.text-center Grupos asignados
            %th.text-center Acciones

        %tbody
          - @learning_path.each do |lp|
            %tr
              %td 
                = lp.name
              %td
                = if lp.tipo == "fisica" then "Física" elsif lp.tipo == "moral" then "Moral" else "Sin tipo" end  
              %td.text-center
                = lp.count_programs
              %td.text-center
                = lp.count_groups
              %td.text-center
                %ul.unstyled.list-unstyled.p-l-0.m-b-0
                  %li
                    = link_to learning_path_path(lp) do
                      %i.fa.fa-eye
                      Agregar Contenido/Ver
                  %li
                    = link_to clone_learning_path_path(lp), method: :post, data: { confirm: '¿Estás seguro?' } do
                      %i.fa.fa-copy
                      Clonar             
                  %li
                    = link_to edit_learning_path_path(lp) do
                      %i.fa.fa-edit
                      Editar     
                  %li
                    = link_to learning_path_path(lp), method: :delete, data: { confirm: '¿Estás seguro?' } do
                      %i.fa.fa-times
                      Eliminar
      %center
        = paginate @learning_path            