- content_for :title  do
	Panel de progreso - EDC Digital

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			.row
				.col-sm-12
					.panel-title
						- if params[:category].present?
							Progreso de grupos de categoría: 
							%span.text-primary #{params[:category]}
						- else
							Progreso general de EDC Digital
		.panel-body
			.row.m-t-10.m-b-40
				.col-sm-12
					.pull-left.htablet-w500.tablet-down-unfloat
						= form_tag(progress_panel_index_path, method: :get, class: "panel-filter-width") do
							.row.m-b-15
								.col-md-7
									= select_tag :group, options_from_collection_for_select(current_user.user_groups, :id, :name, params[:group]), {include_blank: "Elige un grupo", class: "form-control" }
								.col-md-5.tablet-down-mt5
									= submit_tag 'Filtrar por grupo', class: "btn btn-success btn-xs"
									%span{"data-original-title" => "Refrescar búsqueda", "data-toggle" => "tooltip", "data-placement" => "right"}
										= link_to progress_panel_index_path, class: "btn btn-info btn-xs p-r-10 p-l-10" do
											%i.fa.fa-circle-o-notch
						= form_tag(progress_panel_index_path, method: :get) do
							.row.m-b-15
								.col-md-7
									= select_tag :category, options_for_select(['Escolarizado', 'Autodidacta digital', 'Presencial', 'Experiemental']), {include_blank: "Elige categoría", class: "form-control" }
								.col-md-5.tablet-down-mt5
									= submit_tag 'Filtrar por categoría', class: "btn btn-success btn-xs"  
									%span{"data-original-title" => "Refrescar búsqueda", "data-toggle" => "tooltip", "data-placement" => "right"}
										= link_to progress_panel_index_path, class: "btn btn-info btn-xs p-r-10 p-l-10" do
											%i.fa.fa-circle-o-notch
					.pull-right.tablet-down-unfloat
						- if current_user.admin?
							= link_to massive_program_progress_path do
								.btn.btn-info
									%i.fa.fa-refresh
									Actualizar datos
						= link_to progress_panel_groups_path do
							.btn.btn-info
								%i.fa.fa-group
								Progreso por grupos
			.row.tablet-up-mb80
				.col-sm-4
					.col-sm-12
						%h3.p-b-20 Alumos de EDC
						= pie_chart [["Alumnos activos", @active_users.count], ["Alumnos inactivos", @inactive_users]]
					.col-sm-12.text-center.p-t-15
						%span.text-primary Alumnos activos: 
						#{@active_users.count} /
						%span.text-primary Alumnos inactivos: 
						#{@inactive_users}
				.col-sm-8
					%h3.p-b-20 Distribución general de avances de alumnos	
					- #total_sum = @hundred + @seventy + @fifty + @thirty
					- #column_chart [["0% a 29%", ((@thirty.to_f / total_sum) * 100).round(1)], ["30% a 49%", ((@fifty.to_f / total_sum) * 100).round(1)], ["50% a 69%", ((@seventy.to_f / total_sum) * 100).round(1)], ["70% a 100%", ((@hundred.to_f / total_sum) * 100).round(1)]], colors: ["#6D5CAE"]
					= column_chart [["0% a 29%", @thirty], ["30% a 49%", @fifty], ["50% a 69%", @seventy], ["70% a 100%", @hundred]], colors: ["#6D5CAE"]
					.col-sm-12.text-center.p-t-10
						%span.text-primary Progreso 0%-29%: 
						#{@thirty} /
						%span.text-primary Progreso 30%-49%: 
						#{@fifty} /
						%span.text-primary Progreso 50%-69%: 
						#{@seventy} /
						%span.text-primary Progreso 70%-100%: 
						#{@hundred}
			.row.tablet-up-mb80
				.col-sm-12
					%h3.p-b-10 Distribución de avances por programa
					%table.table.table-striped
						%thead
							%tr
								%th
									Programa
								%th.text-center
									0% a 29%
								%th.text-center
									30% a 49%
								%th.text-center
									50% a 69%
								%th.text-center
									70% a 100%
								%th.text-center{width: "10%"}
									Total
						%tbody
							- @progress_per_program.each do |program|
								%tr
									%td.p-b-15
										= link_to program[:name], {:controller => "progress_panel", :action => "program_detail", :requested_program => program[:id] }
									%td.text-center.p-b-15
										= #((thirty.to_f / sumatory) * 100).round(1)
										= program[:thirty]
									%td.text-center.p-b-15
										= #((fifty.to_f / sumatory) * 100).round(1)
										= program[:fifty]
									%td.text-center.p-b-15
										= #((seventy.to_f / sumatory) * 100).round(1)
										= program[:seventy]
									%td.text-center.p-b-15
										= #((hundred.to_f / sumatory) * 100).round(1)
										= program[:hundred]
									%td.text-center.p-b-15
										= program[:sumatory]

			.row.tablet-up-mb40.cell-down-pb50
				%h3.p-b-10.p-l-15 Distribución de avances por programa
				- @progress_per_program.each do |program|
					.col-sm-6
						%h4
							= truncate(program[:name], :length => 45, :separator => ' ')
							(#{program[:sumatory]})
						.padding-30
							= bar_chart [ ["0% a 29%", program[:thirty]], ["30% a 49%", program[:fifty]], ["50% a 69%", program[:seventy]], ["70% a 100%", program[:hundred]] ]






