- content_for :title  do
	Editar Archivo - EDC Digital

.container-fluid.container-fixed-lg
	.row
		.panel.panel-transparent.p-t-50
			.col-md-4
				.panel-heading
					.panel-title
						Editar Archivo
				.panel-body
					%i.fa.fa-upload.fa-2x.hint-text.m-t-40
					.h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
						Usa este formulario para modificar tus archivos compartidos
					%p.m-b-30{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
						Puedes elegir grupos diferentes a los que compartes tus arvhivos
			.col-md-8
				.m-r-70.m-l-30
					= bootstrap_form_for(@attachment) do |f|
						= f.select(:document_type, Attachment.document_type_options, {:label => 'Tipo de documento'}, {:class => 'minimal'})
						= f.text_field :label, label: 'Detalles / Comentarios'
						.dropzone
							= f.file_field :file, label: 'Archivo'
						.form-group
							%label
								Grupos
							- Group.all.each_with_index do |group, index|
								.checkbox.check-success
									= check_box_tag 'shared_group_attachment[group_ids][]', group.id, @attachment.groups.include?(group), id: "check_groups_#{index}"
									%label{:for => "check_groups_#{index}" }
										= group.name
							%input(type="hidden" name='shared_group_attachment[group_ids][]' value="")
						.pull-right.m-t-30.m-b-30
							= f.submit 'Actualizar', class: 'btn btn-lg btn-success'
