- content_for :title  do
  Mis plantillas - EDC Digital

- is_student = current_user.student? || current_user.mentor?
.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30{class: (is_student ? "panel-title-emprendimiento" : "panel-title-recursos")}
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Mis plantillas
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Probando tu conocimiento
            %p.m-b-25.text-white
              En esta sección verás las plantillas que se te asignen durante tu avance en los cursos de la plataforma. ¡Usa tus conocimientos adquiridos para contestarlas! 

- if !params[:program_id].nil?
  .container-fluid.container-fixed-lg
    .alert.alert-info
      %button.close{"data-dismiss": "alert"}
      .pull-left
        Mostrando solamente las plantillas del programa 
        "
        %u
          = link_to @program.name, dashboard_program_path(@program)
        ".
      .pull-right
        %u
          = link_to dashboard_template_refilables_path do
            %i.fa.fa-bars.p-r-5
            Ver todas las plantillas
      .clearfix
.container-fluid.container-fixed-lg#pending
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-12
              .p-r-30.p-l-30.p-b-30.p-t-0.sm-padding-5.sm-m-t-15
                .m-b-30.b-b.b-dashed.sm-b-b
                  .pull-left
                    %h3.text-primary 
                      %i.fa.fa-edit.hint-text
                      Plantillas pendientes
                  .pull-right
                    .p-t-15
                      %a.slow_scroll.small-text{href: "#accomplished", style: "opacity: 1;"}
                        %i.fa.fa-chevron-circle-down
                        Plantillas cumplidas
                  .clearfix
                  %p.m-b-15 Aquí puedes ver aquellas plantillas que te son asignadas por nuestro equipo de mentores. Recuerda siempre mantenerte al tanto de ellas.

                - if @undone_refilables.count > 0
                  - @undone_refilables.each do |refilable|
                    .card.social-card.share.m-b-30{"data-social" => "item"}
                      .card-header{style: "border-bottom: none"}
                        %h5.text-complete.pull-left.fs-12
                          No contestado
                        .pull-right.small.hint-text
                          = l refilable.updated_at, format: :short_no_year
                          %i.fa.fa-calendar-o
                        .clearfix
                      .card-description{style: "background-color: #fafafa"}
                        %h4 #{refilable.name} 
                        %p #{refilable.description}
                      .card-footer.clearfix
                        .pull-left
                          %span.hint-text
                            Programa:
                          %span.pump-link
                            = refilable.program.nil? ? "Ninguno" : refilable.program.name
                            /(link_to refilable.program.name,dashboard_program_path(refilable.program))
                        .pull-right.hint-text
                          = link_to new_dashboard_template_refilable_refilable_path(refilable, user_id: @this_user.id), class: "btn btn-tag #{ is_student ? 'btn-tag-light' : 'btn-tag-dark' } btn-tag-rounded m-l-5" do
                            #{ is_student ? "Contestar" : "Ver plantilla" }
                        .clearfix
                - else
                  %h4.text-complete
                    Por el momento no tienes plantillas pendientes.
                
.container-fluid.container-fixed-lg#accomplished
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-12
              .p-r-30.p-l-30.p-b-30.p-t-0.sm-padding-5.sm-m-t-15
                .m-b-30.b-b.b-dashed.sm-b-b
                  .pull-left
                    %h3.text-success 
                      %i.fa.fa-check-square-o.hint-text
                      Plantillas cumplidas
                  .pull-right
                    /.p-t-15
                    /  %a.slow_scroll.small-text{href: "#pending", style: "opacity: 1;"}
                    /    %i.fa.fa-chevron-circle-up
                    /    Plantillas pendientes
                    .p-t-15
                      = link_to evaluations_dashboard_template_refilables_path do
                        %btn.btn.sm-btn.btn-complete
                          Ver mis resultados
                  .clearfix
                  %p.m-b-15 Una vez que hayas contestado tus plantillas podrás verlas en esta columna. Podrás editarlas aunque estén clasificadas como complidas. 

                - if @done_refilables.count > 0
                  - @done_refilables.each do |refilable|
                    - user_refilable = refilable.refilables.where(user: @this_user).order(:created_at).last
                    .card.social-card.share.m-b-30{"data-social" => "item"}
                      .card-header{style: "border-bottom: none"}
                        %h5.text-complete.pull-left.fs-12
                          #{user_refilable.status}
                        .pull-right.small.hint-text
                          = l user_refilable.updated_at, format: :short_no_year
                          %i.fa.fa-calendar-o
                        .clearfix
                      .card-description{style: "background-color: #fafafa"}
                        %h4 #{refilable.name} 
                        %p #{refilable.description}
                        - if user_refilable
                          - if user_refilable.comments
                            %p.m-t-15
                              %span.text-primary Comentarios: 
                              %span.hint-text #{raw replace_refilable_data(user_refilable)}
                      .card-footer.clearfix
                        .pull-left
                          %span.hint-text
                            Programa:
                          %span.pump-link
                            = refilable.program.nil? ? "Ninguno" : refilable.program.name
                            /(link_to refilable.program.name,dashboard_program_path(refilable.program))
                        - if is_student
                          .pull-right.hint-text
                            = link_to edit_dashboard_template_refilable_refilable_path(refilable, user_refilable), class: "btn btn-tag btn-tag-light btn-tag-rounded m-l-5" do
                              Editar
                          .pull-right.hint-text
                            = link_to dashboard_template_refilable_refilable_path(refilable, user_refilable), class: "btn btn-tag btn-tag-dark btn-tag-rounded m-l-5" do
                              Ver
                        - else
                          .pull-right.hint-text 
                            = link_to mentor_student_refilable_path(@this_user, user_refilable), class: "btn btn-tag btn-tag-light btn-tag-rounded m-l-5" do
                              Ver respuestas
                          .pull-right.hint-text
                            = link_to new_dashboard_template_refilable_refilable_path(refilable, user_id: @this_user.id), class: "btn btn-tag btn-tag-dark btn-tag-rounded m-l-5" do
                              Ver plantilla
                        .clearfix
                - else
                  %h4.text-complete
                    Por el momento no tienes plantillas cumplidas.

:javascript
  $('.slow_scroll').click(function(){
    $('html, body').animate({
      scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
  });
