- content_for :title  do
  Diseño del programa - EDC Digital

.container.p-r-0.p-l-0
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Rating del programa y sus módulos
          .pull-right
            Rating: 
            = @program.rating.round(2)  
        .panel-body
          .row
            .col-sm-8
              %h3
                = @program.name
          - @program.chapters.each do |chapter|
            #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "chapter_#{chapter.id}"}
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    %a{"aria-controls" => "collapse_#{chapter.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_#{chapter.id}"}
                      = chapter.name
                .panel-collapse.collapse{:id=>"collapse_#{chapter.id}", "aria-labelledby" => "heading_#{chapter.id}", :role => "tabpanel"}
                  .panel-body
                    %table.table.table-hover
                      %thead
                        %tr
                          %th
                            Contenido 
                          %th.text-center
                            Votos
                          %th.text-center
                            Rating
                          %th.text-center
                      %tbody 
                        - if any_lesson?(chapter)     
                          - chapter.chapter_contents.each do |content|
                            - if content.coursable_type == 'Lesson'
                              %tr
                                %td.p-b-15
                                  = content.model.identifier
                                %td.text-center.p-b-15
                                  = content.rating_count
                                %td.text-center.p-b-15
                                  = content.rating.round(2)
                                %td.text-center.p-b-15
                                  = link_to dashboard_chapter_content_path(content) do
                                    %i.fa.fa-eye
                                    Ver contenido
                        - else
                          %tr
                            %td.p-b-15{colspan: "4"}
                              Este módulo no contiene lecciones
                                  
                        