- content_for :title  do
  Tickets - EDC Digital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .row
        .col-sm-3
          %h3
            Tickets
        .col-sm-9
          .col-sm-6
            .pull-right
              = link_to tickets_path, style: "opacity: 1 !important;" do
                %button.btn.btn-default{:type => "button"} Todos
              = link_to tickets_path(filter: "open"), style: "opacity: 1 !important;" do
                %button.btn.btn-default{:type => "button"} Abiertos
              = link_to tickets_path(filter: "closed"), style: "opacity: 1 !important;" do
                %button.btn.btn-default{:type => "button"} Cerrados
          .col-sm-6
            .pull-right
              .col-xs-12
                .form-group
                  %div.input-group
                    = form_tag(mentor_tickets_path, method: :get) do
                      = text_field_tag :query, "", class: "form-control text-black", :placeholder => "Buscar"
                    %span.input-group-addon.panel-title-recursos
                      %i.fa.fa-search.text-white
          .clearfix
    .panel-body
      .widget-11-table.auto-overflow
        %table.table.table-condensed.table-hover
          %tbody
            %tr
              %td.font-montserrat.b-r.b-dashed.b-grey{width: "50%"}
              %td.text-center.b-r.b-dashed.b-grey
                Aprendiz
              %td.text-center.b-r.b-dashed.b-grey
                Tipo
              %td.text-center
                Estado
            - @tickets.each do |ticket|
              %tr
                %td.font-montserrat.all-caps.b-r.b-dashed.b-grey
                  - case ticket.category
                  - when "inbox"
                    = ticket.title.nil? ? "Sin título" : ticket.title.truncate(60, separator: ' ')
                  - when "plantilla"
                    = link_to (ticket.title.nil? ? "Sin título" : ticket.title.truncate(60, separator: ' ')), mentor_student_refilable_path(student_id: ticket.trainee_id, id: ticket.element_id), target: :_blank
                %td.text-center.b-r.b-dashed.b-grey
                  %span.font-montserrat
                    = link_to User.find(ticket.trainee_id).email, user_path(ticket.trainee_id), target: :_blank
                %td.text-center.b-r.b-dashed.b-grey
                  %span.font-montserrat
                    - case ticket.category
                    - when "inbox"
                      %i.fa.fa-envelope
                    - when "plantilla"
                      %i.fa.fa-server
                    = ticket.category.capitalize
                %td.text-center
                  %span.font-montserrat
                    %button.btn.btn-sm.btn-complete{class: ticket.closed ? "active focus" : "", id: "ticket_" + ticket.id.to_s, type: "button", "data-toggle": "button"}
                      = ticket.closed ? "Ticket cerrado" : "Ticket abierto"
              :javascript
                $("#ticket_" + #{ticket.id}).click(function() {
                  var ticketJSON = #{ticket.to_json}
                  var isClosed = ticketJSON["closed"];
                  $.ajax({
                    type: "POST",
                    dataType:'json',
                    url: "/switch_ticket_status",
                    data: {"element_id": ticketJSON["element_id"], "category": ticketJSON["category"]},
                    success: function() {
                      if (isClosed) { $("#ticket_" + #{ticket.id}).html("Ticket abierto"); } else { $("#ticket_" + #{ticket.id}).html("Ticket cerrado"); }
                    },
                    error: function(){
                      console.log("Ups, esto es vergonzoso...");
                    }
                  })
                });
        .pull-right
          = paginate @tickets
          %br
          %span.text-center= page_entries_info @tickets
