- content_for :title  do
  Mis entregables - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Mis entregables
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Cumpliendo con el deber
            %p.m-b-25.text-white
              Aquí encontrarás las peticiones de archivos que debes entregar a lo largo de tu avance por la plataforma de EDC Digital. ¡Toma la iniciativa y constúyelos! 

.container-fluid.container-fixed-lg#pending
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-12
              .p-r-30.p-l-30.p-b-30.p-t-0.sm-padding-5.sm-m-t-15
                .m-b-30.b-b.b-dashed.sm-b-b
                  .pull-left
                    %h3.text-primary
                      %i.fa.fa-clock-o.hint-text
                      Entregables pendientes
                  .pull-right
                    .p-t-15
                      %a.slow_scroll.small-text{href: "#accomplished", style: "opacity: 1;"}
                        %i.fa.fa-chevron-circle-down
                        Entregables cumplidos
                  .clearfix
                  %p.m-b-15 Aquí puedes ver aquellos entregables que te son asignados por nuestro equipo de mentores. Recuerda siempre mantenerte al tanto de ellos.

                - if @undone_delireverables.count > 0
                  - @undone_delireverables.each do |deliv|
                    - package = deliv.delireverable_package
                    .card.social-card.share.m-b-30{"data-social" => "item"}
                      .card-header{style: "border-bottom: none"}
                        %h5.text-complete.pull-left.fs-12
                          = package.name
                          /%i.fa.fa-circle.text-complete.fs-11
                        .pull-right.small.hint-text
                          = l package.updated_at, format: :short_no_year
                          %i.fa.fa-calendar-o
                        .clearfix
                      .card-description{style: "background-color: #fafafa"}
                        %h4 #{deliv.name} 
                        %p #{deliv.description}
                      .card-footer.clearfix
                        .pull-right.hint-text
                          = link_to new_dashboard_delireverable_delireverable_user_path(deliv), class: "btn btn-tag btn-tag-light btn-tag-rounded m-l-10" do
                            Subir entregable
                        .pull-right.hint-text
                          = link_to deliv.file.url, target: '_blank', class: "btn btn-tag btn-tag-dark btn-tag-rounded m-l-10" do
                            Ver ejemplo
                        .clearfix
                - else
                  %h4.text-complete
                    Por el momento no tienes entregables pendientes.

.container-fluid.container-fixed-lg#accomplished
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-12
              .p-r-30.p-l-30.p-b-30.p-t-0.sm-padding-5.sm-m-t-15
                .m-b-30.b-b.b-dashed.sm-b-b
                  .pull-left
                    %h3.text-success
                      %i.fa.fa-check-square-o.hint-text
                      Entregables cumplidos
                  .pull-right
                    .p-t-15
                      %a.slow_scroll.small-text{href: "#pending", style: "opacity: 1;"}
                        %i.fa.fa-chevron-circle-up
                        Entregables pendientes
                  .clearfix
                  %p.m-b-15 Una vez que hayas subido tus entregables podrás verlos en esta columna. Podrás editarlos aunque estén clasificados como complidos. 

                - if @done_delireverables.count > 0
                  - @done_delireverables.each do |deliv|
                    - user_delireverable = deliv.delireverable_users.find_by(user: current_user)
                    - package = deliv.delireverable_package
                    .card.social-card.share.m-b-30{"data-social" => "item"}
                      .card-header{style: "border-bottom: none"}
                        %h5.text-complete.pull-left.fs-12
                          = package.name
                          /%i.fa.fa-circle.text-complete.fs-11
                        .pull-right.small.hint-text
                          = l user_delireverable.updated_at, format: :short_no_year
                          %i.fa.fa-calendar-o
                        .clearfix
                      .card-description{style: "background-color: #fafafa"}
                        .row
                          .col-sm-6
                            %h4 #{deliv.name} 
                          .col-sm-6
                            .pull-right.m-t-15.p-r-10
                              = link_to user_delireverable.file.url, target: '_blank' do
                                Ver mi entregable
                                %i.fa.fa-angle-double-right
                        %p #{deliv.description}
                        - if user_delireverable
                          - if user_delireverable.comments
                            %p.m-t-15
                              %span.text-primary Comentarios: 
                              %span.hint-text #{user_delireverable.comments}
                      .card-footer.clearfix
                        .pull-right.hint-text
                          = link_to new_dashboard_delireverable_delireverable_user_path(deliv), class: "btn btn-tag btn-tag-light btn-tag-rounded m-l-5" do
                            Editar entregable
                        .pull-right.hint-text
                          = link_to deliv.file.url, target: '_blank', class: "btn btn-tag btn-tag-dark btn-tag-rounded m-l-5" do
                            Ver ejemplo
                        .clearfix
                - else
                  %h4.text-complete
                    Por el momento no tienes entregables cumplidos.

:javascript
  $('.slow_scroll').click(function(){
    $('html, body').animate({
      scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
  });