- content_for :title  do
  Información de perfil - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-perfil
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Información de perfil
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Tus datos en un solo lugar.
            %p.m-b-25.text-white
              Encuentra aquí la información relacionada a tu perfil dentro de la plataforma EDC Digital. Desde tus datos personales hasta estadísticas de tus avances. 

.container-fluid.container-fixed-lg
  .row
    .col-xs-12.col-md-7
      .h-basetext.h-3.tablet-down-pl10.tablet-down-mb0
        = (@user.first_name.nil? && @user.last_name.nil?) ? @user.email : @user.name
    .col-xs-12.col-md-5
      .htablet-up-rightpull.tablet-down-leftpull.m-t-10.m-b-15
        - if current_user.id == @user.id
          = link_to edit_user_registration_path, class: "btn btn-primary pull-right m-l-10" do
            %span.glyphicon.glyphicon-edit
            Editar perfil
      .htablet-up-rightpull.tablet-down-leftpull.m-t-10.m-b-15
        = link_to dashboard_attachments_path, class: "btn btn-primary pull-right m-l-10" do
          %span.glyphicon.glyphicon-file
          Mis Archivos
  .panel.panel-default
    .panel-body
      .row
        .col-md-2
          .share.share-other.m-t-5
            .card-content
              .col-xs-12.col-sm-6.col-md-12.htablet-up-pl0.htablet-up-pr0.p-b-20.cell-pt20
                - if @user.profile_picture.url.nil?
                  = image_tag('person-1-square.jpg', class: 'img-responsive')
                - else
                  = image_tag(@user.profile_picture.url, class: 'img-responsive')
              .col-xs-12.col-sm-6.col-md-12.htablet-up-pl0.htablet-up-pr0.p-b-20
                .card-header.clearfix
                  %h6
                    = @user.name
                  %p.small.hint-text.m-t-5 
                    #{@user.state}, #{@user.city}
                  %p.small.hint-text.m-t-5
                    %i.fa.fa-line-chart
                    #{@user.answered_questions_percentage} % contestado
                  %p.small.hint-text.m-t-5
                    %i.fa.fa-line-chart
                    #{@user.content_visited_percentage} % de avance
                  %p.small.hint-text.m-t-5 
                    Ultima vez:
                    %span
                      #{ @user.last_time }
                  %p.small.hint-text.m-t-5 
                    Promedio de uso:
                    %span
                      #{ @user.time_average.round(2) } minutos.
                  %p.small.hint-text.m-t-5 
                    Total de uso 
                    %span
                      #{ @user.total_time.round(2) } minutos.
        .col-md-10
          %table.table.resumen-table.table-striped.table-top-border.perfil-table
            %tbody
              %tr.odd.gradeX
                %td{:width => "25%"} Nombre
                %td
                  = @user.name
              %tr.odd.gradeX
                %td Correo electrónico
                %td
                  = @user.email
              %tr.odd.gradeX
                %td Teléfono
                %td
                  = @user.phone_number
              %tr.odd.gradeX
                %td Edad
                %td
                  = @user.age.nil? ? "Sin registro" : @user.age.to_s + " años"
              %tr.odd.gradeX
                %td Género
                %td
                  - if @user.gender.nil?
                    Sin registro
                  - else
                    = (@user.gender == "male") ? "Hombre" : "Mujer"
              %tr.odd.gradeX
                %td CURP
                %td= @user.curp.nil? ? "Sin registro" : @user.curp     
              %tr.odd.gradeX
                %td Mi situación actual
                %td
                  = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.situation.nil? ? "Sin registro" : @user.user_detail.situation)
              %tr.odd.gradeX
                %td Tema de interés
                %td
                  = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.interest.nil? ? "Sin registro" : @user.user_detail.interest)
              %tr.odd.gradeX
                %td Mi mayor reto
                %td
                  = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.challenge.nil? ? "Sin registro" : @user.user_detail.challenge)
              %tr.odd.gradeX
                %td Lo que busco en EDC Digital
                %td
                  = @user.user_detail.nil? ? "Sin registro" : (@user.user_detail.goal.nil? ? "Sin registro" : @user.user_detail.goal)
              %tr.odd.gradeX
                %td Industria
                %td
                  = if @user.industry.nil? then "Sin registro" else @user.industry.name end       
              %tr.odd.gradeX
                %td Ubicación
                %td #{@user.state}, #{@user.city}
              %tr.odd.gradeX
                %td Grupo
                %td
                  = @user.group.name unless @user.group.nil?
              %tr.odd.gradeX
                %td Cursos inscritos
                %td
                  - @programs.each do |program|
                    \-
                    = program.name
                    %br
  - if current_user.id == @user.id
    .h-basetext.h-3.tablet-down-pl10
      Estadísticas generales de programas inscritos

    .panel.panel-default
      .panel-body.table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Curso inscrito
              %th
                Contenidos vistos
              %th
                Respuestas contestadas
              %th
                Comentarios totales
              %th
                Porcentaje de contenido visto
              %th
                Porcentaje de preguntas contestadas
              %th
              %th
          %tbody
            - @programs.each do |program|
              %tr
                %td
                  = program.name
                %td
                  = @user.content_visted_for(program)
                %td
                  = @user.questions_answered_for(program)
                %td
                  = @user.total_comments_for(program)
                %td
                  #{@user.percentage_content_visited_for(program)}%
                %td
                  #{@user.percentage_questions_answered_for(program)}%
    
