- content_for :title  do
  Alumnos por estado - EDC Digital
- actividades = []
.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h4 Alumnos por estado (tutores)   
    .panel-body
      .row
        .col-md-12
          .pull-right
            = link_to create_alumnos_estados_analytics_panel_index_path, method: :post, class: "btn btn-primary" do
              - if @ssc.first.nil? 
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-rotate-right
                  %li.inline
                    Generar estadísticas
              - else
                %ul.p-l-5.m-b-0
                  %li.inline.p-l-0
                    %i.fa.fa-rotate-right
                  %li.inline
                    Actualizar estadísticas
                %ul.p-l-20.m-b-0{:style => "font-size: 0.8em;"}
                  %li.inline
                    * Última vez:
                    = l @ssc.first.updated_at, format: :short_no_year
              
      .row
        .col-md-12       
          .table-responsive
            %table.table.table-bordered
              %thead
                %tr
                  %th{rowspan: 2} Mentor
                  %th.p-l-40{colspan: @states.count} Estados
                %tr 
                  - @states.each do |state|
                    - actividades << {state_id: state.id, total: 0}
                    %th.text-center= state.name
              %tbody
                - if @ssc.first.nil?
                  %tr
                    %th.p-l-40{colspan: @states.count + 1} No se han generado estadísticas aún.
                - else 
                  - @mentors.each do |mentor|
                    %tr
                      %td.bold= mentor.name
                      - @states.each do |state|
                        %td.text-center= @ssc.where(state_id: state.id, coach_id: mentor.id, active: true).first.total rescue 0
                  %tr.active
                    %td.bold Sin asignar
                    - @states.each do |state|
                      %td.text-center= @sinasignar[state.id]
                  %tr.active
                    %td.bold Activos asignados    
                    - @states.each do |state|
                      %td.text-center= @ssc.where(state_id: state.id, active: true).sum(:total) rescue 0
                  %tr.warning
                    %td.bold Sin actividad y no asignados    
                    - @states.each do |state|
                      %td.text-center= @sinactividad_noasignados[state.id] 
                  %tr.info
                    %td.bold Total 
                    - @states.each do |state|
                      %td.text-center.bold= @total_alumnos_state[state.id]

                              