- content_for :title  do
	Analíticos de grupo - EDC Digital

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			.row
				.col-md-12
					.panel-title
						Panel de analíticos
		.panel-body
			.pull-right
				.btn-group
					%a.btn.btn-default{href: mentor_alumnos_asignados_analytics_panel_index_path, target: "_blank"} Alumnos asignados a mentores	
					%a.btn.btn-default{href: students_evaluated_analytics_panel_index_path, target: "_blank"} Alumnos Evaluados

		.panel-body
			.row
				.col-md-12
					.col-md-3.col-md-offset-6
						.pull-right.bold
							Ver grupo:
					.col-md-3
						= select("group", "selected", Group.all.collect {|g| [ g.name, g.id ] }, {prompt: "Selecciona un grupo" })
					%table.table.table-striped
						%thead
							%tr
								%th{width: '35%'}
									Programa
								%th
									Estadísticos
								%th{width: '30%'}
									Ver grafica
						%tbody
							- @programs.each_with_index do |program, index|
								- analytics = program_objects(program)
								%tr
									%td.p-t-10.p-b-10
										.fs-15.text-primary
											= program.name
									%td.p-t-10.p-b-10
										%ul.p-l-5.m-b-0
											%li.inline.p-l-0
												%i.fa.fa-user 
											%li.inline 
												Estudiantes activos: 
												%strong #{analytics[1]}
										%ul.p-l-5.m-b-0
											%li.inline.p-l-0
												%i.fa.fa-check 
											%li.inline
												Estudiantes revisados: 
												%strong #{analytics[2]}
										%ul.p-l-5.m-b-0
											%li.inline.p-l-0
												%i.fa.fa-users 
											%li.inline 
												Grupos con este programa: 
												%strong #{analytics[0].count}
									%td.p-t-10.p-b-10
										= link_to group_program_analytics_panel_path(program.id), html_options = {"target"=>"_blank"} do
											Ver gráfica por grupos
											%i.fa.fa-line-chart
:javascript
	$("#group_selected").change(function(){
		var a = document.createElement("a");
		a.target = "_blank";
		a.href = "/analytics_panel/" + $(this).val() + "/group";
		document.body.appendChild(a);
		a.click();
	});

