- content_for :title  do
	Analíticos de grupo - EDC Digital

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			%h4 Alumnos evaluados
		.panel-body
			.row
				%table.table.colored-columns.m-t-0
					%thead.static-heads
						%tr
							%th.padding-0.border-none.bold
								.cell-like Programa
							%th.padding-0.border-none.bold
								.cell-like Total de alumnos
							%th.padding-0.border-none.bold
								.cell-like	Evaluaciones realizadas
							%th.padding-0.border-none.bold
								.cell-like	Evaluaciones pendientes		
					%tbody
						- @total_alumnos_program.each do |program| 
							%tr
								%td.bold= program[:program_name]
								%td.text-center= program[:alumnos]
								%td.text-center= program[:evaluados]
								%td.text-center= program[:no_evaluados]
				%center
					= paginate @programs 											
		.panel-heading
			%h4 Puntajes de todos los alumnos evaluados *
		.panel-body
			.row
				%table.table.colored-columns.m-t-0
					%thead.static-heads
						%tr
							%th.text-center
								Programa
							%th.padding-0.border-none.bold.text-center
								.cell-like 90% - 100%
							%th.padding-0.border-none.bold.text-center
								.cell-like	80% - 89%
							%th.padding-0.border-none.bold.text-center
								.cell-like	60% - 79%		
							%th.padding-0.border-none.bold.text-center
								.cell-like	0% - 59%
							%th.padding-0.border-none.bold.text-center
								.cell-like	Total:							

					%tbody
						- @total_alumnos_program_rango.each do |program| 
							%tr
								%td.bold=program[:program_name]
								%td.text-center=program[:total_100_90]
								%td.text-center=program[:total_89_80]
								%td.text-center=program[:total_79_60]
								%td.text-center=program[:total_59_0]
								%td.text-center=program[:total_100_90]+program[:total_89_80]+program[:total_79_60]+program[:total_59_0]

			.row
				.col-md-12
					%i * En el puntaje solo se toman en cuenta las rúbricas evaluadas en los programas																	
