.well
  = bootstrap_form_for([@chapter, @lesson]) do |f|
    = f.text_field :identifier, label: 'Identificador'
    = f.cktext_area :content, ckeditor: { language: 'es'}
    %br
    = link_to 'Cancelar', @chapter.program, class: 'btn btn-danger'
    = f.submit 'Aceptar'
