- content_for :title  do
  Mis entregables - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15.panel-title-emprendimiento
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-12.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Nuevo entregable

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-4.b-r.b-dashed.b-grey.sm-b-b
              .p-r-30.p-l-30.p-b-30.p-t-15.sm-padding-5.sm-m-t-15
                %i.fa.fa-upload.fa-2x.hint-text
                .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
                  Subir nuevo entregable
            .col-md-7
              .p-r-30.p-l-30.p-b-30.p-t-20.sm-padding-5.sm-m-t-15
                .p-b-25   
                  Utiliza el botón de abajo para seleccionar el archivo del entregable que quieras enviar. Si ya has subido este entregable anteriormente será reemplazado por el nuevo archivo. 
                = bootstrap_form_for([:dashboard, @delireverable, @delireverable_user], url: dashboard_delireverable_delireverable_users_path(@delireverable), method: :post) do |f|
                  .dropzone.m-b-20
                    = f.file_field :file, label: 'Entregable', class: 'm-b-20'
                    = f.hidden_field :delireverable_id
                  .pull-right.m-b-30
                    = link_to dashboard_delireverables_path, class: 'btn btn btn-danger' do
                      Cancelar
                    = f.submit 'Subir archivo', class: 'btn btn btn-primary'

