- content_for :title  do
  Evaluación - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15{class: (current_user.mentor? || current_user.admin?) ? "panel-title-recursos" : "panel-title-emprendimiento"}
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-6.col-md-6.no-padding.xs-p-l-15.xs-p-r-15
            %h5.block-title.hint-text.no-margin.text-white Evaluación
            %h3.text-white 
              #{@quiz.name}
          .col-sm-6.col-md-6.no-padding.resp-p-l-25.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Abajo encontrarás una serie de preguntas concernientes al tópico de esta evaluación. Léelas atentamente y una vez que las hayas contestado todas envía tus respuestas para obtener tu resultado.

.container-fluid.container-fixed-lg#quizzDiv
  - if @answers.length > 0 
    - @answers.each_with_index do |answer, index|
      = fields_for "answers[#{index}]", answer do |f| 
        .panel.panel-default
          .row
            .col-sm-9
              .panel-heading
                .panel-title.question-title
                  = @quiz.name
            .col-sm-3
              - if answer.quiz_question.support_text.present?
                .pull-right.p-r-30.p-t-20
                  %a{href: "javascript:void(0);", id: "helpBtnQuiz_#{index}"}
                    %i.fa.fa-question-circle
                    Información de apoyo
          .panel-body
            .row
              .col-md-10.col-md-offset-1
                .padding-30.m-t-15.p-b-50
                  %i.fa.fa-tasks.fa-2x.hint-text
                  %h2
                    = answer.quiz_question.question_text
                  = f.hidden_field :user_id
                  = f.hidden_field :quiz_question_id
                  = render partial: "/dashboard/quiz_answers/inputs/#{answer.quiz_question.question_type}", locals: { disabled: false, f: f, question: answer.quiz_question, answers: answer, i: index, detail: false}
      - if answer.quiz_question.support_text.present?
        .modal.fade.slide-up.disable-scroll{"aria-hidden" => "false", :role => "dialog", :tabindex => "-1", id: "helpModalQuiz_#{index}"}
          .modal-dialog.modal-lg{style: "width: 900px;"}
            .modal-content-wrapper
              .modal-content
                .modal-header.clearfix.text-left
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
                    %i.pg-close.fs-14
                  %h3.text-primary.bottom-line.m-b-20.p-b-15
                    Información de apoyo
                .modal-body
                  = raw answer.quiz_question.support_text
        :javascript
          $('#helpBtnQuiz_#{index}').click(function() {
              $('#helpModalQuiz_#{index}').modal('show')
          });
  - else
    %center
      La evaluación no tiene preguntas


:javascript
  $("#quizzDiv :input").prop("disabled", true);


