- content_for :title  do
  Inicia sesión

.login-wrapper
  .bg-pic
    = image_tag("https://fakeimg.pl/2098x1629/c2cde4/?text=:)", class: 'lazy visible-xs visible-sm visible-md')
    = image_tag("https://fakeimg.pl/3071x1629/c2cde4/?text=:)", class: 'lazy lazy visible-lg')
    .bg-caption.pull-bottom.sm-pull-bottom.text-white.p-l-20.m-b-20
      %p.small
        Todos los derechos reservados © 2018 #{digital_courses_text_helper}.

  .login-container.bg-white
    .p-l-50.m-l-20.p-r-50.m-r-20.p-t-50.m-t-30.sm-p-l-15.sm-p-r-15.sm-p-t-40
      = image_tag("#{image_path('MiPlataforma_logo.png')}", height: 70) #Original: width: 270 
      %p.p-t-35 Inicia sesión en tu cuenta de #{the_platform_name_helper} MiPlataformaGatitos
      = devise_error_messages!
      - flash.each do |key, value| 
        - if value
          - if key == "premium"
            .alert.alert-danger
              %button.close{"data-dismiss" => "alert", :type => "button"}>
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
              = value.html_safe 
          - else  
            .alert.alert-danger.dimiss
              %button.close{"data-dismiss" => "alert", :type => "button"}>
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
              = value
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, label: 'CORREO ELECTRÓNICO', placeholder: 'micorreo@dominio.com',wrapper: { class: 'form-group-default' }
        = f.password_field :password, label: 'CONTRASEÑA', placeholder: 'Introduce tu contraseña', autocomplete: "off", wrapper: { class: 'form-group-default' }
        .row
          .col-md-6.no-padding
            .checkbox
              %input#checkbox1{:type => "checkbox", :value => "1"}/
              %label{:for => "checkbox1"} Mantenener mi sesión abierta
        %button.btn.btn-primary.btn-cons.m-t-10{:type => "submit"} Iniciar Sesión
        .row
          .col-md-12.text-right.m-t-15.underline-link
            %a.text-info.small{:href => new_user_password_path, taget: 'new'} ¿Olvidaste tu contraseña? Recuperala aquí
