.register-container.full-height.sm-p-t-30
  .container-sm-height.full-height.m-t-30.m-b-30
    .row.row-sm-height
      .col-sm-12.col-sm-height.col-middle
        = image_tag('https://fakeimg.pl/152x48/D3D3D3/?text=Logo(152x48)', width: "200")
        %h3 Lorem ipsum dolor sit amet consectetur adipiscing suspendisse
        %p
          Activa tu cuenta de #{the_platform_name_helper} en segundos.
        = form_for resource, label_errors: false, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
          = f.hidden_field :invitation_token
          .row
            .col-sm-6
              .form-group.form-group-default{class: "#{class_for(resource, :first_name)}"}
                = f.label :first_name, 'Nombre(s)'
                = f.text_field :first_name, class: 'form-control', placeholder: 'Ej. Juan'
              = error_for(resource, :first_name)
            .col-sm-6
              .form-group.form-group-default{class: "#{class_for(resource, :last_name)}"}
                = f.label :last_name, 'Apellido(s)'
                = f.text_field :last_name, class: 'form-control', placeholder: 'Ej. Pérez Jacobo'
              = error_for(resource, :last_name)
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :phone_number)}"}
                = f.label :phone_number, 'Número de teléfono'
                = f.text_field :phone_number, class: 'form-control', placeholder: '(xx)xxxx-xxxx'
              = error_for(resource, :phone_number)
          .row
            .col-sm-12#birthdate_block
              .form-group.form-group-default{class: "#{resource.user_detail.nil? ? '' : 'has-error'}"}
                = fields_for :user_detail, resource.user_detail do |fd|
                  = f.label :birthdate, 'Fecha de nacimiento'
                  = fd.date_select :birthdate, prompt: {day: 'Elige un día', month: 'Elige un mes', year: 'Elige un año'}, start_year: 1940, end_year: Time.current.year
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :curp)}"}
                = f.label :curp, 'CURP'
                = f.text_field :curp, class: 'form-control', placeholder: 'Ej. BADD110313HCMLNS09', maxlength: "18"
              #invalid-curp.text-danger.p-l-10
                La CURP no es valida, revisa que este escrita correctamente.
                  
              = error_for(resource, :curp) 

          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :password)}"}
                = f.label :password, 'Contraseña'
                = f.password_field :password, class: 'form-control', placeholder: 'Introduce tu contraseña'
              = error_for(resource, :password)
          .row
            .col-sm-12
              .form-group.form-group-default{class: "#{class_for(resource, :password_confirmation)}"}
                = f.label :password_confirmation, 'Confirmar contraseña'
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirma tu contraseña'
              = error_for(resource, :password_confirmation)
          .row.m-t-10
            .col-md-12
              .checkbox
                %input{:type => "hidden", :value => "0", name: 'user[agreement]'}/
                %input#agreement{:type => "checkbox", :value => "1", name: 'user[agreement]'}/
                %label{:for => "agreement"} 
                  Estoy de acuerdo con los 
                  %span
                    = link_to dashboard_privacy_noregister_path, target: :_blank do
                      Términos de la página y las Políticas de privacidad.
              = error_for(resource, :agreement)

          %button.btn.btn-primary.btn-cons.m-t-10{:type => "submit"} Crear cuenta

          .row.m-t-10
            .col-md-12.text-right
              %a.text-info.small{:href => "mailto:" + (ENV['MAILER_SUPPORT'].nil? ? "soporte@ejemplo.com" : ENV['MAILER_SUPPORT'])} ¿Necesitas ayuda? Contáctanos
:javascript
  $("#invalid-curp").hide();
  
  $("#user_curp").keyup(function( event ) {
    var val =  $("#user_curp").val().toUpperCase();
    $("#user_curp").val(val);  
  });

  $(document).ready(function(){
    setTimeout(function () {
      $("#birthdate_block").find(".select2").removeClass( "select2" );
    }, 1000);
  });
