.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      = request.base_url + progress_panel_index_path
      %h2.text-center
        Enviar invitación
      = bootstrap_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
        = f.text_field :email, label: 'Correo electrónico'
        = f.select :role, [["Estudiante", 'student'], ["Mentor", 'mentor'], ["Profesor", 'profesor'], ["Staff", 'staff']], { label: "Selecione el rol"}
        = f.collection_select(:group_id, Group.all, :id, :name, label: 'Grupo')

        = f.submit 'Enviar invitación'
