= bootstrap_form_for([:dashboard, @stage_content, @answer]) do |f|
  = f.hidden_field :user_id
  = f.hidden_field :question_id

  = f.form_group :answer_text do
    - answer_to_array(@question).each do |answer|
      = f.radio_button :answer_text, answer, label: answer

  .text-right
    = f.submit 'Guardar'
