.row
  .col-md-12
    %span.handle-sort
      [mover]
    %span.bold
      = evaluation.name
    .pull-right
      %span.option.p-r-10.p-l-10
        %strong Puntos: 
        =evaluation.points
      %span.option.p-r-10.p-l-10
        %a.cursor{"data-toggle"=>"modal", "data-target"=>"#addRubric", "onclick"=>"edit_rubric(\'#{chapter.id}\',#{ evaluation.to_json});"} 
          %i.fa.fa-edit
          Editar
      
      %span.option.p-r-10.p-l-10
        = link_to chapter_evaluation_path(chapter, evaluation), method: :delete, data: { confirm: '¿Estás seguro?'} do
          %i.fa.fa-times
          Eliminar
         
.row.p-t-15
  .col-md-12
    %p.p-l-20
      %strong Excelente:
      = evaluation.excelent
      %br
      %strong Bueno:
      = evaluation.good
      %br
      %strong Regular:
      = evaluation.regular
      %br
      %strong Malo:
      = evaluation.bad
   
       