.well
  = bootstrap_form_for([@program, @chapter]) do |f|
    = f.text_field :name, label: 'Nombre del módulo'
    = f.text_field :points, label: 'Valor del módulo'
    = link_to 'Cancelar', @program, class: 'btn btn-danger'
    = f.submit 'Aceptar'
