- content_for :title  do
  Editar m贸dulo - EDC Digital
.container
  .row
    .col-md-12
      %h2.text-center
        Editar M贸dulo

      = bootstrap_form_for([@program, @chapter]) do |f|
        = f.text_field :name, label: 'Nombre del m贸dulo'
        = f.text_field :points, label: 'Valor del m贸dulo'

        = link_to 'Cancelar', @program, class: 'btn btn-danger'
        = f.submit 'Aceptar', class: 'btn btn-success'
