- content_for :title  do
  = title_text_helper("Editar módulo")

.container-fluid.container-fixed-lg
  .row
    .panel.panel-default
      .panel-heading
        .col-md-12
          %h3.panel-title
            Editar módulo
      .panel-body
        .col-md-12
          %h3
            = @chapter.name
        .well
          = bootstrap_form_for([@program, @chapter]) do |f|
            = f.text_field :name, label: 'Nombre del módulo'
            = f.number_field :points, within: 0...101, label: '* Valor del módulo en porcentaje (introducir un número entre 0 y 100)'
            #max-points-alert.p-t-10.hide
              .alert.alert-danger{role: "alert"}
                %button.close{"data-dismiss": "alert"}
                %strong Nota:
                El valor del módulo es muy alto. Redistribuye los valores de los otros módulos para que no pasen del 100%.
            .p-b-10
              * El valor del módulo sólo es importante si este contiene o contendrá preguntas, de lo contrario puedes dejar el campo en blanco.
            .p-t-20.p-b-20.pull-right
              = link_to @program, class: 'btn btn-default' do
                %i.fa.fa-times
                Cancelar
              = f.submit 'Aceptar', class: 'btn btn-success'
            .clearfix
                
:javascript
  $(document).ready(function(){
    $("form").submit(function (e) {
      e.preventDefault();
      var program = #{@program.id};
      var chapter = #{@chapter.id};
      var input_points = $("#chapter_points").val();
      $.ajax({
        type: "get",
        url: "/max_chapter_points",
        data: {program, chapter, input_points},
        success: function(data){
          if (data.status){
            $("form").off('submit');
            $("form").submit();
          }else{
            $("input#chapter_points").closest(".form-group").addClass("has-error");
            $("#max-points-alert").removeClass("hide");
          }
        },
        error: function(request,status,errorThrown){
          console.log(request.status);
          console.log(errorThrown);
        }
      });
    });
  });
