- content_for :title  do
  Editar m贸dulo - EDC Digital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Editar m贸dulo
        .panel-body
          .row
            .col-sm-8
              %h3
                = @chapter.name
          .row.padding-20
            .well
              = bootstrap_form_for([@program, @chapter]) do |f|
                = f.text_field :name, label: 'Nombre del m贸dulo'
                = f.text_field :points, label: 'Valor del m贸dulo'
                .p-t-20.p-b-20.pull-right
                  = link_to @program, class: 'btn btn-default' do
                    %i.fa.fa-times
                    Cancelar
                  = f.submit 'Aceptar', class: 'btn btn-success'
                .clearfix
                
