- content_for :title  do
	Rúbricas de módulo - EDCdigital

.container.p-r-0.p-l-0
	.row
		.col-md-12
			.panel.panel-default
				.panel-heading
					.panel-title
						Rúbricas del módulo
				.panel-body
					= bootstrap_form_for([@program, @chapter]) do |f|
						.evaluations
							= f.fields_for :evaluations do |evaluation|
								= render 'evaluation_fields', f: evaluation

							- if @chapter.evaluations.count == 0
								%h4.p-b-20.text-center
									Aún no hay rúbricas para este módulo
							.links.pull-left
								= link_to_add_association f, :evaluations, class: 'btn btn-primary' do
									%i.fa.fa-plus
									Agregar nueva rúbrica
							.links.pull-right
								= link_to @program, class: 'btn' do
									%i.fa.fa-times
									Cancelar
								= f.submit 'Guardar cambios', class: 'btn btn-success'




