= bootstrap_form_for(@frequent) do |f|
	= f.text_field :name, label: 'Pregunta frecuente'
	= f.text_area :answer, ckeditor: { language: 'es'}, id: 'ckeditor', label: 'Respuesta'
	= f.select :frequent_category_id, Frequent.category_of_frequents, {label: 'Categoría', include_blank: 'Selecciona una categoría', required: true}
	.m-b-15
		¿No hay categorías o ninguna es lo que buscas? 
		= link_to 'Crea una categoría aquí >>', new_frequent_category_path
	.pull-right.m-t-20.m-b-30
		= link_to 'Cancelar', frequent_categories_path, class: 'btn btn-danger'
		= f.submit 'Guardar pregunta', class: 'btn btn-primary'

:javascript
	CKEDITOR.replace('ckeditor');