- content_for :title  do
  Estudiantes - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-recursos
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white
              Detalle de estudiante
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h3.text-white
              %span.p-r-10{style: "font-size:16px !important;"}
                Nombre:
              %span
                #{@user.name}
            - unless @user.group.nil?    
              = link_to  mentor_group_path(@user.group.id), class: 'btn btn-sm btn-complete btn-cons m-b-10' do
                %i.fa.fa-reply
                %span.bold Regresar a grupo
              .btn-like-switch.pull-left.m-t-0.m-r-10.m-b-5
                %label.switch
                  %input{type: "hidden", id: "student_ready", value: @user.ready_to_check?.to_s}
                  %input{type: "hidden", id: "user_id", value: @user.id}
                  %input#student_evaluation_mentor{{:type => "checkbox"}, @user.evaluation_status == 'evaluado' ? {checked: 1, value: 1} : {value: 0}, @user.ready_to_check? ? {} : { disabled: true }}
                  .slider.round
                .label-for-switch.text-white.p-l-5
                  Estado de evaluación

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .card.card-borderless{style: "border: none;"}
        %ul.nav.nav-tabs.nav-tabs-simple.m-b-10
          %li.nav-item.tablinks.active{onclick: "openTab(event, 'tabStudent')"}
            %a{href: "#", onclick: "return false;"} Estudiante
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabProgram')"}
            %a{href: "#", onclick: "return false;"} Programas
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabQuizzes')"}
            %a{href: "#", onclick: "return false;"} Evaluaciones
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabFiles')"}
            %a{href: "#", onclick: "return false;"} Archivos
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabDeliverables')"}
            %a{href: "#", onclick: "return false;"} Entregables
          %li.nav-item.tablinks{onclick: "openTab(event, 'tabRefilables')"}
            %a{href: "#", onclick: "return false;"} Plantillas
        .tab-content.p-b-30
          #tabStudent.tab-pane.active.tabcontent
            .row
              .col-md-3
                .share.share-other.m-t-5.m-b-20.text-center
                  .card-content
                    - if @user.profile_picture.url.nil?
                      = image_tag('person-1-square.jpg', width: "170") #Se puede agregar -> class: 'img-responsive'
                    - else
                      = image_tag(@user.profile_picture.url, width: "170") #Se puede agregar -> class: 'img-responsive'
                .m-b-10.panel.panel-default
                  .widget-9.panel.no-border.bg-grey.no-margin.widget-loader-bar{:style => "height: 125px !important;"}
                    .container-xs-height
                      .row-xs-height
                        .col-xs-height.col-top
                          .panel-heading.top-left.top-right
                            .panel-title
                              %span.font-montserrat.fs-11.all-caps
                                Avances de estudiante
                                %i.fa.fa-chevron-right
                            .panel-body.padding-5
                              .row
                                .col-sm-12
                                  .small.p-b-5
                                    %span.small-text Porcentaje contestado:
                                    %span.text-success.font-montserrat.small-text #{@user.answered_questions_percentage.ceil}%
                                  .progress.progress-small.m-b-5
                                    .progress-bar.progress-bar-primary{:style => "width: #{@user.answered_questions_percentage}%"}
                                .col-sm-12
                                  .small.p-b-5
                                    %span.small-text Porcentaje visto:
                                    %span.text-success.font-montserrat.small-text #{@user.content_visited_percentage.ceil}%
                                  .progress.progress-small.m-b-5
                                    .progress-bar.progress-bar-primary{:style => "width: #{@user.content_visited_percentage}%"}
                .m-b-10.panel.panel-default
                  .widget-9.panel.no-border.bg-grey.no-margin.widget-loader-bar{:style => "height: 125px !important;"}
                    .container-xs-height.full-height
                      .row-xs-height
                        .col-xs-height.col-top
                          .panel-heading.top-left.top-right
                            .panel-title
                              %span.font-montserrat.fs-11.all-caps
                                Conexiones de usuario
                                %i.fa.fa-chevron-right
                      .row-xs-height
                        .col-xs-height.col-top
                          .p-l-20.p-t-15.m-t-10
                            .small
                              %span.hint-text
                                %i.fa.fa-clock-o.p-r-5
                                Última vez:
                              %span.small-text.text-primary #{ @user.last_time }
                            .small
                              %span.hint-text
                                %i.fa.fa-clock-o.p-r-5
                                Promedio de uso:
                              %span.small-text.text-primary #{ @user.time_average.round(2) } minutos
                            .small
                              %span.hint-text
                                %i.fa.fa-clock-o.p-r-5
                                Uso total:
                              %span.small-text.text-primary #{ @user.total_time.round(2) } minutos
              .col-md-9
                %table.table.resumen-table.table-striped.table-top-border.perfil-table
                  %tbody
                    %tr.odd.gradeX
                      %td{:width => "25%"} Nombre
                      %td
                        = @user.name
                        %sup
                          = link_to summary_mentor_student_path(@user),class: "p-l-5" do
                            (
                            %i.fa.fa-bolt
                            VER RESUMEN )
                    /%tr.odd.gradeX
                    /%td{:width => "25%"} Estatus de evaluación
                    /%td
                    /  = editable @user, :evaluation_status, source: [:evaluado, :'sin evaluar'], type: :select, url: mentor_student_path(@user)
                    /  %a{href: '#', title: 'Haz clic para editar la información'}
                    /    %i.fa.fa-edit
                    %tr.odd.gradeX
                      %td Correo electrónico
                      %td
                        = @user.email
                    %tr.odd.gradeX
                      %td Teléfono
                      %td
                        = @user.phone_number
                    %tr.odd.gradeX
                      %td Edad
                      %td
                        = @user.age.nil? ? "Sin registro" : @user.age.to_s + " años"
                    %tr.odd.gradeX
                      %td Género
                      %td
                        - if @user.gender.nil?
                          Sin registro
                        - else
                          = (@user.gender == "male") ? "Hombre" : "Mujer"
                    %tr.odd.gradeX
                      %td Mi situación actual
                      %td
                        = @user.situation.nil? ? "Sin registro" : @user.situation
                    %tr.odd.gradeX
                      %td Tema de interés
                      %td
                        = @user.interest.nil? ? "Sin registro" : @user.interest
                    %tr.odd.gradeX
                      %td Mi mayor reto
                      %td
                        = @user.challenge.nil? ? "Sin registro" : @user.challenge
                    %tr.odd.gradeX
                      %td Lo que busco en EDC Digital
                      %td
                        = @user.goal.nil? ? "Sin registro" : @user.goal
                    %tr.odd.gradeX
                      %td Industria
                      %td
                        = unless @user.industry.nil? then @user.industry.name else "Sin registro" end
                    %tr.odd.gradeX
                      %td Ubicación
                      %td #{@user.state}, #{@user.city}
                    %tr.odd.gradeX
                      %td Grupo
                      %td
                        = @user.group.name unless @user.group.nil?
                    %tr.odd.gradeX
                      %td Ruta de aprendizaje: "P. Fisica"
                      %td
                        = @user.group.learning_path.name unless @user.group.nil? || @user.group.learning_path.nil?
                    %tr.odd.gradeX
                      %td Ruta de aprendizaje: "P. Moral"
                      %td= @user.group.learning_path2.name unless @user.group.nil? || @user.group.learning_path2.nil?         
                    %tr.odd.gradeX
                      %td Fecha de creación de cuenta
                      %td #{l @user.created_at, format: :special}
                    %tr.odd.gradeX
                      %td Fecha de activación de cuenta
                      %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
                    %tr.odd.gradeX
                      %td Cursos inscritos
                      %td
                        - @programs.each do |program|
                          \-
                          = link_to program.name, mentor_evaluations_path(user_id: @user, program_id: program)
                          %br
          #tabProgram.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th{:width => '50%'}
                        Curso inscrito
                      %th{:width => '25%'}
                        Avances del alumno
                      %th
                        Acciones
                  %tbody
                    - if @programs.count > 0
                      - Program.all.each do |program|
                        - if @programs.exists?(program) #hace lo de abajo solo si el programa está DISPONIBLE
                          %tr
                            %td.p-b-35
                              %div
                                = link_to program.name, mentor_evaluations_path(user_id: @user, program_id: program), :style => "font-size: 17px;"
                              - with_questions, without_questions = chapter_have_questions?(program)[0], chapter_have_questions?(program)[1]
                              - if with_questions.count > 0
                                %p.hint-text.m-t-5.m-b-5 Módulos con preguntas:
                                %ul.list-inline.no-style.unstyled
                                  - with_questions.each_with_index do |chapter, index|
                                    %li.squized-li
                                      = link_to mentor_evaluation_path(chapter, user_id: @user, program_id: program) do
                                        - answered_percentage = answered_questions(chapter, @user) * (100 / chapter.questions.count.to_f).ceil
                                        - checked = chapter.chapter_checked?(chapter.id, @user.id)
                                        - if answered_percentage > 95
                                          .label.label-success{:class => "#{checked ? '' : 'p-sides-14'}"}
                                            M#{index+1}
                                            %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                                        - else
                                          .label{:class => "#{(answered_percentage > 0) ? 'label-warning' : ''} #{checked ? '' : 'p-sides-14'}"}
                                            M#{index+1}
                                            %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                              - if without_questions.count > 0
                                %p.hint-text.m-t-5.m-b-5 Módulos sin preguntas:
                                %ul.list-inline.no-style.unstyled
                                  - without_questions.each_with_index do |chapter, index|
                                    %li.squized-li
                                      - seen_percentage = seen_percentage_chapter(chapter, @user)
                                      - if seen_percentage > 95
                                        .label.label-success
                                          M#{index+1}
                                          %i.fa.fa-check
                                      - else
                                        .label.p-sides-14{:class => "#{ (seen_percentage > 0) ? 'label-warning' : '' }"}
                                          M#{index+1}
                              - if @key_programs.include?(program.id)
                                %p.hint-text.m-t-5.m-b-5 Preguntas clave:
                                %ul.list-inline.no-style.unstyled
                                  - @key_questions.select{|kq| kq[:program] == program.id}.each_with_index do |kq, index|
                                    %li.squized-li
                                      = link_to dashboard_chapter_content_path(kq[:key].chapter_content) do
                                        .label.tip{class: "#{kq[:question].answers.where(user_id: @user).empty? ? 'p-sides-17' : 'label-success p-sides-17'}", "data-placement": "right", "data-toggle": "tooltip", "data-original-title": "#{truncate(kq[:question].question_text, length: 85, :escape => false)}"}
                                          P#{index + 1}
                            %td.p-t-25
                              .m-b-10
                                %i.fa.fa-edit
                                #{@user.questions_answered_for(program)}
                                %span preguntas contestadas
                                %strong (#{@user.percentage_questions_answered_for(program)}%)
                              .m-b-10
                                %i.fa.fa-eye
                                #{@user.content_visted_for(program)}
                                %span contenidos vistos
                                %strong (#{@user.percentage_content_visited_for(program)}%)
                            %td.p-r-0
                              %ul.unstyled.no-style.p-l-0
                                %li.p-l-0
                                  = link_to mentor_evaluations_path(user_id: @user, program_id: program) do
                                    %i.fa.fa-eye
                                    Ir a evaluación de programa
                                %li.p-l-0.m-t-10
                                  = link_to mentor_evaluations_path(user_id: @user, program_id: program, format: :xlsx) do
                                    %i.fa.fa-file-excel-o
                                    Descargar Excel
                                %li.p-l-0.m-t-10
                                  %input{type: "hidden", id: "user_key_#{@user.id}", value: @user.id}
                                  %input{type: "hidden", id: "program_key_#{program.id}", value: program.id}
                                  .btn-like-switch.btn-like-switch-small
                                    %label.switch.switch-small
                                      %form{:action => program_stats_path, 'data-remote': "true", method: :post, id: "edit_program_stat_#{program.id}"}
                                        - if get_program_stat(@user, program).nil?
                                          %input{type: "checkbox", id: "checking_program_#{program.id}", name: "program_stat[checked]"}
                                        - else
                                          - program_stats = get_program_stat(@user, program)
                                          - if program_stats.checked == 1
                                            %input{type: "checkbox", id: "checking_program_#{program.id}", value: program_stats.checked, name: "program_stat[checked]", checked: :true}
                                          - else
                                            %input{type: "checkbox", id: "checking_program_#{program.id}", value: program_stats.checked, name: "program_stat[checked]"}
                                        .slider.slider-small.round
                                    .label-for-switch.label-for-switch-small.p-l-5
                                      Estado de evaluación
                                  - if @complementarios.include? program.id
                                    .btn-like-switch.btn-like-switch-small
                                      %label.switch.switch-small
                                        %form{:action => program_stats_path, 'data-remote': "true", method: :post, id: "edit_program_active_#{program.id}"}
                                          - if get_program_active(@user, program).nil?
                                            %input{type: "checkbox", id: "checking_program_active_#{program.id}", name: "program_stat[checked]"}
                                          - else
                                            - program_active = get_program_active(@user, program)
                                            - if program_active.status == true
                                              %input{type: "checkbox", id: "checking_program_active_#{program.id}", value: program_active.status, name: "program_active[checked]", checked: :true}
                                            - else
                                              %input{type: "checkbox", id: "checking_program_active_#{program.id}", value: program_active.status, name: "program_active[checked]"}
                                          .slider.slider-small.round
                                      .label-for-switch.label-for-switch-small.p-l-5{id: "label_bloquear_#{program.id}"}
                                        - if get_program_active(@user, program).nil?
                                          Desbloquear programa
                                        -else
                                          -if get_program_active(@user, program).status == true
                                            Bloquear programa
                                          -else
                                            Desbloquear programa
                                  %script{ :type => 'text/javascript' }
                                    $(document).ready(function(){
                                    $("#checking_program_" + #{program.id}).change(function(){
                                    var src = $(this).val();
                                    var src2 = $("#user_key_" + #{@user.id}).val();
                                    var src3 = $("#program_key_" + #{program.id}).val();
                                    $.ajax({
                                    type: "post",
                                    url: "/save_program_stats",
                                    data: {src, src2, src3},
                                    success: function(data){
                                    data.parents('form:first').submit();
                                    }});
                                    $("#alert-ra").css('display','block');setTimeout(function(){$("#alert-ra").css('display','none');},3000);
                                    });

                                    $("#checking_program_active_" + #{program.id}).change(function(){
                                    var status = $(this).val();
                                    var user = $("#user_key_" + #{@user.id}).val();
                                    var program = $("#program_key_" + #{program.id}).val();
                                    $.ajax({
                                    type: "post",
                                    url: "/save_program_active",
                                    data: {status, user, program},
                                    success: function(data){
                                    console.log(data.program_active.status);
                                    if (data.program_active.status){
                                    $("#alert_text_bl").text("Programa desbloqueado");
                                    $("#label_bloquear_" + data.program_active.program_id).text("Bloquear programa");
                                    }else{
                                    $("#alert_text_bl").text("Programa bloqueado");
                                    $("#label_bloquear_"+ data.program_active.program_id).text("Desbloquear Programa");
                                    }
                                    $("#alert-bloquear").css('display','block');
                                    setTimeout(function(){$("#alert-bloquear").css('display','none');},3000);
                                    }
                                    });
                                    });
                                    });
                    - else
                      %tr
                        %td.p-t-20.p-b-15{colspan: "3"}
                          .text-primary.bold
                            No hay programas asignados a este estudiante              
          #tabQuizzes.tab-pane.tabcontent{class: @user.group.nil? ? "" : "minus-15"}
            .row
              .col-sm-12.table-responsive
                - if !@user.group.nil?
                  = link_to dashboard_quizzes_path(user_id: @user.id) do
                    .pull-right.m-b-15
                      %button.btn.btn-default.text-complete{type: "button"}
                        %span.pull-right 
                          %i.fa.fa-check-circle
                        %span.p-r-10
                          Ver sección de Evaluaciones del alumno
                  .clearfix
                %table.table.table-hover
                  %thead
                    %tr
                      %th{width: "35%"}
                        Evaluación
                      %th{width: "25%"}
                        Preguntas disponibles
                      %th.text-center{width: "14%"}
                        Calificación
                      %th.text-center{width: "14%"}
                        Intentos
                      %th
                        Acciones
                  %tbody
                    - if @quizzes.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "4"}
                          .text-primary.bold
                            No hay evaluaciones asignadas a este estudiante
                    - else
                      - @quizzes.each do |quiz|
                        - quiz_ques = quiz.quiz_questions.count
                        - answered_ques = quiz.answered(@user)
                        - result = quiz.average(@user)
                        %tr
                          %td.p-t-20.p-b-15
                            = quiz.name
                          %td.p-t-20.p-b-15{style: "color: #{ (quiz_ques <= answered_ques) ? '#10CFBD' : '' };"}
                            #{answered_ques} contestadas / #{quiz_ques} disponibles
                          %td.p-t-20.p-b-15.text-center
                            = result
                            %td.p-t-20.p-b-15.text-center
                              = Attempt.where(quiz_id: quiz.id, user_id: @user.id).count
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              = link_to analytics_quiz_mentor_student_path(@user, quiz_id: quiz) do
                                %li.inline
                                  %i.fa.fa-eye
                                %li.inline
                                  Ver detalle
                            %ul.p-l-0.m-b-10
                              = link_to apply_dashboard_quiz_path(quiz, user_id: @user.id) do
                                %li.inline
                                  %i.fa.fa-tasks
                                %li.inline
                                  Ver examen
          #tabFiles.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                %h4.text-primary
                  Archivos cargados por el usuario
                %table.table.table-hover
                  %thead
                    %tr
                      %th
                        Nombre de archivo
                      %th
                        Información de archivo
                      %th
                        Historial
                  %tbody
                    - if @user.attachments.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "3"}
                          .text-primary.bold
                            No hay archivos cargados por este estudiante
                    - else
                      - @user.attachments.each do |attachment|
                        %tr
                          %td.p-t-20.p-b-15
                            = link_to attachment.display_name + ' (ver archivo)', attachment.file.url, target: :_blank
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Tipo:
                              %li.inline
                                = attachment.humanize_document_type
                            %ul.p-l-0.m-b-0
                              %li.inline.text-primary.bold
                                Comentarios:
                              %li.inline
                                = attachment.label
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Creación:
                              %li.inline
                                = l attachment.created_at, format: :special
                            %ul.p-l-0.m-b-0
                              %li.inline.text-primary.bold
                                Modificación:
                              %li.inline
                                = l attachment.updated_at, format: :special
            .row
              .col-sm-12.table-responsive
                %h4.text-primary
                  Archivos compartidos con el usuario
                %table.table.table-hover
                  %thead
                    %tr
                      %th
                        Nombre de archivo
                      %th
                        Información
                      %th
                        Historial
                      %th
                        Acciones
                  %tbody
                    - if @user.shared_attachments.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "6"}
                          .text-primary.bold
                            No hay archivos compartidos con el estudiante
                    - else
                      - @user.shared_attachments.each do |attachment|
                        %tr
                          %td.p-t-20.p-b-15
                            = link_to attachment.display_name + ' (ver archivo)', attachment.file.url, target: :_blank
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Tipo:
                              %li.inline
                                = attachment.humanize_document_type
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Comentarios:
                              %li.inline
                                = attachment.label
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Creación:
                              %li.inline
                                = l attachment.created_at, format: :special
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Modificación:
                              %li.inline
                                = l attachment.updated_at, format: :special
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              = link_to edit_mentor_student_shared_attachment_path(@user, attachment) do
                                %li.inline
                                  %i.fa.fa-edit
                                %li.inline
                                  Editar archivo
                            %ul.p-l-0.m-b-10
                              = link_to mentor_student_shared_attachment_path(@user, attachment), method: :delete, data: { confirm: '¿Estás seguro?' } do
                                %li.inline
                                  %i.fa.fa-times
                                %li.inline
                                  Eliminar archivo
                .pull-right.m-r-30.m-t-20.m-b-20
                  = link_to new_mentor_student_shared_attachment_path(@user), class: 'btn btn-primary btn-lg' do
                    %i.fa.fa-upload
                    Compartir archivo
          #tabDeliverables.tab-pane.tabcontent
            .row
              .col-sm-12.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th{width: "25%"}
                        Nombre
                      %th
                        Comentarios
                      %th.text-center{width: "25%"}
                        Estatus
                      %th{width: "20%"}
                        Acciones
                  %tbody
                    - if @delireverables.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "4"}
                          .text-primary.bold
                            No hay entregables asignados a este estudiante
                    - else
                      - @delireverables.each do |delireverable|
                        - user_delireverable = delireverable.delireverable_users.find_by(user: @user)
                        %tr
                          %td.p-t-20.p-b-15
                            = delireverable.name
                          %td.p-t-20.p-b-15
                            - if user_delireverable
                              - if user_delireverable.comments
                                .text-primary
                                  = user_delireverable.comments
                              - else
                                No hay comentarios
                            - else
                              No hay comentarios
                          %td.p-t-20.p-b-15.text-center
                            - if user_delireverable
                              - status = user_delireverable.huminize_status
                              .label{class: "#{ status == 'Enviado' ? 'label-warning p-r-l-20' : 'label-success p-r-l-17' }"}
                                = status
                            - else
                              .label
                                Sin entregar
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              = link_to delireverable.file.url, target: '_blank' do
                                %li.inline
                                  %i.fa.fa-download
                                %li.inline
                                  Descargar ejemplo
                            - if user_delireverable
                              %ul.p-l-0.m-b-10
                                = link_to user_delireverable.file.url, target: '_blank' do
                                  %li.inline
                                    %i.fa.fa-file-o
                                  %li.inline
                                    Descargar archivo de alumno
                              %ul.p-l-0.m-b-10
                                = link_to edit_mentor_student_delireverable_user_path(@user, user_delireverable) do
                                  %li.inline
                                    %i.fa.fa-edit
                                  %li.inline
                                    Editar registro
          #tabRefilables.tab-pane.tabcontent{class: @user.group.nil? ? "" : "minus-15"}
            .row
              .col-sm-12.table-responsive
                - if !@user.group.nil?
                  .pull-right.m-b-15
                    = link_to dashboard_template_refilables_path(user_id: @user.id) do
                      %button.btn.btn-default.text-complete{type: "button"}
                        %span.pull-right 
                          %i.fa.fa-bars
                        %span.p-r-10
                          Ver sección de Plantillas del alumno
                .clearfix
                %table.table.table-hover
                  %thead
                    %tr
                      %th{width: "15%"} Nombre
                      %th Descripción
                      %th.text-center{width: "15%"} Estatus
                      %th{width: "15%"} Acciones
                  %tbody
                    - if @refilables.count == 0
                      %tr
                        %td.p-t-20.p-b-15{colspan: "4"}
                          .text-primary.bold
                            No hay plantillas asignadas a este estudiante
                    - else
                      - @refilables.each do |refilable|
                        - user_refilable = refilable.refilables.find_by(user: @user)
                        %tr
                          %td.p-t-20.p-b-15
                            = refilable.name
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Decripción:
                              %li.inline
                                = refilable.description
                            %ul.unstyled.no-style.p-l-0.m-b-10
                              %li.inline.text-primary.bold
                                Comentarios:
                              %li
                                - if user_refilable
                                  = user_refilable.comments ? user_refilable.comments : "No hay comentarios"
                                - else
                                  No hay comentarios
                          %td.p-t-20.p-b-15.text-center
                            - if user_refilable
                              - status = user_refilable.status
                              .label{class: "#{ status == 'Contestado' ? 'label-success p-r-l-17' : 'label-warning p-r-l-20'}"}
                                = status
                            - else
                              .label
                                No contestado
                          %td.p-t-20.p-b-15
                            %ul.p-l-0.m-b-10
                              = link_to new_dashboard_template_refilable_refilable_path(refilable, user_id: @user.id) do
                                %li.inline
                                  %i.fa.fa-eye
                                %li.inline
                                  Ver plantilla
                            - if user_refilable
                              %ul.p-l-0.m-b-10
                                = link_to mentor_student_refilable_path(@user, user_refilable) do
                                  %li.inline
                                    %i.fa.fa-tasks
                                  %li.inline
                                    Ver respuestas
                              %ul.p-l-0
                                = link_to edit_mentor_student_refilable_path(@user, user_refilable) do
                                  %li.inline
                                    %i.fa.fa-comment-o
                                  %li.inline
                                    Comentar


#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #program_evaluation_text
        Estado de evaluación modificado
      #alert_text
#alert-ra-error.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text_error
#alert-bloquear.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text_bl
/$(document).on('turbolinks:load', function(){
:javascript
  $(document).ready(function(){

    if ($("#student_ready").val() == "false") {
      $("#student_evaluation_mentor").each(function() {
        $('.switch').append('<div id="disabledClick" style="position:absolute;top:0px;left:0px;width:62px;height:36px;background:transparent;cursor:pointer;"></div>');
      });
      $("#disabledClick").click(function() {
        $("#alert_text_error").text("El alumno debe tener todos los programas evaluados (refresca la página si ya lo hiciste)");
        $("#alert-ra-error").css('display','block');
        setTimeout(function(){$("#alert-ra-error").css('display','none');},5000);
      });

    } else {
      $("#student_evaluation_mentor").click(function() {
        var this_user = $("#user_id").val();
        $.ajax({
          type: "post", url: "/change_evaluation",
          data: {
            'user_id': this_user
          },
          success: function (data, text) {
            if (data.eval){
              $("#program_evaluation_text").addClass('hidden');
              $("#alert_text").text("El alumno ha sido marcado como evaluado");
            }else{
              $("#program_evaluation_text").addClass('hidden');
              $("#alert_text").text("El alumno dejó de estar marcado como evaluado");
            }
            $("#alert-ra").css('display','block');
            setTimeout(function(){$("#alert-ra").css('display','none');},4000);
          },
          error: function (data) {
            console.log(data);
          }
        });
      });
    }

  });

  function openTab(evt, tabNumber) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabNumber).style.display = "block";
    evt.currentTarget.className += " active";
  };
