.container-fluid.container-fixed-lg
  .row
    .col-sm-9
      %h3
        Detalles del Alumno: #{@user.name}
    .col-sm-3
      = link_to mentor_group_path(@user.group.id), class: "pull-right" do
        %button.btn.btn-info.btn-sm.m-t-10.m-b-10
          %i.fa.fa-reply
          Regresar a grupo
  .panel.panel-default
    .panel-body
      .row
        .col-md-2
          .share.share-other.m-t-5
            .card-content
              - if @user.profile_picture.url.nil?
                = image_tag('person-1-square.jpg', class: 'img-responsive')
              - else
                = image_tag(@user.profile_picture.url, class: 'img-responsive')
              .card-header.clearfix
                %h6
                  = @user.name
                %p.small.hint-text.m-t-5 #{@user.state}, #{@user.city}
                %p.small.hint-text.m-t-5
                  %span
                    %i.fa.fa-line-chart
                    Porcentaje contestado #{@user.answered_questions_percentage} %
                  %br
                  %span
                    %i.fa.fa-line-chart
                    Porcentaje de avance #{@user.content_visited_percentage} %
                %p.small.hint-text.m-t-5 
                  %i.fa.fa-history
                  Ultima vez:
                  %span
                    #{ @user.last_time }
                %p.small.hint-text.m-t-5 
                  Promedio de uso:
                  %span
                    #{ @user.time_average.round(2) } minutos.
                %p.small.hint-text.m-t-5 
                  Total de uso 
                  %span
                    #{ @user.total_time.round(2) } minutos.
        .col-md-10
          %table.table.resumen-table.table-striped.table-top-border.perfil-table
            %tbody
              %tr.odd.gradeX
                %td{:width => "25%"} Nombre
                %td
                  = @user.name
              %tr.odd.gradeX
                %td{:width => "25%"} Estatus de evaluación
                %td
                  = editable @user, :evaluation_status, source: [:evaluado, :'sin evaluar'], type: :select, url: mentor_student_path(@user)
                  %a{href: '#', title: 'Haz clic para editar la información'}
                    %i.fa.fa-edit
              %tr.odd.gradeX
                %td Correo electrónico
                %td
                  = @user.email
              %tr.odd.gradeX
                %td Teléfono
                %td
                  = @user.phone_number
              %tr.odd.gradeX
                %td Ubicación
                %td #{@user.state}, #{@user.city}
              %tr.odd.gradeX
                %td Grupo
                %td
                  = @user.group.name unless @user.group.nil?
              %tr.odd.gradeX
                %td Fecha de creación de cuenta
                %td #{l @user.created_at, format: :special}
              %tr.odd.gradeX
                %td Fecha de activación de cuenta
                %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
              %tr.odd.gradeX
                %td Cursos inscritos
                %td
                  - @user.group.programs.each do |program|
                    \-
                    = link_to program.name, user_program_answers_path(@user, program)
                    %br
  .row
    .col-sm-9
      %h3
        Estadísticas generales de programas inscritos
    .col-sm-3
      = link_to mentor_group_path(@user.group.id), class: "pull-right" do
        %button.btn.btn-info.btn-sm.m-t-10.m-b-10
          %i.fa.fa-reply
          Regresar a grupo

  .panel.panel-default
    .panel-body.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th{:width => '22%'}
              Curso inscrito
            %th{:width => '23%'}
              Avances del alumno
            %th.text-center{:width => '26%'}
              Módulos del curso
            %th.text-center{:width => '8%'}
              Disponible (estudiante)
            %th.text-center
              Acciones
        %tbody
          - Program.all.each do |program|
            %tr
              %td.p-b-35{:style => "font-size: 1em;"}
                = link_to program.name, mentor_evaluations_path(user_id: @user, program_id: program)
              %td
                .m-b-10
                  %i.fa.fa-edit
                  #{@user.questions_answered_for(program)} 
                  %span preguntas contestadas
                  %strong (#{@user.percentage_questions_answered_for(program)}%)
                .m-b-10
                  %i.fa.fa-eye
                  #{@user.content_visted_for(program)} 
                  %span contenidos vistos
                  %strong (#{@user.percentage_content_visited_for(program)}%)
              %td
                %ul.list-inline.no-style.unstyled
                  - program.chapters.each_with_index do |chapter, index|
                    %li
                      = link_to mentor_evaluation_path(chapter, user_id: @user, program_id: program) do
                        - if chapter.questions.count == 0
                          .label.label-info.p-sides-14
                            M-#{index + 1}
                            %i.fa
                        - else
                          - answered_percentage = answered_questions(chapter, @user) * (100 / chapter.questions.count.to_f).ceil
                          - checked = chapter.chapter_checked?(chapter.id, @user.id)
                          - if answered_percentage > 95
                            .label.label-success{:class => "#{checked ? '' : 'p-sides-14'}"}
                              M-#{index + 1}
                              %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
                          - else
                            .label{:class => "#{(answered_percentage > 0) ? 'label-warning' : ''} #{checked ? '' : 'p-sides-14'}"}
                              M-#{index + 1}
                              %i.fa{:class => "#{checked ? 'fa-check' : ''}"}
              %td.text-center 
                %strong{:class => "#{(!@user.group.programs.exists?(program)) ? 'text-danger' : 'text-success'}"}
                  #{(!@user.group.programs.exists?(program)) ? 'No' : 'Sí'}
              %td.p-r-0
                %ul.unstyled.no-style.p-l-0
                  %li.p-l-0
                    = link_to mentor_evaluations_path(user_id: @user, program_id: program, format: :xlsx) do
                      %i.fa.fa-file-excel-o
                      Descargar Excel 
                  %li.p-l-0{:style => 'color: #3a8fc8;'}
                    %input{type: "hidden", id: "user_key_#{@user.id}", value: @user.id}
                    %input{type: "hidden", id: "program_key_#{program.id}", value: program.id}

                    %form{:action => program_stats_path, 'data-remote': "true", method: :post, id: "edit_program_stat_#{program.id}"}
                      - if get_program_stat(@user, program).nil?
                        %input{type: "checkbox", id: "checking_program_#{program.id}", name: "program_stat[checked]"}
                        %label.p-l-5{:for => "checking_program_#{program.id}"} Marcar como evaluado
                      - else 
                        - program_stats = get_program_stat(@user, program)
                        - if program_stats.checked == 1
                          %input{type: "checkbox", id: "checking_program_#{program.id}", value: program_stats.checked, name: "program_stat[checked]", checked: :true}
                        - else
                          %input{type: "checkbox", id: "checking_program_#{program.id}", value: program_stats.checked, name: "program_stat[checked]"}
                        %label.p-l-5{:for => "checking_program_#{program.id}"}
                          = (program_stats.checked == 1) ? "Programa evaluado" : "Marcar como evaluado"
                    %script{ :type => 'text/javascript' }
                      $(document).ready(function(){
                      $("#checking_program_" + #{program.id}).change(function(){
                      var src = $(this).val();
                      var src2 = $("#user_key_" + #{@user.id}).val();
                      var src3 = $("#program_key_" + #{program.id}).val();
                      $.ajax({
                      type: "post",
                      url: "/save_program_stats", 
                      data: {src, src2, src3},
                      success: function(data){
                      data.parents('form:first').submit();
                      }});
                      $("#alert-ra").css('display','block');setTimeout(function(){$("#alert-ra").css('display','none');},3000);
                      });
                      });

  %h3
    Estadísticas generales de exámenes

  .panel.panel-default
    .panel-body
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th
                Examen
              %th
                Preguntas disponibles
              %th
                Preguntas contestadas
              %th
                Calificación
              %th
          %tbody
            - @user.group.quizzes.each do |quiz|
              %tr
                %td= quiz.name
                %td= quiz.quiz_questions.count
                %td= quiz.answered(@user)
                %td= quiz.average(@user)
                %td= link_to "Ver detalle", analytics_quiz_mentor_student_path(@user, quiz_id: quiz)
  %h3
    Archivos del usuario

  .panel.panel-default
    .panel-body.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th
              Nombre de archivo
            %th
              Tipo de archivo
            %th
              Comentarios
            %th
              Subido en
            %th
              Fecha de modificación
        %tbody
          - @user.attachments.each do |attachment|
            %tr
              %th
                = link_to attachment.display_name, attachment.file.url, target: :_blank
              %th
                = attachment.humanize_document_type
              %th
                = attachment.label
              %th
                = l attachment.created_at, format: :special
              %th
                = l attachment.updated_at, format: :special

  %h3
    Archivos compartidos con el usuario

  .panel.panel-default
    .panel-body.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th
              Nombre de archivo
            %th
              Tipo de archivo
            %th
              Comentarios
            %th
              Subido en
            %th
              Fecha de modificación
            %th
        %tbody
          - @user.shared_attachments.each do |attachment|
            %tr
              %th
                = link_to attachment.display_name, attachment.file.url, target: :_blank
              %th
                = attachment.humanize_document_type
              %th
                = attachment.label
              %th
                = l attachment.created_at, format: :special
              %th
                = l attachment.updated_at, format: :special
              %th
                = link_to 'Editar', edit_mentor_student_shared_attachment_path(@user, attachment), class: 'btn btn-default'
                = link_to 'Eliminar', mentor_student_shared_attachment_path(@user, attachment), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-default'
  
  .pull-right
    = link_to new_mentor_student_shared_attachment_path(@user), class: 'btn btn-primary btn-lg m-b-50 m-r-30' do
      %i.fa.fa-upload
      Agregar archivo

#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      Estado de evaluación modificado      

  /%h3
  /  Revisión de comentarios (Todos)
  /= render partial: 'mentor/comments/comments', locals: { comments: @comments }
