.container-fluid.container-fixed-lg
  %h3
    Detalles del Alumno: #{@user.name}
  .panel.panel-default
    .panel-body
      .row
        .col-md-2
          .share.share-other.m-t-5
            .card-content
              - if current_user.profile_picture.url.nil?
                = image_tag('person-1-square.jpg', class: 'img-responsive')
              - else
                = image_tag(current_user.profile_picture.url, class: 'img-responsive')
              .card-header.clearfix
                %h6
                  = @user.name
                %p.small.hint-text.m-t-5 #{@user.state}, #{@user.city}
                %p.small.hint-text.m-t-5
                  %span
                    Porcentaje contestado #{@user.answered_questions_percentage} %
                    %i.fa.fa-line-chart
                  %br
                  %span
                    Porcentaje de avance #{@user.content_visited_percentage} %
                    %i.fa.fa-line-chart
        .col-md-10
          %table.table.resumen-table.table-striped.table-top-border.perfil-table
            %tbody
              %tr.odd.gradeX
                %td{:width => "25%"} Nombre
                %td
                  = @user.name
              %tr.odd.gradeX
                %td Correo electrónico
                %td
                  = @user.email
              %tr.odd.gradeX
                %td Teléfono
                %td
                  = @user.phone_number
              %tr.odd.gradeX
                %td Ubicación
                %td #{@user.state}, #{@user.city}
              %tr.odd.gradeX
                %td Grupo
                %td
                  = @user.group.name unless @user.group.nil?
              %tr.odd.gradeX
                %td Fecha de creación de cuenta
                %td #{l @user.created_at, format: :special}
              %tr.odd.gradeX
                %td Fecha de activación de cuenta
                %td #{l @user.invitation_accepted_at, format: :special unless @user.invitation_accepted_at.nil?}
              %tr.odd.gradeX
                %td Cursos inscritos
                %td
                  - @user.group.programs.each do |program|
                    \-
                    = link_to program.name, user_program_answers_path(@user, program)
                    %br
  %h3
    Estadísticas generales de programas inscritos

  .panel.panel-default
    .panel-body
      %table.table.table-hover
        %thead
          %tr
            %th
              Curso inscrito
            %th
              Contenidos vistos
            %th
              Respuestas contestadas
            %th
              Comentarios totales
            %th
              Porcentaje de contenido visto
            %th
              Porcentaje de preguntas contestadas
            %th
        %tbody
          - @user.group.programs.each do |program|
            %tr
              %td
                = program.name
              %td
                = @user.content_visted_for(program)
              %td
                = @user.questions_answered_for(program)
              %td
                = @user.total_comments_for(program)
              %td
                #{@user.percentage_content_visited_for(program)}%
              %td
                #{@user.percentage_questions_answered_for(program)}%
              %td
                = link_to 'Ir a evaluación por módulos', mentor_evaluations_path(user_id: @user, program_id: program)
