= bootstrap_form_for(@certificate_template) do |f|
	= f.text_field :name, label: 'Nombre de la plantilla'
	.dropzone
		= f.file_field :file, label: 'Archivo'
	%label{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px;"}
		= check_box_tag 'main_checkbox'
		Configurar como plantilla principal (se usará para la creación automática de certificados) 
	.m-t-10.fs-12
		%span.bold Nota:
		%span Para certificatos tamaño carta se recomienda subir imágenes con estas dimensiones: 2000 x 1545 px.
	.pull-right.m-t-30.m-b-30
		= link_to 'Cancelar', certificate_templates_path, class: 'btn btn-danger'
		= f.submit 'Guardar Plantilla', class: 'btn btn-primary'