- content_for :title  do
  = title_text_helper("Universidades")

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h1
        Universidades
    .row      
      - @states.each do |s|
        .col-md-2
          %center
            = link_to s.name,  state_universities_path + "?state=" + s.id.to_s, html_options= {class: "btn btn-link"}                       
    .panel-body
      .row.p-t-5.p-b-5
        .col-md-12
          .pull-right
            =link_to "Crear universidad", new_university_path, html_options= {class: "btn btn-primary"} 
      .row.p-t-5.p-b-5
        .col-md-12
          .table-responsive
            %table.table.table-hover
              %thead
                %tr
                  %th
                    Id
                  %th
                    Nombre
                  %th
                    Estado
                  %th
                    Opciones
              %tbody
                - @universities.each do |u|
                  %tr
                    %td
                      = u.id
                    %td
                      = u.name
                    %td
                      = u.state.name
                    %td
                      %ul.inline-block.list-unstyled
                        %li
                          = link_to university_path(u), method: :delete, data: { confirm: '¿Estás seguro?'} do
                            %i.fa.fa-times
                            Eliminar
                        %li
                          = link_to edit_university_path(u) do
                            %i.fa.fa-edit
                            Editar
          .pull-right
            = paginate @universities
            %br
            %center.text-center= page_entries_info @universities                 
