!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:title) ? yield(:title) : "EDCdigital"
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :name => "description"}/
    %meta{:content => "emprendedor, emprendedores, emprendimiento, financiamiento, jóvenes, finanzas, capacitación, curso, inversión, capital, privado", :name => "keywords"}/
    %meta{:content => "Distrito Emprendedor", :name => "author"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@DistritoEmprend", :name => "twitter:site"}/
    %meta{:content => "Construye y valida tu idea de negocio, desde cero.", :name => "twitter:title"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :name => "twitter:description"}/
    %meta{:content => "#{image_url('landing-emprendiendo-desde-cero.jpg')}", :name => "twitter:image:src"}/
    %meta{:content => "Construye y valida tu idea de negocio, desde cero.", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{image_url('landing-emprendiendo-desde-cero.jpg')}", :property => "og:image"}/
    %meta{:content => "http://edcdigital.mx", :property => "og:url"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :property => "og:description"}/

    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header.menu-behind
    %nav.page-sidebar{"data-pages" => "sidebar"}
      .sidebar-header
        = image_tag('logo-edc-blanco-horizontal.png', height: 40)
      .sidebar-menu
        %ul.menu-items
          - if current_user.admin?
            %li.m-t-30
              %a.detailed{:href => groups_path}
                %span.title Grupos
                %span.details Grupos de la plataforma
              %span.icon-thumbnail
                %i.fa.fa-users

            %li.m-t-30
              %a.detailed{:href => mentors_users_path}
                %span.title Mentores
                %span.details Mentores de la plataforma
              %span.icon-thumbnail
                %i.fa.fa-briefcase

            %li.m-t-30
              %a.detailed{:href => programs_path}
                %span.title Programas
                %span.details Diseño de programas
              %span.icon-thumbnail
                %i.fa.fa-list-alt

          - if current_user.admin? || current_user.mentor?
            %li.m-t-30
              %a.detailed{:href => students_users_path}
                %span.title Estudiantes
                %span.details Estudiantes de la plataforma
              %span.icon-thumbnail
                %i.fa.fa-book

          - if current_user.student?
            %li.m-t-30
              %a.detailed{:href => root_path}
                %span.title Inicio
                %span.details Bienvenido a EDCdigital
              %span.icon-thumbnail
                %i.fa.fa-home
            %li
              %a.detailed{:href => dashboard_programs_path}
                %span.title Programas
                %span.details Cursos en EDCdigital
              %span.icon-thumbnail
                %i.pg-layouts
            %li
              %a{:href => "javascript:;"}
                %span.title Configuración
                %span.arrow
              %span.icon-thumbnail
                %i.pg-settings
              %ul.sub-menu
                %li
                  %a{:href => edit_user_registration_path} Perfil
                  %span.icon-thumbnail Pf
                %li
                  %a{:href => "mailto:soporte@edcdigital.mx"} Ayuda
                  %span.icon-thumbnail Ay
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    Cerrar sesión
                  %span.icon-thumbnail Cs
        .clearfix
    .page-container
      .header
        .container-fluid.relative
          .pull-left.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                = image_tag('logo-edc-color-horizontal.png', height: 40)
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              = image_tag('logo-edc-color-horizontal.png', height: 40)
            %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
              %li.p-r-15.inline
                .dropdown
                  %a#notification-center.icon-set.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                    %span.bubble
        .pull-right
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              %span.semi-bold
                = current_user.first_name
              %span.text-master
                = current_user.last_name
            .dropdown.pull-right
              %button.profile-dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span.thumbnail-wrapper.d32.circular.inline.m-t-5
                  = current_user.profile_picture.url.nil? ? image_tag('rubensito-05.png', height: 55) : image_tag(current_user.profile_picture.url, height: 55)
              %ul.dropdown-menu.profile-dropdown{:role => "menu"}
                %li
                  %a{:href => edit_user_registration_path}
                    %i.pg-settings_small
                    Configuraciones
                %li
                  %a{:href => "mailto:soporte@edcdigital.mx"}
                    %i.pg-signals
                    Ayuda
                %li.bg-master-lighter
                  = link_to destroy_user_session_path, method: :delete, class: 'clearfix' do
                    %span.pull-left Cerrar sesión
                    %span.pull-right
                      %i.pg-power

      .page-content-wrapper
        .content
          .jumbotron.bg-white{"data-pages" => "parallax"}
            .container-fluid.container-fixed-lg
              .inner
                %ul.breadcrumb
                  = render_breadcrumbs :tag => :li, separator: ''
          = yield

        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2016
              = succeed "." do
                %span.font-montserrat Distrito Emprendedor
              %span.hint-text Todos los derechos reservados.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => "#"} Términos de uso
                |
                %a.m-l-10{:href => "#"} Política de Privacidad
            .clearfix
