!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EDC Digital
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header.horizontal-menu
    .page-container
      .header
        .container-fluid.relative
          .pull-left.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline.brand-clean
                = image_tag('logo-edc-color-horizontal.png', height: 22, width: 78)
          .pull-right.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.visible-sm-inline-block.visible-xs-inline-block{"data-toggle" => "quickview", "data-toggle-element" => "#quickview", :href => "#"}
                %span.icon-set.menu-hambuger-plus
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline.brand-clean
              = image_tag('logo-edc-color-horizontal.png', height: 50)

      .page-content-wrapper
        .content
          .bar.bar-gray
            .pull-right
              %a.text-black.padding-10.visible-xs-inline.visible-sm-inline.pull-right.m-t-10.m-b-10.m-r-10.on{"data-pages" => "horizontal-menu-toggle", :href => "#"}
                %i.pg-close_line
            .bar-inner.bar-inner-clean-2
              %ul
                - if user_signed_in?
                  = display_navbar_link('Grupos', groups_path, [:admin])
                  = display_navbar_link('Mentores', mentors_users_path, [:admin])
                  = display_navbar_link('Estudiantes', students_users_path, [:admin, :mentor])
                  = display_navbar_link('Diseño de programas', programs_path, [:admin])
                  = display_navbar_link('Programas de Aprendizaje', dashboard_programs_path, [:student])
                %li.classic
                  %a{:href => "javascript:;"}
                    %span.glyphicon.glyphicon-user
                    %span.arrow
                  %ul.classic.classic-3
                    - if user_signed_in?
                      %li
                        = link_to 'Salir', destroy_user_session_path, method: :delete
                    - else
                      %li
                        = link_to 'Iniciar sesión', new_user_session_path
          = yield
