!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EDC Digital
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_url } EDC Digital
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              = display_navbar_link('Grupos', groups_path, [:admin])
              = display_navbar_link('Mentores', mentors_users_path, [:admin])
              = display_navbar_link('Estudiantes', students_users_path, [:admin, :mentor])
              = display_navbar_link('Diseño de programas', programs_path, [:admin])
              = display_navbar_link('Programas', programs_path, [:student])
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.glyphicon.glyphicon-user
                %b.caret
              %ul.dropdown-menu
                - if user_signed_in?
                  %li
                    = link_to 'Salir', destroy_user_session_path, method: :delete
                - else
                  %li
                    = link_to 'Iniciar sesión', new_user_session_path
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
