!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:title) ? yield(:title) : "EDCdigital"
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :name => "description"}/
    %meta{:content => "emprendedor, emprendedores, emprendimiento, financiamiento, jóvenes, finanzas, capacitación, curso, inversión, capital, privado", :name => "keywords"}/
    %meta{:content => "Distrito Emprendedor", :name => "author"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@DistritoEmprend", :name => "twitter:site"}/
    %meta{:content => "Construye y valida tu idea de negocio, desde cero.", :name => "twitter:title"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :name => "twitter:description"}/
    %meta{:content => "#{image_url('landing-emprendiendo-desde-cero.jpg')}", :name => "twitter:image:src"}/
    %meta{:content => "Construye y valida tu idea de negocio, desde cero.", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{image_url('landing-emprendiendo-desde-cero.jpg')}", :property => "og:image"}/
    %meta{:content => "http://edcdigital.mx", :property => "og:url"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :property => "og:description"}/

    = render 'shared/google_analytics' if Rails.env.production?

    = favicon_link_tag
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header.menu-behind
    %nav.page-sidebar{"data-pages" => "sidebar"}
      .sidebar-header
        %a.redirector{href: root_path}
          = image_tag('logo-edc-blanco-horizontal.png', height: 40)
      .sidebar-menu
        %ul.menu-items
          = display_navbar_link({link: 'Grupos', details: 'Grupos de la plataforma' ,path: groups_path, css: ['m-t-30'], icon: 'fa fa-users', role: [:admin]})
          = display_navbar_link({link: 'Mentores', details: 'Grupos de la plataforma' ,path: mentors_path, icon: 'fa fa-briefcase', role: [:admin]})
          = display_navbar_link({link: 'Programas', details: 'Diseño de programas' ,path: programs_path, icon: 'fa fa-list-alt', role: [:admin]})
          = display_navbar_link({link: 'Exámenes', details: 'Crear exámen rápido', path: quizzes_path, icon: 'fa fa-file-text-o', role: [:admin]})
          = display_navbar_link({link: 'Visitas', details: 'Panel de visitas' ,path: visits_path, icon: 'fa fa-list-alt', role: [:admin]})
          = display_navbar_link({link: 'Estudiantes', details: 'Estudiantes de la plataforma' ,path: students_users_path, icon: 'fa fa-book', role: [:admin, :staff]})
          = display_navbar_link({link: 'Staff', details: 'Personal de invitaciones', path: staffs_path, icon: 'fa fa-user-md', role: [:admin]})
          = display_navbar_link({link: 'Analíticos de usuarios', details: 'Estudiantes de la plataforma' ,path: users_path, icon: 'fa fa-book', role: [:admin]})
          = display_navbar_link({link: 'Usuarios desactivados', details: 'Usuarios desactivados' ,path: deleted_users_path, icon: 'fa fa-ban', role: [:admin]})
          = display_navbar_link({link: 'Archivos compartidos', details: 'Archivos compartidos' ,path: shared_group_attachments_path, icon: 'fa fa-file', role: [:admin]})
          = display_navbar_link({link: 'Enviar invitación', details: 'Enviar invitación a un nuevo usuario', path: new_user_invitation_path, icon: 'fa fa-envelope-o', role: [:admin, :staff]})
          = display_navbar_link({link: 'Enviar invitación en grupo', details: 'Enviar invitación a un grupo de usuario', path: new_group_invitation_path, icon: 'fa fa-users', role: [:admin, :staff]})
          = display_navbar_link({css: [], link: 'Mensajes', details: 'Consulta tus mensajes' ,path: mailbox_inbox_path, icon: 'fa fa-comment', role: [:admin]})
          = display_navbar_link({css: [], link: 'Reportes', details: 'Consulta los reportes de contenidos' ,path: reports_path, icon: 'fa fa-flag', role: [:admin]})

          = display_navbar_link({link: 'Programas', details: 'Cursos en EDCdigital' ,path: dashboard_programs_path, css: ['m-t-30'], icon: 'fa pg-layouts', role: [:mentor]})
          = display_navbar_link({link: 'Grupos', details: 'Grupos a los que tienes acceso' ,path: mentor_groups_path, css: [''], icon: 'fa fa-users', role: [:mentor]})
          = display_navbar_link({link: 'Estudiantes', details: 'Estudiantes de la plataforma' ,path: mentor_students_path, icon: 'fa fa-book', role: [:mentor]})
          = display_navbar_link({link: 'Archivos compartidos', details: 'Archivos compartidos' ,path: mentor_shared_group_attachments_path, icon: 'fa fa-file', role: [:mentor]})
          = display_navbar_link({css: [], link: 'Mensajes', details: 'Consulta tus mensajes' ,path: mailbox_inbox_path, icon: 'fa fa-comment', role: [:mentor]})

          - if current_user.student?
            = display_navbar_link({css: ['m-t-30'], link: 'Programas', details: 'Cursos en EDCdigital' ,path: dashboard_programs_path, icon: 'fa pg-layouts', role: [:student]})
            = display_navbar_link({link: 'Examenes', details: 'Examenes en EDCdigital', path: dashboard_quizzes_path, icon: 'fa fa-question-circle', role: [:student]})
            = display_navbar_link({css: [''], link: 'Mi ruta', details: 'Ruta de emprendimiento' ,path: dashboard_pathway_path, icon: 'fa fa-map-o', role: [:student]})
            = display_navbar_link({css: [''], link: 'Ruta de aprendizaje', details: 'Ruta de apendizaje' ,path: dashboard_learning_path_path, icon: 'fa fa-map-signs', role: [:student]})
            = display_navbar_link({css: [''], link: 'Mis archivos', details: 'Archivos digitales' ,path: dashboard_attachments_path, icon: 'fa fa-file', role: [:student]})

            %li
              %a.detailed.redirector{:href => dashboard_support_path}
                %span.title Ayuda de mentores
                %span.details Solicita apoyo de mentores
              %span.icon-thumbnail
                %i.fa.fa-info-circle

            = display_navbar_link({css: [], link: 'Mensajes', details: 'Consulta tus mensajes' ,path: mailbox_inbox_path, icon: 'fa fa-comment', role: [:student]})

            %li
              %a.detailed{:href => "https://www.edc-megatendencias.com/", :target => "_blank" }
                %span.title EDC Megatendencias
                %span.details Ir a EDC Megatendencias
              %span.icon-thumbnail
                %i.fa.fa-line-chart

            %li
              %a.detailed.redirector{:href => dashboard_about_path }
                %span.title Acerca de
                %span.details ¿Qué es EDCdigital?
              %span.icon-thumbnail
                %i.pg-map

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Configuración
                %span.arrow
              %span.icon-thumbnail
                %i.pg-settings
              %ul.sub-menu
                %li
                  %a{:href => edit_user_registration_path} Perfil
                  %span.icon-thumbnail Pf
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    Cerrar sesión
                  %span.icon-thumbnail Cs

            %li
              %a.detailed.redirector{:href => glossary_categories_path }
                %span.title Glosario de EDC
                %span.details Realiza una búsqueda
              %span.icon-thumbnail
                %i.fa.fa-book

          - if current_user.admin?
            %li
              %a.detailed.redirector{:href => dashboard_pathway_path }
                %span.title Mi ruta
                %span.details Editar Mi ruta
              %span.icon-thumbnail
                %i.fa.fa-map-o

            %li
              %a.detailed.redirector{:href => glossary_categories_path }
                %span.title Glosario de EDC
                %span.details Editar glosario
              %span.icon-thumbnail
                %i.fa.fa-book

        .clearfix
    .page-container
      .header
        .container-fluid.relative
          .pull-left.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                %a.redirector{href: root_path}
                  = image_tag('logo-edc-color-horizontal.png', height: 40)
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              %a.redirector{href: root_path}
                = image_tag('logo-edc-color-horizontal.png', height: 40)
            %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
              %li.p-r-15.inline
                .dropdown
                  %a#notification-center.icon-set.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                    - if current_user.has_notifications?
                      %span.bubble
                        - if current_user.notifications_count > 20
                          %span.number-inside-bubble-m20
                            +20
                        - elsif current_user.notifications_count < 20 and current_user.notifications_count > 9
                          %span.number-inside-bubble-20
                            = current_user.notifications_count
                        - else
                          %span.number-inside-bubble-9
                            = current_user.notifications_count

                  .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                    .notification-panel
                      .notification-body.scrollable
                        = render partial: "notifications/notification", collection: current_user.limited_notifications
                      .notification-footer.text-center
                        %a{:href => dashboard_notifications_path} Ver todas las notificaciones
                        %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                          %i.pg-refresh_new
            %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-r.no-style.p-l-30.p-r-20
              %li.p-r-15.inline
                .dropdown
                  %a#notification-center.icon-set-2.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                    -  if  unread_messages_count > 0
                      %span.bubble
                        - if unread_messages_count > 20
                          %span.number-inside-bubble-m20
                            +20
                        - elsif unread_messages_count < 20 && unread_messages_count > 9
                          %span.number-inside-bubble-20
                            = unread_messages_count
                        - else
                          %span.number-inside-bubble-9
                            = unread_messages_count

                  .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                    .notification-panel
                      .notification-body.scrollable
                        = render partial: "mailbox/notification", collection: mailbox.inbox.limit(3).order(created_at: :desc), as: :item
                      .notification-footer.text-center
                        %a{:href => mailbox_inbox_path} Ver todos los mensajes
                        %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                          %i.pg-refresh_new
            %a{:href => frequent_questions_path, :target => "blank"}
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-r.no-style.p-l-30.p-r-20
                %li.p-r-15.inline
                  #notification-center.fa.fa-question-circle{:style => "font-size:18px;"}



        .pull-right
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              %span.semi-bold
                = current_user.first_name
              %span.text-master
                = current_user.last_name
            .dropdown.pull-right
              %button.profile-dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span.thumbnail-wrapper.d32.circular.inline.m-t-5
                  = current_user.profile_picture.url.nil? ? image_tag('rubensito-05.png', height: 55) : image_tag(current_user.profile_picture.url, height: 55)
              %ul.dropdown-menu.profile-dropdown{:role => "menu"}
                %li
                  %a{:href => edit_user_registration_path}
                    %i.pg-settings_small
                    Configuraciones
                - if current_user.student?
                  %li
                    %a{:href => dashboard_user_path(current_user)}
                      %i.fa.fa-user
                      Mi perfil
                %li.bg-master-lighter
                  = link_to destroy_user_session_path, method: :delete, class: 'clearfix' do
                    %span.pull-left Cerrar sesión
                    %span.pull-right
                      %i.pg-power

      .page-content-wrapper
        .content
          .jumbotron.bg-white{"data-pages" => "parallax", class: "#{include_margin?(controller_name, action_name) ? 'm-b-0' : ''}"}
            .container-fluid.container-fixed-lg
              .inner
                %ul.breadcrumb
                  = render_breadcrumbs :tag => :li, separator: ''
          = yield

        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2016
              = succeed "." do
                %span.font-montserrat Distrito Emprendedor
              %span.hint-text Todos los derechos reservados.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => dashboard_terms_path} Términos de uso
                |
                %a.m-l-10.m-r-10{:href => dashboard_privacy_path } Política de Privacidad
                |
                %a.m-l-10{:href => dashboard_service_path } Confidencialidad y Propiedad Industrial
            .clearfix

    - if notice
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-info.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = notice

    - if alert
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-danger.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = alert

    - if current_user && current_user.student?
      :javascript
        $(document).on('turbolinks:load', function(){
          setInterval(function() {
            $.post("#{track_sessions_path}")
          }, 10000)
        });

          /Esto de abajo es el elemento del menú para ver los comentarios, que actualmente fueron deshabilitados
          /- if current_user.mentor?
          /  %li
          /    %a{:href => "javascript:;"}
          /      %span.title Comentarios
          /      %span.arrow
          /    %span.icon-thumbnail
          /      %i.fa.fa-comments
          /    %ul.sub-menu
          /      %li
          /        %a{:href => mentor_comments_path } Todos
          /      %li
          /        %a{:href => news_mentor_comments_path } Nuevos
          /      %li
          /        %a{:href => archived_mentor_comments_path } Archivados
          /    = display_navbar_link({css: [], link: 'Mensajes', details: 'Consulta tus mensajes' ,path: mailbox_inbox_path, icon: 'fa fa-comment', role: [:mentor]})
