!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:title) ? yield(:title) : "Plataforma de cursos digitales"
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0"}/
    /%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "description"}/
    %meta{:content => "plataforma, curso, capacitación, digital, online, alumno, mentor", :name => "keywords"}/
    %meta{:content => (ENV['COMPANY_NAME'].nil? ? "Cursos Digitales" : ENV['COMPANY_NAME']), :name => "author"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@", :name => "twitter:site"}/
    %meta{:content => "", :name => "twitter:title"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "twitter:description"}/
    %meta{:content => "#{image_url('')}", :name => "twitter:image:src"}/
    %meta{:content => "Plataforma de cursos digitales online.", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "", :property => "og:image"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "Plataforma de cursos digitales online.", :property => "og:description"}/

    = render 'shared/google_analytics' if Rails.env.production?
    - if Rails.env.production? && (current_user.student? || current_user.mentor?)
      = render 'shared/smartlook'

    = favicon_link_tag
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header.menu-behind
    %nav.page-sidebar#tour-2{"data-pages" => "sidebar"}
      - if !current_user.nil?
        .sidebar-header
          %a.redirector{href: root_path}
            = image_tag("#{image_path('MiPlataforma_logo.png')}", height: 45) #Original -> height_ 40
        .sidebar-menu
          %ul.menu-items

            - if current_user.admin?
              %li.m-t-30
                %a.detailed.redirector{:href => control_panel_index_path}
                  %span.title Panel de control
                  %span.details Estadísticas
                %span.icon-thumbnail
                  %i.fa.fa-home

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Usuarios
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-user
                %ul.sub-menu
                  %li
                    %a{:href => students_users_path} Estudiantes
                    %span.icon-thumbnail Es
                  %li
                    %a{:href => mentors_path} Mentores
                    %span.icon-thumbnail Mt 
                  %li
                    %a{:href => coaches_path} Tutores
                    %span.icon-thumbnail Tr  
                  %li
                    %a{:href => groups_path} Grupos
                    %span.icon-thumbnail Gp
                  %li
                    %a{:href => staffs_path} Staff
                    %span.icon-thumbnail Sf
                  %li
                    %a{:href => deleted_users_path} Usuarios desactivados
                    %span.icon-thumbnail Ud

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Nuevos usuarios
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-plus
                %ul.sub-menu
                  %li
                    %a{:href => new_user_invitation_path} Enviar invitación
                    %span.icon-thumbnail In
                  %li
                    %a{:href => new_group_invitation_path} Invitación de grupo
                    %span.icon-thumbnail Ig

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Avances de usuarios
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-line-chart
                %ul.sub-menu
                  %li
                    %a{:href => visits_path} Visitas
                    %span.icon-thumbnail Vi
                  %li
                    %a{:href => progress_panel_index_path} Panel de progreso
                    %span.icon-thumbnail Pg
                  %li
                    %a{:href => analytics_panel_index_path} Panel de analíticos
                    %span.icon-thumbnail Pa

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Contenidos
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-book
                %ul.sub-menu
                  %li
                    %a{:href => learning_paths_path} Rutas de aprendizaje
                    %span.icon-thumbnail Ra
                  %li
                    %a{:href => programs_path} Programas
                    %span.icon-thumbnail Pg
                  %li
                    %a{:href => quizzes_path} Evaluaciones
                    %span.icon-thumbnail Ev
                  %li
                    %a{:href => shared_group_attachments_path} Archivos compartidos
                    %span.icon-thumbnail Ac
                  %li
                    %a{:href => delireverable_packages_path} Entregables
                    %span.icon-thumbnail En
                  %li
                    %a{:href => template_refilables_path} Plantillas
                    %span.icon-thumbnail Pl                

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Administrar
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-wrench
                %ul.sub-menu
                  %li
                    %a{:href => glossary_categories_path} Glosario
                    %span.icon-thumbnail Gl
                  %li
                    %a{:href => frequent_questions_path} Preguntas frecuentes
                    %span.icon-thumbnail Pf
                  %li
                    %a{:href => key_questions_path} Preguntas clave
                    %span.icon-thumbnail Pc
                  %li
                    %a{:href => refilable_default_comments_path} Respuestas de plantillas
                    %span.icon-thumbnail Pc
                  %li
                    %a{:href => dashboard_pathway_path} Fases de una idea viable
                    %span.icon-thumbnail Fi
                  %li
                    %a{:href => universities_path} Universidades
                    %span.icon-thumbnail Un
                  %li
                    %a{:href => reports_path} Reportes
                    %span.icon-thumbnail Rp
                  %li
                    %a{:href => mailbox_inbox_path} Mensajes
                    %span.icon-thumbnail Mn
                  %li
                    %a{:href => tickets_path} Tickets
                    %span.icon-thumbnail Tk
                  %li
                    %a{:href => receptions_path} Recepción
                    %span.icon-thumbnail Rc
                  %li
                    %a{:href => group_history_control_panel_index_path} Historial de grupos
                    %span.icon-thumbnail Hg   

            = display_navbar_link({link: 'Programas', details: 'Cursos de la plataforma' ,path: dashboard_programs_path, css: ['m-t-30'], icon: 'fa pg-layouts', role: [:mentor]})
            - if current_user.mentor? && !current_user.group_id.nil?
              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Mi emprendimiento
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-rocket
                %ul.sub-menu
                  %li
                    %a{:href => dashboard_learning_path_path} Ruta de aprendizaje
                    %span.icon-thumbnail Lp
                  %li
                    %a{:href => dashboard_pathway_path} Fases de una idea viable
                    %span.icon-thumbnail Fi  
                  %li
                    %a{:href => dashboard_quizzes_path} Evaluaciones
                    %span.icon-thumbnail Ex
                  %li
                    %a{:href => dashboard_attachments_path} Mis archivos
                    %span.icon-thumbnail Ma
                  %li
                    %a{:href => dashboard_delireverables_path} Mis entregables
                    %span.icon-thumbnail Me
                  %li
                    %a{:href => dashboard_template_refilables_path} Mis plantillas
                    %span.icon-thumbnail Mp 
              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Mi mentoría
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-graduation-cap
                %ul.sub-menu
                  %li
                    %a{:href => mentor_groups_path} Grupos
                    %span.icon-thumbnail Gr  
                    /fa-users
                  %li
                    %a{:href => mentor_students_path} Estudiantes
                    %span.icon-thumbnail Es   
                    /fa-child
                  %li
                    %a{:href => mentor_trainees_path} Aprendices
                    %span.icon-thumbnail Es 
                    /fa-graduation-cap
                  %li
                    %a{:href => mentor_tickets_path} Tickets
                    %span.icon-thumbnail Tk 
              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Avances de usuarios
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-line-chart
                %ul.sub-menu
                  %li
                    %a{:href => progress_panel_index_path} Panel de progreso
                    %span.icon-thumbnail Pp 
                    /fa-line-chart
                  %li
                    %a{:href => analytics_panel_index_path} Panel de analíticos
                    %span.icon-thumbnail Pa  
                    /fa-tachometer
              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Comunicación
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-comment
                %ul.sub-menu
                  %li
                    %a{:href => mailbox_inbox_path} Mensajes
                    %span.icon-thumbnail Ms
                    /fa-comment
                  %li
                    %a{:href => mentor_shared_group_attachments_path} Archivos compartidos
                    %span.icon-thumbnail Ac
                    /fa-file
                  %li
                    %a{:href => dashboard_notifications_panel_path} Panel de notificaciones
                    %span.icon-thumbnail Pa
                    /fa-columns
            = display_navbar_link({css: [], link: 'Mapa del sitio', details: 'Mapa del sitio' ,path:  mentor_sitemap_index_path, icon: 'fa fa-map', role: [:mentor]})

            - if current_user.student?
              %li.extra-bottom-4.m-t-30
                %a{:href => "javascript:;"}
                  %span.title Programas
                  %span.arrow
                %span.icon-thumbnail
                  %i.pg-layouts
                %ul.sub-menu
                  %li
                    %a{:href => dashboard_programs_path} Todos
                    %span.icon-thumbnail Ts
                  %li
                    %a{:href => dashboard_programs_path(tipo: "elearning")} e-Learning
                    %span.icon-thumbnail eL
                  %li
                    %a{:href => dashboard_programs_path(tipo: "construccion")} Construcción
                    %span.icon-thumbnail Co
                  %li
                    %a{:href => dashboard_learning_path_path} Mi ruta
                    %span.icon-thumbnail Mr

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Mi emprendimiento
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-rocket
                %ul.sub-menu
                  %li
                    %a{:href => dashboard_pathway_path} Fases de una idea viable
                    %span.icon-thumbnail Fi
                  %li
                    %a{:href => dashboard_quizzes_path} Evaluaciones
                    %span.icon-thumbnail Ex
                  %li
                    %a{:href => dashboard_attachments_path} Mis archivos
                    %span.icon-thumbnail Ma
                  %li
                    %a{:href => dashboard_delireverables_path} Mis entregables
                    %span.icon-thumbnail Me
                  %li
                    %a{:href => dashboard_template_refilables_path} Mis plantillas
                    %span.icon-thumbnail Mp

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Ayuda
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-comment
                %ul.sub-menu
                  %li
                    %a{:href => mailbox_inbox_path}
                      =current_user.mentor? ? 'Mensajes con estudiantes' : 'Mensajes con profesores'
                    %span.icon-thumbnail
                      =current_user.mentor? ? 'Me' : 'Mp'
                  %li
                    %a{:href => dashboard_support_path} Ayuda de mentores
                    %span.icon-thumbnail Am
                  %li
                    %a{:href => frequent_questions_path} Preguntas frecuentes
                    %span.icon-thumbnail Pf
                  %li
                    %a{:href => glossary_categories_path} Glosario
                    %span.icon-thumbnail Gl

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Mi perfil
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-user
                %ul.sub-menu
                  %li
                    %a{:href => dashboard_user_path(current_user)} Ver perfil
                    %span.icon-thumbnail Pf
                  %li
                    %a{:href => edit_user_registration_path} Editar perfil
                    %span.icon-thumbnail Ed
                  %li
                    %a{:href => dashboard_notifications_panel_path} Panel de notificaciones
                    %span.icon-thumbnail Pn

              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Recursos
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-diamond
                %ul.sub-menu
                  %li
                    %a{:href => "#", :target => "_blank"} Enlace externo 1
                    %span.icon-thumbnail Mg
                  %li
                    %a{:href => "#", :target => "_blank"} Enlace externo 2
                    %span.icon-thumbnail Id
                  - if !current_user.group.nil? && (current_user.group.financiero.nil? || current_user.group.financiero) 
                    %li
                      %a{:href => "#", :target => "_blank"} Enlace externo 3
                      %span.icon-thumbnail Fn
              %li.extra-bottom-4
                %a{:href => "javascript:;"}
                  %span.title Acerca
                  %span.arrow
                %span.icon-thumbnail
                  %i.fa.fa-institution
                %ul.sub-menu
                  %li
                    %a{:href => dashboard_about_path } Nosotros
                    %span.icon-thumbnail Ns
                  %li
                    %a{:href =>  dashboard_terms_path} Términos de servicio
                    %span.icon-thumbnail Te
                  %li
                    %a{:href =>  dashboard_privacy_path} Política de privacidad
                    %span.icon-thumbnail Pr
                  %li
                    %a{:href =>  dashboard_politicas_uso_path} Política de uso
                    %span.icon-thumbnail Pu
                  %li
                    %a{:href =>  dashboard_principios_path} Principios
                    %span.icon-thumbnail Ps    
                  %li
                    %a{:href =>   dashboard_service_path } Confidencialidad y Propiedad
                    %span.icon-thumbnail Cp

            - if current_user.mentor? || current_user.admin? || current_user.student? || current_user.profesor?
              %li.extra-bottom-4
                %a.detailed.redirector{:href => destroy_user_session_path, method: :delete }
                  %span.title Cerrar sesión
                %span.icon-thumbnail
                  %i.fa.fa-power-off

        .clearfix
    .page-container
      .header
        .container-fluid.relative
          .pull-left.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                %a.redirector{href: root_path}
                  = image_tag("#{image_path('MiPlataforma_logo.png')}", height: 45) #Original -> height_ 40
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              %a.redirector{href: root_path}
                = image_tag("#{image_path('MiPlataforma_logo.png')}", height: 45) #Original -> height_ 40
            - if !current_user.nil?    
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-10.p-r-10
                %li.p-r-15.inline
                  .dropdown
                    %a#notification-center.icon-set.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                      - if current_user.has_notifications?
                        %span.bubble
                          - if current_user.notifications_count > 20
                            %span.number-inside-bubble-m20
                              +20
                          - elsif current_user.notifications_count < 20 and current_user.notifications_count > 9
                            %span.number-inside-bubble-20
                              = current_user.notifications_count
                          - else
                            %span.number-inside-bubble-9
                              = current_user.notifications_count

                    .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                      .notification-panel
                        .notification-body.scrollable
                          = render partial: "notifications/notification", collection: current_user.limited_notifications
                        .notification-footer.text-center
                          %a{:href => dashboard_notifications_path} Ver todas las notificaciones
                          %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                            %i.pg-refresh_new
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-r.no-style.p-l-10.p-r-10
                %li.p-r-15.inline
                  .dropdown
                    %a#notification-center.icon-set-2.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                      -  if  unread_messages_count > 0
                        %span.bubble
                          - if unread_messages_count > 20
                            %span.number-inside-bubble-m20
                              +20
                          - elsif unread_messages_count < 20 && unread_messages_count > 9
                            %span.number-inside-bubble-20
                              = unread_messages_count
                          - else
                            %span.number-inside-bubble-9
                              = unread_messages_count

                    .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                      .notification-panel
                        .notification-body.scrollable
                          = render partial: "mailbox/notification", collection: mailbox.inbox.limit(3).order(created_at: :desc), as: :item
                        .notification-footer.text-center
                          %a{:href => mailbox_inbox_path}
                            =current_user.mentor? ? 'Ver mensajes con tus estudiantes' : 'Ver mensajes con tus profesores'
                          %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                            %i.pg-refresh_new
                .red-spot#tour-1{style: "position: absolute"}
            %a{:href => frequent_questions_path, :target => "blank"}
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-r.no-style.p-l-10.p-r-10
                %li.p-r-15.inline
                  #notification-center.fa.fa-question-circle{:style => "font-size:18px;"}

            - if !current_user.nil? && (current_user.admin? || current_user.mentor?)
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.no-style.p-l-10.p-r-10
                %li.p-r-15.inline
                  %form.navbar-form{:role => "search", action: search_users_path}
                    %input.form-control.typehead.typehead-entries{placeholder: 'Buscar contactos', name: 'search', value: params[:search], style: 'width:350px; bottom:5px;'}


        - if !current_user.nil?            
          .pull-right
            .visible-lg.visible-md.m-t-10
              .pull-left.p-r-10.p-t-10.fs-16.font-heading
                %span.semi-bold
                  = current_user.first_name
                %span.text-master
                  = current_user.last_name
              .dropdown.pull-right
                %button.profile-dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %span.thumbnail-wrapper.d32.circular.inline.m-t-5
                    = current_user.profile_picture.url.nil? ? image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwQzkGr6zOpQD7nG8YtZIIzlutO7kOL1NkG88BOH5fNVBqkwWc', height: 55) : image_tag(current_user.profile_picture.url, height: 55)
                %ul.dropdown-menu.profile-dropdown{:role => "menu"}
                  %li
                    %a{:href => edit_user_registration_path}
                      %i.pg-settings_small
                      Configuraciones
                  - if current_user.student?
                    %li
                      %a{:href => dashboard_user_path(current_user)}
                        %i.fa.fa-user
                        Mi perfil
                  %li.bg-master-lighter
                    = link_to destroy_user_session_path, method: :delete, class: 'clearfix' do
                      %span.pull-left Cerrar sesión
                      %span.pull-right
                        %i.pg-power
        - else
          .pull-right
            .visible-lg.visible-md.m-t-10
              .pull-right.p-r-10.p-t-7.fs-16.font-heading
                = link_to "https://emprendiendodesdecero.com/seguimiento/",  class: 'btn btn-default' do
                  %span.pull-left Solicitar una cuenta
                = link_to user_session_path, class: 'btn btn-default' do
                  %span.pull-left Iniciar sesión               

      .page-content-wrapper
        .content
          .jumbotron.bg-white{"data-pages" => "parallax", class: "#{include_margin?(controller_name, action_name) ? 'm-b-0' : ''}"}
            .container-fluid.container-fixed-lg
              .inner
                %ul.breadcrumb
                  = render_breadcrumbs :tag => :li, separator: ''
          %div{class: "#{controller_name}_#{action_name}"}
            = yield

      .container-fluid.container-fixed-lg.footer
        .copyright.sm-text-center
          %p.small.no-margin.pull-left.sm-pull-reset
            %span.hint-text Copyright © 2018
            = succeed "." do
              %span.font-montserrat #{digital_courses_text_helper.upcase}
            %span.hint-text Todos los derechos reservados.
            %span.sm-block
              %a.m-l-10.m-r-10{:href => dashboard_terms_path} Términos de uso
              |
              %a.m-l-10.m-r-10{:href => dashboard_privacy_path } Política de Privacidad
              |
              %a.m-l-10.m-r-10{:href => dashboard_politicas_uso_path } Política de Uso
              |
              %a.m-l-10.m-r-10{:href => dashboard_principios_path } Principios
              |
              %a.m-l-10{:href => dashboard_service_path } Confidencialidad y Propiedad Industrial
          .clearfix

    - if notice
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-info.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = notice

    - if alert
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-danger.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = alert
    - if flash[:more95]
      :javascript
        $(document).on('turbolinks:load', function(){
          sweetAlert("#{flash[:more95]}");
        });
    - if flash[:complete]
      :javascript
        $(document).on('turbolinks:load', function(){
          sweetAlert("#{flash[:complete]}");
        });

    - if current_user && current_user.student?
      :javascript
        $(document).on('turbolinks:load', function(){
          setInterval(function() {
            $.post("#{track_sessions_path}")
          }, 60000)
        });
