!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:title) ? yield(:title) : "EDCdigital"
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :name => "description"}/
    %meta{:content => "emprendedor, emprendedores, emprendimiento, financiamiento, jóvenes, finanzas, capacitación, curso, inversión, capital, privado", :name => "keywords"}/
    %meta{:content => "Distrito Emprendedor", :name => "author"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@DistritoEmprend", :name => "twitter:site"}/
    %meta{:content => "Construye y valida tu idea de negocio, desde cero.", :name => "twitter:title"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :name => "twitter:description"}/
    %meta{:content => "#{image_url('landing-emprendiendo-desde-cero.jpg')}", :name => "twitter:image:src"}/
    %meta{:content => "Construye y valida tu idea de negocio, desde cero.", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{image_url('landing-emprendiendo-desde-cero.jpg')}", :property => "og:image"}/
    %meta{:content => "http://edcdigital.mx", :property => "og:url"}/
    %meta{:content => "Primer plataforma diseñada para construir y validar tu idea de negocio, en lo comercial, técnico y financiero.", :property => "og:description"}/

    = render 'shared/google_analytics' if Rails.env.production?

    = favicon_link_tag
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header.menu-behind
    %nav.page-sidebar{"data-pages" => "sidebar"}
      .sidebar-header
        %a.redirector{href: root_path}
          = image_tag('logo-edc-blanco-horizontal.png', height: 40)
      .sidebar-menu
        %ul.menu-items
          /= display_navbar_link({link: 'Grupos', details: 'Grupos de la plataforma' ,path: groups_path, css: ['m-t-30'], icon: 'fa fa-users', role: [:admin]})
          /= display_navbar_link({link: 'Mentores', details: 'Grupos de la plataforma' ,path: mentors_path, icon: 'fa fa-briefcase', role: [:admin]})
          /= display_navbar_link({link: 'Programas', details: 'Diseño de programas' ,path: programs_path, icon: 'fa fa-list-alt', role: [:admin]})
          /= display_navbar_link({link: 'Examenes', details: 'Crear exámen rápido', path: quizzes_path, icon: 'fa fa-file-text-o', role: [:admin]})
          /= display_navbar_link({link: 'Visitas', details: 'Panel de visitas' ,path: visits_path, icon: 'fa fa-list-alt', role: [:admin]})
          /= display_navbar_link({link: 'Estudiantes', details: 'Estudiantes de la plataforma' ,path: students_users_path, icon: 'fa fa-book', role: [:admin, :staff]})
          /= display_navbar_link({link: 'Staff', details: 'Personal de invitaciones', path: staffs_path, icon: 'fa fa-user-md', role: [:admin]})
          /= display_navbar_link({link: 'Analíticos de usuarios', details: 'Estudiantes de la plataforma' ,path: users_path, icon: 'fa fa-book', role: [:admin]})
          /= display_navbar_link({link: 'Usuarios desactivados', details: 'Usuarios desactivados' ,path: deleted_users_path, icon: 'fa fa-ban', role: [:admin]})
          /= display_navbar_link({link: 'Archivos compartidos', details: 'Archivos compartidos' ,path: shared_group_attachments_path, icon: 'fa fa-file', role: [:admin]})
          /= display_navbar_link({link: 'Enviar invitación', details: 'Enviar invitación a un nuevo usuario', path: new_user_invitation_path, icon: 'fa fa-envelope-o', role: [:admin, :staff]})
          /= display_navbar_link({link: 'Enviar invitación en grupo', details: 'Enviar invitación a un grupo de usuario', path: new_group_invitation_path, icon: 'fa fa-users', role: [:admin, :staff]})
          /= display_navbar_link({css: [], link: 'Universidades', details: 'Catalogo de universidades' ,path: universities_path, icon: 'fa fa-university', role: [:admin]})
          /= display_navbar_link({css: [], link: 'Mensajes', details: 'Consulta tus mensajes' ,path: mailbox_inbox_path, icon: 'fa fa-comment', role: [:admin]})
          /= display_navbar_link({css: [], link: 'Reportes', details: 'Consulta los reportes de contenidos' ,path: reports_path, icon: 'fa fa-flag', role: [:admin]})
          /= display_navbar_link({css: [], link: 'Panel de progreso', details: 'Progreso de alumnos' ,path: progress_panel_index_path, icon: 'fa fa-line-chart', role: [:admin]})

          - if current_user.admin?
            %li.m-t-30
              %a.detailed.redirector{:href => control_panel_index_path}
                %span.title Panel de control
                %span.details Estadísticas de EDC
              %span.icon-thumbnail
                %i.fa.fa-home

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Usuarios
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-user
              %ul.sub-menu
                %li
                  %a{:href => students_users_path} Estudiantes
                  %span.icon-thumbnail Es
                %li
                  %a{:href => mentors_path} Mentores
                  %span.icon-thumbnail Mt
                %li
                  %a{:href => groups_path} Grupos
                  %span.icon-thumbnail Gp
                %li
                  %a{:href => staffs_path} Staff
                  %span.icon-thumbnail Sf
                %li
                  %a{:href => deleted_users_path} Usuarios desactivados
                  %span.icon-thumbnail Ud

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Nuevos usuarios
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-plus
              %ul.sub-menu
                %li
                  %a{:href => new_user_invitation_path} Enviar invitación
                  %span.icon-thumbnail In
                %li
                  %a{:href => new_group_invitation_path} Invitación de grupo
                  %span.icon-thumbnail Ig

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Avances de usuarios
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-line-chart
              %ul.sub-menu
                %li
                  %a{:href => visits_path} Visitas
                  %span.icon-thumbnail Vi
                %li
                  %a{:href => progress_panel_index_path} Panel de progreso
                  %span.icon-thumbnail Pg

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Contenidos
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-book
              %ul.sub-menu
                %li
                  %a{:href => programs_path} Programas
                  %span.icon-thumbnail Pg
                %li
                  %a{:href => quizzes_path} Exámenes
                  %span.icon-thumbnail Ex
                %li
                  %a{:href => shared_group_attachments_path} Archivos compartidos
                  %span.icon-thumbnail Ac
                %li
                  %a{:href => delireverable_packages_path} Entregables
                  %span.icon-thumbnail En

                %li
                  %a{:href => template_refilables_path} Rellenables
                  %span.icon-thumbnail Re


            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Administrar
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-wrench
              %ul.sub-menu
                %li
                  %a{:href => glossary_categories_path} Glosario EDC
                  %span.icon-thumbnail Gl
                %li
                  %a{:href => frequent_questions_path} Preguntas frecuentes
                  %span.icon-thumbnail Pf
                %li
                  %a{:href => dashboard_pathway_path} Mi ruta
                  %span.icon-thumbnail Mr
                %li
                  %a{:href => universities_path} Universidades
                  %span.icon-thumbnail Un
                %li
                  %a{:href => reports_path} Reportes
                  %span.icon-thumbnail Rp
                %li
                  %a{:href => mailbox_inbox_path} Mensajes
                  %span.icon-thumbnail Mn
                %li
                  %a{:href => learning_paths_path} Rutas de aprendizaje
                  %span.icon-thumbnail Ra  

          = display_navbar_link({link: 'Programas', details: 'Cursos en EDCdigital' ,path: dashboard_programs_path, css: ['m-t-30'], icon: 'fa pg-layouts', role: [:mentor]})
          = display_navbar_link({link: 'Grupos', details: 'Grupos a los que tienes acceso' ,path: mentor_groups_path, css: [''], icon: 'fa fa-users', role: [:mentor]})
          = display_navbar_link({link: 'Estudiantes', details: 'Estudiantes de la plataforma' ,path: mentor_students_path, icon: 'fa fa-book', role: [:mentor]})
          = display_navbar_link({css: [], link: 'Panel de progreso', details: 'Progreso de estudiantes' ,path: progress_panel_index_path, icon: 'fa fa-line-chart', role: [:mentor]})
          = display_navbar_link({link: 'Archivos compartidos', details: 'Archivos compartidos' ,path: mentor_shared_group_attachments_path, icon: 'fa fa-file', role: [:mentor]})
          = display_navbar_link({css: [], link: 'Mensajes', details: 'Mensajes con estudiantes' ,path: mailbox_inbox_path, icon: 'fa fa-comment', role: [:mentor]})
          = display_navbar_link({css: [], link: 'Panel de notificaciones', details: 'Administra tus emails' ,path: dashboard_notifications_panel_path, icon: 'fa fa-columns', role: [:mentor]})

          - if current_user.student?
            %li.extra-bottom-4.m-t-30
              %a{:href => "javascript:;"}
                %span.title Programas
                %span.arrow
              %span.icon-thumbnail
                %i.pg-layouts
              %ul.sub-menu
                %li
                  %a{:href => dashboard_programs_path} Todos
                  %span.icon-thumbnail Ts
                %li
                  %a{:href => dashboard_programs_path(tipo: "elearning")} e-Learning
                  %span.icon-thumbnail eL
                %li
                  %a{:href => dashboard_programs_path(tipo: "construccion")} Construcción
                  %span.icon-thumbnail Co
                %li
                  %a{:href => dashboard_learning_path_path} Ruta de aprendizaje
                  %span.icon-thumbnail Ra

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Mi emprendimiento
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-rocket
              %ul.sub-menu
                %li
                  %a{:href => dashboard_pathway_path} Mi ruta
                  %span.icon-thumbnail Ru
                %li
                  %a{:href => dashboard_quizzes_path} Exámenes
                  %span.icon-thumbnail Ex
                %li
                  %a{:href => dashboard_attachments_path} Mis archivos
                  %span.icon-thumbnail Ma
                %li
                  %a{:href => dashboard_delireverables_path} Mis entregables
                  %span.icon-thumbnail Me
                %li
                  %a{:href => dashboard_template_refilables_path} Mis rellenables
                  %span.icon-thumbnail Mr

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Ayuda
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-comment
              %ul.sub-menu
                %li
                  %a{:href => mailbox_inbox_path}
                    =current_user.mentor? ? 'Mensajes con estudiantes' : 'Mensajes con profesores'
                  %span.icon-thumbnail
                    =current_user.mentor? ? 'Me' : 'Mp'
                %li
                  %a{:href => dashboard_support_path} Ayuda de mentores EDC
                  %span.icon-thumbnail Am
                %li
                  %a{:href => frequent_questions_path} Preguntas frecuentes
                  %span.icon-thumbnail Pf
                %li
                  %a{:href => glossary_categories_path} Glosario EDC
                  %span.icon-thumbnail Gl

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Mi perfil
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-user
              %ul.sub-menu
                %li
                  %a{:href => dashboard_user_path(current_user)} Ver perfil
                  %span.icon-thumbnail Pf
                %li
                  %a{:href => edit_user_registration_path} Editar perfil
                  %span.icon-thumbnail Ed
                %li
                  %a{:href => dashboard_notifications_panel_path} Panel de notificaciones
                  %span.icon-thumbnail Pn

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Recursos
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-diamond
              %ul.sub-menu
                %li
                  %a{:href => "https://www.edc-megatendencias.com/", :target => "_blank"} EDC Megatendencias
                  %span.icon-thumbnail Mg
                %li
                  %a{:href => "http://edc-ideador.com/", :target => "_blank"} EDC Ideador
                  %span.icon-thumbnail Id
                %li
                  %a{:href => "https://www.edc-financiero.com/", :target => "_blank"} EDC Financiero
                  %span.icon-thumbnail Fn
                %li
                  %a{:href => dashboard_calculator_path} Calculadora de muestras
                  %span.icon-thumbnail En

            %li.extra-bottom-4
              %a{:href => "javascript:;"}
                %span.title Acerca
                %span.arrow
              %span.icon-thumbnail
                %i.fa.fa-institution
              %ul.sub-menu
                %li
                  %a{:href => dashboard_about_path } EDC Digital
                  %span.icon-thumbnail Di
                %li
                  %a{:href =>  dashboard_terms_path} Términos de servicio
                  %span.icon-thumbnail Te
                %li
                  %a{:href =>  dashboard_privacy_path} Política de privacidad
                  %span.icon-thumbnail Pr
                %li
                  %a{:href =>   dashboard_service_path } Confidencialidad y Propiedad
                  %span.icon-thumbnail Cp

          - if current_user.mentor? || current_user.admin? || current_user.student?
            %li.extra-bottom-4
              %a.detailed.redirector{:href => destroy_user_session_path, method: :delete }
                %span.title Cerrar sesión
              %span.icon-thumbnail
                %i.fa.fa-power-off

        .clearfix
    .page-container
      .header
        .container-fluid.relative
          .pull-left.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                %a.redirector{href: root_path}
                  = image_tag('logo-edc-color-horizontal.png', height: 40)
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              %a.redirector{href: root_path}
                = image_tag('logo-edc-color-horizontal.png', height: 40)
            %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-10.p-r-10
              %li.p-r-15.inline
                .dropdown
                  %a#notification-center.icon-set.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                    - if current_user.has_notifications?
                      %span.bubble
                        - if current_user.notifications_count > 20
                          %span.number-inside-bubble-m20
                            +20
                        - elsif current_user.notifications_count < 20 and current_user.notifications_count > 9
                          %span.number-inside-bubble-20
                            = current_user.notifications_count
                        - else
                          %span.number-inside-bubble-9
                            = current_user.notifications_count

                  .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                    .notification-panel
                      .notification-body.scrollable
                        = render partial: "notifications/notification", collection: current_user.limited_notifications
                      .notification-footer.text-center
                        %a{:href => dashboard_notifications_path} Ver todas las notificaciones
                        %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                          %i.pg-refresh_new
            %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-r.no-style.p-l-10.p-r-10
              %li.p-r-15.inline
                .dropdown
                  %a#notification-center.icon-set-2.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                    -  if  unread_messages_count > 0
                      %span.bubble
                        - if unread_messages_count > 20
                          %span.number-inside-bubble-m20
                            +20
                        - elsif unread_messages_count < 20 && unread_messages_count > 9
                          %span.number-inside-bubble-20
                            = unread_messages_count
                        - else
                          %span.number-inside-bubble-9
                            = unread_messages_count

                  .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                    .notification-panel
                      .notification-body.scrollable
                        = render partial: "mailbox/notification", collection: mailbox.inbox.limit(3).order(created_at: :desc), as: :item
                      .notification-footer.text-center
                        %a{:href => mailbox_inbox_path}
                          =current_user.mentor? ? 'Ver mensajes con tus estudiantes' : 'Ver mensajes con tus profesores'
                        %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                          %i.pg-refresh_new
            %a{:href => frequent_questions_path, :target => "blank"}
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-r.no-style.p-l-10.p-r-10
                %li.p-r-15.inline
                  #notification-center.fa.fa-question-circle{:style => "font-size:18px;"}

            - if current_user.admin? || current_user.mentor?
              %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.no-style.p-l-10.p-r-10
                %li.p-r-15.inline
                  %form.navbar-form{:role => "search", action: search_users_path}
                    %input.form-control.typehead.typehead-entries{placeholder: 'Buscar contactos', name: 'search', value: params[:search], style: 'width:350px; bottom:5px;'}



        .pull-right
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              %span.semi-bold
                = current_user.first_name
              %span.text-master
                = current_user.last_name
            .dropdown.pull-right
              %button.profile-dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                %span.thumbnail-wrapper.d32.circular.inline.m-t-5
                  = current_user.profile_picture.url.nil? ? image_tag('rubensito-05.png', height: 55) : image_tag(current_user.profile_picture.url, height: 55)
              %ul.dropdown-menu.profile-dropdown{:role => "menu"}
                %li
                  %a{:href => edit_user_registration_path}
                    %i.pg-settings_small
                    Configuraciones
                - if current_user.student?
                  %li
                    %a{:href => dashboard_user_path(current_user)}
                      %i.fa.fa-user
                      Mi perfil
                %li.bg-master-lighter
                  = link_to destroy_user_session_path, method: :delete, class: 'clearfix' do
                    %span.pull-left Cerrar sesión
                    %span.pull-right
                      %i.pg-power

      .page-content-wrapper
        .content
          .jumbotron.bg-white{"data-pages" => "parallax", class: "#{include_margin?(controller_name, action_name) ? 'm-b-0' : ''}"}
            .container-fluid.container-fixed-lg
              .inner
                %ul.breadcrumb
                  = render_breadcrumbs :tag => :li, separator: ''
          %div{class: "#{controller_name}_#{action_name}"}
            = yield

        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2016
              = succeed "." do
                %span.font-montserrat Distrito Emprendedor
              %span.hint-text Todos los derechos reservados.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => dashboard_terms_path} Términos de uso
                |
                %a.m-l-10.m-r-10{:href => dashboard_privacy_path } Política de Privacidad
                |
                %a.m-l-10{:href => dashboard_service_path } Confidencialidad y Propiedad Industrial
            .clearfix

    - if notice
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-info.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = notice

    - if alert
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-danger.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = alert
    - if flash[:more80]
      :javascript
        $(document).on('turbolinks:load', function(){
          sweetAlert("#{flash[:more80]}");
        });
    - if flash[:complete]
      :javascript
        $(document).on('turbolinks:load', function(){
          sweetAlert("#{flash[:complete]}");
        });                     

    - if current_user && current_user.student?
      :javascript
        $(document).on('turbolinks:load', function(){
          setInterval(function() {
            $.post("#{track_sessions_path}")
          }, 10000)
        });       
