!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:title) ? yield(:title) : "Plataforma de cursos digitales"
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "description"}/
    %meta{:content => "plataforma, curso, capacitación, digital, online, alumno, mentor", :name => "keywords"}/
    %meta{:content => (ENV['COMPANY_NAME'].nil? ? "Cursos Digitales" : ENV['COMPANY_NAME']), :name => "author"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@", :name => "twitter:site"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "twitter:title"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "twitter:description"}/
    %meta{:content => "#{image_url('')}", :name => "twitter:image:src"}/
    %meta{:content => "Plataforma de cursos digitales online.", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{image_url('')}", :property => "og:image"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "Plataforma de cursos digitales online.", :property => "og:description"}/

    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header
    = yield
