!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = (ENV['COMPANY_NAME'].nil? ? "Cursos Digitales" : ENV['COMPANY_NAME'])
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "description"}/
    %meta{:content => "plataforma, curso, capacitación, digital, online, alumno, mentor", :name => "keywords"}/
    %meta{:content => (ENV['COMPANY_NAME'].nil? ? "Cursos Digitales" : ENV['COMPANY_NAME']), :name => "author"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@", :name => "twitter:site"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "twitter:title"}/
    %meta{:content => "Plataforma de cursos digitales online.", :name => "twitter:description"}/
    %meta{:content => "#{image_url('')}", :name => "twitter:image:src"}/
    %meta{:content => "Plataforma de cursos digitales online.", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{image_url('')}", :property => "og:image"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "Plataforma de cursos digitales online.", :property => "og:description"}/

    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.fixed-header.menu-behind
    .page-container.no-navside-padding
      .header
        .container-fluid.relative
          .pull-left.full-height.visible-sm.visible-xs
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
          .pull-center.hidden-md.hidden-lg
            .header-inner.m-b-10
              .brand.inline
                %a.redirector{href: root_path}
                  = image_tag('https://fakeimg.pl/152x48/D3D3D3/?text=Logo(152x48)', height: 40)
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline.m-b-10
              %a.redirector{href: root_path}
                = image_tag('https://fakeimg.pl/152x48/D3D3D3/?text=Logo(152x48)', height: 40)

      .page-content-wrapper
        .content
          .jumbotron.bg-white{"data-pages" => "parallax", class: "#{include_margin?(controller_name, action_name) ? 'm-b-0' : ''}"}

          %div
            = yield

        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2018
              = succeed "." do
                %span.font-montserrat #{digital_courses_text_helper}
              %span.hint-text Todos los derechos reservados.
            .clearfix

    - if notice
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-info.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = notice

    - if alert
      .pgn-wrapper{"data-position" => "top-right"}
        .pgn.push-on-sidebar-open.pgn-simple
          .alert.alert-danger.dimiss
            %button.close{"data-dismiss" => "alert", :type => "button"}>
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = alert
